=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class AccountGroupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create group
    # Creates a new account group with a name and a list of social account IDs.
    # @param create_account_group_request [CreateAccountGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAccountGroup201Response]
    def create_account_group(create_account_group_request, opts = {})
      data, _status_code, _headers = create_account_group_with_http_info(create_account_group_request, opts)
      data
    end

    # Create group
    # Creates a new account group with a name and a list of social account IDs.
    # @param create_account_group_request [CreateAccountGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAccountGroup201Response, Integer, Hash)>] CreateAccountGroup201Response data, response status code and response headers
    def create_account_group_with_http_info(create_account_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountGroupsApi.create_account_group ...'
      end
      # verify the required parameter 'create_account_group_request' is set
      if @api_client.config.client_side_validation && create_account_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_account_group_request' when calling AccountGroupsApi.create_account_group"
      end
      # resource path
      local_var_path = '/v1/account-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_account_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAccountGroup201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountGroupsApi.create_account_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountGroupsApi#create_account_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete group
    # Permanently deletes an account group. The accounts themselves are not affected.
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteAccountGroup200Response]
    def delete_account_group(group_id, opts = {})
      data, _status_code, _headers = delete_account_group_with_http_info(group_id, opts)
      data
    end

    # Delete group
    # Permanently deletes an account group. The accounts themselves are not affected.
    # @param group_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAccountGroup200Response, Integer, Hash)>] DeleteAccountGroup200Response data, response status code and response headers
    def delete_account_group_with_http_info(group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountGroupsApi.delete_account_group ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling AccountGroupsApi.delete_account_group"
      end
      # resource path
      local_var_path = '/v1/account-groups/{groupId}'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAccountGroup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountGroupsApi.delete_account_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountGroupsApi#delete_account_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List groups
    # Returns all account groups for the authenticated user, including group names and associated account IDs.
    # @param [Hash] opts the optional parameters
    # @return [ListAccountGroups200Response]
    def list_account_groups(opts = {})
      data, _status_code, _headers = list_account_groups_with_http_info(opts)
      data
    end

    # List groups
    # Returns all account groups for the authenticated user, including group names and associated account IDs.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAccountGroups200Response, Integer, Hash)>] ListAccountGroups200Response data, response status code and response headers
    def list_account_groups_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountGroupsApi.list_account_groups ...'
      end
      # resource path
      local_var_path = '/v1/account-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAccountGroups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountGroupsApi.list_account_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountGroupsApi#list_account_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update group
    # Updates the name or account list of an existing group. You can rename the group, change its accounts, or both.
    # @param group_id [String] 
    # @param update_account_group_request [UpdateAccountGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAccountGroup200Response]
    def update_account_group(group_id, update_account_group_request, opts = {})
      data, _status_code, _headers = update_account_group_with_http_info(group_id, update_account_group_request, opts)
      data
    end

    # Update group
    # Updates the name or account list of an existing group. You can rename the group, change its accounts, or both.
    # @param group_id [String] 
    # @param update_account_group_request [UpdateAccountGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAccountGroup200Response, Integer, Hash)>] UpdateAccountGroup200Response data, response status code and response headers
    def update_account_group_with_http_info(group_id, update_account_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountGroupsApi.update_account_group ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling AccountGroupsApi.update_account_group"
      end
      # verify the required parameter 'update_account_group_request' is set
      if @api_client.config.client_side_validation && update_account_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_account_group_request' when calling AccountGroupsApi.update_account_group"
      end
      # resource path
      local_var_path = '/v1/account-groups/{groupId}'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_account_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAccountGroup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountGroupsApi.update_account_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountGroupsApi#update_account_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
