=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class AdAudiencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add users to audience
    # Upload user data (emails and/or phone numbers) to a customer_list audience. Data is SHA256-hashed server-side before sending to Meta. Max 10,000 users per request.
    # @param audience_id [String] 
    # @param add_users_to_ad_audience_request [AddUsersToAdAudienceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddUsersToAdAudience200Response]
    def add_users_to_ad_audience(audience_id, add_users_to_ad_audience_request, opts = {})
      data, _status_code, _headers = add_users_to_ad_audience_with_http_info(audience_id, add_users_to_ad_audience_request, opts)
      data
    end

    # Add users to audience
    # Upload user data (emails and/or phone numbers) to a customer_list audience. Data is SHA256-hashed server-side before sending to Meta. Max 10,000 users per request.
    # @param audience_id [String] 
    # @param add_users_to_ad_audience_request [AddUsersToAdAudienceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddUsersToAdAudience200Response, Integer, Hash)>] AddUsersToAdAudience200Response data, response status code and response headers
    def add_users_to_ad_audience_with_http_info(audience_id, add_users_to_ad_audience_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdAudiencesApi.add_users_to_ad_audience ...'
      end
      # verify the required parameter 'audience_id' is set
      if @api_client.config.client_side_validation && audience_id.nil?
        fail ArgumentError, "Missing the required parameter 'audience_id' when calling AdAudiencesApi.add_users_to_ad_audience"
      end
      # verify the required parameter 'add_users_to_ad_audience_request' is set
      if @api_client.config.client_side_validation && add_users_to_ad_audience_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_users_to_ad_audience_request' when calling AdAudiencesApi.add_users_to_ad_audience"
      end
      # resource path
      local_var_path = '/v1/ads/audiences/{audienceId}/users'.sub('{' + 'audienceId' + '}', CGI.escape(audience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_users_to_ad_audience_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddUsersToAdAudience200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdAudiencesApi.add_users_to_ad_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdAudiencesApi#add_users_to_ad_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create custom audience
    # Create a customer list, website retargeting, or lookalike audience on Meta (Facebook/Instagram).
    # @param create_ad_audience_request [CreateAdAudienceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdAudience201Response]
    def create_ad_audience(create_ad_audience_request, opts = {})
      data, _status_code, _headers = create_ad_audience_with_http_info(create_ad_audience_request, opts)
      data
    end

    # Create custom audience
    # Create a customer list, website retargeting, or lookalike audience on Meta (Facebook/Instagram).
    # @param create_ad_audience_request [CreateAdAudienceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdAudience201Response, Integer, Hash)>] CreateAdAudience201Response data, response status code and response headers
    def create_ad_audience_with_http_info(create_ad_audience_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdAudiencesApi.create_ad_audience ...'
      end
      # verify the required parameter 'create_ad_audience_request' is set
      if @api_client.config.client_side_validation && create_ad_audience_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_audience_request' when calling AdAudiencesApi.create_ad_audience"
      end
      # resource path
      local_var_path = '/v1/ads/audiences'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_audience_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdAudience201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdAudiencesApi.create_ad_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdAudiencesApi#create_ad_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete custom audience
    # Deletes the audience from both Meta and the local database.
    # @param audience_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteAccountGroup200Response]
    def delete_ad_audience(audience_id, opts = {})
      data, _status_code, _headers = delete_ad_audience_with_http_info(audience_id, opts)
      data
    end

    # Delete custom audience
    # Deletes the audience from both Meta and the local database.
    # @param audience_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAccountGroup200Response, Integer, Hash)>] DeleteAccountGroup200Response data, response status code and response headers
    def delete_ad_audience_with_http_info(audience_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdAudiencesApi.delete_ad_audience ...'
      end
      # verify the required parameter 'audience_id' is set
      if @api_client.config.client_side_validation && audience_id.nil?
        fail ArgumentError, "Missing the required parameter 'audience_id' when calling AdAudiencesApi.delete_ad_audience"
      end
      # resource path
      local_var_path = '/v1/ads/audiences/{audienceId}'.sub('{' + 'audienceId' + '}', CGI.escape(audience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAccountGroup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdAudiencesApi.delete_ad_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdAudiencesApi#delete_ad_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get audience details
    # Returns the local audience record and fresh data from Meta (if available).
    # @param audience_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetAdAudience200Response]
    def get_ad_audience(audience_id, opts = {})
      data, _status_code, _headers = get_ad_audience_with_http_info(audience_id, opts)
      data
    end

    # Get audience details
    # Returns the local audience record and fresh data from Meta (if available).
    # @param audience_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAdAudience200Response, Integer, Hash)>] GetAdAudience200Response data, response status code and response headers
    def get_ad_audience_with_http_info(audience_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdAudiencesApi.get_ad_audience ...'
      end
      # verify the required parameter 'audience_id' is set
      if @api_client.config.client_side_validation && audience_id.nil?
        fail ArgumentError, "Missing the required parameter 'audience_id' when calling AdAudiencesApi.get_ad_audience"
      end
      # resource path
      local_var_path = '/v1/ads/audiences/{audienceId}'.sub('{' + 'audienceId' + '}', CGI.escape(audience_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAdAudience200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdAudiencesApi.get_ad_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdAudiencesApi#get_ad_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List custom audiences
    # Returns custom audiences for the given ad account. Supports Meta, Google, TikTok, and Pinterest.
    # @param account_id [String] Social account ID
    # @param ad_account_id [String] Platform ad account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform 
    # @return [ListAdAudiences200Response]
    def list_ad_audiences(account_id, ad_account_id, opts = {})
      data, _status_code, _headers = list_ad_audiences_with_http_info(account_id, ad_account_id, opts)
      data
    end

    # List custom audiences
    # Returns custom audiences for the given ad account. Supports Meta, Google, TikTok, and Pinterest.
    # @param account_id [String] Social account ID
    # @param ad_account_id [String] Platform ad account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform 
    # @return [Array<(ListAdAudiences200Response, Integer, Hash)>] ListAdAudiences200Response data, response status code and response headers
    def list_ad_audiences_with_http_info(account_id, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdAudiencesApi.list_ad_audiences ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AdAudiencesApi.list_ad_audiences"
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdAudiencesApi.list_ad_audiences"
      end
      allowable_values = ["facebook", "instagram", "googleads", "tiktok", "pinterest"]
      if @api_client.config.client_side_validation && opts[:'platform'] && !allowable_values.include?(opts[:'platform'])
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/ads/audiences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'adAccountId'] = ad_account_id
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdAudiences200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdAudiencesApi.list_ad_audiences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdAudiencesApi#list_ad_audiences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
