=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class AdCreativesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a standalone creative
    # Creates a creative in the library WITHOUT an ad, reusable on the create endpoints via `existingCreativeId`. Provide exactly one of `imageUrl` (uploaded server-side), `imageHash` (from POST /v1/ads/images or the library list), or `carouselCards` (2-10 hand-built cards). The Page (and linked Instagram account, when present) is resolved from `accountId` as the story actor.
    # @param create_ad_creative_request [CreateAdCreativeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdCreative201Response]
    def create_ad_creative(create_ad_creative_request, opts = {})
      data, _status_code, _headers = create_ad_creative_with_http_info(create_ad_creative_request, opts)
      data
    end

    # Create a standalone creative
    # Creates a creative in the library WITHOUT an ad, reusable on the create endpoints via &#x60;existingCreativeId&#x60;. Provide exactly one of &#x60;imageUrl&#x60; (uploaded server-side), &#x60;imageHash&#x60; (from POST /v1/ads/images or the library list), or &#x60;carouselCards&#x60; (2-10 hand-built cards). The Page (and linked Instagram account, when present) is resolved from &#x60;accountId&#x60; as the story actor.
    # @param create_ad_creative_request [CreateAdCreativeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdCreative201Response, Integer, Hash)>] CreateAdCreative201Response data, response status code and response headers
    def create_ad_creative_with_http_info(create_ad_creative_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.create_ad_creative ...'
      end
      # verify the required parameter 'create_ad_creative_request' is set
      if @api_client.config.client_side_validation && create_ad_creative_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_creative_request' when calling AdCreativesApi.create_ad_creative"
      end
      # resource path
      local_var_path = '/v1/ads/creatives'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_creative_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCreative201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.create_ad_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#create_ad_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a creative
    # Deletes a creative from the library. Meta only allows deleting creatives not referenced by any ad — otherwise its 400 surfaces verbatim.
    # @param creative_id [String] Platform creative id
    # @param account_id [String] Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
    # @param [Hash] opts the optional parameters
    # @return [DeleteAdCreative200Response]
    def delete_ad_creative(creative_id, account_id, opts = {})
      data, _status_code, _headers = delete_ad_creative_with_http_info(creative_id, account_id, opts)
      data
    end

    # Delete a creative
    # Deletes a creative from the library. Meta only allows deleting creatives not referenced by any ad — otherwise its 400 surfaces verbatim.
    # @param creative_id [String] Platform creative id
    # @param account_id [String] Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAdCreative200Response, Integer, Hash)>] DeleteAdCreative200Response data, response status code and response headers
    def delete_ad_creative_with_http_info(creative_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.delete_ad_creative ...'
      end
      # verify the required parameter 'creative_id' is set
      if @api_client.config.client_side_validation && creative_id.nil?
        fail ArgumentError, "Missing the required parameter 'creative_id' when calling AdCreativesApi.delete_ad_creative"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AdCreativesApi.delete_ad_creative"
      end
      # resource path
      local_var_path = '/v1/ads/creatives/{creativeId}'.sub('{' + 'creativeId' + '}', CGI.escape(creative_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAdCreative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.delete_ad_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#delete_ad_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render pre-create ad previews
    # Renders how a creative would look per placement BEFORE any ad exists, via Meta's `/generatepreviews`. Provide exactly one creative source: `existingCreativeId` or `creativeSpec`. Each preview is an HTML `<iframe>` snippet embeddable directly. Unknown `formats` values return Meta's 400 verbatim. 
    # @param generate_ad_previews_request [GenerateAdPreviewsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateAdPreviews200Response]
    def generate_ad_previews(generate_ad_previews_request, opts = {})
      data, _status_code, _headers = generate_ad_previews_with_http_info(generate_ad_previews_request, opts)
      data
    end

    # Render pre-create ad previews
    # Renders how a creative would look per placement BEFORE any ad exists, via Meta&#39;s &#x60;/generatepreviews&#x60;. Provide exactly one creative source: &#x60;existingCreativeId&#x60; or &#x60;creativeSpec&#x60;. Each preview is an HTML &#x60;&lt;iframe&gt;&#x60; snippet embeddable directly. Unknown &#x60;formats&#x60; values return Meta&#39;s 400 verbatim. 
    # @param generate_ad_previews_request [GenerateAdPreviewsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateAdPreviews200Response, Integer, Hash)>] GenerateAdPreviews200Response data, response status code and response headers
    def generate_ad_previews_with_http_info(generate_ad_previews_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.generate_ad_previews ...'
      end
      # verify the required parameter 'generate_ad_previews_request' is set
      if @api_client.config.client_side_validation && generate_ad_previews_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_ad_previews_request' when calling AdCreativesApi.generate_ad_previews"
      end
      # resource path
      local_var_path = '/v1/ads/preview'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_ad_previews_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateAdPreviews200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.generate_ad_previews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#generate_ad_previews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creative details
    # One creative's details, verbatim from Meta. `fields` is a raw-passthrough override of the default projection.
    # @param creative_id [String] Platform creative id
    # @param account_id [String] Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated Graph field override (supports nested {} projections).
    # @return [GetAdCreative200Response]
    def get_ad_creative(creative_id, account_id, opts = {})
      data, _status_code, _headers = get_ad_creative_with_http_info(creative_id, account_id, opts)
      data
    end

    # Creative details
    # One creative&#39;s details, verbatim from Meta. &#x60;fields&#x60; is a raw-passthrough override of the default projection.
    # @param creative_id [String] Platform creative id
    # @param account_id [String] Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated Graph field override (supports nested {} projections).
    # @return [Array<(GetAdCreative200Response, Integer, Hash)>] GetAdCreative200Response data, response status code and response headers
    def get_ad_creative_with_http_info(creative_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.get_ad_creative ...'
      end
      # verify the required parameter 'creative_id' is set
      if @api_client.config.client_side_validation && creative_id.nil?
        fail ArgumentError, "Missing the required parameter 'creative_id' when calling AdCreativesApi.get_ad_creative"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AdCreativesApi.get_ad_creative"
      end
      # resource path
      local_var_path = '/v1/ads/creatives/{creativeId}'.sub('{' + 'creativeId' + '}', CGI.escape(creative_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAdCreative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.get_ad_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#get_ad_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render previews of an existing ad
    # Renders an EXISTING ad per placement via Meta's `/{ad_id}/previews`. Each preview is an HTML `<iframe>` snippet embeddable directly. Unknown `formats` values return Meta's 400 verbatim. 
    # @param ad_id [String] Zernio ad id (24-char hex).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :formats Comma-separated Meta ad_format values (max 10), one preview per format. Defaults to DESKTOP_FEED_STANDARD.
    # @return [GetAdPreviews200Response]
    def get_ad_previews(ad_id, opts = {})
      data, _status_code, _headers = get_ad_previews_with_http_info(ad_id, opts)
      data
    end

    # Render previews of an existing ad
    # Renders an EXISTING ad per placement via Meta&#39;s &#x60;/{ad_id}/previews&#x60;. Each preview is an HTML &#x60;&lt;iframe&gt;&#x60; snippet embeddable directly. Unknown &#x60;formats&#x60; values return Meta&#39;s 400 verbatim. 
    # @param ad_id [String] Zernio ad id (24-char hex).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :formats Comma-separated Meta ad_format values (max 10), one preview per format. Defaults to DESKTOP_FEED_STANDARD.
    # @return [Array<(GetAdPreviews200Response, Integer, Hash)>] GetAdPreviews200Response data, response status code and response headers
    def get_ad_previews_with_http_info(ad_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.get_ad_previews ...'
      end
      # verify the required parameter 'ad_id' is set
      if @api_client.config.client_side_validation && ad_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_id' when calling AdCreativesApi.get_ad_previews"
      end
      # resource path
      local_var_path = '/v1/ads/{adId}/preview'.sub('{' + 'adId' + '}', CGI.escape(ad_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'formats'] = opts[:'formats'] if !opts[:'formats'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAdPreviews200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.get_ad_previews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#get_ad_previews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a catalog's product sets
    # Lists a Meta product catalog's product sets — the unit a catalog ad promotes. Pass the chosen set as `promotedObject.productSetId` on POST /v1/ads/create with `goal: catalog_sales`.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, or metaads social account ID
    # @param [Hash] opts the optional parameters
    # @return [ListAdCatalogProductSets200Response]
    def list_ad_catalog_product_sets(catalog_id, account_id, opts = {})
      data, _status_code, _headers = list_ad_catalog_product_sets_with_http_info(catalog_id, account_id, opts)
      data
    end

    # List a catalog&#39;s product sets
    # Lists a Meta product catalog&#39;s product sets — the unit a catalog ad promotes. Pass the chosen set as &#x60;promotedObject.productSetId&#x60; on POST /v1/ads/create with &#x60;goal: catalog_sales&#x60;.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, or metaads social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAdCatalogProductSets200Response, Integer, Hash)>] ListAdCatalogProductSets200Response data, response status code and response headers
    def list_ad_catalog_product_sets_with_http_info(catalog_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.list_ad_catalog_product_sets ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling AdCreativesApi.list_ad_catalog_product_sets"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AdCreativesApi.list_ad_catalog_product_sets"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/product-sets'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdCatalogProductSets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.list_ad_catalog_product_sets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#list_ad_catalog_product_sets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Meta product catalogs
    # Lists the Meta product catalogs reachable from an ad account (owned + agency-shared catalogs of the ad account's business), for Advantage+ catalog ads (`goal: catalog_sales` on POST /v1/ads/create — e.g. vehicle inventory catalogs). Read-only; uses scopes customers already granted (no reconnect needed). Catalog contents (items, feeds) are managed in Meta Commerce Manager, not through this API.
    # @param account_id [String] A facebook, instagram, or metaads social account ID
    # @param ad_account_id [String] Meta ad account ID (act_...)
    # @param [Hash] opts the optional parameters
    # @return [ListAdCatalogs200Response]
    def list_ad_catalogs(account_id, ad_account_id, opts = {})
      data, _status_code, _headers = list_ad_catalogs_with_http_info(account_id, ad_account_id, opts)
      data
    end

    # List Meta product catalogs
    # Lists the Meta product catalogs reachable from an ad account (owned + agency-shared catalogs of the ad account&#39;s business), for Advantage+ catalog ads (&#x60;goal: catalog_sales&#x60; on POST /v1/ads/create — e.g. vehicle inventory catalogs). Read-only; uses scopes customers already granted (no reconnect needed). Catalog contents (items, feeds) are managed in Meta Commerce Manager, not through this API.
    # @param account_id [String] A facebook, instagram, or metaads social account ID
    # @param ad_account_id [String] Meta ad account ID (act_...)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListAdCatalogs200Response, Integer, Hash)>] ListAdCatalogs200Response data, response status code and response headers
    def list_ad_catalogs_with_http_info(account_id, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.list_ad_catalogs ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AdCreativesApi.list_ad_catalogs"
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdCreativesApi.list_ad_catalogs"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'adAccountId'] = ad_account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdCatalogs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.list_ad_catalogs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#list_ad_catalogs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creative library
    # Lists the ad account's creative library (Meta's `/act_X/adcreatives`), rows returned verbatim. The default projection covers id, name, status, object type, thumbnail, object_story_spec / asset_feed_spec and url_tags; `fields` is a raw-passthrough override. Any creative id here is reusable on the create endpoints via `existingCreativeId`.
    # @param account_id [String] Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
    # @param ad_account_id [String] Meta ad account id (act_&lt;n&gt;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated Graph field override (supports nested {} projections).
    # @option opts [Integer] :limit Rows per page (default to 25)
    # @option opts [String] :after Cursor from paging.after of the previous page.
    # @return [ListAdCreatives200Response]
    def list_ad_creatives(account_id, ad_account_id, opts = {})
      data, _status_code, _headers = list_ad_creatives_with_http_info(account_id, ad_account_id, opts)
      data
    end

    # Creative library
    # Lists the ad account&#39;s creative library (Meta&#39;s &#x60;/act_X/adcreatives&#x60;), rows returned verbatim. The default projection covers id, name, status, object type, thumbnail, object_story_spec / asset_feed_spec and url_tags; &#x60;fields&#x60; is a raw-passthrough override. Any creative id here is reusable on the create endpoints via &#x60;existingCreativeId&#x60;.
    # @param account_id [String] Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
    # @param ad_account_id [String] Meta ad account id (act_&lt;n&gt;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated Graph field override (supports nested {} projections).
    # @option opts [Integer] :limit Rows per page (default to 25)
    # @option opts [String] :after Cursor from paging.after of the previous page.
    # @return [Array<(ListAdCreatives200Response, Integer, Hash)>] ListAdCreatives200Response data, response status code and response headers
    def list_ad_creatives_with_http_info(account_id, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.list_ad_creatives ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AdCreativesApi.list_ad_creatives"
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdCreativesApi.list_ad_creatives"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AdCreativesApi.list_ad_creatives, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AdCreativesApi.list_ad_creatives, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/ads/creatives'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'adAccountId'] = ad_account_id
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdCreatives200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.list_ad_creatives",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#list_ad_creatives\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Ad image library
    # Lists the ad account's image library (Meta's `/act_X/adimages`), rows returned verbatim. The default projection covers hash, url, name, dimensions and status; `fields` is a raw-passthrough override. Any `hash` here is reusable wherever Meta accepts `image_hash` (e.g. `imageHash` on POST /v1/ads/creatives).
    # @param account_id [String] Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
    # @param ad_account_id [String] Meta ad account id (act_&lt;n&gt;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated Graph field override (supports nested {} projections).
    # @option opts [Integer] :limit Rows per page (default to 25)
    # @option opts [String] :after Cursor from paging.after of the previous page.
    # @return [ListAdImages200Response]
    def list_ad_images(account_id, ad_account_id, opts = {})
      data, _status_code, _headers = list_ad_images_with_http_info(account_id, ad_account_id, opts)
      data
    end

    # Ad image library
    # Lists the ad account&#39;s image library (Meta&#39;s &#x60;/act_X/adimages&#x60;), rows returned verbatim. The default projection covers hash, url, name, dimensions and status; &#x60;fields&#x60; is a raw-passthrough override. Any &#x60;hash&#x60; here is reusable wherever Meta accepts &#x60;image_hash&#x60; (e.g. &#x60;imageHash&#x60; on POST /v1/ads/creatives).
    # @param account_id [String] Zernio SocialAccount id (posting or ads variant) used to resolve the Meta token.
    # @param ad_account_id [String] Meta ad account id (act_&lt;n&gt;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated Graph field override (supports nested {} projections).
    # @option opts [Integer] :limit Rows per page (default to 25)
    # @option opts [String] :after Cursor from paging.after of the previous page.
    # @return [Array<(ListAdImages200Response, Integer, Hash)>] ListAdImages200Response data, response status code and response headers
    def list_ad_images_with_http_info(account_id, ad_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.list_ad_images ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AdCreativesApi.list_ad_images"
      end
      # verify the required parameter 'ad_account_id' is set
      if @api_client.config.client_side_validation && ad_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_account_id' when calling AdCreativesApi.list_ad_images"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AdCreativesApi.list_ad_images, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AdCreativesApi.list_ad_images, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/ads/images'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'adAccountId'] = ad_account_id
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdImages200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.list_ad_images",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#list_ad_images\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename a creative
    # Renames a creative. Creatives are immutable on Meta beyond `name` — for content changes create a new creative (POST /v1/ads/creatives) and swap it onto the ad (PUT /v1/ads/{adId} with `creative`).
    # @param creative_id [String] Platform creative id
    # @param update_ad_creative_request [UpdateAdCreativeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAdCreative200Response]
    def update_ad_creative(creative_id, update_ad_creative_request, opts = {})
      data, _status_code, _headers = update_ad_creative_with_http_info(creative_id, update_ad_creative_request, opts)
      data
    end

    # Rename a creative
    # Renames a creative. Creatives are immutable on Meta beyond &#x60;name&#x60; — for content changes create a new creative (POST /v1/ads/creatives) and swap it onto the ad (PUT /v1/ads/{adId} with &#x60;creative&#x60;).
    # @param creative_id [String] Platform creative id
    # @param update_ad_creative_request [UpdateAdCreativeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAdCreative200Response, Integer, Hash)>] UpdateAdCreative200Response data, response status code and response headers
    def update_ad_creative_with_http_info(creative_id, update_ad_creative_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.update_ad_creative ...'
      end
      # verify the required parameter 'creative_id' is set
      if @api_client.config.client_side_validation && creative_id.nil?
        fail ArgumentError, "Missing the required parameter 'creative_id' when calling AdCreativesApi.update_ad_creative"
      end
      # verify the required parameter 'update_ad_creative_request' is set
      if @api_client.config.client_side_validation && update_ad_creative_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ad_creative_request' when calling AdCreativesApi.update_ad_creative"
      end
      # resource path
      local_var_path = '/v1/ads/creatives/{creativeId}'.sub('{' + 'creativeId' + '}', CGI.escape(creative_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ad_creative_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAdCreative200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.update_ad_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#update_ad_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload an ad image from base64
    # Uploads raw image bytes to the Meta ad account's image library — for callers whose creatives aren't hosted at a public URL. Returns the image `hash` (Meta's identifier for the asset) and the Meta-hosted `url`, which can be used directly as `imageUrl` on the create endpoints. Max 30 MB decoded.
    # @param upload_ad_image_request [UploadAdImageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UploadAdImage201Response]
    def upload_ad_image(upload_ad_image_request, opts = {})
      data, _status_code, _headers = upload_ad_image_with_http_info(upload_ad_image_request, opts)
      data
    end

    # Upload an ad image from base64
    # Uploads raw image bytes to the Meta ad account&#39;s image library — for callers whose creatives aren&#39;t hosted at a public URL. Returns the image &#x60;hash&#x60; (Meta&#39;s identifier for the asset) and the Meta-hosted &#x60;url&#x60;, which can be used directly as &#x60;imageUrl&#x60; on the create endpoints. Max 30 MB decoded.
    # @param upload_ad_image_request [UploadAdImageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadAdImage201Response, Integer, Hash)>] UploadAdImage201Response data, response status code and response headers
    def upload_ad_image_with_http_info(upload_ad_image_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AdCreativesApi.upload_ad_image ...'
      end
      # verify the required parameter 'upload_ad_image_request' is set
      if @api_client.config.client_side_validation && upload_ad_image_request.nil?
        fail ArgumentError, "Missing the required parameter 'upload_ad_image_request' when calling AdCreativesApi.upload_ad_image"
      end
      # resource path
      local_var_path = '/v1/ads/images'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upload_ad_image_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UploadAdImage201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AdCreativesApi.upload_ad_image",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AdCreativesApi#upload_ad_image\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
