=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class AnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get post analytics
    # Returns analytics for posts. With postId, returns a single post. Without it, returns a paginated list with overview stats. Accepts both Zernio Post IDs and External Post IDs (auto-resolved). fromDate defaults to 90 days ago if omitted, max range 366 days. Single post lookups may return 202 (sync pending) or 424 (all platforms failed). For follower stats, use /v1/accounts/follower-stats.  LinkedIn personal accounts: Analytics are only available for posts published through Zernio. LinkedIn's API only returns metrics for posts authored by the authenticated user. Organization/company page analytics work for all posts. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :post_id Returns analytics for a single post. Accepts both Zernio Post IDs and External Post IDs. Zernio IDs are auto-resolved to External Post analytics.
    # @option opts [String] :platform Filter by platform (default \&quot;all\&quot;)
    # @option opts [String] :profile_id Filter by profile ID (default \&quot;all\&quot;)
    # @option opts [String] :account_id Filter by social account ID
    # @option opts [String] :source Filter by post source: late (posted via Zernio API), external (synced from platform), all (default) (default to 'all')
    # @option opts [Date] :from_date Inclusive lower bound (YYYY-MM-DD). Defaults to 90 days ago if omitted. Max range is 366 days.
    # @option opts [Date] :to_date Inclusive upper bound (YYYY-MM-DD). Defaults to today if omitted.
    # @option opts [Integer] :limit Page size (default 50) (default to 50)
    # @option opts [Integer] :page Page number (default 1) (default to 1)
    # @option opts [String] :sort_by Sort by date, engagement, or a specific metric (default to 'date')
    # @option opts [String] :order Sort order (default to 'desc')
    # @return [GetAnalytics200Response]
    def get_analytics(opts = {})
      data, _status_code, _headers = get_analytics_with_http_info(opts)
      data
    end

    # Get post analytics
    # Returns analytics for posts. With postId, returns a single post. Without it, returns a paginated list with overview stats. Accepts both Zernio Post IDs and External Post IDs (auto-resolved). fromDate defaults to 90 days ago if omitted, max range 366 days. Single post lookups may return 202 (sync pending) or 424 (all platforms failed). For follower stats, use /v1/accounts/follower-stats.  LinkedIn personal accounts: Analytics are only available for posts published through Zernio. LinkedIn&#39;s API only returns metrics for posts authored by the authenticated user. Organization/company page analytics work for all posts. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :post_id Returns analytics for a single post. Accepts both Zernio Post IDs and External Post IDs. Zernio IDs are auto-resolved to External Post analytics.
    # @option opts [String] :platform Filter by platform (default \&quot;all\&quot;)
    # @option opts [String] :profile_id Filter by profile ID (default \&quot;all\&quot;)
    # @option opts [String] :account_id Filter by social account ID
    # @option opts [String] :source Filter by post source: late (posted via Zernio API), external (synced from platform), all (default) (default to 'all')
    # @option opts [Date] :from_date Inclusive lower bound (YYYY-MM-DD). Defaults to 90 days ago if omitted. Max range is 366 days.
    # @option opts [Date] :to_date Inclusive upper bound (YYYY-MM-DD). Defaults to today if omitted.
    # @option opts [Integer] :limit Page size (default 50) (default to 50)
    # @option opts [Integer] :page Page number (default 1) (default to 1)
    # @option opts [String] :sort_by Sort by date, engagement, or a specific metric (default to 'date')
    # @option opts [String] :order Sort order (default to 'desc')
    # @return [Array<(GetAnalytics200Response, Integer, Hash)>] GetAnalytics200Response data, response status code and response headers
    def get_analytics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_analytics ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AnalyticsApi.get_analytics, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AnalyticsApi.get_analytics, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AnalyticsApi.get_analytics, must be greater than or equal to 1.'
      end

      allowable_values = ["date", "engagement", "impressions", "reach", "likes", "comments", "shares", "saves", "clicks", "views"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postId'] = opts[:'post_id'] if !opts[:'post_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get best times to post
    # Returns the best times to post based on historical engagement data. Groups all published posts by day of week and hour (UTC), calculating average engagement per slot. Use this to auto-schedule posts at optimal times. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :account_id Filter by social account ID. Omit for all accounts.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [GetBestTimeToPost200Response]
    def get_best_time_to_post(opts = {})
      data, _status_code, _headers = get_best_time_to_post_with_http_info(opts)
      data
    end

    # Get best times to post
    # Returns the best times to post based on historical engagement data. Groups all published posts by day of week and hour (UTC), calculating average engagement per slot. Use this to auto-schedule posts at optimal times. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :account_id Filter by social account ID. Omit for all accounts.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [Array<(GetBestTimeToPost200Response, Integer, Hash)>] GetBestTimeToPost200Response data, response status code and response headers
    def get_best_time_to_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_best_time_to_post ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/best-time'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBestTimeToPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_best_time_to_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_best_time_to_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get content performance decay
    # Returns how engagement accumulates over time after a post is published. Each bucket shows what percentage of the post's total engagement had been reached by that time window. Useful for understanding content lifespan (e.g. \"posts reach 78% of total engagement within 24 hours\"). Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :account_id Filter by social account ID. Omit for all accounts.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [GetContentDecay200Response]
    def get_content_decay(opts = {})
      data, _status_code, _headers = get_content_decay_with_http_info(opts)
      data
    end

    # Get content performance decay
    # Returns how engagement accumulates over time after a post is published. Each bucket shows what percentage of the post&#39;s total engagement had been reached by that time window. Useful for understanding content lifespan (e.g. \&quot;posts reach 78% of total engagement within 24 hours\&quot;). Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :account_id Filter by social account ID. Omit for all accounts.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [Array<(GetContentDecay200Response, Integer, Hash)>] GetContentDecay200Response data, response status code and response headers
    def get_content_decay_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_content_decay ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/content-decay'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetContentDecay200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_content_decay",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_content_decay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get daily aggregated metrics
    # Returns daily aggregated analytics metrics and a per-platform breakdown. Each day includes post count, platform distribution, and summed metrics (impressions, reach, likes, comments, shares, saves, clicks, views). Defaults to the last 180 days. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :account_id Filter by social account ID
    # @option opts [Time] :from_date Inclusive start date (ISO 8601). Defaults to 180 days ago.
    # @option opts [Time] :to_date Inclusive end date (ISO 8601). Defaults to now.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [GetDailyMetrics200Response]
    def get_daily_metrics(opts = {})
      data, _status_code, _headers = get_daily_metrics_with_http_info(opts)
      data
    end

    # Get daily aggregated metrics
    # Returns daily aggregated analytics metrics and a per-platform breakdown. Each day includes post count, platform distribution, and summed metrics (impressions, reach, likes, comments, shares, saves, clicks, views). Defaults to the last 180 days. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :account_id Filter by social account ID
    # @option opts [Time] :from_date Inclusive start date (ISO 8601). Defaults to 180 days ago.
    # @option opts [Time] :to_date Inclusive end date (ISO 8601). Defaults to now.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [Array<(GetDailyMetrics200Response, Integer, Hash)>] GetDailyMetrics200Response data, response status code and response headers
    def get_daily_metrics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_daily_metrics ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/daily-metrics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDailyMetrics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_daily_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_daily_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Facebook Page insights
    # Returns page-level Facebook insights (media views, views, post engagements, video metrics, follower counts). Response shape matches /v1/analytics/instagram/account-insights so the same client handling works across platforms.  Metric names track the current (post-November 2025) Meta Graph API. The legacy page_impressions / page_fans / page_fan_adds / page_fan_removes metrics were deprecated by Meta on November 15, 2025 and are NOT accepted by this endpoint. Use the replacements below. Because Meta did not provide direct adds/removes replacements, Zernio synthesizes followers_gained / followers_lost from the daily follower snapshotter.  Max 89 days, defaults to last 30 days. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the connected Facebook Page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list of metrics. Defaults to \&quot;page_media_view,page_post_engagements,page_follows,followers_gained,followers_lost\&quot;.  Live Meta metrics (current names, post-Nov-2025):   - page_media_view       (replaces deprecated page_impressions)   - page_views_total   - page_post_engagements   - page_video_views   - page_video_view_time   - page_follows          (replaces deprecated page_fans)  Zernio-synthesized from daily follower snapshots (filling the Nov-2025 gap left by the page_fan_adds / page_fan_removes deprecation):   - followers_gained   - followers_lost 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type \&quot;total_value\&quot; (default) returns aggregated totals only. \&quot;time_series\&quot; returns daily values in the \&quot;values\&quot; array.  (default to 'total_value')
    # @return [InstagramAccountInsightsResponse]
    def get_facebook_page_insights(account_id, opts = {})
      data, _status_code, _headers = get_facebook_page_insights_with_http_info(account_id, opts)
      data
    end

    # Get Facebook Page insights
    # Returns page-level Facebook insights (media views, views, post engagements, video metrics, follower counts). Response shape matches /v1/analytics/instagram/account-insights so the same client handling works across platforms.  Metric names track the current (post-November 2025) Meta Graph API. The legacy page_impressions / page_fans / page_fan_adds / page_fan_removes metrics were deprecated by Meta on November 15, 2025 and are NOT accepted by this endpoint. Use the replacements below. Because Meta did not provide direct adds/removes replacements, Zernio synthesizes followers_gained / followers_lost from the daily follower snapshotter.  Max 89 days, defaults to last 30 days. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the connected Facebook Page.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list of metrics. Defaults to \&quot;page_media_view,page_post_engagements,page_follows,followers_gained,followers_lost\&quot;.  Live Meta metrics (current names, post-Nov-2025):   - page_media_view       (replaces deprecated page_impressions)   - page_views_total   - page_post_engagements   - page_video_views   - page_video_view_time   - page_follows          (replaces deprecated page_fans)  Zernio-synthesized from daily follower snapshots (filling the Nov-2025 gap left by the page_fan_adds / page_fan_removes deprecation):   - followers_gained   - followers_lost 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type \&quot;total_value\&quot; (default) returns aggregated totals only. \&quot;time_series\&quot; returns daily values in the \&quot;values\&quot; array.  (default to 'total_value')
    # @return [Array<(InstagramAccountInsightsResponse, Integer, Hash)>] InstagramAccountInsightsResponse data, response status code and response headers
    def get_facebook_page_insights_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_facebook_page_insights ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_facebook_page_insights"
      end
      allowable_values = ["time_series", "total_value"]
      if @api_client.config.client_side_validation && opts[:'metric_type'] && !allowable_values.include?(opts[:'metric_type'])
        fail ArgumentError, "invalid value for \"metric_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/facebook/page-insights'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'metricType'] = opts[:'metric_type'] if !opts[:'metric_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramAccountInsightsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_facebook_page_insights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_facebook_page_insights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get follower stats
    # Returns follower count history and growth metrics for connected social accounts. Requires analytics add-on subscription. Follower counts are refreshed once per day. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_ids Comma-separated list of account IDs (optional, defaults to all user&#39;s accounts)
    # @option opts [String] :profile_id Filter by profile ID
    # @option opts [Date] :from_date Start date in YYYY-MM-DD format (defaults to 30 days ago)
    # @option opts [Date] :to_date End date in YYYY-MM-DD format (defaults to today)
    # @option opts [String] :granularity Data aggregation level (default to 'daily')
    # @return [GetFollowerStats200Response]
    def get_follower_stats(opts = {})
      data, _status_code, _headers = get_follower_stats_with_http_info(opts)
      data
    end

    # Get follower stats
    # Returns follower count history and growth metrics for connected social accounts. Requires analytics add-on subscription. Follower counts are refreshed once per day. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_ids Comma-separated list of account IDs (optional, defaults to all user&#39;s accounts)
    # @option opts [String] :profile_id Filter by profile ID
    # @option opts [Date] :from_date Start date in YYYY-MM-DD format (defaults to 30 days ago)
    # @option opts [Date] :to_date End date in YYYY-MM-DD format (defaults to today)
    # @option opts [String] :granularity Data aggregation level (default to 'daily')
    # @return [Array<(GetFollowerStats200Response, Integer, Hash)>] GetFollowerStats200Response data, response status code and response headers
    def get_follower_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_follower_stats ...'
      end
      allowable_values = ["daily", "weekly", "monthly"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/accounts/follower-stats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountIds'] = opts[:'account_ids'] if !opts[:'account_ids'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFollowerStats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_follower_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_follower_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GBP performance metrics
    # Returns daily performance metrics for a Google Business Profile location. Metrics include impressions (Maps/Search, desktop/mobile), website clicks, call clicks, direction requests, conversations, bookings, and food orders. Data may be delayed 2-3 days. Max 18 months of historical data. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Google Business Profile account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated metric names. Defaults to all available metrics. Valid values: BUSINESS_IMPRESSIONS_DESKTOP_MAPS, BUSINESS_IMPRESSIONS_DESKTOP_SEARCH, BUSINESS_IMPRESSIONS_MOBILE_MAPS, BUSINESS_IMPRESSIONS_MOBILE_SEARCH, BUSINESS_CONVERSATIONS, BUSINESS_DIRECTION_REQUESTS, CALL_CLICKS, WEBSITE_CLICKS, BUSINESS_BOOKINGS, BUSINESS_FOOD_ORDERS, BUSINESS_FOOD_MENU_CLICKS 
    # @option opts [Date] :start_date Start date (YYYY-MM-DD). Defaults to 30 days ago. Max 18 months back.
    # @option opts [Date] :end_date End date (YYYY-MM-DD). Defaults to today.
    # @return [GetGoogleBusinessPerformance200Response]
    def get_google_business_performance(account_id, opts = {})
      data, _status_code, _headers = get_google_business_performance_with_http_info(account_id, opts)
      data
    end

    # Get GBP performance metrics
    # Returns daily performance metrics for a Google Business Profile location. Metrics include impressions (Maps/Search, desktop/mobile), website clicks, call clicks, direction requests, conversations, bookings, and food orders. Data may be delayed 2-3 days. Max 18 months of historical data. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Google Business Profile account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated metric names. Defaults to all available metrics. Valid values: BUSINESS_IMPRESSIONS_DESKTOP_MAPS, BUSINESS_IMPRESSIONS_DESKTOP_SEARCH, BUSINESS_IMPRESSIONS_MOBILE_MAPS, BUSINESS_IMPRESSIONS_MOBILE_SEARCH, BUSINESS_CONVERSATIONS, BUSINESS_DIRECTION_REQUESTS, CALL_CLICKS, WEBSITE_CLICKS, BUSINESS_BOOKINGS, BUSINESS_FOOD_ORDERS, BUSINESS_FOOD_MENU_CLICKS 
    # @option opts [Date] :start_date Start date (YYYY-MM-DD). Defaults to 30 days ago. Max 18 months back.
    # @option opts [Date] :end_date End date (YYYY-MM-DD). Defaults to today.
    # @return [Array<(GetGoogleBusinessPerformance200Response, Integer, Hash)>] GetGoogleBusinessPerformance200Response data, response status code and response headers
    def get_google_business_performance_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_google_business_performance ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_google_business_performance"
      end
      # resource path
      local_var_path = '/v1/analytics/googlebusiness/performance'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessPerformance200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_google_business_performance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_google_business_performance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get GBP search keywords
    # Returns search keywords that triggered impressions for a Google Business Profile location. Data is aggregated monthly. Keywords below a minimum impression threshold set by Google are excluded. Max 18 months of historical data. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Google Business Profile account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_month Start month (YYYY-MM). Defaults to 3 months ago.
    # @option opts [String] :end_month End month (YYYY-MM). Defaults to current month.
    # @return [GetGoogleBusinessSearchKeywords200Response]
    def get_google_business_search_keywords(account_id, opts = {})
      data, _status_code, _headers = get_google_business_search_keywords_with_http_info(account_id, opts)
      data
    end

    # Get GBP search keywords
    # Returns search keywords that triggered impressions for a Google Business Profile location. Data is aggregated monthly. Keywords below a minimum impression threshold set by Google are excluded. Max 18 months of historical data. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Google Business Profile account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_month Start month (YYYY-MM). Defaults to 3 months ago.
    # @option opts [String] :end_month End month (YYYY-MM). Defaults to current month.
    # @return [Array<(GetGoogleBusinessSearchKeywords200Response, Integer, Hash)>] GetGoogleBusinessSearchKeywords200Response data, response status code and response headers
    def get_google_business_search_keywords_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_google_business_search_keywords ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_google_business_search_keywords"
      end
      pattern = Regexp.new(/^\d{4}-\d{2}$/)
      if @api_client.config.client_side_validation && !opts[:'start_month'].nil? && opts[:'start_month'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"start_month\"]' when calling AnalyticsApi.get_google_business_search_keywords, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^\d{4}-\d{2}$/)
      if @api_client.config.client_side_validation && !opts[:'end_month'].nil? && opts[:'end_month'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"end_month\"]' when calling AnalyticsApi.get_google_business_search_keywords, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/analytics/googlebusiness/search-keywords'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'startMonth'] = opts[:'start_month'] if !opts[:'start_month'].nil?
      query_params[:'endMonth'] = opts[:'end_month'] if !opts[:'end_month'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessSearchKeywords200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_google_business_search_keywords",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_google_business_search_keywords\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Instagram insights
    # Returns account-level Instagram insights such as reach, views, accounts engaged, and total interactions. These metrics reflect the entire account's performance across all content surfaces (feed, stories, explore, profile), and are fundamentally different from post-level metrics. Data may be delayed up to 48 hours. Max 90 days, defaults to last 30 days. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Instagram account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list of metrics. Defaults to \&quot;reach,views,accounts_engaged,total_interactions\&quot;. Valid metrics: reach, views, accounts_engaged, total_interactions, comments, likes, saves, shares, replies, reposts, follows_and_unfollows, profile_links_taps. Note: only \&quot;reach\&quot; supports metricType&#x3D;time_series. All other metrics (including follows_and_unfollows) are total_value only. This is an Instagram Graph API limitation, not a Zernio limitation - the IG API does not return time-series data for these metrics. For a daily running follower count, use /v1/analytics/instagram/follower-history instead. 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type \&quot;total_value\&quot; (default) returns aggregated totals and supports breakdowns. \&quot;time_series\&quot; returns daily values but only works with the \&quot;reach\&quot; metric.  (default to 'total_value')
    # @option opts [String] :breakdown Breakdown dimension (only valid with metricType&#x3D;total_value). Valid values depend on the metric: media_product_type, follow_type, follower_type, contact_button_type. 
    # @return [InstagramAccountInsightsResponse]
    def get_instagram_account_insights(account_id, opts = {})
      data, _status_code, _headers = get_instagram_account_insights_with_http_info(account_id, opts)
      data
    end

    # Get Instagram insights
    # Returns account-level Instagram insights such as reach, views, accounts engaged, and total interactions. These metrics reflect the entire account&#39;s performance across all content surfaces (feed, stories, explore, profile), and are fundamentally different from post-level metrics. Data may be delayed up to 48 hours. Max 90 days, defaults to last 30 days. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Instagram account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list of metrics. Defaults to \&quot;reach,views,accounts_engaged,total_interactions\&quot;. Valid metrics: reach, views, accounts_engaged, total_interactions, comments, likes, saves, shares, replies, reposts, follows_and_unfollows, profile_links_taps. Note: only \&quot;reach\&quot; supports metricType&#x3D;time_series. All other metrics (including follows_and_unfollows) are total_value only. This is an Instagram Graph API limitation, not a Zernio limitation - the IG API does not return time-series data for these metrics. For a daily running follower count, use /v1/analytics/instagram/follower-history instead. 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type \&quot;total_value\&quot; (default) returns aggregated totals and supports breakdowns. \&quot;time_series\&quot; returns daily values but only works with the \&quot;reach\&quot; metric.  (default to 'total_value')
    # @option opts [String] :breakdown Breakdown dimension (only valid with metricType&#x3D;total_value). Valid values depend on the metric: media_product_type, follow_type, follower_type, contact_button_type. 
    # @return [Array<(InstagramAccountInsightsResponse, Integer, Hash)>] InstagramAccountInsightsResponse data, response status code and response headers
    def get_instagram_account_insights_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_instagram_account_insights ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_instagram_account_insights"
      end
      allowable_values = ["time_series", "total_value"]
      if @api_client.config.client_side_validation && opts[:'metric_type'] && !allowable_values.include?(opts[:'metric_type'])
        fail ArgumentError, "invalid value for \"metric_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/instagram/account-insights'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'metricType'] = opts[:'metric_type'] if !opts[:'metric_type'].nil?
      query_params[:'breakdown'] = opts[:'breakdown'] if !opts[:'breakdown'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramAccountInsightsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_instagram_account_insights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_instagram_account_insights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Instagram demographics
    # Returns audience demographic insights for an Instagram account, broken down by age, city, country, and/or gender. Requires at least 100 followers. Returns top 45 entries per dimension. Data may be delayed up to 48 hours. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Instagram account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metric \&quot;follower_demographics\&quot; for follower audience data, or \&quot;engaged_audience_demographics\&quot; for engaged viewers.  (default to 'follower_demographics')
    # @option opts [String] :breakdown Comma-separated list of demographic dimensions: age, city, country, gender. Defaults to all four if omitted. 
    # @option opts [String] :timeframe Time period for demographic data. Defaults to \&quot;this_month\&quot;.  (default to 'this_month')
    # @return [InstagramDemographicsResponse]
    def get_instagram_demographics(account_id, opts = {})
      data, _status_code, _headers = get_instagram_demographics_with_http_info(account_id, opts)
      data
    end

    # Get Instagram demographics
    # Returns audience demographic insights for an Instagram account, broken down by age, city, country, and/or gender. Requires at least 100 followers. Returns top 45 entries per dimension. Data may be delayed up to 48 hours. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Instagram account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metric \&quot;follower_demographics\&quot; for follower audience data, or \&quot;engaged_audience_demographics\&quot; for engaged viewers.  (default to 'follower_demographics')
    # @option opts [String] :breakdown Comma-separated list of demographic dimensions: age, city, country, gender. Defaults to all four if omitted. 
    # @option opts [String] :timeframe Time period for demographic data. Defaults to \&quot;this_month\&quot;.  (default to 'this_month')
    # @return [Array<(InstagramDemographicsResponse, Integer, Hash)>] InstagramDemographicsResponse data, response status code and response headers
    def get_instagram_demographics_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_instagram_demographics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_instagram_demographics"
      end
      allowable_values = ["follower_demographics", "engaged_audience_demographics"]
      if @api_client.config.client_side_validation && opts[:'metric'] && !allowable_values.include?(opts[:'metric'])
        fail ArgumentError, "invalid value for \"metric\", must be one of #{allowable_values}"
      end
      allowable_values = ["this_week", "this_month"]
      if @api_client.config.client_side_validation && opts[:'timeframe'] && !allowable_values.include?(opts[:'timeframe'])
        fail ArgumentError, "invalid value for \"timeframe\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/instagram/demographics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'metric'] = opts[:'metric'] if !opts[:'metric'].nil?
      query_params[:'breakdown'] = opts[:'breakdown'] if !opts[:'breakdown'].nil?
      query_params[:'timeframe'] = opts[:'timeframe'] if !opts[:'timeframe'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramDemographicsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_instagram_demographics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_instagram_demographics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Instagram follower history
    # Returns a daily running Instagram follower count time series, served from Zernio's cross-platform daily snapshotter. Exists because Meta removed follower_count from the /insights endpoint in Graph API v22+ and never exposed a historical daily series via any public API.  Response envelope matches /v1/analytics/instagram/account-insights so the same client handling works. Max 89 days, defaults to last 30 days. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Instagram account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list. Defaults to \&quot;follower_count,followers_gained,followers_lost\&quot;.   - follower_count   : per-day raw follower count   - followers_gained : sum of positive daily deltas   - followers_lost   : sum of absolute negative daily deltas 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type \&quot;total_value\&quot; returns aggregated totals (latest for follower_count, sum for gained/lost). \&quot;time_series\&quot; returns per-day values in the \&quot;values\&quot; array.  (default to 'total_value')
    # @return [InstagramAccountInsightsResponse]
    def get_instagram_follower_history(account_id, opts = {})
      data, _status_code, _headers = get_instagram_follower_history_with_http_info(account_id, opts)
      data
    end

    # Get Instagram follower history
    # Returns a daily running Instagram follower count time series, served from Zernio&#39;s cross-platform daily snapshotter. Exists because Meta removed follower_count from the /insights endpoint in Graph API v22+ and never exposed a historical daily series via any public API.  Response envelope matches /v1/analytics/instagram/account-insights so the same client handling works. Max 89 days, defaults to last 30 days. Requires the Analytics add-on. 
    # @param account_id [String] The Zernio SocialAccount ID for the Instagram account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list. Defaults to \&quot;follower_count,followers_gained,followers_lost\&quot;.   - follower_count   : per-day raw follower count   - followers_gained : sum of positive daily deltas   - followers_lost   : sum of absolute negative daily deltas 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type \&quot;total_value\&quot; returns aggregated totals (latest for follower_count, sum for gained/lost). \&quot;time_series\&quot; returns per-day values in the \&quot;values\&quot; array.  (default to 'total_value')
    # @return [Array<(InstagramAccountInsightsResponse, Integer, Hash)>] InstagramAccountInsightsResponse data, response status code and response headers
    def get_instagram_follower_history_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_instagram_follower_history ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_instagram_follower_history"
      end
      allowable_values = ["time_series", "total_value"]
      if @api_client.config.client_side_validation && opts[:'metric_type'] && !allowable_values.include?(opts[:'metric_type'])
        fail ArgumentError, "invalid value for \"metric_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/instagram/follower-history'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'metricType'] = opts[:'metric_type'] if !opts[:'metric_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramAccountInsightsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_instagram_follower_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_instagram_follower_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get LinkedIn aggregate stats
    # Returns aggregate analytics across all posts for a LinkedIn personal account. Only includes posts published through Zernio (LinkedIn API limitation). Org accounts should use /v1/analytics instead. Requires r_member_postAnalytics scope. Saves (POST_SAVE) and sends (POST_SEND) are available for personal accounts; organization pages always return 0 for these two metrics because LinkedIn does not expose them on the organization analytics endpoint.
    # @param account_id [String] The ID of the LinkedIn personal account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :aggregation TOTAL (default, lifetime totals) or DAILY (time series). MEMBERS_REACHED not available with DAILY. (default to 'TOTAL')
    # @option opts [Date] :start_date Start date (YYYY-MM-DD). If omitted, returns lifetime analytics.
    # @option opts [Date] :end_date End date (YYYY-MM-DD, exclusive). Defaults to today if omitted.
    # @option opts [String] :metrics Comma-separated metrics: IMPRESSION, MEMBERS_REACHED, REACTION, COMMENT, RESHARE, POST_SAVE, POST_SEND. Omit for all.
    # @return [GetLinkedInAggregateAnalytics200Response]
    def get_linked_in_aggregate_analytics(account_id, opts = {})
      data, _status_code, _headers = get_linked_in_aggregate_analytics_with_http_info(account_id, opts)
      data
    end

    # Get LinkedIn aggregate stats
    # Returns aggregate analytics across all posts for a LinkedIn personal account. Only includes posts published through Zernio (LinkedIn API limitation). Org accounts should use /v1/analytics instead. Requires r_member_postAnalytics scope. Saves (POST_SAVE) and sends (POST_SEND) are available for personal accounts; organization pages always return 0 for these two metrics because LinkedIn does not expose them on the organization analytics endpoint.
    # @param account_id [String] The ID of the LinkedIn personal account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :aggregation TOTAL (default, lifetime totals) or DAILY (time series). MEMBERS_REACHED not available with DAILY. (default to 'TOTAL')
    # @option opts [Date] :start_date Start date (YYYY-MM-DD). If omitted, returns lifetime analytics.
    # @option opts [Date] :end_date End date (YYYY-MM-DD, exclusive). Defaults to today if omitted.
    # @option opts [String] :metrics Comma-separated metrics: IMPRESSION, MEMBERS_REACHED, REACTION, COMMENT, RESHARE, POST_SAVE, POST_SEND. Omit for all.
    # @return [Array<(GetLinkedInAggregateAnalytics200Response, Integer, Hash)>] GetLinkedInAggregateAnalytics200Response data, response status code and response headers
    def get_linked_in_aggregate_analytics_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_linked_in_aggregate_analytics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_linked_in_aggregate_analytics"
      end
      allowable_values = ["TOTAL", "DAILY"]
      if @api_client.config.client_side_validation && opts[:'aggregation'] && !allowable_values.include?(opts[:'aggregation'])
        fail ArgumentError, "invalid value for \"aggregation\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-aggregate-analytics'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'aggregation'] = opts[:'aggregation'] if !opts[:'aggregation'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinkedInAggregateAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_linked_in_aggregate_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_linked_in_aggregate_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get LinkedIn organization page aggregate analytics
    # Returns aggregate analytics for a LinkedIn organization page. Parallel to /v1/accounts/{id}/linkedin-aggregate-analytics (which handles personal accounts only). Backed by LinkedIn's organizationalEntityShareStatistics, organizationalEntityFollowerStatistics, and organizationPageStatistics endpoints.  Response shape matches /v1/analytics/instagram/account-insights. Max 89 days, defaults to last 30 days. Requires the Analytics add-on.  Scope requirements: r_organization_social, r_organization_followers, and r_organization_admin must all be present on the account. Accounts connected before these scopes were included in the OAuth flow will return 412 with a reauth hint.  Enforced by this endpoint:   - Page-view metrics accept only metricType=total_value (LinkedIn omits per-day     segmentation even when the API is called with DAY granularity, so a time-series     response would be meaningless).   - Date range capped at 89 days.  LinkedIn-side platform limits (not re-enforced here, but worth knowing for larger ranges in a future release):   - Follower stats: rolling 12-month window, end must be no later than 2 days ago.   - Share stats: rolling 12-month window. 
    # @param account_id [String] The Zernio SocialAccount ID for the LinkedIn organization account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list. Defaults to \&quot;impressions,clicks,engagement_rate,organic_followers_gained,followers_gained,followers_lost\&quot;.  Share statistics (support both total_value and time_series):   - impressions   - unique_impressions   - clicks   - likes   - comments   - shares   - engagement_rate       (0..1, LinkedIn-computed)  Follower-gain statistics (support total_value and time_series):   - organic_followers_gained   (per-day organic gains for time_series; sum of organic gains over the range for total_value)   - paid_followers_gained      (per-day paid gains for time_series; sum of paid gains over the range for total_value)  Page-view statistics (total_value ONLY - LinkedIn platform limit):   - page_views_total   - page_views_overview   - page_views_careers   - page_views_jobs   - page_views_life  Zernio-synthesized from daily follower snapshots:   - followers_gained   - followers_lost 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type  (default to 'total_value')
    # @return [InstagramAccountInsightsResponse]
    def get_linked_in_org_aggregate_analytics(account_id, opts = {})
      data, _status_code, _headers = get_linked_in_org_aggregate_analytics_with_http_info(account_id, opts)
      data
    end

    # Get LinkedIn organization page aggregate analytics
    # Returns aggregate analytics for a LinkedIn organization page. Parallel to /v1/accounts/{id}/linkedin-aggregate-analytics (which handles personal accounts only). Backed by LinkedIn&#39;s organizationalEntityShareStatistics, organizationalEntityFollowerStatistics, and organizationPageStatistics endpoints.  Response shape matches /v1/analytics/instagram/account-insights. Max 89 days, defaults to last 30 days. Requires the Analytics add-on.  Scope requirements: r_organization_social, r_organization_followers, and r_organization_admin must all be present on the account. Accounts connected before these scopes were included in the OAuth flow will return 412 with a reauth hint.  Enforced by this endpoint:   - Page-view metrics accept only metricType&#x3D;total_value (LinkedIn omits per-day     segmentation even when the API is called with DAY granularity, so a time-series     response would be meaningless).   - Date range capped at 89 days.  LinkedIn-side platform limits (not re-enforced here, but worth knowing for larger ranges in a future release):   - Follower stats: rolling 12-month window, end must be no later than 2 days ago.   - Share stats: rolling 12-month window. 
    # @param account_id [String] The Zernio SocialAccount ID for the LinkedIn organization account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list. Defaults to \&quot;impressions,clicks,engagement_rate,organic_followers_gained,followers_gained,followers_lost\&quot;.  Share statistics (support both total_value and time_series):   - impressions   - unique_impressions   - clicks   - likes   - comments   - shares   - engagement_rate       (0..1, LinkedIn-computed)  Follower-gain statistics (support total_value and time_series):   - organic_followers_gained   (per-day organic gains for time_series; sum of organic gains over the range for total_value)   - paid_followers_gained      (per-day paid gains for time_series; sum of paid gains over the range for total_value)  Page-view statistics (total_value ONLY - LinkedIn platform limit):   - page_views_total   - page_views_overview   - page_views_careers   - page_views_jobs   - page_views_life  Zernio-synthesized from daily follower snapshots:   - followers_gained   - followers_lost 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type  (default to 'total_value')
    # @return [Array<(InstagramAccountInsightsResponse, Integer, Hash)>] InstagramAccountInsightsResponse data, response status code and response headers
    def get_linked_in_org_aggregate_analytics_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_linked_in_org_aggregate_analytics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_linked_in_org_aggregate_analytics"
      end
      allowable_values = ["time_series", "total_value"]
      if @api_client.config.client_side_validation && opts[:'metric_type'] && !allowable_values.include?(opts[:'metric_type'])
        fail ArgumentError, "invalid value for \"metric_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/linkedin/org-aggregate-analytics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'metricType'] = opts[:'metric_type'] if !opts[:'metric_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramAccountInsightsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_linked_in_org_aggregate_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_linked_in_org_aggregate_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get LinkedIn post stats
    # Returns analytics for a specific LinkedIn post by URN. Works for both personal and organization accounts. Saves and sends are only populated for personal accounts (LinkedIn does not expose these metrics on the organization analytics endpoint).
    # @param account_id [String] The ID of the LinkedIn account
    # @param urn [String] The LinkedIn post URN
    # @param [Hash] opts the optional parameters
    # @return [GetLinkedInPostAnalytics200Response]
    def get_linked_in_post_analytics(account_id, urn, opts = {})
      data, _status_code, _headers = get_linked_in_post_analytics_with_http_info(account_id, urn, opts)
      data
    end

    # Get LinkedIn post stats
    # Returns analytics for a specific LinkedIn post by URN. Works for both personal and organization accounts. Saves and sends are only populated for personal accounts (LinkedIn does not expose these metrics on the organization analytics endpoint).
    # @param account_id [String] The ID of the LinkedIn account
    # @param urn [String] The LinkedIn post URN
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLinkedInPostAnalytics200Response, Integer, Hash)>] GetLinkedInPostAnalytics200Response data, response status code and response headers
    def get_linked_in_post_analytics_with_http_info(account_id, urn, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_linked_in_post_analytics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_linked_in_post_analytics"
      end
      # verify the required parameter 'urn' is set
      if @api_client.config.client_side_validation && urn.nil?
        fail ArgumentError, "Missing the required parameter 'urn' when calling AnalyticsApi.get_linked_in_post_analytics"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-post-analytics'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urn'] = urn

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinkedInPostAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_linked_in_post_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_linked_in_post_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get LinkedIn post reactions
    # Returns individual reactions for a specific LinkedIn post, including reactor profiles (name, headline/job title, profile picture, profile URL, reaction type). Only works for organization/company page accounts. LinkedIn restricts reaction data for personal profiles (r_member_social_feed is a closed permission). 
    # @param account_id [String] The ID of the LinkedIn organization account
    # @param urn [String] The LinkedIn post URN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of reactions to return per page (default to 25)
    # @option opts [String] :cursor Offset-based pagination start index
    # @return [GetLinkedInPostReactions200Response]
    def get_linked_in_post_reactions(account_id, urn, opts = {})
      data, _status_code, _headers = get_linked_in_post_reactions_with_http_info(account_id, urn, opts)
      data
    end

    # Get LinkedIn post reactions
    # Returns individual reactions for a specific LinkedIn post, including reactor profiles (name, headline/job title, profile picture, profile URL, reaction type). Only works for organization/company page accounts. LinkedIn restricts reaction data for personal profiles (r_member_social_feed is a closed permission). 
    # @param account_id [String] The ID of the LinkedIn organization account
    # @param urn [String] The LinkedIn post URN
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of reactions to return per page (default to 25)
    # @option opts [String] :cursor Offset-based pagination start index
    # @return [Array<(GetLinkedInPostReactions200Response, Integer, Hash)>] GetLinkedInPostReactions200Response data, response status code and response headers
    def get_linked_in_post_reactions_with_http_info(account_id, urn, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_linked_in_post_reactions ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_linked_in_post_reactions"
      end
      # verify the required parameter 'urn' is set
      if @api_client.config.client_side_validation && urn.nil?
        fail ArgumentError, "Missing the required parameter 'urn' when calling AnalyticsApi.get_linked_in_post_reactions"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AnalyticsApi.get_linked_in_post_reactions, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AnalyticsApi.get_linked_in_post_reactions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-post-reactions'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'urn'] = urn
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinkedInPostReactions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_linked_in_post_reactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_linked_in_post_reactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post analytics timeline
    # Returns a daily timeline of analytics metrics for a specific post, showing how impressions, likes, and other metrics evolved day-by-day since publishing. Each row represents one day of data per platform. For multi-platform Zernio posts, returns separate rows for each platform. Requires the Analytics add-on. 
    # @param post_id [String] The post to fetch timeline for. Accepts an ExternalPost ID, a platformPostId, or a Zernio Post ID. 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from_date Start of date range (ISO 8601). Defaults to 90 days ago.
    # @option opts [Time] :to_date End of date range (ISO 8601). Defaults to now.
    # @return [GetPostTimeline200Response]
    def get_post_timeline(post_id, opts = {})
      data, _status_code, _headers = get_post_timeline_with_http_info(post_id, opts)
      data
    end

    # Get post analytics timeline
    # Returns a daily timeline of analytics metrics for a specific post, showing how impressions, likes, and other metrics evolved day-by-day since publishing. Each row represents one day of data per platform. For multi-platform Zernio posts, returns separate rows for each platform. Requires the Analytics add-on. 
    # @param post_id [String] The post to fetch timeline for. Accepts an ExternalPost ID, a platformPostId, or a Zernio Post ID. 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from_date Start of date range (ISO 8601). Defaults to 90 days ago.
    # @option opts [Time] :to_date End of date range (ISO 8601). Defaults to now.
    # @return [Array<(GetPostTimeline200Response, Integer, Hash)>] GetPostTimeline200Response data, response status code and response headers
    def get_post_timeline_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_post_timeline ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling AnalyticsApi.get_post_timeline"
      end
      # resource path
      local_var_path = '/v1/analytics/post-timeline'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postId'] = post_id
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPostTimeline200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_post_timeline",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_post_timeline\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get frequency vs engagement
    # Returns the correlation between posting frequency (posts per week) and engagement rate, broken down by platform. Helps find the optimal posting cadence for each platform. Each row represents a specific (platform, posts_per_week) combination with the average engagement rate observed across all weeks matching that frequency. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :account_id Filter by social account ID. Omit for all accounts.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [GetPostingFrequency200Response]
    def get_posting_frequency(opts = {})
      data, _status_code, _headers = get_posting_frequency_with_http_info(opts)
      data
    end

    # Get frequency vs engagement
    # Returns the correlation between posting frequency (posts per week) and engagement rate, broken down by platform. Helps find the optimal posting cadence for each platform. Each row represents a specific (platform, posts_per_week) combination with the average engagement rate observed across all weeks matching that frequency. Requires the Analytics add-on. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :platform Filter by platform (e.g. \&quot;instagram\&quot;, \&quot;tiktok\&quot;). Omit for all platforms.
    # @option opts [String] :profile_id Filter by profile ID. Omit for all profiles.
    # @option opts [String] :account_id Filter by social account ID. Omit for all accounts.
    # @option opts [String] :source Filter by post origin. \&quot;late\&quot; for posts published via Zernio, \&quot;external\&quot; for posts imported from platforms. (default to 'all')
    # @return [Array<(GetPostingFrequency200Response, Integer, Hash)>] GetPostingFrequency200Response data, response status code and response headers
    def get_posting_frequency_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_posting_frequency ...'
      end
      allowable_values = ["all", "late", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/posting-frequency'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPostingFrequency200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_posting_frequency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_posting_frequency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get TikTok account-level insights
    # Returns account-level TikTok insights from /v2/user/info/ (live) plus historical time series joined from Zernio's daily snapshotter (AccountStats).  Response shape matches /v1/analytics/instagram/account-insights. Max 89 days, defaults to last 30 days. Requires the Analytics add-on and the user.info.stats scope on the account (412 if missing).  Scope intentionally narrow. TikTok's public API exposes only the four counter metrics below. The deep metrics that live in TikTok Studio are NOT available on any public TikTok API, even for Business accounts:   - profile_views   - account-level impressions / reach   - follower inflow / outflow breakdown   - video watch time, average watch time, full-watched rate   - impression_sources (FYP / Following / Hashtag / Search / Personal profile)  TikTok's Research API doesn't expose those fields either, and is restricted to non-commercial academic use per TikTok's eligibility policy. There is no public API workaround. Post-level metrics (views, likes, comments, shares per video) are available via /v1/analytics?postId=... from TikTok's /v2/video/query/. 
    # @param account_id [String] The Zernio SocialAccount ID for the TikTok account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list. Defaults to \&quot;follower_count,likes_count,video_count,followers_gained,followers_lost\&quot;.  Live from /v2/user/info/ (requires user.info.stats scope):   - follower_count  (cumulative; time series joined from AccountStats)   - following_count (cumulative; time series joined from AccountStats.metadata)   - likes_count     (cumulative; time series joined from AccountStats.metadata)   - video_count     (cumulative; time series joined from AccountStats.metadata)  Zernio-synthesized:   - followers_gained  (sum of positive daily follower deltas)   - followers_lost    (sum of absolute negative daily deltas) 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type \&quot;total_value\&quot; returns the latest cumulative counter value. \&quot;time_series\&quot; returns daily values joined from AccountStats snapshots.  (default to 'total_value')
    # @return [InstagramAccountInsightsResponse]
    def get_tik_tok_account_insights(account_id, opts = {})
      data, _status_code, _headers = get_tik_tok_account_insights_with_http_info(account_id, opts)
      data
    end

    # Get TikTok account-level insights
    # Returns account-level TikTok insights from /v2/user/info/ (live) plus historical time series joined from Zernio&#39;s daily snapshotter (AccountStats).  Response shape matches /v1/analytics/instagram/account-insights. Max 89 days, defaults to last 30 days. Requires the Analytics add-on and the user.info.stats scope on the account (412 if missing).  Scope intentionally narrow. TikTok&#39;s public API exposes only the four counter metrics below. The deep metrics that live in TikTok Studio are NOT available on any public TikTok API, even for Business accounts:   - profile_views   - account-level impressions / reach   - follower inflow / outflow breakdown   - video watch time, average watch time, full-watched rate   - impression_sources (FYP / Following / Hashtag / Search / Personal profile)  TikTok&#39;s Research API doesn&#39;t expose those fields either, and is restricted to non-commercial academic use per TikTok&#39;s eligibility policy. There is no public API workaround. Post-level metrics (views, likes, comments, shares per video) are available via /v1/analytics?postId&#x3D;... from TikTok&#39;s /v2/video/query/. 
    # @param account_id [String] The Zernio SocialAccount ID for the TikTok account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list. Defaults to \&quot;follower_count,likes_count,video_count,followers_gained,followers_lost\&quot;.  Live from /v2/user/info/ (requires user.info.stats scope):   - follower_count  (cumulative; time series joined from AccountStats)   - following_count (cumulative; time series joined from AccountStats.metadata)   - likes_count     (cumulative; time series joined from AccountStats.metadata)   - video_count     (cumulative; time series joined from AccountStats.metadata)  Zernio-synthesized:   - followers_gained  (sum of positive daily follower deltas)   - followers_lost    (sum of absolute negative daily deltas) 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :metric_type \&quot;total_value\&quot; returns the latest cumulative counter value. \&quot;time_series\&quot; returns daily values joined from AccountStats snapshots.  (default to 'total_value')
    # @return [Array<(InstagramAccountInsightsResponse, Integer, Hash)>] InstagramAccountInsightsResponse data, response status code and response headers
    def get_tik_tok_account_insights_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.get_tik_tok_account_insights ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.get_tik_tok_account_insights"
      end
      allowable_values = ["time_series", "total_value"]
      if @api_client.config.client_side_validation && opts[:'metric_type'] && !allowable_values.include?(opts[:'metric_type'])
        fail ArgumentError, "invalid value for \"metric_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/tiktok/account-insights'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'metrics'] = opts[:'metrics'] if !opts[:'metrics'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'metricType'] = opts[:'metric_type'] if !opts[:'metric_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstagramAccountInsightsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AnalyticsApi.get_tik_tok_account_insights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#get_tik_tok_account_insights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get YouTube channel-level insights
    # Returns channel-scoped aggregate metrics from YouTube Analytics API v2. Saves you from looping /v1/analytics/youtube/daily-views over every video when you only need channel totals.  Response shape matches /v1/analytics/instagram/account-insights so the same client handling works. Requires yt-analytics.readonly scope (412 with reauthorizeUrl if missing). Data has a 2-3 day delay (endDate is clamped accordingly). Max 89 days, defaults to last 30 days. Requires the Analytics add-on.  NOT exposed: impressions (Studio thumbnail impressions) and impressionsClickThroughRate. YouTube Analytics API v2 does not expose these for any principal type, not channel owners, not Partner Program channels, not content owners with CMS access. The only way to get them is Studio CSV export. This is a Google-side limitation. 
    # @param account_id [String] The Zernio SocialAccount ID for the YouTube account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list. Defaults to \&quot;views,estimatedMinutesWatched,subscribersGained,subscribersLost\&quot;.  Live YouTube Analytics v2 metrics:   - views   - estimatedMinutesWatched   - averageViewDuration          (ratio - weighted mean computed across days)   - subscribersGained   - subscribersLost  Zernio-synthesized from daily follower snapshots (cross-platform parity):   - followers_gained   - followers_lost 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
    # @option opts [Date] :_until End date (YYYY-MM-DD). Defaults to today. YouTube Analytics has a 2-3 day delay, so the fetch is internally clamped to 3 days ago; any requested range extending beyond that returns zero values for the tail days. The response&#39;s dateRange.until field reflects your requested value. 
    # @option opts [String] :metric_type \&quot;total_value\&quot; (default) returns aggregated totals. \&quot;time_series\&quot; returns per-day values in the \&quot;values\&quot; array.  (default to 'total_value')
    # @return [InstagramAccountInsightsResponse]
    def get_you_tube_channel_insights(account_id, opts = {})
      data, _status_code, _headers = get_you_tube_channel_insights_with_http_info(account_id, opts)
      data
    end

    # Get YouTube channel-level insights
    # Returns channel-scoped aggregate metrics from YouTube Analytics API v2. Saves you from looping /v1/analytics/youtube/daily-views over every video when you only need channel totals.  Response shape matches /v1/analytics/instagram/account-insights so the same client handling works. Requires yt-analytics.readonly scope (412 with reauthorizeUrl if missing). Data has a 2-3 day delay (endDate is clamped accordingly). Max 89 days, defaults to last 30 days. Requires the Analytics add-on.  NOT exposed: impressions (Studio thumbnail impressions) and impressionsClickThroughRate. YouTube Analytics API v2 does not expose these for any principal type, not channel owners, not Partner Program channels, not content owners with CMS access. The only way to get them is Studio CSV export. This is a Google-side limitation. 
    # @param account_id [String] The Zernio SocialAccount ID for the YouTube account.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :metrics Comma-separated list. Defaults to \&quot;views,estimatedMinutesWatched,subscribersGained,subscribersLost\&quot;.  Live YouTube Analytics v2 metrics:   - views   - estimatedMinutesWatched   - averageViewDuration          (ratio - weighted mean computed across days)   - subscribersGained   - subscribersLost  Zernio-synthesized from daily follower snapshots (cross-platform parity):   - followers_gained   - followers_lost 
    # @option opts [Date] :since Start date (YYYY-MM-DD). Defaults to 30 days ago.
[...]
