=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class BlogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a blog
    # Creates a blog on the connected store. The platform generates the URL `handle` from the title when omitted.  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param create_blog_request [CreateBlogRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBlog201Response]
    def create_blog(account_id, create_blog_request, opts = {})
      data, _status_code, _headers = create_blog_with_http_info(account_id, create_blog_request, opts)
      data
    end

    # Create a blog
    # Creates a blog on the connected store. The platform generates the URL &#x60;handle&#x60; from the title when omitted.  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param create_blog_request [CreateBlogRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBlog201Response, Integer, Hash)>] CreateBlog201Response data, response status code and response headers
    def create_blog_with_http_info(account_id, create_blog_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.create_blog ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.create_blog"
      end
      # verify the required parameter 'create_blog_request' is set
      if @api_client.config.client_side_validation && create_blog_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_blog_request' when calling BlogsApi.create_blog"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_blog_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBlog201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.create_blog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#create_blog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a blog article
    # Creates an article on the blog. Publishing behavior:  - `isPublished: false` keeps the article as a draft. - A future `publishDate` schedules publication natively on the   platform; the platform publishes it at that time with no Zernio   queue involved. - `seo.title` / `seo.description` map to Shopify's global `title_tag`   and `description_tag` metafields (the fields Shopify themes read for   the page title and meta description).  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param create_blog_article_request [CreateBlogArticleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBlogArticle201Response]
    def create_blog_article(account_id, blog_id, create_blog_article_request, opts = {})
      data, _status_code, _headers = create_blog_article_with_http_info(account_id, blog_id, create_blog_article_request, opts)
      data
    end

    # Create a blog article
    # Creates an article on the blog. Publishing behavior:  - &#x60;isPublished: false&#x60; keeps the article as a draft. - A future &#x60;publishDate&#x60; schedules publication natively on the   platform; the platform publishes it at that time with no Zernio   queue involved. - &#x60;seo.title&#x60; / &#x60;seo.description&#x60; map to Shopify&#39;s global &#x60;title_tag&#x60;   and &#x60;description_tag&#x60; metafields (the fields Shopify themes read for   the page title and meta description).  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param create_blog_article_request [CreateBlogArticleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBlogArticle201Response, Integer, Hash)>] CreateBlogArticle201Response data, response status code and response headers
    def create_blog_article_with_http_info(account_id, blog_id, create_blog_article_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.create_blog_article ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.create_blog_article"
      end
      # verify the required parameter 'blog_id' is set
      if @api_client.config.client_side_validation && blog_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_id' when calling BlogsApi.create_blog_article"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && blog_id !~ pattern
        fail ArgumentError, "invalid value for 'blog_id' when calling BlogsApi.create_blog_article, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'create_blog_article_request' is set
      if @api_client.config.client_side_validation && create_blog_article_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_blog_article_request' when calling BlogsApi.create_blog_article"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs/{blogId}/articles'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'blogId' + '}', CGI.escape(blog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_blog_article_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBlogArticle201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.create_blog_article",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#create_blog_article\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a blog
    # Deletes the blog AND every article in it. The delete happens on the platform and is permanent; Zernio stores nothing to restore it from.  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_blog(account_id, blog_id, opts = {})
      delete_blog_with_http_info(account_id, blog_id, opts)
      nil
    end

    # Delete a blog
    # Deletes the blog AND every article in it. The delete happens on the platform and is permanent; Zernio stores nothing to restore it from.  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_blog_with_http_info(account_id, blog_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.delete_blog ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.delete_blog"
      end
      # verify the required parameter 'blog_id' is set
      if @api_client.config.client_side_validation && blog_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_id' when calling BlogsApi.delete_blog"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && blog_id !~ pattern
        fail ArgumentError, "invalid value for 'blog_id' when calling BlogsApi.delete_blog, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs/{blogId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'blogId' + '}', CGI.escape(blog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.delete_blog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#delete_blog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a blog article
    # Deletes the article. The delete happens on the platform and is permanent; Zernio stores nothing to restore it from.  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param article_id [String] Platform-native numeric article id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_blog_article(account_id, blog_id, article_id, opts = {})
      delete_blog_article_with_http_info(account_id, blog_id, article_id, opts)
      nil
    end

    # Delete a blog article
    # Deletes the article. The delete happens on the platform and is permanent; Zernio stores nothing to restore it from.  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param article_id [String] Platform-native numeric article id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_blog_article_with_http_info(account_id, blog_id, article_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.delete_blog_article ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.delete_blog_article"
      end
      # verify the required parameter 'blog_id' is set
      if @api_client.config.client_side_validation && blog_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_id' when calling BlogsApi.delete_blog_article"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && blog_id !~ pattern
        fail ArgumentError, "invalid value for 'blog_id' when calling BlogsApi.delete_blog_article, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'article_id' is set
      if @api_client.config.client_side_validation && article_id.nil?
        fail ArgumentError, "Missing the required parameter 'article_id' when calling BlogsApi.delete_blog_article"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && article_id !~ pattern
        fail ArgumentError, "invalid value for 'article_id' when calling BlogsApi.delete_blog_article, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs/{blogId}/articles/{articleId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'blogId' + '}', CGI.escape(blog_id.to_s)).sub('{' + 'articleId' + '}', CGI.escape(article_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.delete_blog_article",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#delete_blog_article\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a blog
    # Fetches a single blog. `blogId` is the platform's numeric blog id from `GET /v1/accounts/{accountId}/blogs`, not a Zernio id.  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [CreateBlog201Response]
    def get_blog(account_id, blog_id, opts = {})
      data, _status_code, _headers = get_blog_with_http_info(account_id, blog_id, opts)
      data
    end

    # Get a blog
    # Fetches a single blog. &#x60;blogId&#x60; is the platform&#39;s numeric blog id from &#x60;GET /v1/accounts/{accountId}/blogs&#x60;, not a Zernio id.  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBlog201Response, Integer, Hash)>] CreateBlog201Response data, response status code and response headers
    def get_blog_with_http_info(account_id, blog_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.get_blog ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.get_blog"
      end
      # verify the required parameter 'blog_id' is set
      if @api_client.config.client_side_validation && blog_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_id' when calling BlogsApi.get_blog"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && blog_id !~ pattern
        fail ArgumentError, "invalid value for 'blog_id' when calling BlogsApi.get_blog, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs/{blogId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'blogId' + '}', CGI.escape(blog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBlog201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.get_blog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#get_blog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a blog article
    # Fetches a single article. An article addressed through a blog it does not belong to is a 404 (code blog_article_not_found).  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param article_id [String] Platform-native numeric article id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [CreateBlogArticle201Response]
    def get_blog_article(account_id, blog_id, article_id, opts = {})
      data, _status_code, _headers = get_blog_article_with_http_info(account_id, blog_id, article_id, opts)
      data
    end

    # Get a blog article
    # Fetches a single article. An article addressed through a blog it does not belong to is a 404 (code blog_article_not_found).  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param article_id [String] Platform-native numeric article id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBlogArticle201Response, Integer, Hash)>] CreateBlogArticle201Response data, response status code and response headers
    def get_blog_article_with_http_info(account_id, blog_id, article_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.get_blog_article ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.get_blog_article"
      end
      # verify the required parameter 'blog_id' is set
      if @api_client.config.client_side_validation && blog_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_id' when calling BlogsApi.get_blog_article"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && blog_id !~ pattern
        fail ArgumentError, "invalid value for 'blog_id' when calling BlogsApi.get_blog_article, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'article_id' is set
      if @api_client.config.client_side_validation && article_id.nil?
        fail ArgumentError, "Missing the required parameter 'article_id' when calling BlogsApi.get_blog_article"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && article_id !~ pattern
        fail ArgumentError, "invalid value for 'article_id' when calling BlogsApi.get_blog_article, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs/{blogId}/articles/{articleId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'blogId' + '}', CGI.escape(blog_id.to_s)).sub('{' + 'articleId' + '}', CGI.escape(article_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBlogArticle201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.get_blog_article",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#get_blog_article\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List blog articles
    # Lists the articles of a blog. Cursor-paginated: pass `limit` (1-50, default 20) and the `cursor` from a previous response's `nextCursor`; `nextCursor` is null when there are no more pages.  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size (1-50). (default to 20)
    # @option opts [String] :cursor Opaque cursor from a previous response. Omit for the first page.
    # @return [ListBlogArticles200Response]
    def list_blog_articles(account_id, blog_id, opts = {})
      data, _status_code, _headers = list_blog_articles_with_http_info(account_id, blog_id, opts)
      data
    end

    # List blog articles
    # Lists the articles of a blog. Cursor-paginated: pass &#x60;limit&#x60; (1-50, default 20) and the &#x60;cursor&#x60; from a previous response&#39;s &#x60;nextCursor&#x60;; &#x60;nextCursor&#x60; is null when there are no more pages.  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size (1-50). (default to 20)
    # @option opts [String] :cursor Opaque cursor from a previous response. Omit for the first page.
    # @return [Array<(ListBlogArticles200Response, Integer, Hash)>] ListBlogArticles200Response data, response status code and response headers
    def list_blog_articles_with_http_info(account_id, blog_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.list_blog_articles ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.list_blog_articles"
      end
      # verify the required parameter 'blog_id' is set
      if @api_client.config.client_side_validation && blog_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_id' when calling BlogsApi.list_blog_articles"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && blog_id !~ pattern
        fail ArgumentError, "invalid value for 'blog_id' when calling BlogsApi.list_blog_articles, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BlogsApi.list_blog_articles, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BlogsApi.list_blog_articles, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs/{blogId}/articles'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'blogId' + '}', CGI.escape(blog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBlogArticles200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.list_blog_articles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#list_blog_articles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List blogs
    # Lists the blogs on the connected store, newest-first as the platform returns them. Cursor-paginated: pass `limit` (1-50, default 20) and the `cursor` from a previous response's `nextCursor`; `nextCursor` is null when there are no more pages.  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size (1-50). (default to 20)
    # @option opts [String] :cursor Opaque cursor from a previous response. Omit for the first page.
    # @return [ListBlogs200Response]
    def list_blogs(account_id, opts = {})
      data, _status_code, _headers = list_blogs_with_http_info(account_id, opts)
      data
    end

    # List blogs
    # Lists the blogs on the connected store, newest-first as the platform returns them. Cursor-paginated: pass &#x60;limit&#x60; (1-50, default 20) and the &#x60;cursor&#x60; from a previous response&#39;s &#x60;nextCursor&#x60;; &#x60;nextCursor&#x60; is null when there are no more pages.  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size (1-50). (default to 20)
    # @option opts [String] :cursor Opaque cursor from a previous response. Omit for the first page.
    # @return [Array<(ListBlogs200Response, Integer, Hash)>] ListBlogs200Response data, response status code and response headers
    def list_blogs_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.list_blogs ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.list_blogs"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BlogsApi.list_blogs, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BlogsApi.list_blogs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBlogs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.list_blogs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#list_blogs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a blog
    # Partial-updates a blog. Send any subset of `title` and `handle`; at least one field is required (an empty body returns 400).  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param update_blog_request [UpdateBlogRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBlog201Response]
    def update_blog(account_id, blog_id, update_blog_request, opts = {})
      data, _status_code, _headers = update_blog_with_http_info(account_id, blog_id, update_blog_request, opts)
      data
    end

    # Update a blog
    # Partial-updates a blog. Send any subset of &#x60;title&#x60; and &#x60;handle&#x60;; at least one field is required (an empty body returns 400).  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param update_blog_request [UpdateBlogRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBlog201Response, Integer, Hash)>] CreateBlog201Response data, response status code and response headers
    def update_blog_with_http_info(account_id, blog_id, update_blog_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.update_blog ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.update_blog"
      end
      # verify the required parameter 'blog_id' is set
      if @api_client.config.client_side_validation && blog_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_id' when calling BlogsApi.update_blog"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && blog_id !~ pattern
        fail ArgumentError, "invalid value for 'blog_id' when calling BlogsApi.update_blog, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_blog_request' is set
      if @api_client.config.client_side_validation && update_blog_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_blog_request' when calling BlogsApi.update_blog"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs/{blogId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'blogId' + '}', CGI.escape(blog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_blog_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBlog201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.update_blog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#update_blog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a blog article
    # Partial-updates an article. Send any subset of the create fields (`title`, `bodyHtml`, `handle`, `tags`, `author`, `excerpt`, `image`, `seo`, `isPublished`, `publishDate`); at least one field is required (an empty body returns 400). `isPublished` and `publishDate` behave as on create: `isPublished: false` unpublishes back to a draft and a future `publishDate` schedules publication natively on the platform.  Supported on Shopify (platform `shopify`). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param article_id [String] Platform-native numeric article id. Non-numeric values return 400.
    # @param update_blog_article_request [UpdateBlogArticleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBlogArticle201Response]
    def update_blog_article(account_id, blog_id, article_id, update_blog_article_request, opts = {})
      data, _status_code, _headers = update_blog_article_with_http_info(account_id, blog_id, article_id, update_blog_article_request, opts)
      data
    end

    # Update a blog article
    # Partial-updates an article. Send any subset of the create fields (&#x60;title&#x60;, &#x60;bodyHtml&#x60;, &#x60;handle&#x60;, &#x60;tags&#x60;, &#x60;author&#x60;, &#x60;excerpt&#x60;, &#x60;image&#x60;, &#x60;seo&#x60;, &#x60;isPublished&#x60;, &#x60;publishDate&#x60;); at least one field is required (an empty body returns 400). &#x60;isPublished&#x60; and &#x60;publishDate&#x60; behave as on create: &#x60;isPublished: false&#x60; unpublishes back to a draft and a future &#x60;publishDate&#x60; schedules publication natively on the platform.  Supported on Shopify (platform &#x60;shopify&#x60;). Accounts on platforms without blogs support return 400; a blogs-capable platform that lacks this specific operation returns 405. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param blog_id [String] Platform-native numeric blog id. Non-numeric values return 400.
    # @param article_id [String] Platform-native numeric article id. Non-numeric values return 400.
    # @param update_blog_article_request [UpdateBlogArticleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBlogArticle201Response, Integer, Hash)>] CreateBlogArticle201Response data, response status code and response headers
    def update_blog_article_with_http_info(account_id, blog_id, article_id, update_blog_article_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlogsApi.update_blog_article ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BlogsApi.update_blog_article"
      end
      # verify the required parameter 'blog_id' is set
      if @api_client.config.client_side_validation && blog_id.nil?
        fail ArgumentError, "Missing the required parameter 'blog_id' when calling BlogsApi.update_blog_article"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && blog_id !~ pattern
        fail ArgumentError, "invalid value for 'blog_id' when calling BlogsApi.update_blog_article, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'article_id' is set
      if @api_client.config.client_side_validation && article_id.nil?
        fail ArgumentError, "Missing the required parameter 'article_id' when calling BlogsApi.update_blog_article"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && article_id !~ pattern
        fail ArgumentError, "invalid value for 'article_id' when calling BlogsApi.update_blog_article, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_blog_article_request' is set
      if @api_client.config.client_side_validation && update_blog_article_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_blog_article_request' when calling BlogsApi.update_blog_article"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/blogs/{blogId}/articles/{articleId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'blogId' + '}', CGI.escape(blog_id.to_s)).sub('{' + 'articleId' + '}', CGI.escape(article_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_blog_article_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBlogArticle201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BlogsApi.update_blog_article",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlogsApi#update_blog_article\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
