=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.148.2
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class BrandedCallingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Attach numbers to a verified identity
    # Files a Letter of Authorization signed by you (Zernio is named as the authorized agent managing the numbers) and opens a vetting batch of up to 15 US numbers you own. The batch is all-or-nothing: one ineligible number refuses the whole call. Each number shows the identity once its own status reaches `verified`. A number belongs to one identity at a time. 
    # @param id [String] 
    # @param attach_branded_calling_numbers_request [AttachBrandedCallingNumbersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListBrandedCallingIdentityNumbers200Response]
    def attach_branded_calling_numbers(id, attach_branded_calling_numbers_request, opts = {})
      data, _status_code, _headers = attach_branded_calling_numbers_with_http_info(id, attach_branded_calling_numbers_request, opts)
      data
    end

    # Attach numbers to a verified identity
    # Files a Letter of Authorization signed by you (Zernio is named as the authorized agent managing the numbers) and opens a vetting batch of up to 15 US numbers you own. The batch is all-or-nothing: one ineligible number refuses the whole call. Each number shows the identity once its own status reaches &#x60;verified&#x60;. A number belongs to one identity at a time. 
    # @param id [String] 
    # @param attach_branded_calling_numbers_request [AttachBrandedCallingNumbersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBrandedCallingIdentityNumbers200Response, Integer, Hash)>] ListBrandedCallingIdentityNumbers200Response data, response status code and response headers
    def attach_branded_calling_numbers_with_http_info(id, attach_branded_calling_numbers_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.attach_branded_calling_numbers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.attach_branded_calling_numbers"
      end
      # verify the required parameter 'attach_branded_calling_numbers_request' is set
      if @api_client.config.client_side_validation && attach_branded_calling_numbers_request.nil?
        fail ArgumentError, "Missing the required parameter 'attach_branded_calling_numbers_request' when calling BrandedCallingApi.attach_branded_calling_numbers"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/{id}/numbers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(attach_branded_calling_numbers_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListBrandedCallingIdentityNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.attach_branded_calling_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#attach_branded_calling_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm the authorizer's code
    # The last customer step. On success the stored references are filed and the identity is submitted to carrier vetting in the same call (`in_review`). If a later step fails the identity stays `pending_email_verification` with the email already verified; calling again resumes from that step. 
    # @param id [String] 
    # @param confirm_branded_calling_authorizer_email_request [ConfirmBrandedCallingAuthorizerEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BrandedCallingIdentity]
    def confirm_branded_calling_authorizer_email(id, confirm_branded_calling_authorizer_email_request, opts = {})
      data, _status_code, _headers = confirm_branded_calling_authorizer_email_with_http_info(id, confirm_branded_calling_authorizer_email_request, opts)
      data
    end

    # Confirm the authorizer&#39;s code
    # The last customer step. On success the stored references are filed and the identity is submitted to carrier vetting in the same call (&#x60;in_review&#x60;). If a later step fails the identity stays &#x60;pending_email_verification&#x60; with the email already verified; calling again resumes from that step. 
    # @param id [String] 
    # @param confirm_branded_calling_authorizer_email_request [ConfirmBrandedCallingAuthorizerEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandedCallingIdentity, Integer, Hash)>] BrandedCallingIdentity data, response status code and response headers
    def confirm_branded_calling_authorizer_email_with_http_info(id, confirm_branded_calling_authorizer_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.confirm_branded_calling_authorizer_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.confirm_branded_calling_authorizer_email"
      end
      # verify the required parameter 'confirm_branded_calling_authorizer_email_request' is set
      if @api_client.config.client_side_validation && confirm_branded_calling_authorizer_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'confirm_branded_calling_authorizer_email_request' when calling BrandedCallingApi.confirm_branded_calling_authorizer_email"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/{id}/verify-email/confirm'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(confirm_branded_calling_authorizer_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandedCallingIdentity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.confirm_branded_calling_authorizer_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#confirm_branded_calling_authorizer_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register a business for Branded Calling
    # Stores the legal entity behind your caller identities. Nothing is filed with the carrier until the business's first identity passes review. Only businesses registered in the US or Canada qualify (a FEIN or Canadian equivalent is required); any other country returns `422`. Send an `Idempotency-Key` so a retry replays the original response instead of registering the business twice. 
    # @param create_branded_calling_enterprise_request [CreateBrandedCallingEnterpriseRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [BrandedCallingEnterprise]
    def create_branded_calling_enterprise(create_branded_calling_enterprise_request, opts = {})
      data, _status_code, _headers = create_branded_calling_enterprise_with_http_info(create_branded_calling_enterprise_request, opts)
      data
    end

    # Register a business for Branded Calling
    # Stores the legal entity behind your caller identities. Nothing is filed with the carrier until the business&#39;s first identity passes review. Only businesses registered in the US or Canada qualify (a FEIN or Canadian equivalent is required); any other country returns &#x60;422&#x60;. Send an &#x60;Idempotency-Key&#x60; so a retry replays the original response instead of registering the business twice. 
    # @param create_branded_calling_enterprise_request [CreateBrandedCallingEnterpriseRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [Array<(BrandedCallingEnterprise, Integer, Hash)>] BrandedCallingEnterprise data, response status code and response headers
    def create_branded_calling_enterprise_with_http_info(create_branded_calling_enterprise_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.create_branded_calling_enterprise ...'
      end
      # verify the required parameter 'create_branded_calling_enterprise_request' is set
      if @api_client.config.client_side_validation && create_branded_calling_enterprise_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_branded_calling_enterprise_request' when calling BrandedCallingApi.create_branded_calling_enterprise"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling BrandedCallingApi.create_branded_calling_enterprise, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/branded-calling/enterprises'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_branded_calling_enterprise_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandedCallingEnterprise'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.create_branded_calling_enterprise",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#create_branded_calling_enterprise\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a caller identity
    # A caller identity is what the callee sees: display name, logo and call reasons, backed by a registered business and three references the carrier vetting team phones. It starts in Zernio review (`requested`). Once approved, the carrier emails the authorizer a 6-digit code; confirm it with the verify-email endpoint and the identity goes into carrier vetting on its own. Track it with `GET` or the `branded_calling.identity.status_updated` webhook.  Billing: $100 per identity per month, the first month charged when the identity is filed with the carrier and not refunded if the carrier rejects it, then monthly while the identity exists. Branded calls add $0.10 each, counted on every outbound call from a verified branded number to a US destination (whether or not the callee's carrier displayed the branding); the surcharge shows as `brandedCallUSD` on the call's billing and in `GET /v1/voice/calls/estimate` when you pass `from`.  Run `POST /v1/branded-calling/identities/preflight` with the same body first to catch what the review would bounce. Send an `Idempotency-Key` so a retry replays the original response instead of creating a second identity. 
    # @param create_branded_calling_identity_request [CreateBrandedCallingIdentityRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [BrandedCallingIdentity]
    def create_branded_calling_identity(create_branded_calling_identity_request, opts = {})
      data, _status_code, _headers = create_branded_calling_identity_with_http_info(create_branded_calling_identity_request, opts)
      data
    end

    # Create a caller identity
    # A caller identity is what the callee sees: display name, logo and call reasons, backed by a registered business and three references the carrier vetting team phones. It starts in Zernio review (&#x60;requested&#x60;). Once approved, the carrier emails the authorizer a 6-digit code; confirm it with the verify-email endpoint and the identity goes into carrier vetting on its own. Track it with &#x60;GET&#x60; or the &#x60;branded_calling.identity.status_updated&#x60; webhook.  Billing: $100 per identity per month, the first month charged when the identity is filed with the carrier and not refunded if the carrier rejects it, then monthly while the identity exists. Branded calls add $0.10 each, counted on every outbound call from a verified branded number to a US destination (whether or not the callee&#39;s carrier displayed the branding); the surcharge shows as &#x60;brandedCallUSD&#x60; on the call&#39;s billing and in &#x60;GET /v1/voice/calls/estimate&#x60; when you pass &#x60;from&#x60;.  Run &#x60;POST /v1/branded-calling/identities/preflight&#x60; with the same body first to catch what the review would bounce. Send an &#x60;Idempotency-Key&#x60; so a retry replays the original response instead of creating a second identity. 
    # @param create_branded_calling_identity_request [CreateBrandedCallingIdentityRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [Array<(BrandedCallingIdentity, Integer, Hash)>] BrandedCallingIdentity data, response status code and response headers
    def create_branded_calling_identity_with_http_info(create_branded_calling_identity_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.create_branded_calling_identity ...'
      end
      # verify the required parameter 'create_branded_calling_identity_request' is set
      if @api_client.config.client_side_validation && create_branded_calling_identity_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_branded_calling_identity_request' when calling BrandedCallingApi.create_branded_calling_identity"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling BrandedCallingApi.create_branded_calling_identity, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/branded-calling/identities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_branded_calling_identity_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandedCallingIdentity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.create_branded_calling_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#create_branded_calling_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a registered business
    # Refused while the business still has caller identities (delete those first).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteBrandedCallingEnterprise200Response]
    def delete_branded_calling_enterprise(id, opts = {})
      data, _status_code, _headers = delete_branded_calling_enterprise_with_http_info(id, opts)
      data
    end

    # Delete a registered business
    # Refused while the business still has caller identities (delete those first).
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteBrandedCallingEnterprise200Response, Integer, Hash)>] DeleteBrandedCallingEnterprise200Response data, response status code and response headers
    def delete_branded_calling_enterprise_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.delete_branded_calling_enterprise ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.delete_branded_calling_enterprise"
      end
      # resource path
      local_var_path = '/v1/branded-calling/enterprises/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteBrandedCallingEnterprise200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.delete_branded_calling_enterprise",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#delete_branded_calling_enterprise\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a caller identity
    # Detaches its numbers and removes the identity at the carrier, which ends the monthly fee. Refused while an infringement claim is open.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteBrandedCallingEnterprise200Response]
    def delete_branded_calling_identity(id, opts = {})
      data, _status_code, _headers = delete_branded_calling_identity_with_http_info(id, opts)
      data
    end

    # Delete a caller identity
    # Detaches its numbers and removes the identity at the carrier, which ends the monthly fee. Refused while an infringement claim is open.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteBrandedCallingEnterprise200Response, Integer, Hash)>] DeleteBrandedCallingEnterprise200Response data, response status code and response headers
    def delete_branded_calling_identity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.delete_branded_calling_identity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.delete_branded_calling_identity"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteBrandedCallingEnterprise200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.delete_branded_calling_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#delete_branded_calling_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detach numbers from an identity
    # Deregisters the numbers at the carrier and frees them for another identity. Up to 100 per call.
    # @param id [String] 
    # @param detach_branded_calling_numbers_request [DetachBrandedCallingNumbersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DetachBrandedCallingNumbers200Response]
    def detach_branded_calling_numbers(id, detach_branded_calling_numbers_request, opts = {})
      data, _status_code, _headers = detach_branded_calling_numbers_with_http_info(id, detach_branded_calling_numbers_request, opts)
      data
    end

    # Detach numbers from an identity
    # Deregisters the numbers at the carrier and frees them for another identity. Up to 100 per call.
    # @param id [String] 
    # @param detach_branded_calling_numbers_request [DetachBrandedCallingNumbersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DetachBrandedCallingNumbers200Response, Integer, Hash)>] DetachBrandedCallingNumbers200Response data, response status code and response headers
    def detach_branded_calling_numbers_with_http_info(id, detach_branded_calling_numbers_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.detach_branded_calling_numbers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.detach_branded_calling_numbers"
      end
      # verify the required parameter 'detach_branded_calling_numbers_request' is set
      if @api_client.config.client_side_validation && detach_branded_calling_numbers_request.nil?
        fail ArgumentError, "Missing the required parameter 'detach_branded_calling_numbers_request' when calling BrandedCallingApi.detach_branded_calling_numbers"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/{id}/numbers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(detach_branded_calling_numbers_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DetachBrandedCallingNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.detach_branded_calling_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#detach_branded_calling_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a registered business
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BrandedCallingEnterprise]
    def get_branded_calling_enterprise(id, opts = {})
      data, _status_code, _headers = get_branded_calling_enterprise_with_http_info(id, opts)
      data
    end

    # Get a registered business
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandedCallingEnterprise, Integer, Hash)>] BrandedCallingEnterprise data, response status code and response headers
    def get_branded_calling_enterprise_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.get_branded_calling_enterprise ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.get_branded_calling_enterprise"
      end
      # resource path
      local_var_path = '/v1/branded-calling/enterprises/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrandedCallingEnterprise'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.get_branded_calling_enterprise",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#get_branded_calling_enterprise\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a caller identity
    # Poll this for review and vetting progress, or subscribe to `branded_calling.identity.status_updated`.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BrandedCallingIdentity]
    def get_branded_calling_identity(id, opts = {})
      data, _status_code, _headers = get_branded_calling_identity_with_http_info(id, opts)
      data
    end

    # Get a caller identity
    # Poll this for review and vetting progress, or subscribe to &#x60;branded_calling.identity.status_updated&#x60;.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandedCallingIdentity, Integer, Hash)>] BrandedCallingIdentity data, response status code and response headers
    def get_branded_calling_identity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.get_branded_calling_identity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.get_branded_calling_identity"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrandedCallingIdentity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.get_branded_calling_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#get_branded_calling_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List pre-approved call reasons
    # The carrier catalogue of call reasons that pass vetting automatically. Any other wording is allowed on an identity but is vetted by hand.
    # @param [Hash] opts the optional parameters
    # @return [ListBrandedCallingCallReasons200Response]
    def list_branded_calling_call_reasons(opts = {})
      data, _status_code, _headers = list_branded_calling_call_reasons_with_http_info(opts)
      data
    end

    # List pre-approved call reasons
    # The carrier catalogue of call reasons that pass vetting automatically. Any other wording is allowed on an identity but is vetted by hand.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBrandedCallingCallReasons200Response, Integer, Hash)>] ListBrandedCallingCallReasons200Response data, response status code and response headers
    def list_branded_calling_call_reasons_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.list_branded_calling_call_reasons ...'
      end
      # resource path
      local_var_path = '/v1/branded-calling/call-reasons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBrandedCallingCallReasons200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.list_branded_calling_call_reasons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#list_branded_calling_call_reasons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List registered businesses
    # @param [Hash] opts the optional parameters
    # @return [ListBrandedCallingEnterprises200Response]
    def list_branded_calling_enterprises(opts = {})
      data, _status_code, _headers = list_branded_calling_enterprises_with_http_info(opts)
      data
    end

    # List registered businesses
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBrandedCallingEnterprises200Response, Integer, Hash)>] ListBrandedCallingEnterprises200Response data, response status code and response headers
    def list_branded_calling_enterprises_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.list_branded_calling_enterprises ...'
      end
      # resource path
      local_var_path = '/v1/branded-calling/enterprises'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBrandedCallingEnterprises200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.list_branded_calling_enterprises",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#list_branded_calling_enterprises\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List caller identities
    # @param [Hash] opts the optional parameters
    # @return [ListBrandedCallingIdentities200Response]
    def list_branded_calling_identities(opts = {})
      data, _status_code, _headers = list_branded_calling_identities_with_http_info(opts)
      data
    end

    # List caller identities
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBrandedCallingIdentities200Response, Integer, Hash)>] ListBrandedCallingIdentities200Response data, response status code and response headers
    def list_branded_calling_identities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.list_branded_calling_identities ...'
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBrandedCallingIdentities200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.list_branded_calling_identities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#list_branded_calling_identities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the numbers on a caller identity
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListBrandedCallingIdentityNumbers200Response]
    def list_branded_calling_identity_numbers(id, opts = {})
      data, _status_code, _headers = list_branded_calling_identity_numbers_with_http_info(id, opts)
      data
    end

    # List the numbers on a caller identity
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBrandedCallingIdentityNumbers200Response, Integer, Hash)>] ListBrandedCallingIdentityNumbers200Response data, response status code and response headers
    def list_branded_calling_identity_numbers_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.list_branded_calling_identity_numbers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.list_branded_calling_identity_numbers"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/{id}/numbers'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBrandedCallingIdentityNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.list_branded_calling_identity_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#list_branded_calling_identity_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dry-run a caller identity before creating it
    # Validates the exact body `POST /v1/branded-calling/identities` takes and runs the same deterministic lints the review runs on it without creating anything, with the same codes and fields the queued identity's findings carry. A `block` finding is what the review would bounce (two references sharing a phone, a reference inside the business, an invalid timezone); a `warn` finding slows vetting (a display name that does not read as the business, a call reason outside the carrier catalogue, a public-mailbox authorizer, a logo that does not answer). `ok` is true when there is no `block`. 
    # @param preflight_branded_calling_identity_request [PreflightBrandedCallingIdentityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PreflightBrandedCallingIdentity200Response]
    def preflight_branded_calling_identity(preflight_branded_calling_identity_request, opts = {})
      data, _status_code, _headers = preflight_branded_calling_identity_with_http_info(preflight_branded_calling_identity_request, opts)
      data
    end

    # Dry-run a caller identity before creating it
    # Validates the exact body &#x60;POST /v1/branded-calling/identities&#x60; takes and runs the same deterministic lints the review runs on it without creating anything, with the same codes and fields the queued identity&#39;s findings carry. A &#x60;block&#x60; finding is what the review would bounce (two references sharing a phone, a reference inside the business, an invalid timezone); a &#x60;warn&#x60; finding slows vetting (a display name that does not read as the business, a call reason outside the carrier catalogue, a public-mailbox authorizer, a logo that does not answer). &#x60;ok&#x60; is true when there is no &#x60;block&#x60;. 
    # @param preflight_branded_calling_identity_request [PreflightBrandedCallingIdentityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PreflightBrandedCallingIdentity200Response, Integer, Hash)>] PreflightBrandedCallingIdentity200Response data, response status code and response headers
    def preflight_branded_calling_identity_with_http_info(preflight_branded_calling_identity_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.preflight_branded_calling_identity ...'
      end
      # verify the required parameter 'preflight_branded_calling_identity_request' is set
      if @api_client.config.client_side_validation && preflight_branded_calling_identity_request.nil?
        fail ArgumentError, "Missing the required parameter 'preflight_branded_calling_identity_request' when calling BrandedCallingApi.preflight_branded_calling_identity"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/preflight'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(preflight_branded_calling_identity_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PreflightBrandedCallingIdentity200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.preflight_branded_calling_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#preflight_branded_calling_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend the authorizer's code
    # Emails the authorizer a fresh 6-digit code (the previous one stops working). Only while the identity is `pending_email_verification`.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ResendBrandedCallingAuthorizerCode200Response]
    def resend_branded_calling_authorizer_code(id, opts = {})
      data, _status_code, _headers = resend_branded_calling_authorizer_code_with_http_info(id, opts)
      data
    end

    # Resend the authorizer&#39;s code
    # Emails the authorizer a fresh 6-digit code (the previous one stops working). Only while the identity is &#x60;pending_email_verification&#x60;.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResendBrandedCallingAuthorizerCode200Response, Integer, Hash)>] ResendBrandedCallingAuthorizerCode200Response data, response status code and response headers
    def resend_branded_calling_authorizer_code_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.resend_branded_calling_authorizer_code ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.resend_branded_calling_authorizer_code"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/{id}/verify-email'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResendBrandedCallingAuthorizerCode200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.resend_branded_calling_authorizer_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#resend_branded_calling_authorizer_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a caller identity share link
    # Creates a single-use link (valid 7 days) where the end business fills in the caller identity itself, with no Zernio login: display name, logo, call reasons, the authorizer and the three references. What it submits lands under your team as `requested`, the same review as an API submission, and `branded_calling.identity.status_updated` fires. Scope the link with `identityId` (complete an identity that is `requested` or `changes_requested`), with `enterpriseId` (a new identity for a registered business), or with neither (the business registers itself and its first identity). The person opening the link can forward a fresh one to someone else, which retires theirs. 
    # @param [Hash] opts the optional parameters
    # @option opts [ShareBrandedCallingIdentityFormRequest] :share_branded_calling_identity_form_request 
    # @return [ShareBrandedCallingIdentityForm200Response]
    def share_branded_calling_identity_form(opts = {})
      data, _status_code, _headers = share_branded_calling_identity_form_with_http_info(opts)
      data
    end

    # Create a caller identity share link
    # Creates a single-use link (valid 7 days) where the end business fills in the caller identity itself, with no Zernio login: display name, logo, call reasons, the authorizer and the three references. What it submits lands under your team as &#x60;requested&#x60;, the same review as an API submission, and &#x60;branded_calling.identity.status_updated&#x60; fires. Scope the link with &#x60;identityId&#x60; (complete an identity that is &#x60;requested&#x60; or &#x60;changes_requested&#x60;), with &#x60;enterpriseId&#x60; (a new identity for a registered business), or with neither (the business registers itself and its first identity). The person opening the link can forward a fresh one to someone else, which retires theirs. 
    # @param [Hash] opts the optional parameters
    # @option opts [ShareBrandedCallingIdentityFormRequest] :share_branded_calling_identity_form_request 
    # @return [Array<(ShareBrandedCallingIdentityForm200Response, Integer, Hash)>] ShareBrandedCallingIdentityForm200Response data, response status code and response headers
    def share_branded_calling_identity_form_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.share_branded_calling_identity_form ...'
      end
      # resource path
      local_var_path = '/v1/branded-calling/share'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'share_branded_calling_identity_form_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ShareBrandedCallingIdentityForm200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.share_branded_calling_identity_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#share_branded_calling_identity_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit or resubmit a caller identity
    # Allowed while the identity is `requested`, `changes_requested` or `rejected`. Answering a change request (send `reviewAnswers` keyed by point id, and any edited fields) puts it back in review. On a carrier rejection the edits are applied at the carrier and the identity is resubmitted straight away. 
    # @param id [String] 
    # @param update_branded_calling_identity_request [UpdateBrandedCallingIdentityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BrandedCallingIdentity]
    def update_branded_calling_identity(id, update_branded_calling_identity_request, opts = {})
      data, _status_code, _headers = update_branded_calling_identity_with_http_info(id, update_branded_calling_identity_request, opts)
      data
    end

    # Edit or resubmit a caller identity
    # Allowed while the identity is &#x60;requested&#x60;, &#x60;changes_requested&#x60; or &#x60;rejected&#x60;. Answering a change request (send &#x60;reviewAnswers&#x60; keyed by point id, and any edited fields) puts it back in review. On a carrier rejection the edits are applied at the carrier and the identity is resubmitted straight away. 
    # @param id [String] 
    # @param update_branded_calling_identity_request [UpdateBrandedCallingIdentityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandedCallingIdentity, Integer, Hash)>] BrandedCallingIdentity data, response status code and response headers
    def update_branded_calling_identity_with_http_info(id, update_branded_calling_identity_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandedCallingApi.update_branded_calling_identity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandedCallingApi.update_branded_calling_identity"
      end
      # verify the required parameter 'update_branded_calling_identity_request' is set
      if @api_client.config.client_side_validation && update_branded_calling_identity_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_branded_calling_identity_request' when calling BrandedCallingApi.update_branded_calling_identity"
      end
      # resource path
      local_var_path = '/v1/branded-calling/identities/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_branded_calling_identity_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandedCallingIdentity'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BrandedCallingApi.update_branded_calling_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandedCallingApi#update_branded_calling_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
