=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema). 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class BusinessAgentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Allowlist a consumer
    # One E.164 number per call. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param add_business_agent_allowlist_entry_request [AddBusinessAgentAllowlistEntryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentAllowlistEntry]
    def add_business_agent_allowlist_entry(account_id, add_business_agent_allowlist_entry_request, opts = {})
      data, _status_code, _headers = add_business_agent_allowlist_entry_with_http_info(account_id, add_business_agent_allowlist_entry_request, opts)
      data
    end

    # Allowlist a consumer
    # One E.164 number per call. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param add_business_agent_allowlist_entry_request [AddBusinessAgentAllowlistEntryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentAllowlistEntry, Integer, Hash)>] BusinessAgentAllowlistEntry data, response status code and response headers
    def add_business_agent_allowlist_entry_with_http_info(account_id, add_business_agent_allowlist_entry_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.add_business_agent_allowlist_entry ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.add_business_agent_allowlist_entry"
      end
      # verify the required parameter 'add_business_agent_allowlist_entry_request' is set
      if @api_client.config.client_side_validation && add_business_agent_allowlist_entry_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_business_agent_allowlist_entry_request' when calling BusinessAgentApi.add_business_agent_allowlist_entry"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/allowlist'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_business_agent_allowlist_entry_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentAllowlistEntry'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.add_business_agent_allowlist_entry",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#add_business_agent_allowlist_entry\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a website to crawl
    # Meta crawls the site into the agent knowledge and recrawls it periodically; check `crawl_status` and `crawl_error` on read. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_website_input [BusinessAgentWebsiteInput] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentWebsite]
    def add_business_agent_website(account_id, business_agent_website_input, opts = {})
      data, _status_code, _headers = add_business_agent_website_with_http_info(account_id, business_agent_website_input, opts)
      data
    end

    # Add a website to crawl
    # Meta crawls the site into the agent knowledge and recrawls it periodically; check &#x60;crawl_status&#x60; and &#x60;crawl_error&#x60; on read. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_website_input [BusinessAgentWebsiteInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentWebsite, Integer, Hash)>] BusinessAgentWebsite data, response status code and response headers
    def add_business_agent_website_with_http_info(account_id, business_agent_website_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.add_business_agent_website ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.add_business_agent_website"
      end
      # verify the required parameter 'business_agent_website_input' is set
      if @api_client.config.client_side_validation && business_agent_website_input.nil?
        fail ArgumentError, "Missing the required parameter 'business_agent_website_input' when calling BusinessAgentApi.add_business_agent_website"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/websites'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_agent_website_input)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentWebsite'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.add_business_agent_website",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#add_business_agent_website\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a connector
    # Base URL plus how to authenticate (OAuth client credentials, API key or none). Names are unique per number. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_connector_input [BusinessAgentConnectorInput] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentConnector]
    def create_business_agent_connector(account_id, business_agent_connector_input, opts = {})
      data, _status_code, _headers = create_business_agent_connector_with_http_info(account_id, business_agent_connector_input, opts)
      data
    end

    # Create a connector
    # Base URL plus how to authenticate (OAuth client credentials, API key or none). Names are unique per number. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_connector_input [BusinessAgentConnectorInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentConnector, Integer, Hash)>] BusinessAgentConnector data, response status code and response headers
    def create_business_agent_connector_with_http_info(account_id, business_agent_connector_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.create_business_agent_connector ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.create_business_agent_connector"
      end
      # verify the required parameter 'business_agent_connector_input' is set
      if @api_client.config.client_side_validation && business_agent_connector_input.nil?
        fail ArgumentError, "Missing the required parameter 'business_agent_connector_input' when calling BusinessAgentApi.create_business_agent_connector"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_agent_connector_input)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentConnector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.create_business_agent_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#create_business_agent_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a connector tool
    # One operation on the connector, with the request definition Meta uses to build the outbound call from the conversation. Type the body params explicitly. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param business_agent_connector_tool_input [BusinessAgentConnectorToolInput] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentConnectorTool]
    def create_business_agent_connector_tool(account_id, connector_id, business_agent_connector_tool_input, opts = {})
      data, _status_code, _headers = create_business_agent_connector_tool_with_http_info(account_id, connector_id, business_agent_connector_tool_input, opts)
      data
    end

    # Create a connector tool
    # One operation on the connector, with the request definition Meta uses to build the outbound call from the conversation. Type the body params explicitly. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param business_agent_connector_tool_input [BusinessAgentConnectorToolInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentConnectorTool, Integer, Hash)>] BusinessAgentConnectorTool data, response status code and response headers
    def create_business_agent_connector_tool_with_http_info(account_id, connector_id, business_agent_connector_tool_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.create_business_agent_connector_tool ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.create_business_agent_connector_tool"
      end
      # verify the required parameter 'connector_id' is set
      if @api_client.config.client_side_validation && connector_id.nil?
        fail ArgumentError, "Missing the required parameter 'connector_id' when calling BusinessAgentApi.create_business_agent_connector_tool"
      end
      # verify the required parameter 'business_agent_connector_tool_input' is set
      if @api_client.config.client_side_validation && business_agent_connector_tool_input.nil?
        fail ArgumentError, "Missing the required parameter 'business_agent_connector_tool_input' when calling BusinessAgentApi.create_business_agent_connector_tool"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors/{connectorId}/tools'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'connectorId' + '}', CGI.escape(connector_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_agent_connector_tool_input)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentConnectorTool'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.create_business_agent_connector_tool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#create_business_agent_connector_tool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a FAQ
    # One specific question per entry; beyond a few hundred entries retrieval quality drops. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_faq_input [BusinessAgentFaqInput] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentFaq]
    def create_business_agent_faq(account_id, business_agent_faq_input, opts = {})
      data, _status_code, _headers = create_business_agent_faq_with_http_info(account_id, business_agent_faq_input, opts)
      data
    end

    # Create a FAQ
    # One specific question per entry; beyond a few hundred entries retrieval quality drops. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_faq_input [BusinessAgentFaqInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentFaq, Integer, Hash)>] BusinessAgentFaq data, response status code and response headers
    def create_business_agent_faq_with_http_info(account_id, business_agent_faq_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.create_business_agent_faq ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.create_business_agent_faq"
      end
      # verify the required parameter 'business_agent_faq_input' is set
      if @api_client.config.client_side_validation && business_agent_faq_input.nil?
        fail ArgumentError, "Missing the required parameter 'business_agent_faq_input' when calling BusinessAgentApi.create_business_agent_faq"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/faqs'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_agent_faq_input)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentFaq'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.create_business_agent_faq",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#create_business_agent_faq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a skill
    # Behavioral instructions in the brand voice. Reads back `pending_review` until Meta content review passes it. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_skill_input [BusinessAgentSkillInput] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentSkill]
    def create_business_agent_skill(account_id, business_agent_skill_input, opts = {})
      data, _status_code, _headers = create_business_agent_skill_with_http_info(account_id, business_agent_skill_input, opts)
      data
    end

    # Create a skill
    # Behavioral instructions in the brand voice. Reads back &#x60;pending_review&#x60; until Meta content review passes it. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_skill_input [BusinessAgentSkillInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentSkill, Integer, Hash)>] BusinessAgentSkill data, response status code and response headers
    def create_business_agent_skill_with_http_info(account_id, business_agent_skill_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.create_business_agent_skill ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.create_business_agent_skill"
      end
      # verify the required parameter 'business_agent_skill_input' is set
      if @api_client.config.client_side_validation && business_agent_skill_input.nil?
        fail ArgumentError, "Missing the required parameter 'business_agent_skill_input' when calling BusinessAgentApi.create_business_agent_skill"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/skills'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_agent_skill_input)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentSkill'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.create_business_agent_skill",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#create_business_agent_skill\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a UI skill
    # Tells the agent when to send a rich component (CTA URL button, image, carousel, list, reply buttons, location, Flow) and what to put in it. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_ui_skill_input [BusinessAgentUiSkillInput] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentUiSkill]
    def create_business_agent_ui_skill(account_id, business_agent_ui_skill_input, opts = {})
      data, _status_code, _headers = create_business_agent_ui_skill_with_http_info(account_id, business_agent_ui_skill_input, opts)
      data
    end

    # Create a UI skill
    # Tells the agent when to send a rich component (CTA URL button, image, carousel, list, reply buttons, location, Flow) and what to put in it. Not idempotent.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param business_agent_ui_skill_input [BusinessAgentUiSkillInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentUiSkill, Integer, Hash)>] BusinessAgentUiSkill data, response status code and response headers
    def create_business_agent_ui_skill_with_http_info(account_id, business_agent_ui_skill_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.create_business_agent_ui_skill ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.create_business_agent_ui_skill"
      end
      # verify the required parameter 'business_agent_ui_skill_input' is set
      if @api_client.config.client_side_validation && business_agent_ui_skill_input.nil?
        fail ArgumentError, "Missing the required parameter 'business_agent_ui_skill_input' when calling BusinessAgentApi.create_business_agent_ui_skill"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/ui-skills'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(business_agent_ui_skill_input)

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentUiSkill'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.create_business_agent_ui_skill",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#create_business_agent_ui_skill\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a connector
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def delete_business_agent_connector(account_id, connector_id, opts = {})
      data, _status_code, _headers = delete_business_agent_connector_with_http_info(account_id, connector_id, opts)
      data
    end

    # Delete a connector
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def delete_business_agent_connector_with_http_info(account_id, connector_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.delete_business_agent_connector ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.delete_business_agent_connector"
      end
      # verify the required parameter 'connector_id' is set
      if @api_client.config.client_side_validation && connector_id.nil?
        fail ArgumentError, "Missing the required parameter 'connector_id' when calling BusinessAgentApi.delete_business_agent_connector"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors/{connectorId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'connectorId' + '}', CGI.escape(connector_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.delete_business_agent_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#delete_business_agent_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a connector tool
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param tool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def delete_business_agent_connector_tool(account_id, connector_id, tool_id, opts = {})
      data, _status_code, _headers = delete_business_agent_connector_tool_with_http_info(account_id, connector_id, tool_id, opts)
      data
    end

    # Delete a connector tool
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param tool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def delete_business_agent_connector_tool_with_http_info(account_id, connector_id, tool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.delete_business_agent_connector_tool ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.delete_business_agent_connector_tool"
      end
      # verify the required parameter 'connector_id' is set
      if @api_client.config.client_side_validation && connector_id.nil?
        fail ArgumentError, "Missing the required parameter 'connector_id' when calling BusinessAgentApi.delete_business_agent_connector_tool"
      end
      # verify the required parameter 'tool_id' is set
      if @api_client.config.client_side_validation && tool_id.nil?
        fail ArgumentError, "Missing the required parameter 'tool_id' when calling BusinessAgentApi.delete_business_agent_connector_tool"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors/{connectorId}/tools/{toolId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'connectorId' + '}', CGI.escape(connector_id.to_s)).sub('{' + 'toolId' + '}', CGI.escape(tool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.delete_business_agent_connector_tool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#delete_business_agent_connector_tool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a FAQ
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param faq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def delete_business_agent_faq(account_id, faq_id, opts = {})
      data, _status_code, _headers = delete_business_agent_faq_with_http_info(account_id, faq_id, opts)
      data
    end

    # Delete a FAQ
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param faq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def delete_business_agent_faq_with_http_info(account_id, faq_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.delete_business_agent_faq ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.delete_business_agent_faq"
      end
      # verify the required parameter 'faq_id' is set
      if @api_client.config.client_side_validation && faq_id.nil?
        fail ArgumentError, "Missing the required parameter 'faq_id' when calling BusinessAgentApi.delete_business_agent_faq"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/faqs/{faqId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'faqId' + '}', CGI.escape(faq_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.delete_business_agent_faq",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#delete_business_agent_faq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a knowledge file
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def delete_business_agent_file(account_id, file_id, opts = {})
      data, _status_code, _headers = delete_business_agent_file_with_http_info(account_id, file_id, opts)
      data
    end

    # Delete a knowledge file
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def delete_business_agent_file_with_http_info(account_id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.delete_business_agent_file ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.delete_business_agent_file"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling BusinessAgentApi.delete_business_agent_file"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/files/{fileId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.delete_business_agent_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#delete_business_agent_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a skill
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def delete_business_agent_skill(account_id, skill_id, opts = {})
      data, _status_code, _headers = delete_business_agent_skill_with_http_info(account_id, skill_id, opts)
      data
    end

    # Delete a skill
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def delete_business_agent_skill_with_http_info(account_id, skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.delete_business_agent_skill ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.delete_business_agent_skill"
      end
      # verify the required parameter 'skill_id' is set
      if @api_client.config.client_side_validation && skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'skill_id' when calling BusinessAgentApi.delete_business_agent_skill"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/skills/{skillId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'skillId' + '}', CGI.escape(skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.delete_business_agent_skill",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#delete_business_agent_skill\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a UI skill
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param ui_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def delete_business_agent_ui_skill(account_id, ui_skill_id, opts = {})
      data, _status_code, _headers = delete_business_agent_ui_skill_with_http_info(account_id, ui_skill_id, opts)
      data
    end

    # Delete a UI skill
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param ui_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def delete_business_agent_ui_skill_with_http_info(account_id, ui_skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.delete_business_agent_ui_skill ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.delete_business_agent_ui_skill"
      end
      # verify the required parameter 'ui_skill_id' is set
      if @api_client.config.client_side_validation && ui_skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'ui_skill_id' when calling BusinessAgentApi.delete_business_agent_ui_skill"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/ui-skills/{uiSkillId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'uiSkillId' + '}', CGI.escape(ui_skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.delete_business_agent_ui_skill",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#delete_business_agent_ui_skill\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a crawled website
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param website_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [InlineObject]
    def delete_business_agent_website(account_id, website_id, opts = {})
      data, _status_code, _headers = delete_business_agent_website_with_http_info(account_id, website_id, opts)
      data
    end

    # Remove a crawled website
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param website_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineObject, Integer, Hash)>] InlineObject data, response status code and response headers
    def delete_business_agent_website_with_http_info(account_id, website_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.delete_business_agent_website ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.delete_business_agent_website"
      end
      # verify the required parameter 'website_id' is set
      if @api_client.config.client_side_validation && website_id.nil?
        fail ArgumentError, "Missing the required parameter 'website_id' when calling BusinessAgentApi.delete_business_agent_website"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/websites/{websiteId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'websiteId' + '}', CGI.escape(website_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineObject'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.delete_business_agent_website",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#delete_business_agent_website\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get usage budgets
    # Caps over rolling windows for the Business Manager that owns the number. An empty list means unlimited.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [GetBusinessAgentBudget200Response]
    def get_business_agent_budget(account_id, opts = {})
      data, _status_code, _headers = get_business_agent_budget_with_http_info(account_id, opts)
      data
    end

    # Get usage budgets
    # Caps over rolling windows for the Business Manager that owns the number. An empty list means unlimited.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBusinessAgentBudget200Response, Integer, Hash)>] GetBusinessAgentBudget200Response data, response status code and response headers
    def get_business_agent_budget_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_budget ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_budget"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/budget'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBusinessAgentBudget200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_budget",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_budget\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business information
    # Payment methods, return policy, how to buy, shipping, description and contact details the agent answers from. Empty values until configured.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentBusinessInformation]
    def get_business_agent_business_information(account_id, opts = {})
      data, _status_code, _headers = get_business_agent_business_information_with_http_info(account_id, opts)
      data
    end

    # Get business information
    # Payment methods, return policy, how to buy, shipping, description and contact details the agent answers from. Empty values until configured.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentBusinessInformation, Integer, Hash)>] BusinessAgentBusinessInformation data, response status code and response headers
    def get_business_agent_business_information_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_business_information ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_business_information"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/business-information'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentBusinessInformation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_business_information",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_business_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a connector
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentConnector]
    def get_business_agent_connector(account_id, connector_id, opts = {})
      data, _status_code, _headers = get_business_agent_connector_with_http_info(account_id, connector_id, opts)
      data
    end

    # Get a connector
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentConnector, Integer, Hash)>] BusinessAgentConnector data, response status code and response headers
    def get_business_agent_connector_with_http_info(account_id, connector_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_connector ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_connector"
      end
      # verify the required parameter 'connector_id' is set
      if @api_client.config.client_side_validation && connector_id.nil?
        fail ArgumentError, "Missing the required parameter 'connector_id' when calling BusinessAgentApi.get_business_agent_connector"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors/{connectorId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'connectorId' + '}', CGI.escape(connector_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentConnector'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get connector failure logs
    # Third-party failures over the last 7 days (window at most 7 days, default the last 24 hours). Each entry carries `failure_code_name` and `error_message`.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_time Unix seconds.
    # @option opts [Integer] :end_time Unix seconds.
    # @option opts [Integer] :limit 
    # @option opts [String] :tool_id 
    # @option opts [Boolean] :include_stats Add success rate and latency percentiles.
    # @option opts [Boolean] :summary_only Aggregate failure patterns instead of entries.
    # @option opts [Integer] :top_n 
    # @return [GetBusinessAgentConnectorLogs200Response]
    def get_business_agent_connector_logs(account_id, connector_id, opts = {})
      data, _status_code, _headers = get_business_agent_connector_logs_with_http_info(account_id, connector_id, opts)
      data
    end

    # Get connector failure logs
    # Third-party failures over the last 7 days (window at most 7 days, default the last 24 hours). Each entry carries &#x60;failure_code_name&#x60; and &#x60;error_message&#x60;.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_time Unix seconds.
    # @option opts [Integer] :end_time Unix seconds.
    # @option opts [Integer] :limit 
    # @option opts [String] :tool_id 
    # @option opts [Boolean] :include_stats Add success rate and latency percentiles.
    # @option opts [Boolean] :summary_only Aggregate failure patterns instead of entries.
    # @option opts [Integer] :top_n 
    # @return [Array<(GetBusinessAgentConnectorLogs200Response, Integer, Hash)>] GetBusinessAgentConnectorLogs200Response data, response status code and response headers
    def get_business_agent_connector_logs_with_http_info(account_id, connector_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_connector_logs ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_connector_logs"
      end
      # verify the required parameter 'connector_id' is set
      if @api_client.config.client_side_validation && connector_id.nil?
        fail ArgumentError, "Missing the required parameter 'connector_id' when calling BusinessAgentApi.get_business_agent_connector_logs"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BusinessAgentApi.get_business_agent_connector_logs, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BusinessAgentApi.get_business_agent_connector_logs, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'top_n'].nil? && opts[:'top_n'] > 50
        fail ArgumentError, 'invalid value for "opts[:"top_n"]" when calling BusinessAgentApi.get_business_agent_connector_logs, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'top_n'].nil? && opts[:'top_n'] < 1
        fail ArgumentError, 'invalid value for "opts[:"top_n"]" when calling BusinessAgentApi.get_business_agent_connector_logs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors/{connectorId}/logs'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'connectorId' + '}', CGI.escape(connector_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'toolId'] = opts[:'tool_id'] if !opts[:'tool_id'].nil?
      query_params[:'includeStats'] = opts[:'include_stats'] if !opts[:'include_stats'].nil?
      query_params[:'summaryOnly'] = opts[:'summary_only'] if !opts[:'summary_only'].nil?
      query_params[:'topN'] = opts[:'top_n'] if !opts[:'top_n'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBusinessAgentConnectorLogs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_connector_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_connector_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a connector tool
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param tool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentConnectorTool]
    def get_business_agent_connector_tool(account_id, connector_id, tool_id, opts = {})
      data, _status_code, _headers = get_business_agent_connector_tool_with_http_info(account_id, connector_id, tool_id, opts)
      data
    end

    # Get a connector tool
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param tool_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentConnectorTool, Integer, Hash)>] BusinessAgentConnectorTool data, response status code and response headers
    def get_business_agent_connector_tool_with_http_info(account_id, connector_id, tool_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_connector_tool ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_connector_tool"
      end
      # verify the required parameter 'connector_id' is set
      if @api_client.config.client_side_validation && connector_id.nil?
        fail ArgumentError, "Missing the required parameter 'connector_id' when calling BusinessAgentApi.get_business_agent_connector_tool"
      end
      # verify the required parameter 'tool_id' is set
      if @api_client.config.client_side_validation && tool_id.nil?
        fail ArgumentError, "Missing the required parameter 'tool_id' when calling BusinessAgentApi.get_business_agent_connector_tool"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors/{connectorId}/tools/{toolId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'connectorId' + '}', CGI.escape(connector_id.to_s)).sub('{' + 'toolId' + '}', CGI.escape(tool_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentConnectorTool'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_connector_tool",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_connector_tool\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a business event status
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param event_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentEventStatus]
    def get_business_agent_event(account_id, event_id, opts = {})
      data, _status_code, _headers = get_business_agent_event_with_http_info(account_id, event_id, opts)
      data
    end

    # Get a business event status
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param event_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentEventStatus, Integer, Hash)>] BusinessAgentEventStatus data, response status code and response headers
    def get_business_agent_event_with_http_info(account_id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling BusinessAgentApi.get_business_agent_event"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/events/{eventId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'eventId' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentEventStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a FAQ
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param faq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentFaq]
    def get_business_agent_faq(account_id, faq_id, opts = {})
      data, _status_code, _headers = get_business_agent_faq_with_http_info(account_id, faq_id, opts)
      data
    end

    # Get a FAQ
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param faq_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentFaq, Integer, Hash)>] BusinessAgentFaq data, response status code and response headers
    def get_business_agent_faq_with_http_info(account_id, faq_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_faq ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_faq"
      end
      # verify the required parameter 'faq_id' is set
      if @api_client.config.client_side_validation && faq_id.nil?
        fail ArgumentError, "Missing the required parameter 'faq_id' when calling BusinessAgentApi.get_business_agent_faq"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/faqs/{faqId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'faqId' + '}', CGI.escape(faq_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentFaq'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_faq",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_faq\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a knowledge file
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentKnowledgeFile]
    def get_business_agent_file(account_id, file_id, opts = {})
      data, _status_code, _headers = get_business_agent_file_with_http_info(account_id, file_id, opts)
      data
    end

    # Get a knowledge file
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentKnowledgeFile, Integer, Hash)>] BusinessAgentKnowledgeFile data, response status code and response headers
    def get_business_agent_file_with_http_info(account_id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_file ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_file"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling BusinessAgentApi.get_business_agent_file"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/files/{fileId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentKnowledgeFile'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a skill
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentSkill]
    def get_business_agent_skill(account_id, skill_id, opts = {})
      data, _status_code, _headers = get_business_agent_skill_with_http_info(account_id, skill_id, opts)
      data
    end

    # Get a skill
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentSkill, Integer, Hash)>] BusinessAgentSkill data, response status code and response headers
    def get_business_agent_skill_with_http_info(account_id, skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_skill ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_skill"
      end
      # verify the required parameter 'skill_id' is set
      if @api_client.config.client_side_validation && skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'skill_id' when calling BusinessAgentApi.get_business_agent_skill"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/skills/{skillId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'skillId' + '}', CGI.escape(skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentSkill'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_skill",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_skill\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get agent setup status
    # One read that says where the merchant is: whether the number is eligible, whether the Meta Business Agent terms are accepted, whether an agent exists, whether it is on, and its settings. `manualSteps` lists what Zernio can verify is still pending (accepting the terms in WhatsApp Manager); `unverifiedSteps` lists what Meta exposes no state for (the payment method in Billing Hub). Never fails for those pre-setup states; it reports them as flags. 
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentStatus]
    def get_business_agent_status(account_id, opts = {})
      data, _status_code, _headers = get_business_agent_status_with_http_info(account_id, opts)
      data
    end

    # Get agent setup status
    # One read that says where the merchant is: whether the number is eligible, whether the Meta Business Agent terms are accepted, whether an agent exists, whether it is on, and its settings. &#x60;manualSteps&#x60; lists what Zernio can verify is still pending (accepting the terms in WhatsApp Manager); &#x60;unverifiedSteps&#x60; lists what Meta exposes no state for (the payment method in Billing Hub). Never fails for those pre-setup states; it reports them as flags. 
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentStatus, Integer, Hash)>] BusinessAgentStatus data, response status code and response headers
    def get_business_agent_status_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_status ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_status"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a UI skill
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param ui_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentUiSkill]
    def get_business_agent_ui_skill(account_id, ui_skill_id, opts = {})
      data, _status_code, _headers = get_business_agent_ui_skill_with_http_info(account_id, ui_skill_id, opts)
      data
    end

    # Get a UI skill
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param ui_skill_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentUiSkill, Integer, Hash)>] BusinessAgentUiSkill data, response status code and response headers
    def get_business_agent_ui_skill_with_http_info(account_id, ui_skill_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_ui_skill ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_ui_skill"
      end
      # verify the required parameter 'ui_skill_id' is set
      if @api_client.config.client_side_validation && ui_skill_id.nil?
        fail ArgumentError, "Missing the required parameter 'ui_skill_id' when calling BusinessAgentApi.get_business_agent_ui_skill"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/ui-skills/{uiSkillId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'uiSkillId' + '}', CGI.escape(ui_skill_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentUiSkill'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_ui_skill",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_ui_skill\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a crawled website
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param website_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [BusinessAgentWebsite]
    def get_business_agent_website(account_id, website_id, opts = {})
      data, _status_code, _headers = get_business_agent_website_with_http_info(account_id, website_id, opts)
      data
    end

    # Get a crawled website
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param website_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BusinessAgentWebsite, Integer, Hash)>] BusinessAgentWebsite data, response status code and response headers
    def get_business_agent_website_with_http_info(account_id, website_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.get_business_agent_website ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.get_business_agent_website"
      end
      # verify the required parameter 'website_id' is set
      if @api_client.config.client_side_validation && website_id.nil?
        fail ArgumentError, "Missing the required parameter 'website_id' when calling BusinessAgentApi.get_business_agent_website"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/websites/{websiteId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'websiteId' + '}', CGI.escape(website_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BusinessAgentWebsite'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.get_business_agent_website",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#get_business_agent_website\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List allowlisted consumers
    # Consumers the agent answers while `ai_audience` is ALLOWLISTED_ONLY.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [ListBusinessAgentAllowlist200Response]
    def list_business_agent_allowlist(account_id, opts = {})
      data, _status_code, _headers = list_business_agent_allowlist_with_http_info(account_id, opts)
      data
    end

    # List allowlisted consumers
    # Consumers the agent answers while &#x60;ai_audience&#x60; is ALLOWLISTED_ONLY.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBusinessAgentAllowlist200Response, Integer, Hash)>] ListBusinessAgentAllowlist200Response data, response status code and response headers
    def list_business_agent_allowlist_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.list_business_agent_allowlist ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.list_business_agent_allowlist"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/allowlist'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBusinessAgentAllowlist200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.list_business_agent_allowlist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#list_business_agent_allowlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List connector tools
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListBusinessAgentConnectorTools200Response]
    def list_business_agent_connector_tools(account_id, connector_id, opts = {})
      data, _status_code, _headers = list_business_agent_connector_tools_with_http_info(account_id, connector_id, opts)
      data
    end

    # List connector tools
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param connector_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBusinessAgentConnectorTools200Response, Integer, Hash)>] ListBusinessAgentConnectorTools200Response data, response status code and response headers
    def list_business_agent_connector_tools_with_http_info(account_id, connector_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.list_business_agent_connector_tools ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.list_business_agent_connector_tools"
      end
      # verify the required parameter 'connector_id' is set
      if @api_client.config.client_side_validation && connector_id.nil?
        fail ArgumentError, "Missing the required parameter 'connector_id' when calling BusinessAgentApi.list_business_agent_connector_tools"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors/{connectorId}/tools'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'connectorId' + '}', CGI.escape(connector_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBusinessAgentConnectorTools200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.list_business_agent_connector_tools",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BusinessAgentApi#list_business_agent_connector_tools\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List connectors
    # External APIs the agent may call. `connection_status` says whether Meta can currently reach each one.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [ListBusinessAgentConnectors200Response]
    def list_business_agent_connectors(account_id, opts = {})
      data, _status_code, _headers = list_business_agent_connectors_with_http_info(account_id, opts)
      data
    end

    # List connectors
    # External APIs the agent may call. &#x60;connection_status&#x60; says whether Meta can currently reach each one.
    # @param account_id [String] WhatsApp social account id (the number must be managed through the Cloud API).
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBusinessAgentConnectors200Response, Integer, Hash)>] ListBusinessAgentConnectors200Response data, response status code and response headers
    def list_business_agent_connectors_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BusinessAgentApi.list_business_agent_connectors ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BusinessAgentApi.list_business_agent_connectors"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/business-agent/connectors'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBusinessAgentConnectors200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BusinessAgentApi.list_business_agent_connectors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

[...]
