=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class CallsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a call (any channel)
    # Channel-agnostic call detail: works for both WhatsApp and regular phone (PSTN) calls, so any row from `GET /v1/calls` can be opened without branching on `channel`. Returns the full call including transcript segments, with `contactId`/`contactName` set when the counterparty matches a CRM contact. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetCall200Response]
    def get_call(id, opts = {})
      data, _status_code, _headers = get_call_with_http_info(id, opts)
      data
    end

    # Get a call (any channel)
    # Channel-agnostic call detail: works for both WhatsApp and regular phone (PSTN) calls, so any row from &#x60;GET /v1/calls&#x60; can be opened without branching on &#x60;channel&#x60;. Returns the full call including transcript segments, with &#x60;contactId&#x60;/&#x60;contactName&#x60; set when the counterparty matches a CRM contact. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCall200Response, Integer, Hash)>] GetCall200Response data, response status code and response headers
    def get_call_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallsApi.get_call ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallsApi.get_call"
      end
      # resource path
      local_var_path = '/v1/calls/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CallsApi.get_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallsApi#get_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a call recording (any channel)
    # Channel-agnostic recording fetch: resolves a fresh, playable MP3 URL for any call regardless of channel (provider-signed URLs expire ~10 minutes after signing, so this re-signs on demand). Default responds `302 Found` redirecting to the fresh URL; pass `as=json` to receive `{ url }` instead. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :as &#x60;json&#x60; returns &#x60;{ url }&#x60; instead of a 302 redirect.
    # @return [GetWhatsAppCallRecording200Response]
    def get_call_recording(id, opts = {})
      data, _status_code, _headers = get_call_recording_with_http_info(id, opts)
      data
    end

    # Get a call recording (any channel)
    # Channel-agnostic recording fetch: resolves a fresh, playable MP3 URL for any call regardless of channel (provider-signed URLs expire ~10 minutes after signing, so this re-signs on demand). Default responds &#x60;302 Found&#x60; redirecting to the fresh URL; pass &#x60;as&#x3D;json&#x60; to receive &#x60;{ url }&#x60; instead. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :as &#x60;json&#x60; returns &#x60;{ url }&#x60; instead of a 302 redirect.
    # @return [Array<(GetWhatsAppCallRecording200Response, Integer, Hash)>] GetWhatsAppCallRecording200Response data, response status code and response headers
    def get_call_recording_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallsApi.get_call_recording ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CallsApi.get_call_recording"
      end
      allowable_values = ["json"]
      if @api_client.config.client_side_validation && opts[:'as'] && !allowable_values.include?(opts[:'as'])
        fail ArgumentError, "invalid value for \"as\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/calls/{id}/recording'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'as'] = opts[:'as'] if !opts[:'as'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppCallRecording200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CallsApi.get_call_recording",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallsApi#get_call_recording\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all calls (unified history)
    # Unified call history across ALL of your numbers: both channels (WhatsApp Business Calling + regular phone/PSTN), inbound and outbound, newest first. Unlike `GET /v1/voice/calls` (PSTN-only) and `GET /v1/whatsapp/calls` (one account at a time), this endpoint needs no `accountId` and never requires fanning out one request per number.  Any row can be opened channel-agnostically via `GET /v1/calls/{id}` and `GET /v1/calls/{id}/recording`; no branching on `channel` needed. When the counterparty number matches a CRM contact, `contactId` and `contactName` are set.  Cursor pagination: pass the returned `nextCursor` as `before` to fetch the next page. `nextCursor` is null on the last page. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel 
    # @option opts [String] :status 
    # @option opts [String] :direction 
    # @option opts [String] :number Exact filter: calls involving this number (typically one of YOUR numbers, to scope history to a single line). E.164, leading + optional.
    # @option opts [String] :search Free-text match on the from/to numbers. Non-digits are stripped, so partial queries like &#x60;302&#x60; or &#x60;+1 302&#x60; work.
    # @option opts [Time] :before Return calls with startedAt strictly before this instant (use the previous page&#39;s nextCursor).
    # @option opts [Integer] :limit  (default to 50)
    # @return [ListCalls200Response]
    def list_calls(opts = {})
      data, _status_code, _headers = list_calls_with_http_info(opts)
      data
    end

    # List all calls (unified history)
    # Unified call history across ALL of your numbers: both channels (WhatsApp Business Calling + regular phone/PSTN), inbound and outbound, newest first. Unlike &#x60;GET /v1/voice/calls&#x60; (PSTN-only) and &#x60;GET /v1/whatsapp/calls&#x60; (one account at a time), this endpoint needs no &#x60;accountId&#x60; and never requires fanning out one request per number.  Any row can be opened channel-agnostically via &#x60;GET /v1/calls/{id}&#x60; and &#x60;GET /v1/calls/{id}/recording&#x60;; no branching on &#x60;channel&#x60; needed. When the counterparty number matches a CRM contact, &#x60;contactId&#x60; and &#x60;contactName&#x60; are set.  Cursor pagination: pass the returned &#x60;nextCursor&#x60; as &#x60;before&#x60; to fetch the next page. &#x60;nextCursor&#x60; is null on the last page. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel 
    # @option opts [String] :status 
    # @option opts [String] :direction 
    # @option opts [String] :number Exact filter: calls involving this number (typically one of YOUR numbers, to scope history to a single line). E.164, leading + optional.
    # @option opts [String] :search Free-text match on the from/to numbers. Non-digits are stripped, so partial queries like &#x60;302&#x60; or &#x60;+1 302&#x60; work.
    # @option opts [Time] :before Return calls with startedAt strictly before this instant (use the previous page&#39;s nextCursor).
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(ListCalls200Response, Integer, Hash)>] ListCalls200Response data, response status code and response headers
    def list_calls_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CallsApi.list_calls ...'
      end
      allowable_values = ["whatsapp", "pstn"]
      if @api_client.config.client_side_validation && opts[:'channel'] && !allowable_values.include?(opts[:'channel'])
        fail ArgumentError, "invalid value for \"channel\", must be one of #{allowable_values}"
      end
      allowable_values = ["ringing", "answered", "ended", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["inbound", "outbound"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CallsApi.list_calls, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling CallsApi.list_calls, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/calls'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'channel'] = opts[:'channel'] if !opts[:'channel'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCalls200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CallsApi.list_calls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CallsApi#list_calls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
