=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.245.0
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class ChangelogApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List API changelog entries
    # The API changelog, newest first. No API key needed; one address may make 120 requests a minute. Each entry is what the `api.changelog.published` webhook delivered: the announcement in `message`, and in `changes` the deterministic diff of the OpenAPI spec (operations and schemas added, removed and modified) for automation to act on. Page with `before` set to the previous page's `nextCursor`. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type Only entries of this type.
    # @option opts [String] :platform Only entries tagged with this platform or area slug (see &#x60;platforms&#x60; on the entry). One slug per request.
    # @option opts [Time] :before Only entries published strictly before this instant. Pass the previous page&#39;s &#x60;nextCursor&#x60;.
    # @option opts [Integer] :limit  (default to 20)
    # @return [ListChangelog200Response]
    def list_changelog(opts = {})
      data, _status_code, _headers = list_changelog_with_http_info(opts)
      data
    end

    # List API changelog entries
    # The API changelog, newest first. No API key needed; one address may make 120 requests a minute. Each entry is what the &#x60;api.changelog.published&#x60; webhook delivered: the announcement in &#x60;message&#x60;, and in &#x60;changes&#x60; the deterministic diff of the OpenAPI spec (operations and schemas added, removed and modified) for automation to act on. Page with &#x60;before&#x60; set to the previous page&#39;s &#x60;nextCursor&#x60;. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type Only entries of this type.
    # @option opts [String] :platform Only entries tagged with this platform or area slug (see &#x60;platforms&#x60; on the entry). One slug per request.
    # @option opts [Time] :before Only entries published strictly before this instant. Pass the previous page&#39;s &#x60;nextCursor&#x60;.
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(ListChangelog200Response, Integer, Hash)>] ListChangelog200Response data, response status code and response headers
    def list_changelog_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChangelogApi.list_changelog ...'
      end
      allowable_values = ["new_feature", "breaking_change", "improvement", "deprecation", "minor"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      pattern = Regexp.new(/^[a-z0-9-]+$/)
      if @api_client.config.client_side_validation && !opts[:'platform'].nil? && opts[:'platform'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"platform\"]' when calling ChangelogApi.list_changelog, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ChangelogApi.list_changelog, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ChangelogApi.list_changelog, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/changelog'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListChangelog200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ChangelogApi.list_changelog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChangelogApi#list_changelog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
