=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.160.0
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class CommerceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add codes to a discount
    # Adds up to 250 more codes to a code discount, for example one per influencer. The platform adds them in the background. Needs discounts.codes, which WooCommerce stores do not have. 
    # @param discount_id [String] Platform-native id.
    # @param add_commerce_discount_codes_request [AddCommerceDiscountCodesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ReorderCommerceProductImages200Response]
    def add_commerce_discount_codes(discount_id, add_commerce_discount_codes_request, opts = {})
      data, _status_code, _headers = add_commerce_discount_codes_with_http_info(discount_id, add_commerce_discount_codes_request, opts)
      data
    end

    # Add codes to a discount
    # Adds up to 250 more codes to a code discount, for example one per influencer. The platform adds them in the background. Needs discounts.codes, which WooCommerce stores do not have. 
    # @param discount_id [String] Platform-native id.
    # @param add_commerce_discount_codes_request [AddCommerceDiscountCodesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReorderCommerceProductImages200Response, Integer, Hash)>] ReorderCommerceProductImages200Response data, response status code and response headers
    def add_commerce_discount_codes_with_http_info(discount_id, add_commerce_discount_codes_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.add_commerce_discount_codes ...'
      end
      # verify the required parameter 'discount_id' is set
      if @api_client.config.client_side_validation && discount_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_id' when calling CommerceApi.add_commerce_discount_codes"
      end
      # verify the required parameter 'add_commerce_discount_codes_request' is set
      if @api_client.config.client_side_validation && add_commerce_discount_codes_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_commerce_discount_codes_request' when calling CommerceApi.add_commerce_discount_codes"
      end
      # resource path
      local_var_path = '/v1/commerce/discounts/{discountId}/codes'.sub('{' + 'discountId' + '}', CGI.escape(discount_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_commerce_discount_codes_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReorderCommerceProductImages200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.add_commerce_discount_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#add_commerce_discount_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Report daily engagement
    # Reports one day's numbers for an activity (UTC day), shown next to it in the store's Marketing section. 
    # @param remote_id [String] The remoteId given when recording it.
    # @param add_commerce_marketing_engagement_request [AddCommerceMarketingEngagementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddCommerceMarketingEngagement201Response]
    def add_commerce_marketing_engagement(remote_id, add_commerce_marketing_engagement_request, opts = {})
      data, _status_code, _headers = add_commerce_marketing_engagement_with_http_info(remote_id, add_commerce_marketing_engagement_request, opts)
      data
    end

    # Report daily engagement
    # Reports one day&#39;s numbers for an activity (UTC day), shown next to it in the store&#39;s Marketing section. 
    # @param remote_id [String] The remoteId given when recording it.
    # @param add_commerce_marketing_engagement_request [AddCommerceMarketingEngagementRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddCommerceMarketingEngagement201Response, Integer, Hash)>] AddCommerceMarketingEngagement201Response data, response status code and response headers
    def add_commerce_marketing_engagement_with_http_info(remote_id, add_commerce_marketing_engagement_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.add_commerce_marketing_engagement ...'
      end
      # verify the required parameter 'remote_id' is set
      if @api_client.config.client_side_validation && remote_id.nil?
        fail ArgumentError, "Missing the required parameter 'remote_id' when calling CommerceApi.add_commerce_marketing_engagement"
      end
      # verify the required parameter 'add_commerce_marketing_engagement_request' is set
      if @api_client.config.client_side_validation && add_commerce_marketing_engagement_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_commerce_marketing_engagement_request' when calling CommerceApi.add_commerce_marketing_engagement"
      end
      # resource path
      local_var_path = '/v1/commerce/marketing-activities/{remoteId}/engagements'.sub('{' + 'remoteId' + '}', CGI.escape(remote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_commerce_marketing_engagement_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddCommerceMarketingEngagement201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.add_commerce_marketing_engagement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#add_commerce_marketing_engagement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add images
    # Adds images from public URLs. The platform fetches them, so they can appear on the product a few seconds after the call returns. 
    # @param product_id [String] Platform-native id.
    # @param add_commerce_product_images_request [AddCommerceProductImagesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceProduct201Response]
    def add_commerce_product_images(product_id, add_commerce_product_images_request, opts = {})
      data, _status_code, _headers = add_commerce_product_images_with_http_info(product_id, add_commerce_product_images_request, opts)
      data
    end

    # Add images
    # Adds images from public URLs. The platform fetches them, so they can appear on the product a few seconds after the call returns. 
    # @param product_id [String] Platform-native id.
    # @param add_commerce_product_images_request [AddCommerceProductImagesRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceProduct201Response, Integer, Hash)>] CreateCommerceProduct201Response data, response status code and response headers
    def add_commerce_product_images_with_http_info(product_id, add_commerce_product_images_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.add_commerce_product_images ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CommerceApi.add_commerce_product_images"
      end
      # verify the required parameter 'add_commerce_product_images_request' is set
      if @api_client.config.client_side_validation && add_commerce_product_images_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_commerce_product_images_request' when calling CommerceApi.add_commerce_product_images"
      end
      # resource path
      local_var_path = '/v1/commerce/products/{productId}/images'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_commerce_product_images_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceProduct201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.add_commerce_product_images",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#add_commerce_product_images\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish or unpublish a collection
    # Publishes to and/or unpublishes from sales channels (the online store, Shop, POS and others). List channels with GET /v1/commerce/channels. 
    # @param collection_id [String] Platform-native id.
    # @param change_commerce_product_channels_request [ChangeCommerceProductChannelsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ChangeCommerceCollectionChannels200Response]
    def change_commerce_collection_channels(collection_id, change_commerce_product_channels_request, opts = {})
      data, _status_code, _headers = change_commerce_collection_channels_with_http_info(collection_id, change_commerce_product_channels_request, opts)
      data
    end

    # Publish or unpublish a collection
    # Publishes to and/or unpublishes from sales channels (the online store, Shop, POS and others). List channels with GET /v1/commerce/channels. 
    # @param collection_id [String] Platform-native id.
    # @param change_commerce_product_channels_request [ChangeCommerceProductChannelsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChangeCommerceCollectionChannels200Response, Integer, Hash)>] ChangeCommerceCollectionChannels200Response data, response status code and response headers
    def change_commerce_collection_channels_with_http_info(collection_id, change_commerce_product_channels_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.change_commerce_collection_channels ...'
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling CommerceApi.change_commerce_collection_channels"
      end
      # verify the required parameter 'change_commerce_product_channels_request' is set
      if @api_client.config.client_side_validation && change_commerce_product_channels_request.nil?
        fail ArgumentError, "Missing the required parameter 'change_commerce_product_channels_request' when calling CommerceApi.change_commerce_collection_channels"
      end
      # resource path
      local_var_path = '/v1/commerce/collections/{collectionId}/channels'.sub('{' + 'collectionId' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_commerce_product_channels_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChangeCommerceCollectionChannels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.change_commerce_collection_channels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#change_commerce_collection_channels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add or remove products in a collection
    # Adds and/or removes hand-picked products. Products a collection includes through its own rules are not affected. `pending` is true when the platform finishes the change in the background; the product count then catches up a few seconds later. 
    # @param collection_id [String] Platform-native collection id.
    # @param change_commerce_collection_products_request [ChangeCommerceCollectionProductsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ChangeCommerceCollectionProducts200Response]
    def change_commerce_collection_products(collection_id, change_commerce_collection_products_request, opts = {})
      data, _status_code, _headers = change_commerce_collection_products_with_http_info(collection_id, change_commerce_collection_products_request, opts)
      data
    end

    # Add or remove products in a collection
    # Adds and/or removes hand-picked products. Products a collection includes through its own rules are not affected. &#x60;pending&#x60; is true when the platform finishes the change in the background; the product count then catches up a few seconds later. 
    # @param collection_id [String] Platform-native collection id.
    # @param change_commerce_collection_products_request [ChangeCommerceCollectionProductsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChangeCommerceCollectionProducts200Response, Integer, Hash)>] ChangeCommerceCollectionProducts200Response data, response status code and response headers
    def change_commerce_collection_products_with_http_info(collection_id, change_commerce_collection_products_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.change_commerce_collection_products ...'
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling CommerceApi.change_commerce_collection_products"
      end
      # verify the required parameter 'change_commerce_collection_products_request' is set
      if @api_client.config.client_side_validation && change_commerce_collection_products_request.nil?
        fail ArgumentError, "Missing the required parameter 'change_commerce_collection_products_request' when calling CommerceApi.change_commerce_collection_products"
      end
      # resource path
      local_var_path = '/v1/commerce/collections/{collectionId}/products'.sub('{' + 'collectionId' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_commerce_collection_products_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChangeCommerceCollectionProducts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.change_commerce_collection_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#change_commerce_collection_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set or adjust stock
    # `set` makes `quantity` the new available count; `adjust` adds `quantity` (negative to subtract). The variant must be stocked at the location. Answers the product's stock after the change. 
    # @param product_id [String] Platform-native id.
    # @param change_commerce_inventory_request [ChangeCommerceInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListCommerceInventory200Response]
    def change_commerce_inventory(product_id, change_commerce_inventory_request, opts = {})
      data, _status_code, _headers = change_commerce_inventory_with_http_info(product_id, change_commerce_inventory_request, opts)
      data
    end

    # Set or adjust stock
    # &#x60;set&#x60; makes &#x60;quantity&#x60; the new available count; &#x60;adjust&#x60; adds &#x60;quantity&#x60; (negative to subtract). The variant must be stocked at the location. Answers the product&#39;s stock after the change. 
    # @param product_id [String] Platform-native id.
    # @param change_commerce_inventory_request [ChangeCommerceInventoryRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCommerceInventory200Response, Integer, Hash)>] ListCommerceInventory200Response data, response status code and response headers
    def change_commerce_inventory_with_http_info(product_id, change_commerce_inventory_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.change_commerce_inventory ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CommerceApi.change_commerce_inventory"
      end
      # verify the required parameter 'change_commerce_inventory_request' is set
      if @api_client.config.client_side_validation && change_commerce_inventory_request.nil?
        fail ArgumentError, "Missing the required parameter 'change_commerce_inventory_request' when calling CommerceApi.change_commerce_inventory"
      end
      # resource path
      local_var_path = '/v1/commerce/products/{productId}/inventory'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_commerce_inventory_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListCommerceInventory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.change_commerce_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#change_commerce_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish or unpublish a product
    # Publishes to and/or unpublishes from sales channels (the online store, Shop, POS and others). List channels with GET /v1/commerce/channels. 
    # @param product_id [String] Platform-native id.
    # @param change_commerce_product_channels_request [ChangeCommerceProductChannelsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ChangeCommerceProductChannels200Response]
    def change_commerce_product_channels(product_id, change_commerce_product_channels_request, opts = {})
      data, _status_code, _headers = change_commerce_product_channels_with_http_info(product_id, change_commerce_product_channels_request, opts)
      data
    end

    # Publish or unpublish a product
    # Publishes to and/or unpublishes from sales channels (the online store, Shop, POS and others). List channels with GET /v1/commerce/channels. 
    # @param product_id [String] Platform-native id.
    # @param change_commerce_product_channels_request [ChangeCommerceProductChannelsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChangeCommerceProductChannels200Response, Integer, Hash)>] ChangeCommerceProductChannels200Response data, response status code and response headers
    def change_commerce_product_channels_with_http_info(product_id, change_commerce_product_channels_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.change_commerce_product_channels ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CommerceApi.change_commerce_product_channels"
      end
      # verify the required parameter 'change_commerce_product_channels_request' is set
      if @api_client.config.client_side_validation && change_commerce_product_channels_request.nil?
        fail ArgumentError, "Missing the required parameter 'change_commerce_product_channels_request' when calling CommerceApi.change_commerce_product_channels"
      end
      # resource path
      local_var_path = '/v1/commerce/products/{productId}/channels'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_commerce_product_channels_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChangeCommerceProductChannels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.change_commerce_product_channels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#change_commerce_product_channels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Activate, deactivate, archive or delete products
    # Applies one action to up to 50 products and reports each product's outcome, so one failure does not abort the rest. On Shopify, `deactivate` sets the product to draft and `delete` is permanent. 
    # @param change_commerce_product_state_request [ChangeCommerceProductStateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ChangeCommerceProductState200Response]
    def change_commerce_product_state(change_commerce_product_state_request, opts = {})
      data, _status_code, _headers = change_commerce_product_state_with_http_info(change_commerce_product_state_request, opts)
      data
    end

    # Activate, deactivate, archive or delete products
    # Applies one action to up to 50 products and reports each product&#39;s outcome, so one failure does not abort the rest. On Shopify, &#x60;deactivate&#x60; sets the product to draft and &#x60;delete&#x60; is permanent. 
    # @param change_commerce_product_state_request [ChangeCommerceProductStateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChangeCommerceProductState200Response, Integer, Hash)>] ChangeCommerceProductState200Response data, response status code and response headers
    def change_commerce_product_state_with_http_info(change_commerce_product_state_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.change_commerce_product_state ...'
      end
      # verify the required parameter 'change_commerce_product_state_request' is set
      if @api_client.config.client_side_validation && change_commerce_product_state_request.nil?
        fail ArgumentError, "Missing the required parameter 'change_commerce_product_state_request' when calling CommerceApi.change_commerce_product_state"
      end
      # resource path
      local_var_path = '/v1/commerce/products/state'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_commerce_product_state_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChangeCommerceProductState200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.change_commerce_product_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#change_commerce_product_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add or remove tags in bulk
    # Adds and/or removes tags on up to 50 products and reports each product's outcome. 
    # @param change_commerce_product_tags_request [ChangeCommerceProductTagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ChangeCommerceProductTags200Response]
    def change_commerce_product_tags(change_commerce_product_tags_request, opts = {})
      data, _status_code, _headers = change_commerce_product_tags_with_http_info(change_commerce_product_tags_request, opts)
      data
    end

    # Add or remove tags in bulk
    # Adds and/or removes tags on up to 50 products and reports each product&#39;s outcome. 
    # @param change_commerce_product_tags_request [ChangeCommerceProductTagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChangeCommerceProductTags200Response, Integer, Hash)>] ChangeCommerceProductTags200Response data, response status code and response headers
    def change_commerce_product_tags_with_http_info(change_commerce_product_tags_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.change_commerce_product_tags ...'
      end
      # verify the required parameter 'change_commerce_product_tags_request' is set
      if @api_client.config.client_side_validation && change_commerce_product_tags_request.nil?
        fail ArgumentError, "Missing the required parameter 'change_commerce_product_tags_request' when calling CommerceApi.change_commerce_product_tags"
      end
      # resource path
      local_var_path = '/v1/commerce/products/tags'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(change_commerce_product_tags_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ChangeCommerceProductTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.change_commerce_product_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#change_commerce_product_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync a store into a Meta catalog
    # Keeps a Meta product catalog in sync with the store, for catalog ads (`goal: catalog_sales`) and Shops. The first full run starts right away in the background; `runStatus` and the item counts report its outcome. Every active product variant that is published to the online store and has an image becomes a catalog item, grouped by product (`item_group_id`). After that, product changes on the store update the catalog within minutes, and a daily full run removes items for products or variants the store no longer has. Items are namespaced to the store, so a catalog can take several stores and a run never touches items it did not create.  `catalogAccountId` is a connected facebook, instagram or metaads account whose Meta login can manage the catalog (the catalog_management permission); find catalogs with `GET /v1/ads/catalogs`. 
    # @param create_commerce_catalog_sync_request [CreateCommerceCatalogSyncRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceCatalogSync202Response]
    def create_commerce_catalog_sync(create_commerce_catalog_sync_request, opts = {})
      data, _status_code, _headers = create_commerce_catalog_sync_with_http_info(create_commerce_catalog_sync_request, opts)
      data
    end

    # Sync a store into a Meta catalog
    # Keeps a Meta product catalog in sync with the store, for catalog ads (&#x60;goal: catalog_sales&#x60;) and Shops. The first full run starts right away in the background; &#x60;runStatus&#x60; and the item counts report its outcome. Every active product variant that is published to the online store and has an image becomes a catalog item, grouped by product (&#x60;item_group_id&#x60;). After that, product changes on the store update the catalog within minutes, and a daily full run removes items for products or variants the store no longer has. Items are namespaced to the store, so a catalog can take several stores and a run never touches items it did not create.  &#x60;catalogAccountId&#x60; is a connected facebook, instagram or metaads account whose Meta login can manage the catalog (the catalog_management permission); find catalogs with &#x60;GET /v1/ads/catalogs&#x60;. 
    # @param create_commerce_catalog_sync_request [CreateCommerceCatalogSyncRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceCatalogSync202Response, Integer, Hash)>] CreateCommerceCatalogSync202Response data, response status code and response headers
    def create_commerce_catalog_sync_with_http_info(create_commerce_catalog_sync_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_catalog_sync ...'
      end
      # verify the required parameter 'create_commerce_catalog_sync_request' is set
      if @api_client.config.client_side_validation && create_commerce_catalog_sync_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_catalog_sync_request' when calling CommerceApi.create_commerce_catalog_sync"
      end
      # resource path
      local_var_path = '/v1/commerce/catalog-syncs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_catalog_sync_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceCatalogSync202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_catalog_sync",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_catalog_sync\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a collection
    # Creates a collection, optionally with hand-picked products. On Shopify the collection starts unpublished from the online store; publish it from the Shopify admin. 
    # @param create_commerce_collection_request [CreateCommerceCollectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceCollection201Response]
    def create_commerce_collection(create_commerce_collection_request, opts = {})
      data, _status_code, _headers = create_commerce_collection_with_http_info(create_commerce_collection_request, opts)
      data
    end

    # Create a collection
    # Creates a collection, optionally with hand-picked products. On Shopify the collection starts unpublished from the online store; publish it from the Shopify admin. 
    # @param create_commerce_collection_request [CreateCommerceCollectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceCollection201Response, Integer, Hash)>] CreateCommerceCollection201Response data, response status code and response headers
    def create_commerce_collection_with_http_info(create_commerce_collection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_collection ...'
      end
      # verify the required parameter 'create_commerce_collection_request' is set
      if @api_client.config.client_side_validation && create_commerce_collection_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_collection_request' when calling CommerceApi.create_commerce_collection"
      end
      # resource path
      local_var_path = '/v1/commerce/collections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_collection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceCollection201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a discount
    # Creates a code discount (buyers enter a code) or an automatic one (applied at checkout), as a percentage, a fixed amount or free shipping. It applies to every product unless productIds or collectionIds narrow it, and to every buyer. 
    # @param create_commerce_discount_request [CreateCommerceDiscountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceDiscount201Response]
    def create_commerce_discount(create_commerce_discount_request, opts = {})
      data, _status_code, _headers = create_commerce_discount_with_http_info(create_commerce_discount_request, opts)
      data
    end

    # Create a discount
    # Creates a code discount (buyers enter a code) or an automatic one (applied at checkout), as a percentage, a fixed amount or free shipping. It applies to every product unless productIds or collectionIds narrow it, and to every buyer. 
    # @param create_commerce_discount_request [CreateCommerceDiscountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceDiscount201Response, Integer, Hash)>] CreateCommerceDiscount201Response data, response status code and response headers
    def create_commerce_discount_with_http_info(create_commerce_discount_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_discount ...'
      end
      # verify the required parameter 'create_commerce_discount_request' is set
      if @api_client.config.client_side_validation && create_commerce_discount_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_discount_request' when calling CommerceApi.create_commerce_discount"
      end
      # resource path
      local_var_path = '/v1/commerce/discounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_discount_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceDiscount201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_discount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_discount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a navigation menu
    # Creates a navigation menu from `title`, `handle` and up to 100 `items`, and returns it with status 201. Shopify only. Needs navigation.write.
    # @param create_commerce_menu_request [CreateCommerceMenuRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceMenu201Response]
    def create_commerce_menu(create_commerce_menu_request, opts = {})
      data, _status_code, _headers = create_commerce_menu_with_http_info(create_commerce_menu_request, opts)
      data
    end

    # Create a navigation menu
    # Creates a navigation menu from &#x60;title&#x60;, &#x60;handle&#x60; and up to 100 &#x60;items&#x60;, and returns it with status 201. Shopify only. Needs navigation.write.
    # @param create_commerce_menu_request [CreateCommerceMenuRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceMenu201Response, Integer, Hash)>] CreateCommerceMenu201Response data, response status code and response headers
    def create_commerce_menu_with_http_info(create_commerce_menu_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_menu ...'
      end
      # verify the required parameter 'create_commerce_menu_request' is set
      if @api_client.config.client_side_validation && create_commerce_menu_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_menu_request' when calling CommerceApi.create_commerce_menu"
      end
      # resource path
      local_var_path = '/v1/commerce/menus'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_menu_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceMenu201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_menu",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_menu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a metaobject
    # Creates a metaobject of `type` with its `fields` (key and string value, up to 100) and an optional `handle`, and returns it with status 201. Shopify only. Needs metaobjects.write.
    # @param create_commerce_metaobject_request [CreateCommerceMetaobjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceMetaobject201Response]
    def create_commerce_metaobject(create_commerce_metaobject_request, opts = {})
      data, _status_code, _headers = create_commerce_metaobject_with_http_info(create_commerce_metaobject_request, opts)
      data
    end

    # Create a metaobject
    # Creates a metaobject of &#x60;type&#x60; with its &#x60;fields&#x60; (key and string value, up to 100) and an optional &#x60;handle&#x60;, and returns it with status 201. Shopify only. Needs metaobjects.write.
    # @param create_commerce_metaobject_request [CreateCommerceMetaobjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceMetaobject201Response, Integer, Hash)>] CreateCommerceMetaobject201Response data, response status code and response headers
    def create_commerce_metaobject_with_http_info(create_commerce_metaobject_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_metaobject ...'
      end
      # verify the required parameter 'create_commerce_metaobject_request' is set
      if @api_client.config.client_side_validation && create_commerce_metaobject_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_metaobject_request' when calling CommerceApi.create_commerce_metaobject"
      end
      # resource path
      local_var_path = '/v1/commerce/metaobjects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_metaobject_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceMetaobject201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_metaobject",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_metaobject\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a page
    # Creates a content page from `title`, optional `handle`, `bodyHtml` and `isPublished`, and returns it with status 201. Needs pages.write.
    # @param create_commerce_page_request [CreateCommercePageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommercePage201Response]
    def create_commerce_page(create_commerce_page_request, opts = {})
      data, _status_code, _headers = create_commerce_page_with_http_info(create_commerce_page_request, opts)
      data
    end

    # Create a page
    # Creates a content page from &#x60;title&#x60;, optional &#x60;handle&#x60;, &#x60;bodyHtml&#x60; and &#x60;isPublished&#x60;, and returns it with status 201. Needs pages.write.
    # @param create_commerce_page_request [CreateCommercePageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommercePage201Response, Integer, Hash)>] CreateCommercePage201Response data, response status code and response headers
    def create_commerce_page_with_http_info(create_commerce_page_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_page ...'
      end
      # verify the required parameter 'create_commerce_page_request' is set
      if @api_client.config.client_side_validation && create_commerce_page_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_page_request' when calling CommerceApi.create_commerce_page"
      end
      # resource path
      local_var_path = '/v1/commerce/pages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_page_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommercePage201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a product
    # Creates a product with its options and variants. `status` defaults to `draft`: no platform offers a sandbox for product writes, so nothing goes on sale unless you ask for `active`. A product without `options` has exactly one variant. Images are fetched by the platform from the given URLs and may appear on the product a few seconds later. 
    # @param create_commerce_product_request [CreateCommerceProductRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceProduct201Response]
    def create_commerce_product(create_commerce_product_request, opts = {})
      data, _status_code, _headers = create_commerce_product_with_http_info(create_commerce_product_request, opts)
      data
    end

    # Create a product
    # Creates a product with its options and variants. &#x60;status&#x60; defaults to &#x60;draft&#x60;: no platform offers a sandbox for product writes, so nothing goes on sale unless you ask for &#x60;active&#x60;. A product without &#x60;options&#x60; has exactly one variant. Images are fetched by the platform from the given URLs and may appear on the product a few seconds later. 
    # @param create_commerce_product_request [CreateCommerceProductRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceProduct201Response, Integer, Hash)>] CreateCommerceProduct201Response data, response status code and response headers
    def create_commerce_product_with_http_info(create_commerce_product_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_product ...'
      end
      # verify the required parameter 'create_commerce_product_request' is set
      if @api_client.config.client_side_validation && create_commerce_product_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_product_request' when calling CommerceApi.create_commerce_product"
      end
      # resource path
      local_var_path = '/v1/commerce/products'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_product_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceProduct201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add options
    # Adds option axes (e.g. Size, Color) and their values. With createVariants true the platform creates a variant for every new combination; otherwise existing variants take the first value. 
    # @param product_id [String] Platform-native id.
    # @param create_commerce_product_options_request [CreateCommerceProductOptionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceProduct201Response]
    def create_commerce_product_options(product_id, create_commerce_product_options_request, opts = {})
      data, _status_code, _headers = create_commerce_product_options_with_http_info(product_id, create_commerce_product_options_request, opts)
      data
    end

    # Add options
    # Adds option axes (e.g. Size, Color) and their values. With createVariants true the platform creates a variant for every new combination; otherwise existing variants take the first value. 
    # @param product_id [String] Platform-native id.
    # @param create_commerce_product_options_request [CreateCommerceProductOptionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceProduct201Response, Integer, Hash)>] CreateCommerceProduct201Response data, response status code and response headers
    def create_commerce_product_options_with_http_info(product_id, create_commerce_product_options_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_product_options ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CommerceApi.create_commerce_product_options"
      end
      # verify the required parameter 'create_commerce_product_options_request' is set
      if @api_client.config.client_side_validation && create_commerce_product_options_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_product_options_request' when calling CommerceApi.create_commerce_product_options"
      end
      # resource path
      local_var_path = '/v1/commerce/products/{productId}/options'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_product_options_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceProduct201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_product_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_product_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add variants
    # Adds variants to a product. Each variant names a value for every product option (create options first with POST .../options). A product's placeholder default variant is replaced when real ones arrive. 
    # @param product_id [String] Platform-native id.
    # @param create_commerce_product_variants_request [CreateCommerceProductVariantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceProduct201Response]
    def create_commerce_product_variants(product_id, create_commerce_product_variants_request, opts = {})
      data, _status_code, _headers = create_commerce_product_variants_with_http_info(product_id, create_commerce_product_variants_request, opts)
      data
    end

    # Add variants
    # Adds variants to a product. Each variant names a value for every product option (create options first with POST .../options). A product&#39;s placeholder default variant is replaced when real ones arrive. 
    # @param product_id [String] Platform-native id.
    # @param create_commerce_product_variants_request [CreateCommerceProductVariantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceProduct201Response, Integer, Hash)>] CreateCommerceProduct201Response data, response status code and response headers
    def create_commerce_product_variants_with_http_info(product_id, create_commerce_product_variants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_product_variants ...'
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling CommerceApi.create_commerce_product_variants"
      end
      # verify the required parameter 'create_commerce_product_variants_request' is set
      if @api_client.config.client_side_validation && create_commerce_product_variants_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_product_variants_request' when calling CommerceApi.create_commerce_product_variants"
      end
      # resource path
      local_var_path = '/v1/commerce/products/{productId}/variants'.sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_product_variants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceProduct201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_product_variants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_product_variants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a URL redirect
    # Creates a redirect from `path` (starting with `/`) to `target` (a path or a full URL) and returns it with status 201. Shopify only. Needs navigation.write.
    # @param create_commerce_redirect_request [CreateCommerceRedirectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommerceRedirect201Response]
    def create_commerce_redirect(create_commerce_redirect_request, opts = {})
      data, _status_code, _headers = create_commerce_redirect_with_http_info(create_commerce_redirect_request, opts)
      data
    end

    # Create a URL redirect
    # Creates a redirect from &#x60;path&#x60; (starting with &#x60;/&#x60;) to &#x60;target&#x60; (a path or a full URL) and returns it with status 201. Shopify only. Needs navigation.write.
    # @param create_commerce_redirect_request [CreateCommerceRedirectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommerceRedirect201Response, Integer, Hash)>] CreateCommerceRedirect201Response data, response status code and response headers
    def create_commerce_redirect_with_http_info(create_commerce_redirect_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.create_commerce_redirect ...'
      end
      # verify the required parameter 'create_commerce_redirect_request' is set
      if @api_client.config.client_side_validation && create_commerce_redirect_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_commerce_redirect_request' when calling CommerceApi.create_commerce_redirect"
      end
      # resource path
      local_var_path = '/v1/commerce/redirects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_commerce_redirect_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommerceRedirect201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.create_commerce_redirect",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#create_commerce_redirect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop a catalog sync
    # Stops syncing. Items already in the catalog stay there.
    # @param sync_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommerceCatalogSync200Response]
    def delete_commerce_catalog_sync(sync_id, opts = {})
      data, _status_code, _headers = delete_commerce_catalog_sync_with_http_info(sync_id, opts)
      data
    end

    # Stop a catalog sync
    # Stops syncing. Items already in the catalog stay there.
    # @param sync_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommerceCatalogSync200Response, Integer, Hash)>] DeleteCommerceCatalogSync200Response data, response status code and response headers
    def delete_commerce_catalog_sync_with_http_info(sync_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_catalog_sync ...'
      end
      # verify the required parameter 'sync_id' is set
      if @api_client.config.client_side_validation && sync_id.nil?
        fail ArgumentError, "Missing the required parameter 'sync_id' when calling CommerceApi.delete_commerce_catalog_sync"
      end
      # resource path
      local_var_path = '/v1/commerce/catalog-syncs/{syncId}'.sub('{' + 'syncId' + '}', CGI.escape(sync_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommerceCatalogSync200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.delete_commerce_catalog_sync",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#delete_commerce_catalog_sync\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a collection
    # Deletes the collection. Its products are not affected.
    # @param collection_id [String] Platform-native collection id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommerceCollection200Response]
    def delete_commerce_collection(collection_id, account_id, opts = {})
      data, _status_code, _headers = delete_commerce_collection_with_http_info(collection_id, account_id, opts)
      data
    end

    # Delete a collection
    # Deletes the collection. Its products are not affected.
    # @param collection_id [String] Platform-native collection id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommerceCollection200Response, Integer, Hash)>] DeleteCommerceCollection200Response data, response status code and response headers
    def delete_commerce_collection_with_http_info(collection_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_collection ...'
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling CommerceApi.delete_commerce_collection"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommerceApi.delete_commerce_collection"
      end
      # resource path
      local_var_path = '/v1/commerce/collections/{collectionId}'.sub('{' + 'collectionId' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommerceCollection200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.delete_commerce_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#delete_commerce_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete collection metafields
    # Deletes the collection metafields named in `keys` (comma-separated `namespace.key`, up to 25). Needs collections.metafields: WooCommerce answers 400 platform_not_supported.
    # @param collection_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param keys [String] Comma-separated namespace.key pairs.
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommerceProductMetafields200Response]
    def delete_commerce_collection_metafields(collection_id, account_id, keys, opts = {})
      data, _status_code, _headers = delete_commerce_collection_metafields_with_http_info(collection_id, account_id, keys, opts)
      data
    end

    # Delete collection metafields
    # Deletes the collection metafields named in &#x60;keys&#x60; (comma-separated &#x60;namespace.key&#x60;, up to 25). Needs collections.metafields: WooCommerce answers 400 platform_not_supported.
    # @param collection_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param keys [String] Comma-separated namespace.key pairs.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommerceProductMetafields200Response, Integer, Hash)>] DeleteCommerceProductMetafields200Response data, response status code and response headers
    def delete_commerce_collection_metafields_with_http_info(collection_id, account_id, keys, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_collection_metafields ...'
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling CommerceApi.delete_commerce_collection_metafields"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommerceApi.delete_commerce_collection_metafields"
      end
      # verify the required parameter 'keys' is set
      if @api_client.config.client_side_validation && keys.nil?
        fail ArgumentError, "Missing the required parameter 'keys' when calling CommerceApi.delete_commerce_collection_metafields"
      end
      # resource path
      local_var_path = '/v1/commerce/collections/{collectionId}/metafields'.sub('{' + 'collectionId' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'keys'] = keys

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommerceProductMetafields200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.delete_commerce_collection_metafields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#delete_commerce_collection_metafields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a discount
    # Deletes the discount; its codes stop working at checkout. This cannot be undone. Needs discounts.write.
    # @param discount_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommerceDiscount200Response]
    def delete_commerce_discount(discount_id, account_id, opts = {})
      data, _status_code, _headers = delete_commerce_discount_with_http_info(discount_id, account_id, opts)
      data
    end

    # Delete a discount
    # Deletes the discount; its codes stop working at checkout. This cannot be undone. Needs discounts.write.
    # @param discount_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommerceDiscount200Response, Integer, Hash)>] DeleteCommerceDiscount200Response data, response status code and response headers
    def delete_commerce_discount_with_http_info(discount_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_discount ...'
      end
      # verify the required parameter 'discount_id' is set
      if @api_client.config.client_side_validation && discount_id.nil?
        fail ArgumentError, "Missing the required parameter 'discount_id' when calling CommerceApi.delete_commerce_discount"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommerceApi.delete_commerce_discount"
      end
      # resource path
      local_var_path = '/v1/commerce/discounts/{discountId}'.sub('{' + 'discountId' + '}', CGI.escape(discount_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommerceDiscount200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.delete_commerce_discount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#delete_commerce_discount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a marketing activity
    # Deletes the marketing activity you created with PUT /v1/commerce/marketing-activities, identified by the `remoteId` you gave it. Shopify only. Needs marketing.write.
    # @param remote_id [String] The remoteId given when recording it.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommerceMarketingActivity200Response]
    def delete_commerce_marketing_activity(remote_id, account_id, opts = {})
      data, _status_code, _headers = delete_commerce_marketing_activity_with_http_info(remote_id, account_id, opts)
      data
    end

    # Delete a marketing activity
    # Deletes the marketing activity you created with PUT /v1/commerce/marketing-activities, identified by the &#x60;remoteId&#x60; you gave it. Shopify only. Needs marketing.write.
    # @param remote_id [String] The remoteId given when recording it.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommerceMarketingActivity200Response, Integer, Hash)>] DeleteCommerceMarketingActivity200Response data, response status code and response headers
    def delete_commerce_marketing_activity_with_http_info(remote_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_marketing_activity ...'
      end
      # verify the required parameter 'remote_id' is set
      if @api_client.config.client_side_validation && remote_id.nil?
        fail ArgumentError, "Missing the required parameter 'remote_id' when calling CommerceApi.delete_commerce_marketing_activity"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommerceApi.delete_commerce_marketing_activity"
      end
      # resource path
      local_var_path = '/v1/commerce/marketing-activities/{remoteId}'.sub('{' + 'remoteId' + '}', CGI.escape(remote_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommerceMarketingActivity200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.delete_commerce_marketing_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#delete_commerce_marketing_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a navigation menu
    # Deletes the navigation menu. Shopify only. Needs navigation.write.
    # @param menu_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommerceMenu200Response]
    def delete_commerce_menu(menu_id, account_id, opts = {})
      data, _status_code, _headers = delete_commerce_menu_with_http_info(menu_id, account_id, opts)
      data
    end

    # Delete a navigation menu
    # Deletes the navigation menu. Shopify only. Needs navigation.write.
    # @param menu_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommerceMenu200Response, Integer, Hash)>] DeleteCommerceMenu200Response data, response status code and response headers
    def delete_commerce_menu_with_http_info(menu_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_menu ...'
      end
      # verify the required parameter 'menu_id' is set
      if @api_client.config.client_side_validation && menu_id.nil?
        fail ArgumentError, "Missing the required parameter 'menu_id' when calling CommerceApi.delete_commerce_menu"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommerceApi.delete_commerce_menu"
      end
      # resource path
      local_var_path = '/v1/commerce/menus/{menuId}'.sub('{' + 'menuId' + '}', CGI.escape(menu_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommerceMenu200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.delete_commerce_menu",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#delete_commerce_menu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a metaobject
    # Deletes the metaobject. References to it from metafields stop resolving. Shopify only. Needs metaobjects.write.
    # @param metaobject_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommerceMetaobject200Response]
    def delete_commerce_metaobject(metaobject_id, account_id, opts = {})
      data, _status_code, _headers = delete_commerce_metaobject_with_http_info(metaobject_id, account_id, opts)
      data
    end

    # Delete a metaobject
    # Deletes the metaobject. References to it from metafields stop resolving. Shopify only. Needs metaobjects.write.
    # @param metaobject_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommerceMetaobject200Response, Integer, Hash)>] DeleteCommerceMetaobject200Response data, response status code and response headers
    def delete_commerce_metaobject_with_http_info(metaobject_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_metaobject ...'
      end
      # verify the required parameter 'metaobject_id' is set
      if @api_client.config.client_side_validation && metaobject_id.nil?
        fail ArgumentError, "Missing the required parameter 'metaobject_id' when calling CommerceApi.delete_commerce_metaobject"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommerceApi.delete_commerce_metaobject"
      end
      # resource path
      local_var_path = '/v1/commerce/metaobjects/{metaobjectId}'.sub('{' + 'metaobjectId' + '}', CGI.escape(metaobject_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommerceMetaobject200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.delete_commerce_metaobject",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#delete_commerce_metaobject\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a page
    # Deletes the page from the store. This cannot be undone. Needs pages.write.
    # @param page_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommercePage200Response]
    def delete_commerce_page(page_id, account_id, opts = {})
      data, _status_code, _headers = delete_commerce_page_with_http_info(page_id, account_id, opts)
      data
    end

    # Delete a page
    # Deletes the page from the store. This cannot be undone. Needs pages.write.
    # @param page_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommercePage200Response, Integer, Hash)>] DeleteCommercePage200Response data, response status code and response headers
    def delete_commerce_page_with_http_info(page_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_page ...'
      end
      # verify the required parameter 'page_id' is set
      if @api_client.config.client_side_validation && page_id.nil?
        fail ArgumentError, "Missing the required parameter 'page_id' when calling CommerceApi.delete_commerce_page"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommerceApi.delete_commerce_page"
      end
      # resource path
      local_var_path = '/v1/commerce/pages/{pageId}'.sub('{' + 'pageId' + '}', CGI.escape(page_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteCommercePage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommerceApi.delete_commerce_page",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommerceApi#delete_commerce_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove fixed prices
    # The variants go back to the market's converted price. 
    # @param price_list_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param variant_ids [String] Comma-separated ids.
    # @param [Hash] opts the optional parameters
    # @return [DeleteCommercePriceListPrices200Response]
    def delete_commerce_price_list_prices(price_list_id, account_id, variant_ids, opts = {})
      data, _status_code, _headers = delete_commerce_price_list_prices_with_http_info(price_list_id, account_id, variant_ids, opts)
      data
    end

    # Remove fixed prices
    # The variants go back to the market&#39;s converted price. 
    # @param price_list_id [String] Platform-native id.
    # @param account_id [String] Connected store SocialAccount id.
    # @param variant_ids [String] Comma-separated ids.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteCommercePriceListPrices200Response, Integer, Hash)>] DeleteCommercePriceListPrices200Response data, response status code and response headers
    def delete_commerce_price_list_prices_with_http_info(price_list_id, account_id, variant_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommerceApi.delete_commerce_price_list_prices ...'
      end
      # verify the required parameter 'price_list_id' is set
      if @api_client.config.client_side_validation && price_list_id.nil?
        fail ArgumentError, "Missing the required parameter 'price_list_id' when calling CommerceApi.delete_commerce_price_list_prices"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CommerceApi.delete_commerce_price_list_prices"
      end
      # verify the required parameter 'variant_ids' is set
      if @api_client.config.client_side_validation && variant_ids.nil?
[...]
