=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class CommentAutomationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create comment-to-DM automation
    # Create a keyword-triggered DM automation on an Instagram or Facebook account. When someone comments a matching keyword, they automatically receive a DM.  Two modes:   * **Per-post** — set `platformPostId` to scope the automation to one specific post.     Only one active per-post automation is allowed per post.   * **Account-wide (\"any post\")** — omit `platformPostId` (and `postId`). The automation     evaluates every comment on every post on the account. You can stack unlimited     account-wide automations, each with its own keyword set, and they all run     independently. Per-post automations take priority on their post. 
    # @param create_comment_automation_request [CreateCommentAutomationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCommentAutomation200Response]
    def create_comment_automation(create_comment_automation_request, opts = {})
      data, _status_code, _headers = create_comment_automation_with_http_info(create_comment_automation_request, opts)
      data
    end

    # Create comment-to-DM automation
    # Create a keyword-triggered DM automation on an Instagram or Facebook account. When someone comments a matching keyword, they automatically receive a DM.  Two modes:   * **Per-post** — set &#x60;platformPostId&#x60; to scope the automation to one specific post.     Only one active per-post automation is allowed per post.   * **Account-wide (\&quot;any post\&quot;)** — omit &#x60;platformPostId&#x60; (and &#x60;postId&#x60;). The automation     evaluates every comment on every post on the account. You can stack unlimited     account-wide automations, each with its own keyword set, and they all run     independently. Per-post automations take priority on their post. 
    # @param create_comment_automation_request [CreateCommentAutomationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCommentAutomation200Response, Integer, Hash)>] CreateCommentAutomation200Response data, response status code and response headers
    def create_comment_automation_with_http_info(create_comment_automation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentAutomationsApi.create_comment_automation ...'
      end
      # verify the required parameter 'create_comment_automation_request' is set
      if @api_client.config.client_side_validation && create_comment_automation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_comment_automation_request' when calling CommentAutomationsApi.create_comment_automation"
      end
      # resource path
      local_var_path = '/v1/comment-automations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_comment_automation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCommentAutomation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentAutomationsApi.create_comment_automation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentAutomationsApi#create_comment_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete automation
    # Permanently delete an automation and all its trigger logs.
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_comment_automation(automation_id, opts = {})
      delete_comment_automation_with_http_info(automation_id, opts)
      nil
    end

    # Delete automation
    # Permanently delete an automation and all its trigger logs.
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_comment_automation_with_http_info(automation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentAutomationsApi.delete_comment_automation ...'
      end
      # verify the required parameter 'automation_id' is set
      if @api_client.config.client_side_validation && automation_id.nil?
        fail ArgumentError, "Missing the required parameter 'automation_id' when calling CommentAutomationsApi.delete_comment_automation"
      end
      # resource path
      local_var_path = '/v1/comment-automations/{automationId}'.sub('{' + 'automationId' + '}', CGI.escape(automation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentAutomationsApi.delete_comment_automation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentAutomationsApi#delete_comment_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get automation details
    # Returns an automation with its configuration, stats, and recent trigger logs.
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetCommentAutomation200Response]
    def get_comment_automation(automation_id, opts = {})
      data, _status_code, _headers = get_comment_automation_with_http_info(automation_id, opts)
      data
    end

    # Get automation details
    # Returns an automation with its configuration, stats, and recent trigger logs.
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCommentAutomation200Response, Integer, Hash)>] GetCommentAutomation200Response data, response status code and response headers
    def get_comment_automation_with_http_info(automation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentAutomationsApi.get_comment_automation ...'
      end
      # verify the required parameter 'automation_id' is set
      if @api_client.config.client_side_validation && automation_id.nil?
        fail ArgumentError, "Missing the required parameter 'automation_id' when calling CommentAutomationsApi.get_comment_automation"
      end
      # resource path
      local_var_path = '/v1/comment-automations/{automationId}'.sub('{' + 'automationId' + '}', CGI.escape(automation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCommentAutomation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentAutomationsApi.get_comment_automation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentAutomationsApi#get_comment_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List automation logs
    # Paginated list of every comment that triggered this automation, with send status and commenter info.
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by result status
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListCommentAutomationLogs200Response]
    def list_comment_automation_logs(automation_id, opts = {})
      data, _status_code, _headers = list_comment_automation_logs_with_http_info(automation_id, opts)
      data
    end

    # List automation logs
    # Paginated list of every comment that triggered this automation, with send status and commenter info.
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by result status
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListCommentAutomationLogs200Response, Integer, Hash)>] ListCommentAutomationLogs200Response data, response status code and response headers
    def list_comment_automation_logs_with_http_info(automation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentAutomationsApi.list_comment_automation_logs ...'
      end
      # verify the required parameter 'automation_id' is set
      if @api_client.config.client_side_validation && automation_id.nil?
        fail ArgumentError, "Missing the required parameter 'automation_id' when calling CommentAutomationsApi.list_comment_automation_logs"
      end
      allowable_values = ["sent", "failed", "skipped"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/comment-automations/{automationId}/logs'.sub('{' + 'automationId' + '}', CGI.escape(automation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCommentAutomationLogs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentAutomationsApi.list_comment_automation_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentAutomationsApi#list_comment_automation_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List comment-to-DM automations
    # List all comment-to-DM automations for a profile. Returns automations with their stats.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @return [ListCommentAutomations200Response]
    def list_comment_automations(opts = {})
      data, _status_code, _headers = list_comment_automations_with_http_info(opts)
      data
    end

    # List comment-to-DM automations
    # List all comment-to-DM automations for a profile. Returns automations with their stats.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @return [Array<(ListCommentAutomations200Response, Integer, Hash)>] ListCommentAutomations200Response data, response status code and response headers
    def list_comment_automations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentAutomationsApi.list_comment_automations ...'
      end
      # resource path
      local_var_path = '/v1/comment-automations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCommentAutomations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentAutomationsApi.list_comment_automations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentAutomationsApi#list_comment_automations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update automation settings
    # Update an automation's keywords, DM message, comment reply, or active status.
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateCommentAutomationRequest] :update_comment_automation_request 
    # @return [UpdateCommentAutomation200Response]
    def update_comment_automation(automation_id, opts = {})
      data, _status_code, _headers = update_comment_automation_with_http_info(automation_id, opts)
      data
    end

    # Update automation settings
    # Update an automation&#39;s keywords, DM message, comment reply, or active status.
    # @param automation_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateCommentAutomationRequest] :update_comment_automation_request 
    # @return [Array<(UpdateCommentAutomation200Response, Integer, Hash)>] UpdateCommentAutomation200Response data, response status code and response headers
    def update_comment_automation_with_http_info(automation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentAutomationsApi.update_comment_automation ...'
      end
      # verify the required parameter 'automation_id' is set
      if @api_client.config.client_side_validation && automation_id.nil?
        fail ArgumentError, "Missing the required parameter 'automation_id' when calling CommentAutomationsApi.update_comment_automation"
      end
      # resource path
      local_var_path = '/v1/comment-automations/{automationId}'.sub('{' + 'automationId' + '}', CGI.escape(automation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_comment_automation_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateCommentAutomation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CommentAutomationsApi.update_comment_automation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentAutomationsApi#update_comment_automation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
