=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class CustomFieldsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clear custom field value
    # Remove a custom field value from a contact. The field definition is not affected.
    # @param contact_id [String] 
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def clear_contact_field_value(contact_id, slug, opts = {})
      clear_contact_field_value_with_http_info(contact_id, slug, opts)
      nil
    end

    # Clear custom field value
    # Remove a custom field value from a contact. The field definition is not affected.
    # @param contact_id [String] 
    # @param slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def clear_contact_field_value_with_http_info(contact_id, slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsApi.clear_contact_field_value ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling CustomFieldsApi.clear_contact_field_value"
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling CustomFieldsApi.clear_contact_field_value"
      end
      # resource path
      local_var_path = '/v1/contacts/{contactId}/fields/{slug}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsApi.clear_contact_field_value",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsApi#clear_contact_field_value\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create custom field
    # Create a new custom field definition. Supported types are text, number, date, boolean, and select.
    # @param create_custom_field_request [CreateCustomFieldRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCustomField200Response]
    def create_custom_field(create_custom_field_request, opts = {})
      data, _status_code, _headers = create_custom_field_with_http_info(create_custom_field_request, opts)
      data
    end

    # Create custom field
    # Create a new custom field definition. Supported types are text, number, date, boolean, and select.
    # @param create_custom_field_request [CreateCustomFieldRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCustomField200Response, Integer, Hash)>] CreateCustomField200Response data, response status code and response headers
    def create_custom_field_with_http_info(create_custom_field_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsApi.create_custom_field ...'
      end
      # verify the required parameter 'create_custom_field_request' is set
      if @api_client.config.client_side_validation && create_custom_field_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_custom_field_request' when calling CustomFieldsApi.create_custom_field"
      end
      # resource path
      local_var_path = '/v1/custom-fields'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_custom_field_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCustomField200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsApi.create_custom_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsApi#create_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete custom field
    # Delete a custom field definition and remove its values from all contacts.
    # @param field_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_custom_field(field_id, opts = {})
      delete_custom_field_with_http_info(field_id, opts)
      nil
    end

    # Delete custom field
    # Delete a custom field definition and remove its values from all contacts.
    # @param field_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_custom_field_with_http_info(field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsApi.delete_custom_field ...'
      end
      # verify the required parameter 'field_id' is set
      if @api_client.config.client_side_validation && field_id.nil?
        fail ArgumentError, "Missing the required parameter 'field_id' when calling CustomFieldsApi.delete_custom_field"
      end
      # resource path
      local_var_path = '/v1/custom-fields/{fieldId}'.sub('{' + 'fieldId' + '}', CGI.escape(field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsApi.delete_custom_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsApi#delete_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List custom field definitions
    # Returns all custom field definitions. Optionally filter by profile.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @return [ListCustomFields200Response]
    def list_custom_fields(opts = {})
      data, _status_code, _headers = list_custom_fields_with_http_info(opts)
      data
    end

    # List custom field definitions
    # Returns all custom field definitions. Optionally filter by profile.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @return [Array<(ListCustomFields200Response, Integer, Hash)>] ListCustomFields200Response data, response status code and response headers
    def list_custom_fields_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsApi.list_custom_fields ...'
      end
      # resource path
      local_var_path = '/v1/custom-fields'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCustomFields200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsApi.list_custom_fields",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsApi#list_custom_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set custom field value
    # Set or overwrite a custom field value on a contact. The value type must match the field definition.
    # @param contact_id [String] 
    # @param slug [String] 
    # @param set_contact_field_value_request [SetContactFieldValueRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_contact_field_value(contact_id, slug, set_contact_field_value_request, opts = {})
      set_contact_field_value_with_http_info(contact_id, slug, set_contact_field_value_request, opts)
      nil
    end

    # Set custom field value
    # Set or overwrite a custom field value on a contact. The value type must match the field definition.
    # @param contact_id [String] 
    # @param slug [String] 
    # @param set_contact_field_value_request [SetContactFieldValueRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_contact_field_value_with_http_info(contact_id, slug, set_contact_field_value_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsApi.set_contact_field_value ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling CustomFieldsApi.set_contact_field_value"
      end
      # verify the required parameter 'slug' is set
      if @api_client.config.client_side_validation && slug.nil?
        fail ArgumentError, "Missing the required parameter 'slug' when calling CustomFieldsApi.set_contact_field_value"
      end
      # verify the required parameter 'set_contact_field_value_request' is set
      if @api_client.config.client_side_validation && set_contact_field_value_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_contact_field_value_request' when calling CustomFieldsApi.set_contact_field_value"
      end
      # resource path
      local_var_path = '/v1/contacts/{contactId}/fields/{slug}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s)).sub('{' + 'slug' + '}', CGI.escape(slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_contact_field_value_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsApi.set_contact_field_value",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsApi#set_contact_field_value\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update custom field
    # Update a custom field definition. The field type cannot be changed after creation.
    # @param field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateCustomFieldRequest] :update_custom_field_request 
    # @return [UpdateCustomField200Response]
    def update_custom_field(field_id, opts = {})
      data, _status_code, _headers = update_custom_field_with_http_info(field_id, opts)
      data
    end

    # Update custom field
    # Update a custom field definition. The field type cannot be changed after creation.
    # @param field_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateCustomFieldRequest] :update_custom_field_request 
    # @return [Array<(UpdateCustomField200Response, Integer, Hash)>] UpdateCustomField200Response data, response status code and response headers
    def update_custom_field_with_http_info(field_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomFieldsApi.update_custom_field ...'
      end
      # verify the required parameter 'field_id' is set
      if @api_client.config.client_side_validation && field_id.nil?
        fail ArgumentError, "Missing the required parameter 'field_id' when calling CustomFieldsApi.update_custom_field"
      end
      # resource path
      local_var_path = '/v1/custom-fields/{fieldId}'.sub('{' + 'fieldId' + '}', CGI.escape(field_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_custom_field_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateCustomField200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"CustomFieldsApi.update_custom_field",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomFieldsApi#update_custom_field\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
