=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class DiscordApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List Discord guild channels
    # Returns the text, announcement, and forum channels in the connected Discord guild. Use this to discover available channels when switching the connected channel via PATCH /v1/accounts/{accountId}/discord-settings.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetDiscordChannels200Response]
    def get_discord_channels(account_id, opts = {})
      data, _status_code, _headers = get_discord_channels_with_http_info(account_id, opts)
      data
    end

    # List Discord guild channels
    # Returns the text, announcement, and forum channels in the connected Discord guild. Use this to discover available channels when switching the connected channel via PATCH /v1/accounts/{accountId}/discord-settings.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDiscordChannels200Response, Integer, Hash)>] GetDiscordChannels200Response data, response status code and response headers
    def get_discord_channels_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscordApi.get_discord_channels ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DiscordApi.get_discord_channels"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/discord-channels'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDiscordChannels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DiscordApi.get_discord_channels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscordApi#get_discord_channels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Discord account settings
    # Returns the current Discord account settings including webhook identity (display name and avatar), connected channel, and guild information.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetDiscordSettings200Response]
    def get_discord_settings(account_id, opts = {})
      data, _status_code, _headers = get_discord_settings_with_http_info(account_id, opts)
      data
    end

    # Get Discord account settings
    # Returns the current Discord account settings including webhook identity (display name and avatar), connected channel, and guild information.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDiscordSettings200Response, Integer, Hash)>] GetDiscordSettings200Response data, response status code and response headers
    def get_discord_settings_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscordApi.get_discord_settings ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DiscordApi.get_discord_settings"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/discord-settings'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDiscordSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DiscordApi.get_discord_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscordApi#get_discord_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Discord settings
    # Update Discord account settings. Supports two operations (can be combined):  1. **Webhook identity** - Set the default display name and avatar that appear as the message author on every post. These are account-level defaults; individual posts can override them via platformSpecificData.webhookUsername / webhookAvatarUrl.  2. **Switch channel** - Move the connection to a different channel in the same guild. A new webhook is automatically created in the target channel. 
    # @param account_id [String] 
    # @param update_discord_settings_request [UpdateDiscordSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateDiscordSettings200Response]
    def update_discord_settings(account_id, update_discord_settings_request, opts = {})
      data, _status_code, _headers = update_discord_settings_with_http_info(account_id, update_discord_settings_request, opts)
      data
    end

    # Update Discord settings
    # Update Discord account settings. Supports two operations (can be combined):  1. **Webhook identity** - Set the default display name and avatar that appear as the message author on every post. These are account-level defaults; individual posts can override them via platformSpecificData.webhookUsername / webhookAvatarUrl.  2. **Switch channel** - Move the connection to a different channel in the same guild. A new webhook is automatically created in the target channel. 
    # @param account_id [String] 
    # @param update_discord_settings_request [UpdateDiscordSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateDiscordSettings200Response, Integer, Hash)>] UpdateDiscordSettings200Response data, response status code and response headers
    def update_discord_settings_with_http_info(account_id, update_discord_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DiscordApi.update_discord_settings ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DiscordApi.update_discord_settings"
      end
      # verify the required parameter 'update_discord_settings_request' is set
      if @api_client.config.client_side_validation && update_discord_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_discord_settings_request' when calling DiscordApi.update_discord_settings"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/discord-settings'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_discord_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateDiscordSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"DiscordApi.update_discord_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscordApi#update_discord_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
