=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.177.0
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class FeedbackApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Submit feedback
    # Report a bug, a missing feature or a documentation gap. Every submission is read by the Zernio team. Designed for AI agents: when a call fails in a way that looks like our bug, or the API lacks something you need, send one structured report here.  Include `endpoint` and `requestId` (the `x-request-id` response header of the failing call) when you have them; they let us find the exact request.  Submitting the same `summary` again within 24 hours is idempotent: it returns the original `id` with `duplicate: true` and a `200`. Each API user can file at most 20 submissions per 24 hours. 
    # @param submit_feedback_request [SubmitFeedbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FeedbackReceipt]
    def submit_feedback(submit_feedback_request, opts = {})
      data, _status_code, _headers = submit_feedback_with_http_info(submit_feedback_request, opts)
      data
    end

    # Submit feedback
    # Report a bug, a missing feature or a documentation gap. Every submission is read by the Zernio team. Designed for AI agents: when a call fails in a way that looks like our bug, or the API lacks something you need, send one structured report here.  Include &#x60;endpoint&#x60; and &#x60;requestId&#x60; (the &#x60;x-request-id&#x60; response header of the failing call) when you have them; they let us find the exact request.  Submitting the same &#x60;summary&#x60; again within 24 hours is idempotent: it returns the original &#x60;id&#x60; with &#x60;duplicate: true&#x60; and a &#x60;200&#x60;. Each API user can file at most 20 submissions per 24 hours. 
    # @param submit_feedback_request [SubmitFeedbackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FeedbackReceipt, Integer, Hash)>] FeedbackReceipt data, response status code and response headers
    def submit_feedback_with_http_info(submit_feedback_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FeedbackApi.submit_feedback ...'
      end
      # verify the required parameter 'submit_feedback_request' is set
      if @api_client.config.client_side_validation && submit_feedback_request.nil?
        fail ArgumentError, "Missing the required parameter 'submit_feedback_request' when calling FeedbackApi.submit_feedback"
      end
      # resource path
      local_var_path = '/v1/feedback'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submit_feedback_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FeedbackReceipt'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"FeedbackApi.submit_feedback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FeedbackApi#submit_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
