=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class GMBVerificationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Complete a verification
    # Completes a PENDING verification by submitting the PIN/code Google sent the business (postcard code, SMS PIN, etc.). On success the verification moves to COMPLETED.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param verification_id [String] The last segment of a verification &#x60;name&#x60; from GET /gmb-verifications.
    # @param complete_google_business_verification_request [CompleteGoogleBusinessVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location.
    # @return [StartGoogleBusinessVerification200Response]
    def complete_google_business_verification(account_id, verification_id, complete_google_business_verification_request, opts = {})
      data, _status_code, _headers = complete_google_business_verification_with_http_info(account_id, verification_id, complete_google_business_verification_request, opts)
      data
    end

    # Complete a verification
    # Completes a PENDING verification by submitting the PIN/code Google sent the business (postcard code, SMS PIN, etc.). On success the verification moves to COMPLETED.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param verification_id [String] The last segment of a verification &#x60;name&#x60; from GET /gmb-verifications.
    # @param complete_google_business_verification_request [CompleteGoogleBusinessVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location.
    # @return [Array<(StartGoogleBusinessVerification200Response, Integer, Hash)>] StartGoogleBusinessVerification200Response data, response status code and response headers
    def complete_google_business_verification_with_http_info(account_id, verification_id, complete_google_business_verification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBVerificationsApi.complete_google_business_verification ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBVerificationsApi.complete_google_business_verification"
      end
      # verify the required parameter 'verification_id' is set
      if @api_client.config.client_side_validation && verification_id.nil?
        fail ArgumentError, "Missing the required parameter 'verification_id' when calling GMBVerificationsApi.complete_google_business_verification"
      end
      # verify the required parameter 'complete_google_business_verification_request' is set
      if @api_client.config.client_side_validation && complete_google_business_verification_request.nil?
        fail ArgumentError, "Missing the required parameter 'complete_google_business_verification_request' when calling GMBVerificationsApi.complete_google_business_verification"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-verifications/{verificationId}/complete'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'verificationId' + '}', CGI.escape(verification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(complete_google_business_verification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StartGoogleBusinessVerification200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBVerificationsApi.complete_google_business_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBVerificationsApi#complete_google_business_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch verification options
    # Reports the verification methods Google currently offers for the location. Non-mutating (nothing is sent to the business). `languageCode` is required; service-area (\"CUSTOMER_LOCATION_ONLY\") businesses also require `context.address`, otherwise Google returns 400.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param fetch_google_business_verification_options_request [FetchGoogleBusinessVerificationOptionsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location.
    # @return [FetchGoogleBusinessVerificationOptions200Response]
    def fetch_google_business_verification_options(account_id, fetch_google_business_verification_options_request, opts = {})
      data, _status_code, _headers = fetch_google_business_verification_options_with_http_info(account_id, fetch_google_business_verification_options_request, opts)
      data
    end

    # Fetch verification options
    # Reports the verification methods Google currently offers for the location. Non-mutating (nothing is sent to the business). &#x60;languageCode&#x60; is required; service-area (\&quot;CUSTOMER_LOCATION_ONLY\&quot;) businesses also require &#x60;context.address&#x60;, otherwise Google returns 400.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param fetch_google_business_verification_options_request [FetchGoogleBusinessVerificationOptionsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location.
    # @return [Array<(FetchGoogleBusinessVerificationOptions200Response, Integer, Hash)>] FetchGoogleBusinessVerificationOptions200Response data, response status code and response headers
    def fetch_google_business_verification_options_with_http_info(account_id, fetch_google_business_verification_options_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBVerificationsApi.fetch_google_business_verification_options ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBVerificationsApi.fetch_google_business_verification_options"
      end
      # verify the required parameter 'fetch_google_business_verification_options_request' is set
      if @api_client.config.client_side_validation && fetch_google_business_verification_options_request.nil?
        fail ArgumentError, "Missing the required parameter 'fetch_google_business_verification_options_request' when calling GMBVerificationsApi.fetch_google_business_verification_options"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-verifications/options'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fetch_google_business_verification_options_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FetchGoogleBusinessVerificationOptions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBVerificationsApi.fetch_google_business_verification_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBVerificationsApi#fetch_google_business_verification_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get verification state
    # Returns the location's Voice of Merchant state plus its verification history. `voiceOfMerchantState.hasVoiceOfMerchant` tells you whether the listing is verified and published; when it is false, `verify` reports whether a verification is already pending. Each entry in `verifications` has a `state` of PENDING, COMPLETED, or FAILED.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [GetGoogleBusinessVerifications200Response]
    def get_google_business_verifications(account_id, opts = {})
      data, _status_code, _headers = get_google_business_verifications_with_http_info(account_id, opts)
      data
    end

    # Get verification state
    # Returns the location&#39;s Voice of Merchant state plus its verification history. &#x60;voiceOfMerchantState.hasVoiceOfMerchant&#x60; tells you whether the listing is verified and published; when it is false, &#x60;verify&#x60; reports whether a verification is already pending. Each entry in &#x60;verifications&#x60; has a &#x60;state&#x60; of PENDING, COMPLETED, or FAILED.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [Array<(GetGoogleBusinessVerifications200Response, Integer, Hash)>] GetGoogleBusinessVerifications200Response data, response status code and response headers
    def get_google_business_verifications_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBVerificationsApi.get_google_business_verifications ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBVerificationsApi.get_google_business_verifications"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-verifications'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessVerifications200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBVerificationsApi.get_google_business_verifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBVerificationsApi#get_google_business_verifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a verification
    # Starts a verification for the location. This is a mutating action: depending on `method`, Google mails a postcard, places a call, or sends an SMS/email to the business. Submit the resulting code with POST /gmb-verifications/{verificationId}/complete. Use POST /gmb-verifications/options first to discover which methods are eligible.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param start_google_business_verification_request [StartGoogleBusinessVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location.
    # @return [StartGoogleBusinessVerification200Response]
    def start_google_business_verification(account_id, start_google_business_verification_request, opts = {})
      data, _status_code, _headers = start_google_business_verification_with_http_info(account_id, start_google_business_verification_request, opts)
      data
    end

    # Start a verification
    # Starts a verification for the location. This is a mutating action: depending on &#x60;method&#x60;, Google mails a postcard, places a call, or sends an SMS/email to the business. Submit the resulting code with POST /gmb-verifications/{verificationId}/complete. Use POST /gmb-verifications/options first to discover which methods are eligible.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param start_google_business_verification_request [StartGoogleBusinessVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location.
    # @return [Array<(StartGoogleBusinessVerification200Response, Integer, Hash)>] StartGoogleBusinessVerification200Response data, response status code and response headers
    def start_google_business_verification_with_http_info(account_id, start_google_business_verification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBVerificationsApi.start_google_business_verification ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBVerificationsApi.start_google_business_verification"
      end
      # verify the required parameter 'start_google_business_verification_request' is set
      if @api_client.config.client_side_validation && start_google_business_verification_request.nil?
        fail ArgumentError, "Missing the required parameter 'start_google_business_verification_request' when calling GMBVerificationsApi.start_google_business_verification"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-verifications'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(start_google_business_verification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StartGoogleBusinessVerification200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBVerificationsApi.start_google_business_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBVerificationsApi#start_google_business_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
