=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema). 

The version of the OpenAPI document: 1.52.3
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class IMessageApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a participant to an iMessage group
    # Applied asynchronously by the provider; the participant list on the next group webhook reflects it.
    # @param conversation_id [String] 
    # @param add_imessage_group_participant_request [AddImessageGroupParticipantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddImessageGroupParticipant200Response]
    def add_imessage_group_participant(conversation_id, add_imessage_group_participant_request, opts = {})
      data, _status_code, _headers = add_imessage_group_participant_with_http_info(conversation_id, add_imessage_group_participant_request, opts)
      data
    end

    # Add a participant to an iMessage group
    # Applied asynchronously by the provider; the participant list on the next group webhook reflects it.
    # @param conversation_id [String] 
    # @param add_imessage_group_participant_request [AddImessageGroupParticipantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddImessageGroupParticipant200Response, Integer, Hash)>] AddImessageGroupParticipant200Response data, response status code and response headers
    def add_imessage_group_participant_with_http_info(conversation_id, add_imessage_group_participant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.add_imessage_group_participant ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling IMessageApi.add_imessage_group_participant"
      end
      # verify the required parameter 'add_imessage_group_participant_request' is set
      if @api_client.config.client_side_validation && add_imessage_group_participant_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_imessage_group_participant_request' when calling IMessageApi.add_imessage_group_participant"
      end
      # resource path
      local_var_path = '/v1/imessage/groups/{conversationId}/participants'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_imessage_group_participant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddImessageGroupParticipant200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.add_imessage_group_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#add_imessage_group_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel an iMessage sender
    # Cancels the sender at the provider and deactivates its messaging account. Billing stops with the current month (no proration or refunds, matching phone numbers). 
    # @param sender_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrderImessageSender202Response]
    def cancel_imessage_sender(sender_id, opts = {})
      data, _status_code, _headers = cancel_imessage_sender_with_http_info(sender_id, opts)
      data
    end

    # Cancel an iMessage sender
    # Cancels the sender at the provider and deactivates its messaging account. Billing stops with the current month (no proration or refunds, matching phone numbers). 
    # @param sender_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderImessageSender202Response, Integer, Hash)>] OrderImessageSender202Response data, response status code and response headers
    def cancel_imessage_sender_with_http_info(sender_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.cancel_imessage_sender ...'
      end
      # verify the required parameter 'sender_id' is set
      if @api_client.config.client_side_validation && sender_id.nil?
        fail ArgumentError, "Missing the required parameter 'sender_id' when calling IMessageApi.cancel_imessage_sender"
      end
      # resource path
      local_var_path = '/v1/imessage/senders/{senderId}'.sub('{' + 'senderId' + '}', CGI.escape(sender_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderImessageSender202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.cancel_imessage_sender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#cancel_imessage_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start an iMessage group chat
    # Creates a group chat from one of your senders and sends its first message. The provider processes it asynchronously: the response carries the request id, and the thread appears in the inbox (with its group conversation id) on the first webhook. Starting a group counts as messaging new contacts, so the sender needs the provider's init-conversations add-on and the same sending intervals apply; without it the request fails with 409 `recipient_must_message_first`. WhatsApp groups need a `name`. 
    # @param create_imessage_group_request [CreateImessageGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateImessageGroup202Response]
    def create_imessage_group(create_imessage_group_request, opts = {})
      data, _status_code, _headers = create_imessage_group_with_http_info(create_imessage_group_request, opts)
      data
    end

    # Start an iMessage group chat
    # Creates a group chat from one of your senders and sends its first message. The provider processes it asynchronously: the response carries the request id, and the thread appears in the inbox (with its group conversation id) on the first webhook. Starting a group counts as messaging new contacts, so the sender needs the provider&#39;s init-conversations add-on and the same sending intervals apply; without it the request fails with 409 &#x60;recipient_must_message_first&#x60;. WhatsApp groups need a &#x60;name&#x60;. 
    # @param create_imessage_group_request [CreateImessageGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateImessageGroup202Response, Integer, Hash)>] CreateImessageGroup202Response data, response status code and response headers
    def create_imessage_group_with_http_info(create_imessage_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.create_imessage_group ...'
      end
      # verify the required parameter 'create_imessage_group_request' is set
      if @api_client.config.client_side_validation && create_imessage_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_imessage_group_request' when calling IMessageApi.create_imessage_group"
      end
      # resource path
      local_var_path = '/v1/imessage/groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_imessage_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateImessageGroup202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.create_imessage_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#create_imessage_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a tracked iMessage opt-in link
    # Generates a per-campaign link that opens Messages on this sender with `body` prefilled. iMessage is send-first: a sender can only message a contact who has written to it (a send to anyone else fails with `recipient_must_message_first`), and the contact's tap-and-send is what opens that door.  Each link carries a unique code in place of the `[opt-in-code]` placeholder; when the contact sends it, the resulting `message.received` webhook (and the stored inbox message's `metadata`) has `optIn: true` and your `parameters` under `optInParameters`, so you can attribute the conversation to the campaign or lead that produced it.  For an untracked link, use the sender's `optInLink` instead. 
    # @param sender_id [String] 
    # @param create_imessage_opt_in_link_request [CreateImessageOptInLinkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateImessageOptInLink200Response]
    def create_imessage_opt_in_link(sender_id, create_imessage_opt_in_link_request, opts = {})
      data, _status_code, _headers = create_imessage_opt_in_link_with_http_info(sender_id, create_imessage_opt_in_link_request, opts)
      data
    end

    # Create a tracked iMessage opt-in link
    # Generates a per-campaign link that opens Messages on this sender with &#x60;body&#x60; prefilled. iMessage is send-first: a sender can only message a contact who has written to it (a send to anyone else fails with &#x60;recipient_must_message_first&#x60;), and the contact&#39;s tap-and-send is what opens that door.  Each link carries a unique code in place of the &#x60;[opt-in-code]&#x60; placeholder; when the contact sends it, the resulting &#x60;message.received&#x60; webhook (and the stored inbox message&#39;s &#x60;metadata&#x60;) has &#x60;optIn: true&#x60; and your &#x60;parameters&#x60; under &#x60;optInParameters&#x60;, so you can attribute the conversation to the campaign or lead that produced it.  For an untracked link, use the sender&#39;s &#x60;optInLink&#x60; instead. 
    # @param sender_id [String] 
    # @param create_imessage_opt_in_link_request [CreateImessageOptInLinkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateImessageOptInLink200Response, Integer, Hash)>] CreateImessageOptInLink200Response data, response status code and response headers
    def create_imessage_opt_in_link_with_http_info(sender_id, create_imessage_opt_in_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.create_imessage_opt_in_link ...'
      end
      # verify the required parameter 'sender_id' is set
      if @api_client.config.client_side_validation && sender_id.nil?
        fail ArgumentError, "Missing the required parameter 'sender_id' when calling IMessageApi.create_imessage_opt_in_link"
      end
      # verify the required parameter 'create_imessage_opt_in_link_request' is set
      if @api_client.config.client_side_validation && create_imessage_opt_in_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_imessage_opt_in_link_request' when calling IMessageApi.create_imessage_opt_in_link"
      end
      # resource path
      local_var_path = '/v1/imessage/senders/{senderId}/opt-in-links'.sub('{' + 'senderId' + '}', CGI.escape(sender_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_imessage_opt_in_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateImessageOptInLink200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.create_imessage_opt_in_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#create_imessage_opt_in_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an iMessage group
    # The group's name, participants and channel as the provider currently sees them. The conversation must be a group thread of the given account.
    # @param conversation_id [String] The inbox conversation id (or the provider group id)
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetImessageGroup200Response]
    def get_imessage_group(conversation_id, account_id, opts = {})
      data, _status_code, _headers = get_imessage_group_with_http_info(conversation_id, account_id, opts)
      data
    end

    # Get an iMessage group
    # The group&#39;s name, participants and channel as the provider currently sees them. The conversation must be a group thread of the given account.
    # @param conversation_id [String] The inbox conversation id (or the provider group id)
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetImessageGroup200Response, Integer, Hash)>] GetImessageGroup200Response data, response status code and response headers
    def get_imessage_group_with_http_info(conversation_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.get_imessage_group ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling IMessageApi.get_imessage_group"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling IMessageApi.get_imessage_group"
      end
      # resource path
      local_var_path = '/v1/imessage/groups/{conversationId}'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetImessageGroup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.get_imessage_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#get_imessage_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get iMessage sender status
    # Lifecycle status of an ordered or registered sender (poll while an order activates), plus the provider's live platform health for it.
    # @param sender_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetImessageSender200Response]
    def get_imessage_sender(sender_id, opts = {})
      data, _status_code, _headers = get_imessage_sender_with_http_info(sender_id, opts)
      data
    end

    # Get iMessage sender status
    # Lifecycle status of an ordered or registered sender (poll while an order activates), plus the provider&#39;s live platform health for it.
    # @param sender_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetImessageSender200Response, Integer, Hash)>] GetImessageSender200Response data, response status code and response headers
    def get_imessage_sender_with_http_info(sender_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.get_imessage_sender ...'
      end
      # verify the required parameter 'sender_id' is set
      if @api_client.config.client_side_validation && sender_id.nil?
        fail ArgumentError, "Missing the required parameter 'sender_id' when calling IMessageApi.get_imessage_sender"
      end
      # resource path
      local_var_path = '/v1/imessage/senders/{senderId}'.sub('{' + 'senderId' + '}', CGI.escape(sender_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetImessageSender200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.get_imessage_sender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#get_imessage_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List iMessage audience
    # Contacts who have messaged your iMessage senders (1:1 threads), with subscription state and, for threads opened through a tracked opt-in link, the parameters that brought them in. Newest activity first.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Limit to one sender account
    # @option opts [String] :status 
    # @option opts [String] :search Matches the contact handle or name
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListImessageAudience200Response]
    def list_imessage_audience(opts = {})
      data, _status_code, _headers = list_imessage_audience_with_http_info(opts)
      data
    end

    # List iMessage audience
    # Contacts who have messaged your iMessage senders (1:1 threads), with subscription state and, for threads opened through a tracked opt-in link, the parameters that brought them in. Newest activity first.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id Limit to one sender account
    # @option opts [String] :status 
    # @option opts [String] :search Matches the contact handle or name
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListImessageAudience200Response, Integer, Hash)>] ListImessageAudience200Response data, response status code and response headers
    def list_imessage_audience_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.list_imessage_audience ...'
      end
      allowable_values = ["subscribed", "unsubscribed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 120
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling IMessageApi.list_imessage_audience, the character length must be smaller than or equal to 120.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling IMessageApi.list_imessage_audience, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling IMessageApi.list_imessage_audience, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'skip'].nil? && opts[:'skip'] < 0
        fail ArgumentError, 'invalid value for "opts[:"skip"]" when calling IMessageApi.list_imessage_audience, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/imessage/audience'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListImessageAudience200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.list_imessage_audience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#list_imessage_audience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List instantly available iMessage numbers
    # Phone numbers the provider has already registered and can assign on the spot. Order one by passing its `id` as `availableNumberId` to POST /v1/imessage/senders/order: the sender activates immediately instead of after the usual provisioning wait. Reserve it first with POST /v1/imessage/senders/available-numbers/{numberId}/reserve while the buyer decides. The list is a snapshot; a number can be taken between listing and ordering. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region 
    # @return [ListImessageAvailableNumbers200Response]
    def list_imessage_available_numbers(opts = {})
      data, _status_code, _headers = list_imessage_available_numbers_with_http_info(opts)
      data
    end

    # List instantly available iMessage numbers
    # Phone numbers the provider has already registered and can assign on the spot. Order one by passing its &#x60;id&#x60; as &#x60;availableNumberId&#x60; to POST /v1/imessage/senders/order: the sender activates immediately instead of after the usual provisioning wait. Reserve it first with POST /v1/imessage/senders/available-numbers/{numberId}/reserve while the buyer decides. The list is a snapshot; a number can be taken between listing and ordering. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region 
    # @return [Array<(ListImessageAvailableNumbers200Response, Integer, Hash)>] ListImessageAvailableNumbers200Response data, response status code and response headers
    def list_imessage_available_numbers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.list_imessage_available_numbers ...'
      end
      allowable_values = ["US", "GB"]
      if @api_client.config.client_side_validation && opts[:'region'] && !allowable_values.include?(opts[:'region'])
        fail ArgumentError, "invalid value for \"region\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/imessage/senders/available-numbers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'region'] = opts[:'region'] if !opts[:'region'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListImessageAvailableNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.list_imessage_available_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#list_imessage_available_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List iMessage sender orders
    # Every sender lifecycle doc your team owns (ordered or registered), across statuses. Canceled senders are omitted unless `includeCanceled=true`.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_canceled  (default to false)
    # @return [ListImessageSenderOrders200Response]
    def list_imessage_sender_orders(opts = {})
      data, _status_code, _headers = list_imessage_sender_orders_with_http_info(opts)
      data
    end

    # List iMessage sender orders
    # Every sender lifecycle doc your team owns (ordered or registered), across statuses. Canceled senders are omitted unless &#x60;includeCanceled&#x3D;true&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_canceled  (default to false)
    # @return [Array<(ListImessageSenderOrders200Response, Integer, Hash)>] ListImessageSenderOrders200Response data, response status code and response headers
    def list_imessage_sender_orders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.list_imessage_sender_orders ...'
      end
      # resource path
      local_var_path = '/v1/imessage/senders/order'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeCanceled'] = opts[:'include_canceled'] if !opts[:'include_canceled'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListImessageSenderOrders200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.list_imessage_sender_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#list_imessage_sender_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List iMessage senders
    # Lists the iMessage senders registered across your accessible profiles.
    # @param [Hash] opts the optional parameters
    # @return [ListImessageSenders200Response]
    def list_imessage_senders(opts = {})
      data, _status_code, _headers = list_imessage_senders_with_http_info(opts)
      data
    end

    # List iMessage senders
    # Lists the iMessage senders registered across your accessible profiles.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListImessageSenders200Response, Integer, Hash)>] ListImessageSenders200Response data, response status code and response headers
    def list_imessage_senders_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.list_imessage_senders ...'
      end
      # resource path
      local_var_path = '/v1/imessage/senders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListImessageSenders200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.list_imessage_senders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#list_imessage_senders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Order a new iMessage sender
    # Orders a NEW dedicated iMessage sender from the delivery provider (compare with POST /v1/imessage/senders, which registers a sender you already own). Activation is asynchronous (minutes to a few hours): the response is 202 with the lifecycle object; poll GET /v1/imessage/senders/{senderId} or subscribe to the account.connected webhook. Billing starts at activation (monthly per sender, no proration). Requires usage-based billing and a valid payment method. Pass purchaseIntentId to make retries idempotent — the provider-side order is never retried automatically. Ordered phone senders include SMS/RCS fallback with call forwarding and the ability to message contacts who have not written first (sending intervals still apply). 
    # @param order_imessage_sender_request [OrderImessageSenderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OrderImessageSender202Response]
    def order_imessage_sender(order_imessage_sender_request, opts = {})
      data, _status_code, _headers = order_imessage_sender_with_http_info(order_imessage_sender_request, opts)
      data
    end

    # Order a new iMessage sender
    # Orders a NEW dedicated iMessage sender from the delivery provider (compare with POST /v1/imessage/senders, which registers a sender you already own). Activation is asynchronous (minutes to a few hours): the response is 202 with the lifecycle object; poll GET /v1/imessage/senders/{senderId} or subscribe to the account.connected webhook. Billing starts at activation (monthly per sender, no proration). Requires usage-based billing and a valid payment method. Pass purchaseIntentId to make retries idempotent — the provider-side order is never retried automatically. Ordered phone senders include SMS/RCS fallback with call forwarding and the ability to message contacts who have not written first (sending intervals still apply). 
    # @param order_imessage_sender_request [OrderImessageSenderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderImessageSender202Response, Integer, Hash)>] OrderImessageSender202Response data, response status code and response headers
    def order_imessage_sender_with_http_info(order_imessage_sender_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.order_imessage_sender ...'
      end
      # verify the required parameter 'order_imessage_sender_request' is set
      if @api_client.config.client_side_validation && order_imessage_sender_request.nil?
        fail ArgumentError, "Missing the required parameter 'order_imessage_sender_request' when calling IMessageApi.order_imessage_sender"
      end
      # resource path
      local_var_path = '/v1/imessage/senders/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_imessage_sender_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderImessageSender202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.order_imessage_sender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#order_imessage_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register an iMessage sender
    # Registers a provider-provisioned iMessage sender (a phone number or an email handle) that YOU already own on a profile, creating an `imessage` account that sends and receives through the inbox conversation endpoints. To have Zernio order a new sender for you, use POST /v1/imessage/senders/order instead. Registration attaches the monthly sender fee (billed while active) and requires a payment method (402 without one). One sender per profile: re-registering the SAME handle refreshes it; a different handle returns 409 until the existing sender is canceled. 
    # @param register_imessage_sender_request [RegisterImessageSenderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RegisterImessageSender200Response]
    def register_imessage_sender(register_imessage_sender_request, opts = {})
      data, _status_code, _headers = register_imessage_sender_with_http_info(register_imessage_sender_request, opts)
      data
    end

    # Register an iMessage sender
    # Registers a provider-provisioned iMessage sender (a phone number or an email handle) that YOU already own on a profile, creating an &#x60;imessage&#x60; account that sends and receives through the inbox conversation endpoints. To have Zernio order a new sender for you, use POST /v1/imessage/senders/order instead. Registration attaches the monthly sender fee (billed while active) and requires a payment method (402 without one). One sender per profile: re-registering the SAME handle refreshes it; a different handle returns 409 until the existing sender is canceled. 
    # @param register_imessage_sender_request [RegisterImessageSenderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RegisterImessageSender200Response, Integer, Hash)>] RegisterImessageSender200Response data, response status code and response headers
    def register_imessage_sender_with_http_info(register_imessage_sender_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.register_imessage_sender ...'
      end
      # verify the required parameter 'register_imessage_sender_request' is set
      if @api_client.config.client_side_validation && register_imessage_sender_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_imessage_sender_request' when calling IMessageApi.register_imessage_sender"
      end
      # resource path
      local_var_path = '/v1/imessage/senders'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_imessage_sender_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RegisterImessageSender200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.register_imessage_sender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#register_imessage_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a participant from an iMessage group
    # Applied asynchronously by the provider.
    # @param conversation_id [String] 
    # @param account_id [String] 
    # @param contact [String] E.164 phone or iMessage email
    # @param [Hash] opts the optional parameters
    # @return [AddImessageGroupParticipant200Response]
    def remove_imessage_group_participant(conversation_id, account_id, contact, opts = {})
      data, _status_code, _headers = remove_imessage_group_participant_with_http_info(conversation_id, account_id, contact, opts)
      data
    end

    # Remove a participant from an iMessage group
    # Applied asynchronously by the provider.
    # @param conversation_id [String] 
    # @param account_id [String] 
    # @param contact [String] E.164 phone or iMessage email
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddImessageGroupParticipant200Response, Integer, Hash)>] AddImessageGroupParticipant200Response data, response status code and response headers
    def remove_imessage_group_participant_with_http_info(conversation_id, account_id, contact, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.remove_imessage_group_participant ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling IMessageApi.remove_imessage_group_participant"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling IMessageApi.remove_imessage_group_participant"
      end
      # verify the required parameter 'contact' is set
      if @api_client.config.client_side_validation && contact.nil?
        fail ArgumentError, "Missing the required parameter 'contact' when calling IMessageApi.remove_imessage_group_participant"
      end
      # resource path
      local_var_path = '/v1/imessage/groups/{conversationId}/participants'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'contact'] = contact

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AddImessageGroupParticipant200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.remove_imessage_group_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#remove_imessage_group_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reserve an available iMessage number
    # Holds the number for 3 minutes so nobody else can order it while the buyer decides. Place the order (POST /v1/imessage/senders/order with availableNumberId) before the hold expires. No request body.
    # @param number_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ReserveImessageAvailableNumber200Response]
    def reserve_imessage_available_number(number_id, opts = {})
      data, _status_code, _headers = reserve_imessage_available_number_with_http_info(number_id, opts)
      data
    end

    # Reserve an available iMessage number
    # Holds the number for 3 minutes so nobody else can order it while the buyer decides. Place the order (POST /v1/imessage/senders/order with availableNumberId) before the hold expires. No request body.
    # @param number_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReserveImessageAvailableNumber200Response, Integer, Hash)>] ReserveImessageAvailableNumber200Response data, response status code and response headers
    def reserve_imessage_available_number_with_http_info(number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.reserve_imessage_available_number ...'
      end
      # verify the required parameter 'number_id' is set
      if @api_client.config.client_side_validation && number_id.nil?
        fail ArgumentError, "Missing the required parameter 'number_id' when calling IMessageApi.reserve_imessage_available_number"
      end
      # resource path
      local_var_path = '/v1/imessage/senders/available-numbers/{numberId}/reserve'.sub('{' + 'numberId' + '}', CGI.escape(number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReserveImessageAvailableNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.reserve_imessage_available_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#reserve_imessage_available_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscribe or opt out an iMessage contact
    # Opted-out contacts are refused at send time (409 recipient_opted_out) until re-subscribed. Their inbound messages still arrive. Scoped to your account: it does not change the contact's state with other businesses.
    # @param set_imessage_subscription_request [SetImessageSubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SetImessageSubscription200Response]
    def set_imessage_subscription(set_imessage_subscription_request, opts = {})
      data, _status_code, _headers = set_imessage_subscription_with_http_info(set_imessage_subscription_request, opts)
      data
    end

    # Subscribe or opt out an iMessage contact
    # Opted-out contacts are refused at send time (409 recipient_opted_out) until re-subscribed. Their inbound messages still arrive. Scoped to your account: it does not change the contact&#39;s state with other businesses.
    # @param set_imessage_subscription_request [SetImessageSubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetImessageSubscription200Response, Integer, Hash)>] SetImessageSubscription200Response data, response status code and response headers
    def set_imessage_subscription_with_http_info(set_imessage_subscription_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.set_imessage_subscription ...'
      end
      # verify the required parameter 'set_imessage_subscription_request' is set
      if @api_client.config.client_side_validation && set_imessage_subscription_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_imessage_subscription_request' when calling IMessageApi.set_imessage_subscription"
      end
      # resource path
      local_var_path = '/v1/imessage/audience/subscription'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_imessage_subscription_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetImessageSubscription200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.set_imessage_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#set_imessage_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename an iMessage group or change its photo
    # One change per call: either `name` or `photoUrl` (an empty `photoUrl` removes the photo). Applied asynchronously by the provider; a rename is mirrored on the inbox conversation right away.
    # @param conversation_id [String] 
    # @param update_imessage_group_request [UpdateImessageGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateImessageGroup200Response]
    def update_imessage_group(conversation_id, update_imessage_group_request, opts = {})
      data, _status_code, _headers = update_imessage_group_with_http_info(conversation_id, update_imessage_group_request, opts)
      data
    end

    # Rename an iMessage group or change its photo
    # One change per call: either &#x60;name&#x60; or &#x60;photoUrl&#x60; (an empty &#x60;photoUrl&#x60; removes the photo). Applied asynchronously by the provider; a rename is mirrored on the inbox conversation right away.
    # @param conversation_id [String] 
    # @param update_imessage_group_request [UpdateImessageGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateImessageGroup200Response, Integer, Hash)>] UpdateImessageGroup200Response data, response status code and response headers
    def update_imessage_group_with_http_info(conversation_id, update_imessage_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.update_imessage_group ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling IMessageApi.update_imessage_group"
      end
      # verify the required parameter 'update_imessage_group_request' is set
      if @api_client.config.client_side_validation && update_imessage_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_imessage_group_request' when calling IMessageApi.update_imessage_group"
      end
      # resource path
      local_var_path = '/v1/imessage/groups/{conversationId}'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_imessage_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateImessageGroup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.update_imessage_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#update_imessage_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an iMessage sender
    # Display name (inbox and API responses) and the contact card (vCard) recipients see when they save the sender. The contact card is what a contactCard send shares.
    # @param sender_id [String] 
    # @param update_imessage_sender_request [UpdateImessageSenderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OrderImessageSender202Response]
    def update_imessage_sender(sender_id, update_imessage_sender_request, opts = {})
      data, _status_code, _headers = update_imessage_sender_with_http_info(sender_id, update_imessage_sender_request, opts)
      data
    end

    # Update an iMessage sender
    # Display name (inbox and API responses) and the contact card (vCard) recipients see when they save the sender. The contact card is what a contactCard send shares.
    # @param sender_id [String] 
    # @param update_imessage_sender_request [UpdateImessageSenderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderImessageSender202Response, Integer, Hash)>] OrderImessageSender202Response data, response status code and response headers
    def update_imessage_sender_with_http_info(sender_id, update_imessage_sender_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IMessageApi.update_imessage_sender ...'
      end
      # verify the required parameter 'sender_id' is set
      if @api_client.config.client_side_validation && sender_id.nil?
        fail ArgumentError, "Missing the required parameter 'sender_id' when calling IMessageApi.update_imessage_sender"
      end
      # verify the required parameter 'update_imessage_sender_request' is set
      if @api_client.config.client_side_validation && update_imessage_sender_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_imessage_sender_request' when calling IMessageApi.update_imessage_sender"
      end
      # resource path
      local_var_path = '/v1/imessage/senders/{senderId}'.sub('{' + 'senderId' + '}', CGI.escape(sender_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_imessage_sender_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderImessageSender202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"IMessageApi.update_imessage_sender",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IMessageApi#update_imessage_sender\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
