=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class InboxAnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get conversation analytics
    # Per-conversation inbox analytics. The inbox analog of /v1/analytics/post-timeline — one conversation, daily totals, source mix.  The {conversationId} path param accepts EITHER the Mongo `_id` of the Conversation document OR its `platformConversationId` (the same identity used by metadata.conversationId at ingest time). Ownership is verified in MongoDB against the caller's team before the Tinybird query fires.  Max date range is 365 days. 
    # @param conversation_id [String] Mongo _id or platformConversationId.
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @return [GetInboxConversationAnalytics200Response]
    def get_inbox_conversation_analytics(conversation_id, from_date, opts = {})
      data, _status_code, _headers = get_inbox_conversation_analytics_with_http_info(conversation_id, from_date, opts)
      data
    end

    # Get conversation analytics
    # Per-conversation inbox analytics. The inbox analog of /v1/analytics/post-timeline — one conversation, daily totals, source mix.  The {conversationId} path param accepts EITHER the Mongo &#x60;_id&#x60; of the Conversation document OR its &#x60;platformConversationId&#x60; (the same identity used by metadata.conversationId at ingest time). Ownership is verified in MongoDB against the caller&#39;s team before the Tinybird query fires.  Max date range is 365 days. 
    # @param conversation_id [String] Mongo _id or platformConversationId.
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @return [Array<(GetInboxConversationAnalytics200Response, Integer, Hash)>] GetInboxConversationAnalytics200Response data, response status code and response headers
    def get_inbox_conversation_analytics_with_http_info(conversation_id, from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxAnalyticsApi.get_inbox_conversation_analytics ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling InboxAnalyticsApi.get_inbox_conversation_analytics"
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling InboxAnalyticsApi.get_inbox_conversation_analytics"
      end
      # resource path
      local_var_path = '/v1/analytics/inbox/conversations/{conversationId}'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fromDate'] = from_date
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxConversationAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxAnalyticsApi.get_inbox_conversation_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxAnalyticsApi#get_inbox_conversation_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get day × hour heatmap
    # Day-of-week × hour-of-day breakdown of inbox messages. Buckets are sparse — only cells with at least one event are returned; clients zero-fill the rest to render the full 7×24 grid. The `dow` field follows ClickHouse's `toDayOfWeek` convention (1 = Monday … 7 = Sunday). Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :account_id 
    # @option opts [String] :source 
    # @option opts [String] :action Narrow to a single event type. \&quot;all\&quot; or omitted means no filter.
    # @return [GetInboxHeatmap200Response]
    def get_inbox_heatmap(from_date, opts = {})
      data, _status_code, _headers = get_inbox_heatmap_with_http_info(from_date, opts)
      data
    end

    # Get day × hour heatmap
    # Day-of-week × hour-of-day breakdown of inbox messages. Buckets are sparse — only cells with at least one event are returned; clients zero-fill the rest to render the full 7×24 grid. The &#x60;dow&#x60; field follows ClickHouse&#39;s &#x60;toDayOfWeek&#x60; convention (1 &#x3D; Monday … 7 &#x3D; Sunday). Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :account_id 
    # @option opts [String] :source 
    # @option opts [String] :action Narrow to a single event type. \&quot;all\&quot; or omitted means no filter.
    # @return [Array<(GetInboxHeatmap200Response, Integer, Hash)>] GetInboxHeatmap200Response data, response status code and response headers
    def get_inbox_heatmap_with_http_info(from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxAnalyticsApi.get_inbox_heatmap ...'
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling InboxAnalyticsApi.get_inbox_heatmap"
      end
      allowable_values = ["message.received", "message.sent", "message.read", "all"]
      if @api_client.config.client_side_validation && opts[:'action'] && !allowable_values.include?(opts[:'action'])
        fail ArgumentError, "invalid value for \"action\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/inbox/heatmap'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fromDate'] = from_date
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxHeatmap200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxAnalyticsApi.get_inbox_heatmap",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxAnalyticsApi#get_inbox_heatmap\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get inbox response-time stats
    # Time-to-first-response stats. Pairs each received message with the next sent message in the same conversation and reports the delta as both summary statistics and a fixed-bucket histogram suited for the analytics page's TTR chart.  `sampleSize` reflects only conversations that received AND got a reply in the window — received-but-never-answered conversations are excluded. Compare against /v1/analytics/inbox/volume's `summary.received` to compute reply rate.  Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :account_id 
    # @return [GetInboxResponseTime200Response]
    def get_inbox_response_time(from_date, opts = {})
      data, _status_code, _headers = get_inbox_response_time_with_http_info(from_date, opts)
      data
    end

    # Get inbox response-time stats
    # Time-to-first-response stats. Pairs each received message with the next sent message in the same conversation and reports the delta as both summary statistics and a fixed-bucket histogram suited for the analytics page&#39;s TTR chart.  &#x60;sampleSize&#x60; reflects only conversations that received AND got a reply in the window — received-but-never-answered conversations are excluded. Compare against /v1/analytics/inbox/volume&#39;s &#x60;summary.received&#x60; to compute reply rate.  Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :account_id 
    # @return [Array<(GetInboxResponseTime200Response, Integer, Hash)>] GetInboxResponseTime200Response data, response status code and response headers
    def get_inbox_response_time_with_http_info(from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxAnalyticsApi.get_inbox_response_time ...'
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling InboxAnalyticsApi.get_inbox_response_time"
      end
      # resource path
      local_var_path = '/v1/analytics/inbox/response-time'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fromDate'] = from_date
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxResponseTime200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxAnalyticsApi.get_inbox_response_time",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxAnalyticsApi#get_inbox_response_time\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get inbox source breakdown
    # Breakdown of inbox messages by their lineage source (the `metadata.source` field set at ingest time: human / workflow / sequence / broadcast / comment_automation / api / contact / platform). Each source row also carries a per-platform sub-split. Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :account_id 
    # @return [GetInboxSourceBreakdown200Response]
    def get_inbox_source_breakdown(from_date, opts = {})
      data, _status_code, _headers = get_inbox_source_breakdown_with_http_info(from_date, opts)
      data
    end

    # Get inbox source breakdown
    # Breakdown of inbox messages by their lineage source (the &#x60;metadata.source&#x60; field set at ingest time: human / workflow / sequence / broadcast / comment_automation / api / contact / platform). Each source row also carries a per-platform sub-split. Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :account_id 
    # @return [Array<(GetInboxSourceBreakdown200Response, Integer, Hash)>] GetInboxSourceBreakdown200Response data, response status code and response headers
    def get_inbox_source_breakdown_with_http_info(from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxAnalyticsApi.get_inbox_source_breakdown ...'
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling InboxAnalyticsApi.get_inbox_source_breakdown"
      end
      # resource path
      local_var_path = '/v1/analytics/inbox/source-breakdown'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fromDate'] = from_date
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxSourceBreakdown200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxAnalyticsApi.get_inbox_source_breakdown",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxAnalyticsApi#get_inbox_source_breakdown\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get top accounts by inbox volume
    # Leaderboard of social accounts by inbox message volume. Decorates each row with display labels from the live SocialAccount record (so the UI shows username + displayName, not just an ID). Accounts that no longer map to a SocialAccount surface as \"(disconnected)\" so the row stays visible. Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :source 
    # @option opts [Integer] :limit Cap on returned rows. Lower than the posting listing&#39;s 100 because each row triggers a SocialAccount Mongo lookup. (default to 10)
    # @return [GetInboxTopAccounts200Response]
    def get_inbox_top_accounts(from_date, opts = {})
      data, _status_code, _headers = get_inbox_top_accounts_with_http_info(from_date, opts)
      data
    end

    # Get top accounts by inbox volume
    # Leaderboard of social accounts by inbox message volume. Decorates each row with display labels from the live SocialAccount record (so the UI shows username + displayName, not just an ID). Accounts that no longer map to a SocialAccount surface as \&quot;(disconnected)\&quot; so the row stays visible. Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :source 
    # @option opts [Integer] :limit Cap on returned rows. Lower than the posting listing&#39;s 100 because each row triggers a SocialAccount Mongo lookup. (default to 10)
    # @return [Array<(GetInboxTopAccounts200Response, Integer, Hash)>] GetInboxTopAccounts200Response data, response status code and response headers
    def get_inbox_top_accounts_with_http_info(from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxAnalyticsApi.get_inbox_top_accounts ...'
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling InboxAnalyticsApi.get_inbox_top_accounts"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InboxAnalyticsApi.get_inbox_top_accounts, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InboxAnalyticsApi.get_inbox_top_accounts, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/analytics/inbox/top-accounts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fromDate'] = from_date
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxTopAccounts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxAnalyticsApi.get_inbox_top_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxAnalyticsApi#get_inbox_top_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get inbox messaging volume
    # Daily inbox messaging volume + breakdowns. Folds the raw messaging events into three projections so the client can render the volume chart, KPI strip, and per-platform stacked bar from a single call. Max date range is 365 days. 
    # @param from_date [Date] Inclusive lower bound (YYYY-MM-DD). Required.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date Inclusive upper bound (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :profile_id 
    # @option opts [String] :platform Filter by single platform (facebook, instagram, twitter, etc.).
    # @option opts [String] :account_id 
    # @option opts [String] :source Filter by metadata.source lineage (human, workflow, sequence, broadcast, comment_automation, api, contact, platform).
    # @return [GetInboxVolume200Response]
    def get_inbox_volume(from_date, opts = {})
      data, _status_code, _headers = get_inbox_volume_with_http_info(from_date, opts)
      data
    end

    # Get inbox messaging volume
    # Daily inbox messaging volume + breakdowns. Folds the raw messaging events into three projections so the client can render the volume chart, KPI strip, and per-platform stacked bar from a single call. Max date range is 365 days. 
    # @param from_date [Date] Inclusive lower bound (YYYY-MM-DD). Required.
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date Inclusive upper bound (YYYY-MM-DD). Defaults to today.
    # @option opts [String] :profile_id 
    # @option opts [String] :platform Filter by single platform (facebook, instagram, twitter, etc.).
    # @option opts [String] :account_id 
    # @option opts [String] :source Filter by metadata.source lineage (human, workflow, sequence, broadcast, comment_automation, api, contact, platform).
    # @return [Array<(GetInboxVolume200Response, Integer, Hash)>] GetInboxVolume200Response data, response status code and response headers
    def get_inbox_volume_with_http_info(from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxAnalyticsApi.get_inbox_volume ...'
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling InboxAnalyticsApi.get_inbox_volume"
      end
      # resource path
      local_var_path = '/v1/analytics/inbox/volume'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fromDate'] = from_date
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxVolume200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxAnalyticsApi.get_inbox_volume",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxAnalyticsApi#get_inbox_volume\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List conversation analytics
    # Per-conversation listing with per-row totals + first/last message timestamps. The inbox analog of GET /v1/analytics (posts listing) — same filter shape, same pagination, same sort/order semantics. Use as the entry point for the per-conversation analytics drawer at /v1/analytics/inbox/conversations/{conversationId}.  Rows are enriched with the conversation's participant info (`participantName`, `participantUsername`, `participantPicture`) and last-message preview by joining the Conversation document scoped to the caller's team. Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :account_id 
    # @option opts [String] :source 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort_by  (default to 'lastMessageAt')
    # @option opts [String] :order  (default to 'desc')
    # @return [ListInboxConversationAnalytics200Response]
    def list_inbox_conversation_analytics(from_date, opts = {})
      data, _status_code, _headers = list_inbox_conversation_analytics_with_http_info(from_date, opts)
      data
    end

    # List conversation analytics
    # Per-conversation listing with per-row totals + first/last message timestamps. The inbox analog of GET /v1/analytics (posts listing) — same filter shape, same pagination, same sort/order semantics. Use as the entry point for the per-conversation analytics drawer at /v1/analytics/inbox/conversations/{conversationId}.  Rows are enriched with the conversation&#39;s participant info (&#x60;participantName&#x60;, &#x60;participantUsername&#x60;, &#x60;participantPicture&#x60;) and last-message preview by joining the Conversation document scoped to the caller&#39;s team. Max date range is 365 days. 
    # @param from_date [Date] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :to_date 
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [String] :account_id 
    # @option opts [String] :source 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :sort_by  (default to 'lastMessageAt')
    # @option opts [String] :order  (default to 'desc')
    # @return [Array<(ListInboxConversationAnalytics200Response, Integer, Hash)>] ListInboxConversationAnalytics200Response data, response status code and response headers
    def list_inbox_conversation_analytics_with_http_info(from_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboxAnalyticsApi.list_inbox_conversation_analytics ...'
      end
      # verify the required parameter 'from_date' is set
      if @api_client.config.client_side_validation && from_date.nil?
        fail ArgumentError, "Missing the required parameter 'from_date' when calling InboxAnalyticsApi.list_inbox_conversation_analytics"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InboxAnalyticsApi.list_inbox_conversation_analytics, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling InboxAnalyticsApi.list_inbox_conversation_analytics, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling InboxAnalyticsApi.list_inbox_conversation_analytics, must be greater than or equal to 1.'
      end

      allowable_values = ["lastMessageAt", "firstMessageAt", "totalMessages", "received", "sent", "read", "failed"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/analytics/inbox/conversations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'fromDate'] = from_date
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListInboxConversationAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InboxAnalyticsApi.list_inbox_conversation_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboxAnalyticsApi#list_inbox_conversation_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
