=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class InvitesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create invite token
    # Generate a secure invite link to grant team members access to your profiles. Invites expire after 7 days and are single-use. 
    # @param create_invite_token_request [CreateInviteTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateInviteToken201Response]
    def create_invite_token(create_invite_token_request, opts = {})
      data, _status_code, _headers = create_invite_token_with_http_info(create_invite_token_request, opts)
      data
    end

    # Create invite token
    # Generate a secure invite link to grant team members access to your profiles. Invites expire after 7 days and are single-use. 
    # @param create_invite_token_request [CreateInviteTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateInviteToken201Response, Integer, Hash)>] CreateInviteToken201Response data, response status code and response headers
    def create_invite_token_with_http_info(create_invite_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvitesApi.create_invite_token ...'
      end
      # verify the required parameter 'create_invite_token_request' is set
      if @api_client.config.client_side_validation && create_invite_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_invite_token_request' when calling InvitesApi.create_invite_token"
      end
      # resource path
      local_var_path = '/v1/invite/tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_invite_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateInviteToken201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"InvitesApi.create_invite_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvitesApi#create_invite_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
