=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class LeadFormsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Meta Lead Gen Form
    # Creates a new Instant Form on the Facebook Page tied to the given social account. The form is created in `ACTIVE` status and is immediately attachable to ads (see `leadGenFormId` on POST /v1/ads/create).  Once a form has received any leads, its questions / privacy policy / thank-you page become immutable on Meta's side; only `status` may be changed via PATCH. 
    # @param create_lead_form_body [CreateLeadFormBody] 
    # @param [Hash] opts the optional parameters
    # @return [CreateLeadForm201Response]
    def create_lead_form(create_lead_form_body, opts = {})
      data, _status_code, _headers = create_lead_form_with_http_info(create_lead_form_body, opts)
      data
    end

    # Create a Meta Lead Gen Form
    # Creates a new Instant Form on the Facebook Page tied to the given social account. The form is created in &#x60;ACTIVE&#x60; status and is immediately attachable to ads (see &#x60;leadGenFormId&#x60; on POST /v1/ads/create).  Once a form has received any leads, its questions / privacy policy / thank-you page become immutable on Meta&#39;s side; only &#x60;status&#x60; may be changed via PATCH. 
    # @param create_lead_form_body [CreateLeadFormBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateLeadForm201Response, Integer, Hash)>] CreateLeadForm201Response data, response status code and response headers
    def create_lead_form_with_http_info(create_lead_form_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.create_lead_form ...'
      end
      # verify the required parameter 'create_lead_form_body' is set
      if @api_client.config.client_side_validation && create_lead_form_body.nil?
        fail ArgumentError, "Missing the required parameter 'create_lead_form_body' when calling LeadFormsApi.create_lead_form"
      end
      # resource path
      local_var_path = '/v1/ads/lead-forms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_lead_form_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateLeadForm201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.create_lead_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#create_lead_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a synthetic test lead
    # Submits a fake lead against a form. Useful for QA, App Review demos, and exercising webhook subscribers without waiting for real ad impressions. Meta caps a form to one outstanding test lead — call DELETE on the returned id before re-submitting. 
    # @param form_id [String] 
    # @param create_lead_form_test_lead_request [CreateLeadFormTestLeadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateLeadFormTestLead200Response]
    def create_lead_form_test_lead(form_id, create_lead_form_test_lead_request, opts = {})
      data, _status_code, _headers = create_lead_form_test_lead_with_http_info(form_id, create_lead_form_test_lead_request, opts)
      data
    end

    # Create a synthetic test lead
    # Submits a fake lead against a form. Useful for QA, App Review demos, and exercising webhook subscribers without waiting for real ad impressions. Meta caps a form to one outstanding test lead — call DELETE on the returned id before re-submitting. 
    # @param form_id [String] 
    # @param create_lead_form_test_lead_request [CreateLeadFormTestLeadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateLeadFormTestLead200Response, Integer, Hash)>] CreateLeadFormTestLead200Response data, response status code and response headers
    def create_lead_form_test_lead_with_http_info(form_id, create_lead_form_test_lead_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.create_lead_form_test_lead ...'
      end
      # verify the required parameter 'form_id' is set
      if @api_client.config.client_side_validation && form_id.nil?
        fail ArgumentError, "Missing the required parameter 'form_id' when calling LeadFormsApi.create_lead_form_test_lead"
      end
      # verify the required parameter 'create_lead_form_test_lead_request' is set
      if @api_client.config.client_side_validation && create_lead_form_test_lead_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_lead_form_test_lead_request' when calling LeadFormsApi.create_lead_form_test_lead"
      end
      # resource path
      local_var_path = '/v1/ads/lead-forms/{formId}/test-leads'.sub('{' + 'formId' + '}', CGI.escape(form_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_lead_form_test_lead_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateLeadFormTestLead200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.create_lead_form_test_lead",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#create_lead_form_test_lead\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Lead Gen Form
    # Deletes the form from Meta. If the form has already received leads, Meta archives it instead of hard-deleting; the response is the same either way. 
    # @param form_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteLeadForm200Response]
    def delete_lead_form(form_id, account_id, opts = {})
      data, _status_code, _headers = delete_lead_form_with_http_info(form_id, account_id, opts)
      data
    end

    # Delete a Lead Gen Form
    # Deletes the form from Meta. If the form has already received leads, Meta archives it instead of hard-deleting; the response is the same either way. 
    # @param form_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteLeadForm200Response, Integer, Hash)>] DeleteLeadForm200Response data, response status code and response headers
    def delete_lead_form_with_http_info(form_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.delete_lead_form ...'
      end
      # verify the required parameter 'form_id' is set
      if @api_client.config.client_side_validation && form_id.nil?
        fail ArgumentError, "Missing the required parameter 'form_id' when calling LeadFormsApi.delete_lead_form"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling LeadFormsApi.delete_lead_form"
      end
      # resource path
      local_var_path = '/v1/ads/lead-forms/{formId}'.sub('{' + 'formId' + '}', CGI.escape(form_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteLeadForm200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.delete_lead_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#delete_lead_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a (test) lead
    # Deletes a single lead by ID. Primarily used to clear the outstanding test lead so you can submit a new one. The same Graph API call works on real leads too; for production lead deletion (GDPR/CCPA) prefer a dedicated flow. 
    # @param form_id [String] 
    # @param lead_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteLeadForm200Response]
    def delete_lead_form_test_lead(form_id, lead_id, account_id, opts = {})
      data, _status_code, _headers = delete_lead_form_test_lead_with_http_info(form_id, lead_id, account_id, opts)
      data
    end

    # Delete a (test) lead
    # Deletes a single lead by ID. Primarily used to clear the outstanding test lead so you can submit a new one. The same Graph API call works on real leads too; for production lead deletion (GDPR/CCPA) prefer a dedicated flow. 
    # @param form_id [String] 
    # @param lead_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteLeadForm200Response, Integer, Hash)>] DeleteLeadForm200Response data, response status code and response headers
    def delete_lead_form_test_lead_with_http_info(form_id, lead_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.delete_lead_form_test_lead ...'
      end
      # verify the required parameter 'form_id' is set
      if @api_client.config.client_side_validation && form_id.nil?
        fail ArgumentError, "Missing the required parameter 'form_id' when calling LeadFormsApi.delete_lead_form_test_lead"
      end
      # verify the required parameter 'lead_id' is set
      if @api_client.config.client_side_validation && lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_id' when calling LeadFormsApi.delete_lead_form_test_lead"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling LeadFormsApi.delete_lead_form_test_lead"
      end
      # resource path
      local_var_path = '/v1/ads/lead-forms/{formId}/test-leads/{leadId}'.sub('{' + 'formId' + '}', CGI.escape(form_id.to_s)).sub('{' + 'leadId' + '}', CGI.escape(lead_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteLeadForm200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.delete_lead_form_test_lead",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#delete_lead_form_test_lead\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Lead Gen Form
    # Returns full details for a single form, including questions, privacy policy, and lead counts.
    # @param form_id [String] Meta lead form ID (numeric string)
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetLeadForm200Response]
    def get_lead_form(form_id, account_id, opts = {})
      data, _status_code, _headers = get_lead_form_with_http_info(form_id, account_id, opts)
      data
    end

    # Get a Lead Gen Form
    # Returns full details for a single form, including questions, privacy policy, and lead counts.
    # @param form_id [String] Meta lead form ID (numeric string)
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetLeadForm200Response, Integer, Hash)>] GetLeadForm200Response data, response status code and response headers
    def get_lead_form_with_http_info(form_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.get_lead_form ...'
      end
      # verify the required parameter 'form_id' is set
      if @api_client.config.client_side_validation && form_id.nil?
        fail ArgumentError, "Missing the required parameter 'form_id' when calling LeadFormsApi.get_lead_form"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling LeadFormsApi.get_lead_form"
      end
      # resource path
      local_var_path = '/v1/ads/lead-forms/{formId}'.sub('{' + 'formId' + '}', CGI.escape(form_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLeadForm200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.get_lead_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#get_lead_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List submitted leads for a form
    # Returns leads submitted against a Lead Gen Form. The page access token on the connected account must have the `leads_retrieval` permission — if the token was minted before that scope was approved, this endpoint returns `code: scope_reconnect_required` (HTTP 422) and the customer must reconnect the Facebook account.  For real-time delivery without polling, subscribe a webhook to the `lead.received` event. 
    # @param form_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :cursor 
    # @option opts [Integer] :since Unix timestamp; only return leads created strictly after this.
    # @return [ListLeadFormLeads200Response]
    def list_lead_form_leads(form_id, account_id, opts = {})
      data, _status_code, _headers = list_lead_form_leads_with_http_info(form_id, account_id, opts)
      data
    end

    # List submitted leads for a form
    # Returns leads submitted against a Lead Gen Form. The page access token on the connected account must have the &#x60;leads_retrieval&#x60; permission — if the token was minted before that scope was approved, this endpoint returns &#x60;code: scope_reconnect_required&#x60; (HTTP 422) and the customer must reconnect the Facebook account.  For real-time delivery without polling, subscribe a webhook to the &#x60;lead.received&#x60; event. 
    # @param form_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :cursor 
    # @option opts [Integer] :since Unix timestamp; only return leads created strictly after this.
    # @return [Array<(ListLeadFormLeads200Response, Integer, Hash)>] ListLeadFormLeads200Response data, response status code and response headers
    def list_lead_form_leads_with_http_info(form_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.list_lead_form_leads ...'
      end
      # verify the required parameter 'form_id' is set
      if @api_client.config.client_side_validation && form_id.nil?
        fail ArgumentError, "Missing the required parameter 'form_id' when calling LeadFormsApi.list_lead_form_leads"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling LeadFormsApi.list_lead_form_leads"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeadFormsApi.list_lead_form_leads, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeadFormsApi.list_lead_form_leads, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/ads/lead-forms/{formId}/leads'.sub('{' + 'formId' + '}', CGI.escape(form_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLeadFormLeads200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.list_lead_form_leads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#list_lead_form_leads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Meta Lead Gen Forms
    # Returns Meta Instant Forms attached to the Facebook Page connected via the given social account. Forms live on Facebook Pages — Instagram lead ads reuse the linked Page under the hood, so even Instagram-only ad accounts list forms from the linked Facebook Page. Requires the Ads add-on. 
    # @param account_id [String] Facebook social account ID (Late SocialAccount _id)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :cursor Meta &#x60;paging.cursors.after&#x60; from a prior page
    # @return [ListLeadForms200Response]
    def list_lead_forms(account_id, opts = {})
      data, _status_code, _headers = list_lead_forms_with_http_info(account_id, opts)
      data
    end

    # List Meta Lead Gen Forms
    # Returns Meta Instant Forms attached to the Facebook Page connected via the given social account. Forms live on Facebook Pages — Instagram lead ads reuse the linked Page under the hood, so even Instagram-only ad accounts list forms from the linked Facebook Page. Requires the Ads add-on. 
    # @param account_id [String] Facebook social account ID (Late SocialAccount _id)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :cursor Meta &#x60;paging.cursors.after&#x60; from a prior page
    # @return [Array<(ListLeadForms200Response, Integer, Hash)>] ListLeadForms200Response data, response status code and response headers
    def list_lead_forms_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.list_lead_forms ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling LeadFormsApi.list_lead_forms"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeadFormsApi.list_lead_forms, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling LeadFormsApi.list_lead_forms, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/ads/lead-forms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListLeadForms200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.list_lead_forms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#list_lead_forms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Lead Gen Form (status only)
    # Update mutable fields on an existing form. Today only `status` is mutable on Meta's side — questions / privacy_policy / thank_you_page are immutable once a form has received any leads. 
    # @param form_id [String] 
    # @param update_lead_form_request [UpdateLeadFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteLeadForm200Response]
    def update_lead_form(form_id, update_lead_form_request, opts = {})
      data, _status_code, _headers = update_lead_form_with_http_info(form_id, update_lead_form_request, opts)
      data
    end

    # Update a Lead Gen Form (status only)
    # Update mutable fields on an existing form. Today only &#x60;status&#x60; is mutable on Meta&#39;s side — questions / privacy_policy / thank_you_page are immutable once a form has received any leads. 
    # @param form_id [String] 
    # @param update_lead_form_request [UpdateLeadFormRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteLeadForm200Response, Integer, Hash)>] DeleteLeadForm200Response data, response status code and response headers
    def update_lead_form_with_http_info(form_id, update_lead_form_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadFormsApi.update_lead_form ...'
      end
      # verify the required parameter 'form_id' is set
      if @api_client.config.client_side_validation && form_id.nil?
        fail ArgumentError, "Missing the required parameter 'form_id' when calling LeadFormsApi.update_lead_form"
      end
      # verify the required parameter 'update_lead_form_request' is set
      if @api_client.config.client_side_validation && update_lead_form_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_lead_form_request' when calling LeadFormsApi.update_lead_form"
      end
      # resource path
      local_var_path = '/v1/ads/lead-forms/{formId}'.sub('{' + 'formId' + '}', CGI.escape(form_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_lead_form_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteLeadForm200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LeadFormsApi.update_lead_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadFormsApi#update_lead_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
