=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class PhoneNumbersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a port-in
    # Cancel an in-flight port (wrong number, staying with the old carrier). Only orders that haven't ported can be cancelled; a completed port is a normal number release instead. The carrier may report `cancel-pending` briefly while the losing carrier acknowledges; it settles to `cancelled`. 
    # @param id [String] Porting order ID (from the port-in list).
    # @param [Hash] opts the optional parameters
    # @return [CancelPhoneNumberPortIn200Response]
    def cancel_phone_number_port_in(id, opts = {})
      data, _status_code, _headers = cancel_phone_number_port_in_with_http_info(id, opts)
      data
    end

    # Cancel a port-in
    # Cancel an in-flight port (wrong number, staying with the old carrier). Only orders that haven&#39;t ported can be cancelled; a completed port is a normal number release instead. The carrier may report &#x60;cancel-pending&#x60; briefly while the losing carrier acknowledges; it settles to &#x60;cancelled&#x60;. 
    # @param id [String] Porting order ID (from the port-in list).
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelPhoneNumberPortIn200Response, Integer, Hash)>] CancelPhoneNumberPortIn200Response data, response status code and response headers
    def cancel_phone_number_port_in_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.cancel_phone_number_port_in ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PhoneNumbersApi.cancel_phone_number_port_in"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/port-in/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CancelPhoneNumberPortIn200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.cancel_phone_number_port_in",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#cancel_phone_number_port_in\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check country availability
    # Pre-purchase check, so you can warn BEFORE a customer invests in KYC (regulated review is async, 1-3 days). Tells you whether we have deliverable inventory, and what address the customer needs:   - `addressConstraint: geo`  → the registered address MUST be in one of     the returned `areas` (the only place we have stock). A different-area     address passes pre-approval but the number can never be assigned.   - `addressConstraint: country` → any in-country address works.   - `addressConstraint: none` → field-only / instant country, no address. Call this before starting the KYC form for regulated countries. 
    # @param country [String] ISO-2 country code.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :number_type Check a specific offered type (stock and address constraints are per type). Omitted &#x3D; the country&#39;s default type.
    # @return [CheckPhoneNumberAvailability200Response]
    def check_phone_number_availability(country, opts = {})
      data, _status_code, _headers = check_phone_number_availability_with_http_info(country, opts)
      data
    end

    # Check country availability
    # Pre-purchase check, so you can warn BEFORE a customer invests in KYC (regulated review is async, 1-3 days). Tells you whether we have deliverable inventory, and what address the customer needs:   - &#x60;addressConstraint: geo&#x60;  → the registered address MUST be in one of     the returned &#x60;areas&#x60; (the only place we have stock). A different-area     address passes pre-approval but the number can never be assigned.   - &#x60;addressConstraint: country&#x60; → any in-country address works.   - &#x60;addressConstraint: none&#x60; → field-only / instant country, no address. Call this before starting the KYC form for regulated countries. 
    # @param country [String] ISO-2 country code.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :number_type Check a specific offered type (stock and address constraints are per type). Omitted &#x3D; the country&#39;s default type.
    # @return [Array<(CheckPhoneNumberAvailability200Response, Integer, Hash)>] CheckPhoneNumberAvailability200Response data, response status code and response headers
    def check_phone_number_availability_with_http_info(country, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.check_phone_number_availability ...'
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling PhoneNumbersApi.check_phone_number_availability"
      end
      allowable_values = ["local", "mobile", "national", "toll_free"]
      if @api_client.config.client_side_validation && opts[:'number_type'] && !allowable_values.include?(opts[:'number_type'])
        fail ArgumentError, "invalid value for \"number_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/availability'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = country
      query_params[:'numberType'] = opts[:'number_type'] if !opts[:'number_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckPhoneNumberAvailability200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.check_phone_number_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#check_phone_number_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check portability
    # Pre-flight portability check: whether each number can be ported in and whether it qualifies for FastPort, BEFORE the user commits to a port order (LOA, invoice, service address). Read-only; creates no order and bills nothing. 
    # @param check_phone_number_portability_request [CheckPhoneNumberPortabilityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CheckPhoneNumberPortability200Response]
    def check_phone_number_portability(check_phone_number_portability_request, opts = {})
      data, _status_code, _headers = check_phone_number_portability_with_http_info(check_phone_number_portability_request, opts)
      data
    end

    # Check portability
    # Pre-flight portability check: whether each number can be ported in and whether it qualifies for FastPort, BEFORE the user commits to a port order (LOA, invoice, service address). Read-only; creates no order and bills nothing. 
    # @param check_phone_number_portability_request [CheckPhoneNumberPortabilityRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckPhoneNumberPortability200Response, Integer, Hash)>] CheckPhoneNumberPortability200Response data, response status code and response headers
    def check_phone_number_portability_with_http_info(check_phone_number_portability_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.check_phone_number_portability ...'
      end
      # verify the required parameter 'check_phone_number_portability_request' is set
      if @api_client.config.client_side_validation && check_phone_number_portability_request.nil?
        fail ArgumentError, "Missing the required parameter 'check_phone_number_portability_request' when calling PhoneNumbersApi.check_phone_number_portability"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/port-in/check'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_phone_number_portability_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckPhoneNumberPortability200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.check_phone_number_portability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#check_phone_number_portability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a hosted KYC link
    # Create a single-use, 7-day hosted KYC link that your end customer completes WITHOUT a Zernio login — useful when the person who holds the ID and address is not your team. They fill the regulated verification on a Zernio-hosted page; the number provisions under YOUR account once they submit. Only regulated (KYC) countries are valid: a country that does not require KYC returns 400.  White-label the page with `branding` (your company name, logo, brand color). Supply `redirect_url` to send the end customer back to your own site after a successful submit (completion params are appended — see below). Listen for the `whatsapp.number.kyc_submitted` webhook to react when the form is completed. 
    # @param create_phone_number_kyc_link_request [CreatePhoneNumberKycLinkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePhoneNumberKycLink200Response]
    def create_phone_number_kyc_link(create_phone_number_kyc_link_request, opts = {})
      data, _status_code, _headers = create_phone_number_kyc_link_with_http_info(create_phone_number_kyc_link_request, opts)
      data
    end

    # Create a hosted KYC link
    # Create a single-use, 7-day hosted KYC link that your end customer completes WITHOUT a Zernio login — useful when the person who holds the ID and address is not your team. They fill the regulated verification on a Zernio-hosted page; the number provisions under YOUR account once they submit. Only regulated (KYC) countries are valid: a country that does not require KYC returns 400.  White-label the page with &#x60;branding&#x60; (your company name, logo, brand color). Supply &#x60;redirect_url&#x60; to send the end customer back to your own site after a successful submit (completion params are appended — see below). Listen for the &#x60;whatsapp.number.kyc_submitted&#x60; webhook to react when the form is completed. 
    # @param create_phone_number_kyc_link_request [CreatePhoneNumberKycLinkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePhoneNumberKycLink200Response, Integer, Hash)>] CreatePhoneNumberKycLink200Response data, response status code and response headers
    def create_phone_number_kyc_link_with_http_info(create_phone_number_kyc_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.create_phone_number_kyc_link ...'
      end
      # verify the required parameter 'create_phone_number_kyc_link_request' is set
      if @api_client.config.client_side_validation && create_phone_number_kyc_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_phone_number_kyc_link_request' when calling PhoneNumbersApi.create_phone_number_kyc_link"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/kyc/share'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_phone_number_kyc_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePhoneNumberKycLink200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.create_phone_number_kyc_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#create_phone_number_kyc_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Port numbers in
    # Submit a port-in for one or more existing numbers from another carrier. Creates the carrier order(s), attaches the end-user (current account) info plus the LOA and invoice documents, and submits to the losing carrier. The transfer PIN is forwarded to the carrier and never stored. Ported numbers arrive voice-ready (and SMS-ready where the order supports messaging).  Run the portability check (POST /v1/phone-numbers/port-in/check) and upload the two documents (POST /v1/phone-numbers/port-in/documents) first — uploaded documents must be attached to an order within 30 minutes or the carrier deletes them, so upload right before this call. The carrier may split the numbers into several orders (by country, number type, losing carrier); `orders` carries per-order results, and a partial failure still returns 201 with the failed orders' `error` set (they stay as cancellable drafts).  Non-US/CA numbers additionally need the country-specific values from GET /v1/phone-numbers/port-in/requirements, passed via `requirements`, and must be submitted one country per request. When required information is still missing after submission, the order is kept as a resumable draft whose `error` / `declineReason` names the gaps. 
    # @param create_phone_number_port_in_request [CreatePhoneNumberPortInRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePhoneNumberPortIn201Response]
    def create_phone_number_port_in(create_phone_number_port_in_request, opts = {})
      data, _status_code, _headers = create_phone_number_port_in_with_http_info(create_phone_number_port_in_request, opts)
      data
    end

    # Port numbers in
    # Submit a port-in for one or more existing numbers from another carrier. Creates the carrier order(s), attaches the end-user (current account) info plus the LOA and invoice documents, and submits to the losing carrier. The transfer PIN is forwarded to the carrier and never stored. Ported numbers arrive voice-ready (and SMS-ready where the order supports messaging).  Run the portability check (POST /v1/phone-numbers/port-in/check) and upload the two documents (POST /v1/phone-numbers/port-in/documents) first — uploaded documents must be attached to an order within 30 minutes or the carrier deletes them, so upload right before this call. The carrier may split the numbers into several orders (by country, number type, losing carrier); &#x60;orders&#x60; carries per-order results, and a partial failure still returns 201 with the failed orders&#39; &#x60;error&#x60; set (they stay as cancellable drafts).  Non-US/CA numbers additionally need the country-specific values from GET /v1/phone-numbers/port-in/requirements, passed via &#x60;requirements&#x60;, and must be submitted one country per request. When required information is still missing after submission, the order is kept as a resumable draft whose &#x60;error&#x60; / &#x60;declineReason&#x60; names the gaps. 
    # @param create_phone_number_port_in_request [CreatePhoneNumberPortInRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePhoneNumberPortIn201Response, Integer, Hash)>] CreatePhoneNumberPortIn201Response data, response status code and response headers
    def create_phone_number_port_in_with_http_info(create_phone_number_port_in_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.create_phone_number_port_in ...'
      end
      # verify the required parameter 'create_phone_number_port_in_request' is set
      if @api_client.config.client_side_validation && create_phone_number_port_in_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_phone_number_port_in_request' when calling PhoneNumbersApi.create_phone_number_port_in"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/port-in'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_phone_number_port_in_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePhoneNumberPortIn201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.create_phone_number_port_in",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#create_phone_number_port_in\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone number
    # Retrieve the current status of a purchased phone number. Poll this to track Meta pre-verification (US sync path) and, for regulated (Tier 3/4) numbers, the async lifecycle: pending_regulatory → active (or regulatory_declined). When a regulated number has an Onfido ID step, `onfidoVerificationUrl` appears here once the order is placed — forward it to the end user. (Or subscribe to the whatsapp.number.* webhooks instead of polling.) 
    # @param id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [GetPhoneNumber200Response]
    def get_phone_number(id, opts = {})
      data, _status_code, _headers = get_phone_number_with_http_info(id, opts)
      data
    end

    # Get phone number
    # Retrieve the current status of a purchased phone number. Poll this to track Meta pre-verification (US sync path) and, for regulated (Tier 3/4) numbers, the async lifecycle: pending_regulatory → active (or regulatory_declined). When a regulated number has an Onfido ID step, &#x60;onfidoVerificationUrl&#x60; appears here once the order is placed — forward it to the end user. (Or subscribe to the whatsapp.number.* webhooks instead of polling.) 
    # @param id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPhoneNumber200Response, Integer, Hash)>] GetPhoneNumber200Response data, response status code and response headers
    def get_phone_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.get_phone_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PhoneNumbersApi.get_phone_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.get_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#get_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get KYC form spec
    # For a Tier 3/4 country, the fields the end customer must provide (Telnyx regulatory requirements) before a number can be ordered: text, date, address, or file (document) per requirement. 
    # @param country [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :number_type Requirements and reuse eligibility are per (country, type). Omitted &#x3D; the country&#39;s default type. Pass the same value on the POST.
    # @return [GetPhoneNumberKycForm200Response]
    def get_phone_number_kyc_form(country, opts = {})
      data, _status_code, _headers = get_phone_number_kyc_form_with_http_info(country, opts)
      data
    end

    # Get KYC form spec
    # For a Tier 3/4 country, the fields the end customer must provide (Telnyx regulatory requirements) before a number can be ordered: text, date, address, or file (document) per requirement. 
    # @param country [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :number_type Requirements and reuse eligibility are per (country, type). Omitted &#x3D; the country&#39;s default type. Pass the same value on the POST.
    # @return [Array<(GetPhoneNumberKycForm200Response, Integer, Hash)>] GetPhoneNumberKycForm200Response data, response status code and response headers
    def get_phone_number_kyc_form_with_http_info(country, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.get_phone_number_kyc_form ...'
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling PhoneNumbersApi.get_phone_number_kyc_form"
      end
      allowable_values = ["local", "mobile", "national", "toll_free"]
      if @api_client.config.client_side_validation && opts[:'number_type'] && !allowable_values.include?(opts[:'number_type'])
        fail ArgumentError, "invalid value for \"number_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/kyc'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = country
      query_params[:'numberType'] = opts[:'number_type'] if !opts[:'number_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPhoneNumberKycForm200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.get_phone_number_kyc_form",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#get_phone_number_kyc_form\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A port-in order's pending requirements
    # The live requirements on an EXISTING porting order: which are filled, which are still pending, and which bounced on review (`requirement-info-exception`). Use it to fix and resubmit a rejected international port. Same field shape as the country-level requirements endpoint, plus per-requirement status. 
    # @param id [String] Porting order ID (from the port-in list).
    # @param [Hash] opts the optional parameters
    # @return [GetPhoneNumberPortInOrderRequirements200Response]
    def get_phone_number_port_in_order_requirements(id, opts = {})
      data, _status_code, _headers = get_phone_number_port_in_order_requirements_with_http_info(id, opts)
      data
    end

    # A port-in order&#39;s pending requirements
    # The live requirements on an EXISTING porting order: which are filled, which are still pending, and which bounced on review (&#x60;requirement-info-exception&#x60;). Use it to fix and resubmit a rejected international port. Same field shape as the country-level requirements endpoint, plus per-requirement status. 
    # @param id [String] Porting order ID (from the port-in list).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPhoneNumberPortInOrderRequirements200Response, Integer, Hash)>] GetPhoneNumberPortInOrderRequirements200Response data, response status code and response headers
    def get_phone_number_port_in_order_requirements_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.get_phone_number_port_in_order_requirements ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PhoneNumbersApi.get_phone_number_port_in_order_requirements"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/port-in/{id}/requirements'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPhoneNumberPortInOrderRequirements200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.get_phone_number_port_in_order_requirements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#get_phone_number_port_in_order_requirements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Country porting requirements
    # The country-specific information a port-in needs BEYOND the LOA, invoice, and account/address details — e.g. an ID copy, proof of address, a tax id, or a porting code. Call it after the portability check (which returns each number's `countryCode` and `phoneNumberType`), render the fields, and pass the collected values as the create request's `requirements`. US/CA return an empty list. 
    # @param country [String] ISO country of the numbers being ported (a supported port-in country).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :number_type The portability check&#39;s phoneNumberType — requirements differ by type. (default to 'local')
    # @return [GetPhoneNumberPortInRequirements200Response]
    def get_phone_number_port_in_requirements(country, opts = {})
      data, _status_code, _headers = get_phone_number_port_in_requirements_with_http_info(country, opts)
      data
    end

    # Country porting requirements
    # The country-specific information a port-in needs BEYOND the LOA, invoice, and account/address details — e.g. an ID copy, proof of address, a tax id, or a porting code. Call it after the portability check (which returns each number&#39;s &#x60;countryCode&#x60; and &#x60;phoneNumberType&#x60;), render the fields, and pass the collected values as the create request&#39;s &#x60;requirements&#x60;. US/CA return an empty list. 
    # @param country [String] ISO country of the numbers being ported (a supported port-in country).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :number_type The portability check&#39;s phoneNumberType — requirements differ by type. (default to 'local')
    # @return [Array<(GetPhoneNumberPortInRequirements200Response, Integer, Hash)>] GetPhoneNumberPortInRequirements200Response data, response status code and response headers
    def get_phone_number_port_in_requirements_with_http_info(country, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.get_phone_number_port_in_requirements ...'
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling PhoneNumbersApi.get_phone_number_port_in_requirements"
      end
      if @api_client.config.client_side_validation && country.to_s.length > 2
        fail ArgumentError, 'invalid value for "country" when calling PhoneNumbersApi.get_phone_number_port_in_requirements, the character length must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && country.to_s.length < 2
        fail ArgumentError, 'invalid value for "country" when calling PhoneNumbersApi.get_phone_number_port_in_requirements, the character length must be greater than or equal to 2.'
      end

      allowable_values = ["local", "mobile", "national", "toll_free"]
      if @api_client.config.client_side_validation && opts[:'number_type'] && !allowable_values.include?(opts[:'number_type'])
        fail ArgumentError, "invalid value for \"number_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/port-in/requirements'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = country
      query_params[:'numberType'] = opts[:'number_type'] if !opts[:'number_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPhoneNumberPortInRequirements200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.get_phone_number_port_in_requirements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#get_phone_number_port_in_requirements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get declined requirements
    # For a number in `regulatory_declined`, returns ONLY the requirements the reviewer flagged declined, as a form spec (same shape as the KYC form GET). The customer fixes just those — Telnyx supports correcting a declined requirement group and re-submitting it (no new number/group). Falls back to the full spec if the provider exposes no per-requirement flags. 
    # @param id [String] Phone number record ID.
    # @param [Hash] opts the optional parameters
    # @return [GetPhoneNumberRemediation200Response]
    def get_phone_number_remediation(id, opts = {})
      data, _status_code, _headers = get_phone_number_remediation_with_http_info(id, opts)
      data
    end

    # Get declined requirements
    # For a number in &#x60;regulatory_declined&#x60;, returns ONLY the requirements the reviewer flagged declined, as a form spec (same shape as the KYC form GET). The customer fixes just those — Telnyx supports correcting a declined requirement group and re-submitting it (no new number/group). Falls back to the full spec if the provider exposes no per-requirement flags. 
    # @param id [String] Phone number record ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPhoneNumberRemediation200Response, Integer, Hash)>] GetPhoneNumberRemediation200Response data, response status code and response headers
    def get_phone_number_remediation_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.get_phone_number_remediation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PhoneNumbersApi.get_phone_number_remediation"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}/remediate'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPhoneNumberRemediation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.get_phone_number_remediation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#get_phone_number_remediation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List offerable number countries
    # The phone number countries available to purchase, each with its flat monthly price (cents), regulatory tier, whether it needs end-user KYC (Tier 3/4), and per-feature availability (PSTN calls, WhatsApp, SMS, and WhatsApp Business Calling outbound). Drives the country picker. Tier-4 countries appear only when enabled. 
    # @param [Hash] opts the optional parameters
    # @return [ListPhoneNumberCountries200Response]
    def list_phone_number_countries(opts = {})
      data, _status_code, _headers = list_phone_number_countries_with_http_info(opts)
      data
    end

    # List offerable number countries
    # The phone number countries available to purchase, each with its flat monthly price (cents), regulatory tier, whether it needs end-user KYC (Tier 3/4), and per-feature availability (PSTN calls, WhatsApp, SMS, and WhatsApp Business Calling outbound). Drives the country picker. Tier-4 countries appear only when enabled. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListPhoneNumberCountries200Response, Integer, Hash)>] ListPhoneNumberCountries200Response data, response status code and response headers
    def list_phone_number_countries_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.list_phone_number_countries ...'
      end
      # resource path
      local_var_path = '/v1/phone-numbers/countries'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPhoneNumberCountries200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.list_phone_number_countries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#list_phone_number_countries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List port-in orders
    # Your porting orders, newest first (max 50). Poll this for port progress: pending, confirmed FOC date, exception reason, or ported. 
    # @param [Hash] opts the optional parameters
    # @return [ListPhoneNumberPortIns200Response]
    def list_phone_number_port_ins(opts = {})
      data, _status_code, _headers = list_phone_number_port_ins_with_http_info(opts)
      data
    end

    # List port-in orders
    # Your porting orders, newest first (max 50). Poll this for port progress: pending, confirmed FOC date, exception reason, or ported. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListPhoneNumberPortIns200Response, Integer, Hash)>] ListPhoneNumberPortIns200Response data, response status code and response headers
    def list_phone_number_port_ins_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.list_phone_number_port_ins ...'
      end
      # resource path
      local_var_path = '/v1/phone-numbers/port-in'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPhoneNumberPortIns200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.list_phone_number_port_ins",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#list_phone_number_port_ins\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List phone numbers
    # List all phone numbers purchased by the authenticated user. By default, released numbers are excluded. Connected (bring-your-own) WhatsApp numbers are returned in the separate `connected` array; they are not billed and have no provisioning lifecycle. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status (by default excludes released numbers). NOTE: &#x60;status&#x3D;pending_regulatory&#x60; returns the \&quot;provisioning\&quot; view — numbers still in review PLUS recently-declined (last 30 days) ones, so a failed registration surfaces (with &#x60;regulatoryDeclineReason&#x60;) instead of silently disappearing. Declined numbers can be re-submitted via POST /v1/phone-numbers/{id}/remediate. &#x60;verifying&#x60; is the short-lived state after the number is provisioned on our side while WhatsApp confirms the activation code; the number is not billed until it reaches &#x60;active&#x60;. 
    # @option opts [String] :profile_id Filter by profile
    # @return [ListPhoneNumbers200Response]
    def list_phone_numbers(opts = {})
      data, _status_code, _headers = list_phone_numbers_with_http_info(opts)
      data
    end

    # List phone numbers
    # List all phone numbers purchased by the authenticated user. By default, released numbers are excluded. Connected (bring-your-own) WhatsApp numbers are returned in the separate &#x60;connected&#x60; array; they are not billed and have no provisioning lifecycle. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status (by default excludes released numbers). NOTE: &#x60;status&#x3D;pending_regulatory&#x60; returns the \&quot;provisioning\&quot; view — numbers still in review PLUS recently-declined (last 30 days) ones, so a failed registration surfaces (with &#x60;regulatoryDeclineReason&#x60;) instead of silently disappearing. Declined numbers can be re-submitted via POST /v1/phone-numbers/{id}/remediate. &#x60;verifying&#x60; is the short-lived state after the number is provisioned on our side while WhatsApp confirms the activation code; the number is not billed until it reaches &#x60;active&#x60;. 
    # @option opts [String] :profile_id Filter by profile
    # @return [Array<(ListPhoneNumbers200Response, Integer, Hash)>] ListPhoneNumbers200Response data, response status code and response headers
    def list_phone_numbers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.list_phone_numbers ...'
      end
      allowable_values = ["provisioning", "verifying", "pending_payment", "pending_regulatory", "regulatory_declined", "active", "suspended", "releasing", "released"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/phone-numbers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPhoneNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.list_phone_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#list_phone_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Purchase phone number
    # Payment-first: you do not pick a specific number, the system provisions one and auto-assigns it. With usage-based billing active and a payment method on file, the number provisions inline and bills per month on your usage-based invoice (there is no checkout redirect). No payment method on file returns `402 PAYMENT_REQUIRED`; a regulated country returns `202` with `status: \"kyc_required\"` and a `kycUrl`.  Requires usage-based billing (the Usage plan). The maximum number of phone numbers is determined by the user's plan. 
    # @param purchase_phone_number_request [PurchasePhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PurchasePhoneNumber200Response]
    def purchase_phone_number(purchase_phone_number_request, opts = {})
      data, _status_code, _headers = purchase_phone_number_with_http_info(purchase_phone_number_request, opts)
      data
    end

    # Purchase phone number
    # Payment-first: you do not pick a specific number, the system provisions one and auto-assigns it. With usage-based billing active and a payment method on file, the number provisions inline and bills per month on your usage-based invoice (there is no checkout redirect). No payment method on file returns &#x60;402 PAYMENT_REQUIRED&#x60;; a regulated country returns &#x60;202&#x60; with &#x60;status: \&quot;kyc_required\&quot;&#x60; and a &#x60;kycUrl&#x60;.  Requires usage-based billing (the Usage plan). The maximum number of phone numbers is determined by the user&#39;s plan. 
    # @param purchase_phone_number_request [PurchasePhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchasePhoneNumber200Response, Integer, Hash)>] PurchasePhoneNumber200Response data, response status code and response headers
    def purchase_phone_number_with_http_info(purchase_phone_number_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.purchase_phone_number ...'
      end
      # verify the required parameter 'purchase_phone_number_request' is set
      if @api_client.config.client_side_validation && purchase_phone_number_request.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_phone_number_request' when calling PhoneNumbersApi.purchase_phone_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/purchase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(purchase_phone_number_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PurchasePhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.purchase_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#purchase_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Release phone number
    # Release a purchased phone number. This will: 1. Disconnect any linked WhatsApp social account 2. Decrement the Stripe subscription quantity (or cancel if last number) 3. Release the number from Telnyx 4. Mark the number as released 
    # @param id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [ReleasePhoneNumber200Response]
    def release_phone_number(id, opts = {})
      data, _status_code, _headers = release_phone_number_with_http_info(id, opts)
      data
    end

    # Release phone number
    # Release a purchased phone number. This will: 1. Disconnect any linked WhatsApp social account 2. Decrement the Stripe subscription quantity (or cancel if last number) 3. Release the number from Telnyx 4. Mark the number as released 
    # @param id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleasePhoneNumber200Response, Integer, Hash)>] ReleasePhoneNumber200Response data, response status code and response headers
    def release_phone_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.release_phone_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PhoneNumbersApi.release_phone_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReleasePhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.release_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#release_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resubmit a declined number
    # Submit corrected values/documents for the declined requirement(s). We PATCH them onto the SAME requirement group and re-submit it for approval; the number goes `regulatory_declined` → `pending_regulatory`. No new number and no new billing. Body shape matches the KYC submit (values / documents / address) — send only the corrected fields. 
    # @param id [String] 
    # @param remediate_phone_number_request [RemediatePhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RemediatePhoneNumber200Response]
    def remediate_phone_number(id, remediate_phone_number_request, opts = {})
      data, _status_code, _headers = remediate_phone_number_with_http_info(id, remediate_phone_number_request, opts)
      data
    end

    # Resubmit a declined number
    # Submit corrected values/documents for the declined requirement(s). We PATCH them onto the SAME requirement group and re-submit it for approval; the number goes &#x60;regulatory_declined&#x60; → &#x60;pending_regulatory&#x60;. No new number and no new billing. Body shape matches the KYC submit (values / documents / address) — send only the corrected fields. 
    # @param id [String] 
    # @param remediate_phone_number_request [RemediatePhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemediatePhoneNumber200Response, Integer, Hash)>] RemediatePhoneNumber200Response data, response status code and response headers
    def remediate_phone_number_with_http_info(id, remediate_phone_number_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.remediate_phone_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PhoneNumbersApi.remediate_phone_number"
      end
      # verify the required parameter 'remediate_phone_number_request' is set
      if @api_client.config.client_side_validation && remediate_phone_number_request.nil?
        fail ArgumentError, "Missing the required parameter 'remediate_phone_number_request' when calling PhoneNumbersApi.remediate_phone_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}/remediate'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remediate_phone_number_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RemediatePhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.remediate_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#remediate_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pre-review a KYC packet
    # Advisory dry-run of a regulated-KYC packet before submitting: reviews the exact documents the regulator will see (referenced by the ids from POST /v1/phone-numbers/kyc/upload-document) against the declared values and address, and returns plain-language advisories for likely decline reasons (wrong document type, mismatched address, one-sided ID scans). Non-blocking: advisories are warnings, submitting anyway is always allowed, and any review failure degrades to an empty list. 
    # @param review_phone_number_kyc_packet_request [ReviewPhoneNumberKycPacketRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ReviewPhoneNumberKycPacket200Response]
    def review_phone_number_kyc_packet(review_phone_number_kyc_packet_request, opts = {})
      data, _status_code, _headers = review_phone_number_kyc_packet_with_http_info(review_phone_number_kyc_packet_request, opts)
      data
    end

    # Pre-review a KYC packet
    # Advisory dry-run of a regulated-KYC packet before submitting: reviews the exact documents the regulator will see (referenced by the ids from POST /v1/phone-numbers/kyc/upload-document) against the declared values and address, and returns plain-language advisories for likely decline reasons (wrong document type, mismatched address, one-sided ID scans). Non-blocking: advisories are warnings, submitting anyway is always allowed, and any review failure degrades to an empty list. 
    # @param review_phone_number_kyc_packet_request [ReviewPhoneNumberKycPacketRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReviewPhoneNumberKycPacket200Response, Integer, Hash)>] ReviewPhoneNumberKycPacket200Response data, response status code and response headers
    def review_phone_number_kyc_packet_with_http_info(review_phone_number_kyc_packet_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.review_phone_number_kyc_packet ...'
      end
      # verify the required parameter 'review_phone_number_kyc_packet_request' is set
      if @api_client.config.client_side_validation && review_phone_number_kyc_packet_request.nil?
        fail ArgumentError, "Missing the required parameter 'review_phone_number_kyc_packet_request' when calling PhoneNumbersApi.review_phone_number_kyc_packet"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/kyc/review-packet'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(review_phone_number_kyc_packet_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewPhoneNumberKycPacket200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.review_phone_number_kyc_packet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#review_phone_number_kyc_packet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search available numbers
    # Search the provider's inventory for numbers available to purchase in a country (default US). Optional filters narrow the results. The country must be offerable (see GET /v1/phone-numbers/countries). Voice capability is always required; pass `sms=true` to only see numbers that can also text (SMS support is per-number, not per-country). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'US')
    # @option opts [String] :type Number type; defaults to the country&#39;s WhatsApp-safe type
    # @option opts [String] :prefix Area code
    # @option opts [String] :locality City
    # @option opts [String] :contains Pattern to match within the number
    # @option opts [Boolean] :sms true narrows the pool to SMS-capable numbers. Each result still carries its full &#x60;features&#x60; list for per-number capability badging.
    # @option opts [Integer] :limit  (default to 20)
    # @return [SearchAvailablePhoneNumbers200Response]
    def search_available_phone_numbers(opts = {})
      data, _status_code, _headers = search_available_phone_numbers_with_http_info(opts)
      data
    end

    # Search available numbers
    # Search the provider&#39;s inventory for numbers available to purchase in a country (default US). Optional filters narrow the results. The country must be offerable (see GET /v1/phone-numbers/countries). Voice capability is always required; pass &#x60;sms&#x3D;true&#x60; to only see numbers that can also text (SMS support is per-number, not per-country). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country  (default to 'US')
    # @option opts [String] :type Number type; defaults to the country&#39;s WhatsApp-safe type
    # @option opts [String] :prefix Area code
    # @option opts [String] :locality City
    # @option opts [String] :contains Pattern to match within the number
    # @option opts [Boolean] :sms true narrows the pool to SMS-capable numbers. Each result still carries its full &#x60;features&#x60; list for per-number capability badging.
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(SearchAvailablePhoneNumbers200Response, Integer, Hash)>] SearchAvailablePhoneNumbers200Response data, response status code and response headers
    def search_available_phone_numbers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.search_available_phone_numbers ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PhoneNumbersApi.search_available_phone_numbers, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/v1/phone-numbers/available'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'prefix'] = opts[:'prefix'] if !opts[:'prefix'].nil?
      query_params[:'locality'] = opts[:'locality'] if !opts[:'locality'].nil?
      query_params[:'contains'] = opts[:'contains'] if !opts[:'contains'].nil?
      query_params[:'sms'] = opts[:'sms'] if !opts[:'sms'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchAvailablePhoneNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.search_available_phone_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#search_available_phone_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit KYC
    # Submit the end customer's KYC (textual values, uploaded documents, address) for a Tier 3/4 country. Documents are streamed straight to the number provider and are not stored by Zernio. Builds + submits a regulatory requirement group and claims a pending_regulatory slot; the number is ordered + activated once the provider approves (asynchronous). A customer may hold several same-country numbers in review at once; a double-submit of the SAME attempt is deduped via `submissionId`.  For an ID-card document requirement, carriers commonly require BOTH sides: combine the front and back into a single file before uploading (the dashboard does this automatically). A one-sided ID is a common decline reason; fix it via POST /v1/phone-numbers/{id}/remediate.  Before submitting, call GET /v1/phone-numbers/availability to check the country has deliverable inventory and, for geographic-match countries, which area the address must be in — otherwise the submission can pass review yet never be assignable a number. 
    # @param submit_phone_number_kyc_request [SubmitPhoneNumberKycRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SubmitPhoneNumberKyc200Response]
    def submit_phone_number_kyc(submit_phone_number_kyc_request, opts = {})
      data, _status_code, _headers = submit_phone_number_kyc_with_http_info(submit_phone_number_kyc_request, opts)
      data
    end

    # Submit KYC
    # Submit the end customer&#39;s KYC (textual values, uploaded documents, address) for a Tier 3/4 country. Documents are streamed straight to the number provider and are not stored by Zernio. Builds + submits a regulatory requirement group and claims a pending_regulatory slot; the number is ordered + activated once the provider approves (asynchronous). A customer may hold several same-country numbers in review at once; a double-submit of the SAME attempt is deduped via &#x60;submissionId&#x60;.  For an ID-card document requirement, carriers commonly require BOTH sides: combine the front and back into a single file before uploading (the dashboard does this automatically). A one-sided ID is a common decline reason; fix it via POST /v1/phone-numbers/{id}/remediate.  Before submitting, call GET /v1/phone-numbers/availability to check the country has deliverable inventory and, for geographic-match countries, which area the address must be in — otherwise the submission can pass review yet never be assignable a number. 
    # @param submit_phone_number_kyc_request [SubmitPhoneNumberKycRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubmitPhoneNumberKyc200Response, Integer, Hash)>] SubmitPhoneNumberKyc200Response data, response status code and response headers
    def submit_phone_number_kyc_with_http_info(submit_phone_number_kyc_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.submit_phone_number_kyc ...'
      end
      # verify the required parameter 'submit_phone_number_kyc_request' is set
      if @api_client.config.client_side_validation && submit_phone_number_kyc_request.nil?
        fail ArgumentError, "Missing the required parameter 'submit_phone_number_kyc_request' when calling PhoneNumbersApi.submit_phone_number_kyc"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/kyc'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(submit_phone_number_kyc_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SubmitPhoneNumberKyc200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.submit_phone_number_kyc",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#submit_phone_number_kyc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a KYC document
    # Upload ONE document and get back its provider document id, to reference from POST /v1/phone-numbers/kyc via `documents[].documentId`. Send the RAW file bytes as the request body (not base64); put the filename in the `X-Filename` header. Uploading documents one-per-request keeps each request under the ~4.5MB body limit. The document streams straight to the number provider and is not stored by Zernio. 
    # @param x_filename [String] URL-encoded original filename.
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [UploadPhoneNumberKycDocument200Response]
    def upload_phone_number_kyc_document(x_filename, body, opts = {})
      data, _status_code, _headers = upload_phone_number_kyc_document_with_http_info(x_filename, body, opts)
      data
    end

    # Upload a KYC document
    # Upload ONE document and get back its provider document id, to reference from POST /v1/phone-numbers/kyc via &#x60;documents[].documentId&#x60;. Send the RAW file bytes as the request body (not base64); put the filename in the &#x60;X-Filename&#x60; header. Uploading documents one-per-request keeps each request under the ~4.5MB body limit. The document streams straight to the number provider and is not stored by Zernio. 
    # @param x_filename [String] URL-encoded original filename.
    # @param body [File] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadPhoneNumberKycDocument200Response, Integer, Hash)>] UploadPhoneNumberKycDocument200Response data, response status code and response headers
    def upload_phone_number_kyc_document_with_http_info(x_filename, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.upload_phone_number_kyc_document ...'
      end
      # verify the required parameter 'x_filename' is set
      if @api_client.config.client_side_validation && x_filename.nil?
        fail ArgumentError, "Missing the required parameter 'x_filename' when calling PhoneNumbersApi.upload_phone_number_kyc_document"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling PhoneNumbersApi.upload_phone_number_kyc_document"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/kyc/upload-document'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/octet-stream'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Filename'] = x_filename

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'UploadPhoneNumberKycDocument200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.upload_phone_number_kyc_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#upload_phone_number_kyc_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload a porting document
    # Upload ONE porting document and get back its `documentId`. For the signed LOA / carrier invoice the id goes to `loaDocumentId` / `invoiceDocumentId`; for a country-specific document requirement (international ports) it becomes that requirement's `fieldValue`. Requirement documents are normalized to PDF automatically (regulators reject raw images). PDF, JPEG, or PNG, 10MB max. Uploads must be attached to an order within 30 minutes or the carrier deletes them. 
    # @param file [File] The document (PDF/JPEG/PNG, 10MB max).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kind &#39;loa&#39;, &#39;invoice&#39;, or any short slug for requirement documents. Informational; used for the stored filename.
    # @return [UploadPhoneNumberPortInDocument200Response]
    def upload_phone_number_port_in_document(file, opts = {})
      data, _status_code, _headers = upload_phone_number_port_in_document_with_http_info(file, opts)
      data
    end

    # Upload a porting document
    # Upload ONE porting document and get back its &#x60;documentId&#x60;. For the signed LOA / carrier invoice the id goes to &#x60;loaDocumentId&#x60; / &#x60;invoiceDocumentId&#x60;; for a country-specific document requirement (international ports) it becomes that requirement&#39;s &#x60;fieldValue&#x60;. Requirement documents are normalized to PDF automatically (regulators reject raw images). PDF, JPEG, or PNG, 10MB max. Uploads must be attached to an order within 30 minutes or the carrier deletes them. 
    # @param file [File] The document (PDF/JPEG/PNG, 10MB max).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :kind &#39;loa&#39;, &#39;invoice&#39;, or any short slug for requirement documents. Informational; used for the stored filename.
    # @return [Array<(UploadPhoneNumberPortInDocument200Response, Integer, Hash)>] UploadPhoneNumberPortInDocument200Response data, response status code and response headers
    def upload_phone_number_port_in_document_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.upload_phone_number_port_in_document ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling PhoneNumbersApi.upload_phone_number_port_in_document"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/port-in/documents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['kind'] = opts[:'kind'] if !opts[:'kind'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadPhoneNumberPortInDocument200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.upload_phone_number_port_in_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#upload_phone_number_port_in_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pre-validate KYC address
    # Optional early check for the address step of a Tier 4 (end-user identity) registration: validates a postal address for deliverability BEFORE the full KYC submit, so it can be corrected before any documents are uploaded. The full submit (POST /v1/phone-numbers/kyc) re-validates the address, so this call is purely a fast feedback path and skipping it is safe. Only the postal address is sent (no documents, no gov-ID fields). A region (`administrative_area`) is required by the validator; when it is omitted the pre-check is skipped and `{ ok: true, skipped: true }` is returned (the final submit still validates). 
    # @param validate_phone_number_kyc_address_request [ValidatePhoneNumberKycAddressRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ValidatePhoneNumberKycAddress200Response]
    def validate_phone_number_kyc_address(validate_phone_number_kyc_address_request, opts = {})
      data, _status_code, _headers = validate_phone_number_kyc_address_with_http_info(validate_phone_number_kyc_address_request, opts)
      data
    end

    # Pre-validate KYC address
    # Optional early check for the address step of a Tier 4 (end-user identity) registration: validates a postal address for deliverability BEFORE the full KYC submit, so it can be corrected before any documents are uploaded. The full submit (POST /v1/phone-numbers/kyc) re-validates the address, so this call is purely a fast feedback path and skipping it is safe. Only the postal address is sent (no documents, no gov-ID fields). A region (&#x60;administrative_area&#x60;) is required by the validator; when it is omitted the pre-check is skipped and &#x60;{ ok: true, skipped: true }&#x60; is returned (the final submit still validates). 
    # @param validate_phone_number_kyc_address_request [ValidatePhoneNumberKycAddressRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ValidatePhoneNumberKycAddress200Response, Integer, Hash)>] ValidatePhoneNumberKycAddress200Response data, response status code and response headers
    def validate_phone_number_kyc_address_with_http_info(validate_phone_number_kyc_address_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.validate_phone_number_kyc_address ...'
      end
      # verify the required parameter 'validate_phone_number_kyc_address_request' is set
      if @api_client.config.client_side_validation && validate_phone_number_kyc_address_request.nil?
        fail ArgumentError, "Missing the required parameter 'validate_phone_number_kyc_address_request' when calling PhoneNumbersApi.validate_phone_number_kyc_address"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/kyc/validate-address'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(validate_phone_number_kyc_address_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ValidatePhoneNumberKycAddress200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.validate_phone_number_kyc_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#validate_phone_number_kyc_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View a KYC document on file
    # Stream a document backing a reusable verification (the `documentId` values from GET /v1/phone-numbers/kyc `reusable.options[].details[]`), so the account holder can see what's on file before reusing it. Returned inline as `application/pdf` (uploads are normalized to PDF). Auth-scoped: a document is viewable only when its id is referenced by one of the caller's own numbers — otherwise `404`. 
    # @param document_id [String] The Telnyx document id (from &#x60;reusable.options[].details[].documentId&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [File]
    def view_phone_number_kyc_document(document_id, opts = {})
      data, _status_code, _headers = view_phone_number_kyc_document_with_http_info(document_id, opts)
      data
    end

    # View a KYC document on file
    # Stream a document backing a reusable verification (the &#x60;documentId&#x60; values from GET /v1/phone-numbers/kyc &#x60;reusable.options[].details[]&#x60;), so the account holder can see what&#39;s on file before reusing it. Returned inline as &#x60;application/pdf&#x60; (uploads are normalized to PDF). Auth-scoped: a document is viewable only when its id is referenced by one of the caller&#39;s own numbers — otherwise &#x60;404&#x60;. 
    # @param document_id [String] The Telnyx document id (from &#x60;reusable.options[].details[].documentId&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def view_phone_number_kyc_document_with_http_info(document_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhoneNumbersApi.view_phone_number_kyc_document ...'
      end
      # verify the required parameter 'document_id' is set
      if @api_client.config.client_side_validation && document_id.nil?
        fail ArgumentError, "Missing the required parameter 'document_id' when calling PhoneNumbersApi.view_phone_number_kyc_document"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/kyc/document/{documentId}'.sub('{' + 'documentId' + '}', CGI.escape(document_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PhoneNumbersApi.view_phone_number_kyc_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhoneNumbersApi#view_phone_number_kyc_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
