=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema). 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class PostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk upload from CSV
    # Create multiple posts by uploading a CSV file. Use dryRun=true to validate without creating posts.  CSV columns: - Required: `platforms`, `profiles`, and a schedule (one of `schedule_time`, a `schedule_time_<platform>` override, `publish_now=true`, `use_queue=true`, or `is_draft=true`). - Content: at least one of `post_content`, `title`, or `media_urls` is required. - Aliases: a handful of columns accept the JSON field name from POST /v1/posts, since integrators infer the CSV shape from that endpoint's body. When both are present the real CSV column wins, unless it is blank for that row, in which case the alias value is used.   - `content` aliases `post_content`   - `timezone` aliases `tz`   - `scheduledFor` aliases `schedule_time`   - `mediaUrls` aliases `media_urls` - Per-platform overrides use three dynamic column prefixes, one column per platform (e.g. `schedule_time_instagram`, `custom_content_tiktok`, `custom_media_youtube`): `schedule_time_<platform>`, `custom_content_<platform>`, `custom_media_<platform>`. - Any other column is not read. It does not error, but it is reported in the response's `warnings` array as `unknown_columns:<a,b,c>` (see BulkUploadResult), so a misnamed or unsupported column is never silently dropped. - Row limits: 5000 rows is a hard cap that returns 400 above it. 500 rows is only an advisory threshold, it adds `rows_exceed_advisory_limit:500` to `warnings` and the request still processes.  Example row (header + one data row): ``` post_content,platforms,profiles,schedule_time,tz \"Hello world\",instagram,MyProfile,2026-09-01 10:00,America/New_York ``` 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dry_run  (default to false)
    # @option opts [File] :file 
    # @return [BulkUploadResult]
    def bulk_upload_posts(opts = {})
      data, _status_code, _headers = bulk_upload_posts_with_http_info(opts)
      data
    end

    # Bulk upload from CSV
    # Create multiple posts by uploading a CSV file. Use dryRun&#x3D;true to validate without creating posts.  CSV columns: - Required: &#x60;platforms&#x60;, &#x60;profiles&#x60;, and a schedule (one of &#x60;schedule_time&#x60;, a &#x60;schedule_time_&lt;platform&gt;&#x60; override, &#x60;publish_now&#x3D;true&#x60;, &#x60;use_queue&#x3D;true&#x60;, or &#x60;is_draft&#x3D;true&#x60;). - Content: at least one of &#x60;post_content&#x60;, &#x60;title&#x60;, or &#x60;media_urls&#x60; is required. - Aliases: a handful of columns accept the JSON field name from POST /v1/posts, since integrators infer the CSV shape from that endpoint&#39;s body. When both are present the real CSV column wins, unless it is blank for that row, in which case the alias value is used.   - &#x60;content&#x60; aliases &#x60;post_content&#x60;   - &#x60;timezone&#x60; aliases &#x60;tz&#x60;   - &#x60;scheduledFor&#x60; aliases &#x60;schedule_time&#x60;   - &#x60;mediaUrls&#x60; aliases &#x60;media_urls&#x60; - Per-platform overrides use three dynamic column prefixes, one column per platform (e.g. &#x60;schedule_time_instagram&#x60;, &#x60;custom_content_tiktok&#x60;, &#x60;custom_media_youtube&#x60;): &#x60;schedule_time_&lt;platform&gt;&#x60;, &#x60;custom_content_&lt;platform&gt;&#x60;, &#x60;custom_media_&lt;platform&gt;&#x60;. - Any other column is not read. It does not error, but it is reported in the response&#39;s &#x60;warnings&#x60; array as &#x60;unknown_columns:&lt;a,b,c&gt;&#x60; (see BulkUploadResult), so a misnamed or unsupported column is never silently dropped. - Row limits: 5000 rows is a hard cap that returns 400 above it. 500 rows is only an advisory threshold, it adds &#x60;rows_exceed_advisory_limit:500&#x60; to &#x60;warnings&#x60; and the request still processes.  Example row (header + one data row): &#x60;&#x60;&#x60; post_content,platforms,profiles,schedule_time,tz \&quot;Hello world\&quot;,instagram,MyProfile,2026-09-01 10:00,America/New_York &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dry_run  (default to false)
    # @option opts [File] :file 
    # @return [Array<(BulkUploadResult, Integer, Hash)>] BulkUploadResult data, response status code and response headers
    def bulk_upload_posts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.bulk_upload_posts ...'
      end
      # resource path
      local_var_path = '/v1/posts/bulk-upload'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'dryRun'] = opts[:'dry_run'] if !opts[:'dry_run'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BulkUploadResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.bulk_upload_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#bulk_upload_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create post
    # Create and optionally publish a post. Immediate posts (`publishNow: true`) include `platformPostUrl` in the response. Content is optional when media is attached, all platforms have `customContent`, every platform entry is an X Article (`platformSpecificData.article`), or every platform entry is a LinkedIn text-free reshare (`platformSpecificData.reshareUrl` with no text). See each platform's schema for media constraints.  ## Idempotency  Two layers of duplicate-protection apply, so safe-to-retry callers (network blips, n8n / Zapier retries, etc.) don't accidentally double-post.  **1. Same-request idempotency (5-minute window).** Pass an `x-request-id` header to mark a logical request. If a second request arrives with the same `x-request-id` while the first is in-flight (or within ~5 minutes of completion), we return **HTTP 200** with the original post in the `existingPost` field — no new post is created. The official Zernio SDKs auto-generate a unique `x-request-id` per call. If you're using a generic HTTP client (curl, n8n's HTTP node, Zapier, custom code), either: - Set a unique `x-request-id` per logical call (recommended — UUIDv4 is fine) - Or simply omit the header — we'll treat each request as new  **Common pitfall**: if your workflow tool uses a single execution-level request ID and reuses it across multiple HTTP nodes (e.g. one ID for the whole run, shared across 6 different platform calls), every call after the first will look like a retry of the first and return its post. Generate a fresh ID per node.  **2. Content-hash dedup (24-hour window).** Independently, we hash `(platform, accountId, content + media URLs)` and reject duplicates within 24 hours with **HTTP 409**. This catches genuine \"same content posted twice to the same account\" cases regardless of `x-request-id`. Returns `error`, `accountId`, `platform`, and `existingPostId` so you can find the original. To intentionally re-post identical content within 24h, change something (the caption, the media, the account) — the dedup is keyed on the full content fingerprint.  Order: same-`x-request-id` retries (200) are checked first; if no idempotency match, the content-hash dedup (409) runs. 
    # @param create_post_request [CreatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Optional client-generated request identifier for safe retry (idempotency). When two requests carry the same value, the second is treated as a retry of the first and returns the original post (HTTP 200) instead of creating a duplicate. Window is ~5 minutes from the first request. Generate a UUID per logical call. SDKs do this automatically; HTTP clients should set it themselves or omit it. See the operation description for the full idempotency contract. 
    # @return [PostCreateResponse]
    def create_post(create_post_request, opts = {})
      data, _status_code, _headers = create_post_with_http_info(create_post_request, opts)
      data
    end

    # Create post
    # Create and optionally publish a post. Immediate posts (&#x60;publishNow: true&#x60;) include &#x60;platformPostUrl&#x60; in the response. Content is optional when media is attached, all platforms have &#x60;customContent&#x60;, every platform entry is an X Article (&#x60;platformSpecificData.article&#x60;), or every platform entry is a LinkedIn text-free reshare (&#x60;platformSpecificData.reshareUrl&#x60; with no text). See each platform&#39;s schema for media constraints.  ## Idempotency  Two layers of duplicate-protection apply, so safe-to-retry callers (network blips, n8n / Zapier retries, etc.) don&#39;t accidentally double-post.  **1. Same-request idempotency (5-minute window).** Pass an &#x60;x-request-id&#x60; header to mark a logical request. If a second request arrives with the same &#x60;x-request-id&#x60; while the first is in-flight (or within ~5 minutes of completion), we return **HTTP 200** with the original post in the &#x60;existingPost&#x60; field — no new post is created. The official Zernio SDKs auto-generate a unique &#x60;x-request-id&#x60; per call. If you&#39;re using a generic HTTP client (curl, n8n&#39;s HTTP node, Zapier, custom code), either: - Set a unique &#x60;x-request-id&#x60; per logical call (recommended — UUIDv4 is fine) - Or simply omit the header — we&#39;ll treat each request as new  **Common pitfall**: if your workflow tool uses a single execution-level request ID and reuses it across multiple HTTP nodes (e.g. one ID for the whole run, shared across 6 different platform calls), every call after the first will look like a retry of the first and return its post. Generate a fresh ID per node.  **2. Content-hash dedup (24-hour window).** Independently, we hash &#x60;(platform, accountId, content + media URLs)&#x60; and reject duplicates within 24 hours with **HTTP 409**. This catches genuine \&quot;same content posted twice to the same account\&quot; cases regardless of &#x60;x-request-id&#x60;. Returns &#x60;error&#x60;, &#x60;accountId&#x60;, &#x60;platform&#x60;, and &#x60;existingPostId&#x60; so you can find the original. To intentionally re-post identical content within 24h, change something (the caption, the media, the account) — the dedup is keyed on the full content fingerprint.  Order: same-&#x60;x-request-id&#x60; retries (200) are checked first; if no idempotency match, the content-hash dedup (409) runs. 
    # @param create_post_request [CreatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_request_id Optional client-generated request identifier for safe retry (idempotency). When two requests carry the same value, the second is treated as a retry of the first and returns the original post (HTTP 200) instead of creating a duplicate. Window is ~5 minutes from the first request. Generate a UUID per logical call. SDKs do this automatically; HTTP clients should set it themselves or omit it. See the operation description for the full idempotency contract. 
    # @return [Array<(PostCreateResponse, Integer, Hash)>] PostCreateResponse data, response status code and response headers
    def create_post_with_http_info(create_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.create_post ...'
      end
      # verify the required parameter 'create_post_request' is set
      if @api_client.config.client_side_validation && create_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_post_request' when calling PostsApi.create_post"
      end
      # resource path
      local_var_path = '/v1/posts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'x-request-id'] = opts[:'x_request_id'] if !opts[:'x_request_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.create_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#create_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete post
    # Delete a draft or scheduled post from Zernio. Published posts cannot be deleted; use the Unpublish endpoint instead. Upload quota is automatically refunded.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PostDeleteResponse]
    def delete_post(post_id, opts = {})
      data, _status_code, _headers = delete_post_with_http_info(post_id, opts)
      data
    end

    # Delete post
    # Delete a draft or scheduled post from Zernio. Published posts cannot be deleted; use the Unpublish endpoint instead. Upload quota is automatically refunded.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostDeleteResponse, Integer, Hash)>] PostDeleteResponse data, response status code and response headers
    def delete_post_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.delete_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.delete_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.delete_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#delete_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit published post
    # Edit the text of an already-published post. Supported on X (Twitter), Discord, Facebook, Reddit, LinkedIn, Telegram, Pinterest, Google Business Profile, YouTube, and Slack. When a post was published to several accounts on the same platform, pass `accountId` to pick which account's copy to edit (the first entry is edited otherwise). Each platform enforces its own rules:  **X (Twitter)** - Connected X account must have an active X Premium subscription - Must be within 1 hour of original publish time - Maximum 5 edits per tweet (enforced by X) - Threads cannot be edited, only single tweets - X assigns a NEW post ID on edit, returned as `id`  **Discord** - No time limit and no premium requirement - The message ID is unchanged after the edit  **Facebook** - Graph only permits editing a post that the same app created, so this works on   posts published through Zernio and is rejected for posts created in Meta   Business Suite / Composer or by another tool - Media cannot be swapped, only the message text - Reactions, comments, and shares are preserved. The post ID is unchanged  **Reddit** - Self-posts only. A link post has no editable body and is rejected before the write - Body only. Reddit exposes no API to edit a post title, ever - The post ID is unchanged  **LinkedIn** - Text only, no time limit. Media, polls, articles, and reshare targets cannot be   changed - Works for member and organization posts published through this API. The post   keeps its ID and LinkedIn shows an \"edited\" marker - Text is limited to 3,000 characters; mentions and hashtags are preserved  **Telegram** - No time limit; messages published through Zernio are editable indefinitely - Text posts: edits the message text (up to 4096 characters) - Media posts: edits the caption only (up to 1024 characters). The media itself   cannot be swapped - For albums, the caption shown on the album (its first message) is edited - The message ID is unchanged  **Pinterest** - Description only, maximum 800 characters. Media, link, and board cannot be   changed, and a pin title derived from the old content's first line at publish   stays as-is - Pinterest's pin-update endpoint is currently in closed beta; until the app is   allowlisted by Pinterest, edits are rejected with a \"beta feature not yet   enabled\" error - The pin ID is unchanged  **Google Business Profile** - Post body (summary) text only. Call-to-action, event/offer fields, and media are   untouched - No time limit and no edit limit. The post ID is unchanged - The post must still exist on Google: a post deleted from the Business Profile   dashboard, or an event/offer post past its end date, returns a 404  **YouTube** - `content` replaces the video description only. The title is unchanged, even if   it was originally derived from the content's first line at publish time - Title, tags, thumbnail, and privacy edits belong to `POST /v1/posts/{postId}/update-metadata` - No time window and no edit cap. The video ID is unchanged  **Slack** - Text only, up to 4,000 characters. Media cannot be swapped, and media posts   whose share message reference never resolved cannot be edited - No time limit unless workspace admins restrict message editing - The message ID is unchanged  Media edits are not supported on any platform. The post record in Zernio is updated with the new content and an edit-history entry. 
    # @param post_id [String] 
    # @param edit_post_request [EditPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EditPost200Response]
    def edit_post(post_id, edit_post_request, opts = {})
      data, _status_code, _headers = edit_post_with_http_info(post_id, edit_post_request, opts)
      data
    end

    # Edit published post
    # Edit the text of an already-published post. Supported on X (Twitter), Discord, Facebook, Reddit, LinkedIn, Telegram, Pinterest, Google Business Profile, YouTube, and Slack. When a post was published to several accounts on the same platform, pass &#x60;accountId&#x60; to pick which account&#39;s copy to edit (the first entry is edited otherwise). Each platform enforces its own rules:  **X (Twitter)** - Connected X account must have an active X Premium subscription - Must be within 1 hour of original publish time - Maximum 5 edits per tweet (enforced by X) - Threads cannot be edited, only single tweets - X assigns a NEW post ID on edit, returned as &#x60;id&#x60;  **Discord** - No time limit and no premium requirement - The message ID is unchanged after the edit  **Facebook** - Graph only permits editing a post that the same app created, so this works on   posts published through Zernio and is rejected for posts created in Meta   Business Suite / Composer or by another tool - Media cannot be swapped, only the message text - Reactions, comments, and shares are preserved. The post ID is unchanged  **Reddit** - Self-posts only. A link post has no editable body and is rejected before the write - Body only. Reddit exposes no API to edit a post title, ever - The post ID is unchanged  **LinkedIn** - Text only, no time limit. Media, polls, articles, and reshare targets cannot be   changed - Works for member and organization posts published through this API. The post   keeps its ID and LinkedIn shows an \&quot;edited\&quot; marker - Text is limited to 3,000 characters; mentions and hashtags are preserved  **Telegram** - No time limit; messages published through Zernio are editable indefinitely - Text posts: edits the message text (up to 4096 characters) - Media posts: edits the caption only (up to 1024 characters). The media itself   cannot be swapped - For albums, the caption shown on the album (its first message) is edited - The message ID is unchanged  **Pinterest** - Description only, maximum 800 characters. Media, link, and board cannot be   changed, and a pin title derived from the old content&#39;s first line at publish   stays as-is - Pinterest&#39;s pin-update endpoint is currently in closed beta; until the app is   allowlisted by Pinterest, edits are rejected with a \&quot;beta feature not yet   enabled\&quot; error - The pin ID is unchanged  **Google Business Profile** - Post body (summary) text only. Call-to-action, event/offer fields, and media are   untouched - No time limit and no edit limit. The post ID is unchanged - The post must still exist on Google: a post deleted from the Business Profile   dashboard, or an event/offer post past its end date, returns a 404  **YouTube** - &#x60;content&#x60; replaces the video description only. The title is unchanged, even if   it was originally derived from the content&#39;s first line at publish time - Title, tags, thumbnail, and privacy edits belong to &#x60;POST /v1/posts/{postId}/update-metadata&#x60; - No time window and no edit cap. The video ID is unchanged  **Slack** - Text only, up to 4,000 characters. Media cannot be swapped, and media posts   whose share message reference never resolved cannot be edited - No time limit unless workspace admins restrict message editing - The message ID is unchanged  Media edits are not supported on any platform. The post record in Zernio is updated with the new content and an edit-history entry. 
    # @param post_id [String] 
    # @param edit_post_request [EditPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EditPost200Response, Integer, Hash)>] EditPost200Response data, response status code and response headers
    def edit_post_with_http_info(post_id, edit_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.edit_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.edit_post"
      end
      # verify the required parameter 'edit_post_request' is set
      if @api_client.config.client_side_validation && edit_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'edit_post_request' when calling PostsApi.edit_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}/edit'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(edit_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EditPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.edit_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#edit_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get post
    # Fetch a single post by ID. For published posts, this returns platformPostUrl for each platform. 
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PostGetResponse]
    def get_post(post_id, opts = {})
      data, _status_code, _headers = get_post_with_http_info(post_id, opts)
      data
    end

    # Get post
    # Fetch a single post by ID. For published posts, this returns platformPostUrl for each platform. 
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostGetResponse, Integer, Hash)>] PostGetResponse data, response status code and response headers
    def get_post_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.get_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.get_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.get_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#get_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List posts
    # Returns a paginated list of posts. Published posts include platformPostUrl with the public URL on each platform.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Page size. Values above the maximum return 400 rather than being clamped. (default to 10)
    # @option opts [String] :source Which collection to read. &#x60;zernio&#x60; (default) returns posts authored through Zernio. &#x60;external&#x60; returns posts synced from the platform (existing/historical posts that were published outside Zernio). Combine with &#x60;accountId&#x60; and paginate via &#x60;page&#x60;/&#x60;limit&#x60; to walk the full synced history (we keep up to the last ~12 months per account). (default to 'zernio')
    # @option opts [String] :status 
    # @option opts [String] :platform 
    # @option opts [String] :profile_id Filter posts to a specific profile (24-char hex ObjectId). Omit it, or send &#x60;all&#x60; or an empty value, to list posts across every profile.
    # @option opts [String] :created_by Filter posts to those created by a specific team user (24-char hex ObjectId).
    # @option opts [Date] :date_from Zero-padded YYYY-MM-DD, or a full ISO 8601 datetime. An empty value means no date filter; any other malformed value returns 400.
    # @option opts [Date] :date_to Zero-padded YYYY-MM-DD, or a full ISO 8601 datetime. An empty value means no date filter; any other malformed value returns 400.
    # @option opts [Boolean] :include_hidden  (default to false)
    # @option opts [String] :search Search posts by text content.
    # @option opts [String] :sort_by Sort order for results. (default to 'scheduled-desc')
    # @option opts [String] :account_id Filter posts to those published via a specific social account (24-char hex ObjectId).
    # @return [PostsListResponse]
    def list_posts(opts = {})
      data, _status_code, _headers = list_posts_with_http_info(opts)
      data
    end

    # List posts
    # Returns a paginated list of posts. Published posts include platformPostUrl with the public URL on each platform.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (1-based) (default to 1)
    # @option opts [Integer] :limit Page size. Values above the maximum return 400 rather than being clamped. (default to 10)
    # @option opts [String] :source Which collection to read. &#x60;zernio&#x60; (default) returns posts authored through Zernio. &#x60;external&#x60; returns posts synced from the platform (existing/historical posts that were published outside Zernio). Combine with &#x60;accountId&#x60; and paginate via &#x60;page&#x60;/&#x60;limit&#x60; to walk the full synced history (we keep up to the last ~12 months per account). (default to 'zernio')
    # @option opts [String] :status 
    # @option opts [String] :platform 
    # @option opts [String] :profile_id Filter posts to a specific profile (24-char hex ObjectId). Omit it, or send &#x60;all&#x60; or an empty value, to list posts across every profile.
    # @option opts [String] :created_by Filter posts to those created by a specific team user (24-char hex ObjectId).
    # @option opts [Date] :date_from Zero-padded YYYY-MM-DD, or a full ISO 8601 datetime. An empty value means no date filter; any other malformed value returns 400.
    # @option opts [Date] :date_to Zero-padded YYYY-MM-DD, or a full ISO 8601 datetime. An empty value means no date filter; any other malformed value returns 400.
    # @option opts [Boolean] :include_hidden  (default to false)
    # @option opts [String] :search Search posts by text content.
    # @option opts [String] :sort_by Sort order for results. (default to 'scheduled-desc')
    # @option opts [String] :account_id Filter posts to those published via a specific social account (24-char hex ObjectId).
    # @return [Array<(PostsListResponse, Integer, Hash)>] PostsListResponse data, response status code and response headers
    def list_posts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.list_posts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PostsApi.list_posts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.list_posts, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.list_posts, must be greater than or equal to 1.'
      end

      allowable_values = ["zernio", "external"]
      if @api_client.config.client_side_validation && opts[:'source'] && !allowable_values.include?(opts[:'source'])
        fail ArgumentError, "invalid value for \"source\", must be one of #{allowable_values}"
      end
      allowable_values = ["draft", "scheduled", "published", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["scheduled-desc", "scheduled-asc", "created-desc", "created-asc", "status", "platform"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'source'] = opts[:'source'] if !opts[:'source'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'createdBy'] = opts[:'created_by'] if !opts[:'created_by'].nil?
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'includeHidden'] = opts[:'include_hidden'] if !opts[:'include_hidden'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.list_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#list_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry failed post
    # Immediately retries publishing a failed post. Returns the updated post with its new status.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PostRetryResponse]
    def retry_post(post_id, opts = {})
      data, _status_code, _headers = retry_post_with_http_info(post_id, opts)
      data
    end

    # Retry failed post
    # Immediately retries publishing a failed post. Returns the updated post with its new status.
    # @param post_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostRetryResponse, Integer, Hash)>] PostRetryResponse data, response status code and response headers
    def retry_post_with_http_info(post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.retry_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.retry_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}/retry'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostRetryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.retry_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#retry_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unpublish post
    # Deletes a published post from the specified platform. The post record in Zernio is kept but its status is updated to cancelled. Not supported on Instagram, TikTok, or Snapchat. Threaded posts delete all items. YouTube deletion is permanent. 
    # @param post_id [String] 
    # @param unpublish_post_request [UnpublishPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def unpublish_post(post_id, unpublish_post_request, opts = {})
      data, _status_code, _headers = unpublish_post_with_http_info(post_id, unpublish_post_request, opts)
      data
    end

    # Unpublish post
    # Deletes a published post from the specified platform. The post record in Zernio is kept but its status is updated to cancelled. Not supported on Instagram, TikTok, or Snapchat. Threaded posts delete all items. YouTube deletion is permanent. 
    # @param post_id [String] 
    # @param unpublish_post_request [UnpublishPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def unpublish_post_with_http_info(post_id, unpublish_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.unpublish_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.unpublish_post"
      end
      # verify the required parameter 'unpublish_post_request' is set
      if @api_client.config.client_side_validation && unpublish_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'unpublish_post_request' when calling PostsApi.unpublish_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}/unpublish'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unpublish_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.unpublish_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#unpublish_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update post
    # Update an existing post. Draft, scheduled, failed, partial, and cancelled posts can be edited. Published posts can only have their recycling config updated.  To promote a draft to scheduled, send `isDraft: false` together with `scheduledFor` (or `publishNow: true`, or `queuedFromProfile`). If `isDraft` is omitted the post keeps its current draft status, so sending only `scheduledFor` to a draft returns 200 but the post remains a draft.  Non-draft updates run the same per-platform validation as post creation (media requirements, platform-specific field rules, etc.) against the resulting platforms, returning 400 on failure. 
    # @param post_id [String] 
    # @param update_post_request [UpdatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PostUpdateResponse]
    def update_post(post_id, update_post_request, opts = {})
      data, _status_code, _headers = update_post_with_http_info(post_id, update_post_request, opts)
      data
    end

    # Update post
    # Update an existing post. Draft, scheduled, failed, partial, and cancelled posts can be edited. Published posts can only have their recycling config updated.  To promote a draft to scheduled, send &#x60;isDraft: false&#x60; together with &#x60;scheduledFor&#x60; (or &#x60;publishNow: true&#x60;, or &#x60;queuedFromProfile&#x60;). If &#x60;isDraft&#x60; is omitted the post keeps its current draft status, so sending only &#x60;scheduledFor&#x60; to a draft returns 200 but the post remains a draft.  Non-draft updates run the same per-platform validation as post creation (media requirements, platform-specific field rules, etc.) against the resulting platforms, returning 400 on failure. 
    # @param post_id [String] 
    # @param update_post_request [UpdatePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostUpdateResponse, Integer, Hash)>] PostUpdateResponse data, response status code and response headers
    def update_post_with_http_info(post_id, update_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.update_post ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.update_post"
      end
      # verify the required parameter 'update_post_request' is set
      if @api_client.config.client_side_validation && update_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_post_request' when calling PostsApi.update_post"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PostUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.update_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#update_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update post metadata
    # Updates metadata of a published video on the specified platform without re-uploading. Currently only supported for YouTube. At least one updatable field is required.  Two modes:  1. Post-based (video published through Zernio): pass the Zernio postId in the URL and platform in the body. 2. Direct video ID (video uploaded outside Zernio, e.g. directly to YouTube): use _ as the postId,    and pass videoId + accountId + platform in the body. The accountId is the Zernio social account ID    for the connected YouTube channel. 
    # @param post_id [String] Zernio post ID, or \&quot;_\&quot; when using direct video ID mode
    # @param update_post_metadata_request [UpdatePostMetadataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdatePostMetadata200Response]
    def update_post_metadata(post_id, update_post_metadata_request, opts = {})
      data, _status_code, _headers = update_post_metadata_with_http_info(post_id, update_post_metadata_request, opts)
      data
    end

    # Update post metadata
    # Updates metadata of a published video on the specified platform without re-uploading. Currently only supported for YouTube. At least one updatable field is required.  Two modes:  1. Post-based (video published through Zernio): pass the Zernio postId in the URL and platform in the body. 2. Direct video ID (video uploaded outside Zernio, e.g. directly to YouTube): use _ as the postId,    and pass videoId + accountId + platform in the body. The accountId is the Zernio social account ID    for the connected YouTube channel. 
    # @param post_id [String] Zernio post ID, or \&quot;_\&quot; when using direct video ID mode
    # @param update_post_metadata_request [UpdatePostMetadataRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdatePostMetadata200Response, Integer, Hash)>] UpdatePostMetadata200Response data, response status code and response headers
    def update_post_metadata_with_http_info(post_id, update_post_metadata_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.update_post_metadata ...'
      end
      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.update_post_metadata"
      end
      # verify the required parameter 'update_post_metadata_request' is set
      if @api_client.config.client_side_validation && update_post_metadata_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_post_metadata_request' when calling PostsApi.update_post_metadata"
      end
      # resource path
      local_var_path = '/v1/posts/{postId}/update-metadata'.sub('{' + 'postId' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_post_metadata_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdatePostMetadata200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.update_post_metadata",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#update_post_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
