=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.92.0
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class ProductsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a product
    # Fetches a single product with its variants, options and images. `productId` is the platform's numeric product id from `GET /v1/accounts/{accountId}/products`, not a Zernio id.  Supported on Shopify (platform `shopify`); accounts on other platforms return 400. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param product_id [String] Platform-native numeric product id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [GetProduct200Response]
    def get_product(account_id, product_id, opts = {})
      data, _status_code, _headers = get_product_with_http_info(account_id, product_id, opts)
      data
    end

    # Get a product
    # Fetches a single product with its variants, options and images. &#x60;productId&#x60; is the platform&#39;s numeric product id from &#x60;GET /v1/accounts/{accountId}/products&#x60;, not a Zernio id.  Supported on Shopify (platform &#x60;shopify&#x60;); accounts on other platforms return 400. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param product_id [String] Platform-native numeric product id. Non-numeric values return 400.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProduct200Response, Integer, Hash)>] GetProduct200Response data, response status code and response headers
    def get_product_with_http_info(account_id, product_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.get_product ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductsApi.get_product"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.get_product"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling ProductsApi.get_product, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/products/{productId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProduct200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.get_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#get_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List products
    # Lists the products on the connected store in the platform's default order, each with its variants, options and images. Cursor-paginated: pass `limit` (1-50, default 20) and the `cursor` from a previous response's `nextCursor`; `nextCursor` is null when there are no more pages. Filter with `status` and/or `query` (the platform's product search syntax, e.g. `title:*shirt* vendor:Acme tag:summer`).  Supported on Shopify (platform `shopify`); accounts on other platforms return 400. A store connected before product access was added answers 403 insufficient_permissions until the merchant reconnects it through `GET /v1/connect/shopify`. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size (1-50). (default to 20)
    # @option opts [String] :cursor Opaque cursor from a previous response. Omit for the first page.
    # @option opts [String] :status Only products in this status.
    # @option opts [String] :query Platform product search syntax, passed through verbatim (Shopify: title, vendor, product_type, tag, sku, handle, created_at, updated_at, ...).
    # @return [ListProducts200Response]
    def list_products(account_id, opts = {})
      data, _status_code, _headers = list_products_with_http_info(account_id, opts)
      data
    end

    # List products
    # Lists the products on the connected store in the platform&#39;s default order, each with its variants, options and images. Cursor-paginated: pass &#x60;limit&#x60; (1-50, default 20) and the &#x60;cursor&#x60; from a previous response&#39;s &#x60;nextCursor&#x60;; &#x60;nextCursor&#x60; is null when there are no more pages. Filter with &#x60;status&#x60; and/or &#x60;query&#x60; (the platform&#39;s product search syntax, e.g. &#x60;title:*shirt* vendor:Acme tag:summer&#x60;).  Supported on Shopify (platform &#x60;shopify&#x60;); accounts on other platforms return 400. A store connected before product access was added answers 403 insufficient_permissions until the merchant reconnects it through &#x60;GET /v1/connect/shopify&#x60;. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size (1-50). (default to 20)
    # @option opts [String] :cursor Opaque cursor from a previous response. Omit for the first page.
    # @option opts [String] :status Only products in this status.
    # @option opts [String] :query Platform product search syntax, passed through verbatim (Shopify: title, vendor, product_type, tag, sku, handle, created_at, updated_at, ...).
    # @return [Array<(ListProducts200Response, Integer, Hash)>] ListProducts200Response data, response status code and response headers
    def list_products_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.list_products ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductsApi.list_products"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProductsApi.list_products, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProductsApi.list_products, must be greater than or equal to 1.'
      end

      allowable_values = ["active", "draft", "archived"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'query'].nil? && opts[:'query'].to_s.length > 500
        fail ArgumentError, 'invalid value for "opts[:"query"]" when calling ProductsApi.list_products, the character length must be smaller than or equal to 500.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/products'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListProducts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.list_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#list_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a product
    # Partial-updates a product. Send any subset of `title`, `descriptionHtml`, `handle`, `vendor`, `productType`, `tags`, `status`, `seo` and `variants`; at least one field is required (an empty body returns 400). `tags` replaces the full tag list. `variants` updates the price and compare-at price of the listed variant ids only; other variants are untouched, and a variant id that does not belong to the product is a 400. Responds with the product as it is after the update.  Supported on Shopify (platform `shopify`); accounts on other platforms return 400. A store connected before product access was added answers 403 insufficient_permissions until the merchant reconnects it through `GET /v1/connect/shopify`. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param product_id [String] Platform-native numeric product id. Non-numeric values return 400.
    # @param update_product_request [UpdateProductRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetProduct200Response]
    def update_product(account_id, product_id, update_product_request, opts = {})
      data, _status_code, _headers = update_product_with_http_info(account_id, product_id, update_product_request, opts)
      data
    end

    # Update a product
    # Partial-updates a product. Send any subset of &#x60;title&#x60;, &#x60;descriptionHtml&#x60;, &#x60;handle&#x60;, &#x60;vendor&#x60;, &#x60;productType&#x60;, &#x60;tags&#x60;, &#x60;status&#x60;, &#x60;seo&#x60; and &#x60;variants&#x60;; at least one field is required (an empty body returns 400). &#x60;tags&#x60; replaces the full tag list. &#x60;variants&#x60; updates the price and compare-at price of the listed variant ids only; other variants are untouched, and a variant id that does not belong to the product is a 400. Responds with the product as it is after the update.  Supported on Shopify (platform &#x60;shopify&#x60;); accounts on other platforms return 400. A store connected before product access was added answers 403 insufficient_permissions until the merchant reconnects it through &#x60;GET /v1/connect/shopify&#x60;. 
    # @param account_id [String] Connected Shopify SocialAccount id.
    # @param product_id [String] Platform-native numeric product id. Non-numeric values return 400.
    # @param update_product_request [UpdateProductRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProduct200Response, Integer, Hash)>] GetProduct200Response data, response status code and response headers
    def update_product_with_http_info(account_id, product_id, update_product_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsApi.update_product ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductsApi.update_product"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductsApi.update_product"
      end
      pattern = Regexp.new(/^\d+$/)
      if @api_client.config.client_side_validation && product_id !~ pattern
        fail ArgumentError, "invalid value for 'product_id' when calling ProductsApi.update_product, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_product_request' is set
      if @api_client.config.client_side_validation && update_product_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_product_request' when calling ProductsApi.update_product"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/products/{productId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_product_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetProduct200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductsApi.update_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsApi#update_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
