=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema). 

The version of the OpenAPI document: 1.37.0
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class ProductCatalogsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create, update or delete products in bulk
    # Up to 5000 CREATE / UPDATE / DELETE requests keyed by `retailerId`, processed asynchronously by Meta. Returns handles; poll GET /v1/ads/catalogs/{catalogId}/batches/{handle} for the outcome and per-item errors. CREATE requests need name, url, imageUrl, price and currency.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param batch_ad_catalog_products_request [BatchAdCatalogProductsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchAdCatalogProducts202Response]
    def batch_ad_catalog_products(catalog_id, batch_ad_catalog_products_request, opts = {})
      data, _status_code, _headers = batch_ad_catalog_products_with_http_info(catalog_id, batch_ad_catalog_products_request, opts)
      data
    end

    # Create, update or delete products in bulk
    # Up to 5000 CREATE / UPDATE / DELETE requests keyed by &#x60;retailerId&#x60;, processed asynchronously by Meta. Returns handles; poll GET /v1/ads/catalogs/{catalogId}/batches/{handle} for the outcome and per-item errors. CREATE requests need name, url, imageUrl, price and currency.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param batch_ad_catalog_products_request [BatchAdCatalogProductsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchAdCatalogProducts202Response, Integer, Hash)>] BatchAdCatalogProducts202Response data, response status code and response headers
    def batch_ad_catalog_products_with_http_info(catalog_id, batch_ad_catalog_products_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.batch_ad_catalog_products ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.batch_ad_catalog_products"
      end
      # verify the required parameter 'batch_ad_catalog_products_request' is set
      if @api_client.config.client_side_validation && batch_ad_catalog_products_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_ad_catalog_products_request' when calling ProductCatalogsApi.batch_ad_catalog_products"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/products/batch'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_ad_catalog_products_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchAdCatalogProducts202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.batch_ad_catalog_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#batch_ad_catalog_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Meta product catalog
    # Creates a Meta Commerce catalog in the business portfolio (resolved like GET). The same catalog serves Advantage+ catalog ads, Instagram/Facebook Shops and the WhatsApp Business catalog: link it to a WhatsApp number with POST /v1/whatsapp/catalogs. Needs catalog_management on the Meta login.
    # @param create_ad_catalog_request [CreateAdCatalogRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdCatalog201Response]
    def create_ad_catalog(create_ad_catalog_request, opts = {})
      data, _status_code, _headers = create_ad_catalog_with_http_info(create_ad_catalog_request, opts)
      data
    end

    # Create a Meta product catalog
    # Creates a Meta Commerce catalog in the business portfolio (resolved like GET). The same catalog serves Advantage+ catalog ads, Instagram/Facebook Shops and the WhatsApp Business catalog: link it to a WhatsApp number with POST /v1/whatsapp/catalogs. Needs catalog_management on the Meta login.
    # @param create_ad_catalog_request [CreateAdCatalogRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdCatalog201Response, Integer, Hash)>] CreateAdCatalog201Response data, response status code and response headers
    def create_ad_catalog_with_http_info(create_ad_catalog_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.create_ad_catalog ...'
      end
      # verify the required parameter 'create_ad_catalog_request' is set
      if @api_client.config.client_side_validation && create_ad_catalog_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_catalog_request' when calling ProductCatalogsApi.create_ad_catalog"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_catalog_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalog201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.create_ad_catalog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#create_ad_catalog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a product feed
    # A feed pulls a CSV/TSV/XML product file from a URL. With `schedule` Meta fetches it on a cadence; without it, trigger fetches with POST /v1/ads/catalogs/{catalogId}/feeds/{feedId}/uploads.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param create_ad_catalog_feed_request [CreateAdCatalogFeedRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdCatalogFeed201Response]
    def create_ad_catalog_feed(catalog_id, create_ad_catalog_feed_request, opts = {})
      data, _status_code, _headers = create_ad_catalog_feed_with_http_info(catalog_id, create_ad_catalog_feed_request, opts)
      data
    end

    # Create a product feed
    # A feed pulls a CSV/TSV/XML product file from a URL. With &#x60;schedule&#x60; Meta fetches it on a cadence; without it, trigger fetches with POST /v1/ads/catalogs/{catalogId}/feeds/{feedId}/uploads.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param create_ad_catalog_feed_request [CreateAdCatalogFeedRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdCatalogFeed201Response, Integer, Hash)>] CreateAdCatalogFeed201Response data, response status code and response headers
    def create_ad_catalog_feed_with_http_info(catalog_id, create_ad_catalog_feed_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.create_ad_catalog_feed ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.create_ad_catalog_feed"
      end
      # verify the required parameter 'create_ad_catalog_feed_request' is set
      if @api_client.config.client_side_validation && create_ad_catalog_feed_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_catalog_feed_request' when calling ProductCatalogsApi.create_ad_catalog_feed"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/feeds'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_catalog_feed_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalogFeed201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.create_ad_catalog_feed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#create_ad_catalog_feed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a feed file now
    # Asks Meta to fetch the product file at `url` into the feed. Processing is asynchronous: read the outcome with GET uploads.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param feed_id [String] 
    # @param create_ad_catalog_feed_upload_request [CreateAdCatalogFeedUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdCatalogFeedUpload202Response]
    def create_ad_catalog_feed_upload(catalog_id, feed_id, create_ad_catalog_feed_upload_request, opts = {})
      data, _status_code, _headers = create_ad_catalog_feed_upload_with_http_info(catalog_id, feed_id, create_ad_catalog_feed_upload_request, opts)
      data
    end

    # Fetch a feed file now
    # Asks Meta to fetch the product file at &#x60;url&#x60; into the feed. Processing is asynchronous: read the outcome with GET uploads.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param feed_id [String] 
    # @param create_ad_catalog_feed_upload_request [CreateAdCatalogFeedUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdCatalogFeedUpload202Response, Integer, Hash)>] CreateAdCatalogFeedUpload202Response data, response status code and response headers
    def create_ad_catalog_feed_upload_with_http_info(catalog_id, feed_id, create_ad_catalog_feed_upload_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.create_ad_catalog_feed_upload ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.create_ad_catalog_feed_upload"
      end
      # verify the required parameter 'feed_id' is set
      if @api_client.config.client_side_validation && feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'feed_id' when calling ProductCatalogsApi.create_ad_catalog_feed_upload"
      end
      # verify the required parameter 'create_ad_catalog_feed_upload_request' is set
      if @api_client.config.client_side_validation && create_ad_catalog_feed_upload_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_catalog_feed_upload_request' when calling ProductCatalogsApi.create_ad_catalog_feed_upload"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/feeds/{feedId}/uploads'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s)).sub('{' + 'feedId' + '}', CGI.escape(feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_catalog_feed_upload_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalogFeedUpload202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.create_ad_catalog_feed_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#create_ad_catalog_feed_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add a product to a catalog
    # Adds one product. `retailerId` is your SKU and stays the handle for later lookups and batch updates. For many products at once use POST /v1/ads/catalogs/{catalogId}/products/batch. Needs catalog_management on the Meta login.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param create_ad_catalog_product_request [CreateAdCatalogProductRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdCatalogProduct201Response]
    def create_ad_catalog_product(catalog_id, create_ad_catalog_product_request, opts = {})
      data, _status_code, _headers = create_ad_catalog_product_with_http_info(catalog_id, create_ad_catalog_product_request, opts)
      data
    end

    # Add a product to a catalog
    # Adds one product. &#x60;retailerId&#x60; is your SKU and stays the handle for later lookups and batch updates. For many products at once use POST /v1/ads/catalogs/{catalogId}/products/batch. Needs catalog_management on the Meta login.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param create_ad_catalog_product_request [CreateAdCatalogProductRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdCatalogProduct201Response, Integer, Hash)>] CreateAdCatalogProduct201Response data, response status code and response headers
    def create_ad_catalog_product_with_http_info(catalog_id, create_ad_catalog_product_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.create_ad_catalog_product ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.create_ad_catalog_product"
      end
      # verify the required parameter 'create_ad_catalog_product_request' is set
      if @api_client.config.client_side_validation && create_ad_catalog_product_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_catalog_product_request' when calling ProductCatalogsApi.create_ad_catalog_product"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/products'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_catalog_product_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalogProduct201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.create_ad_catalog_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#create_ad_catalog_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a product set
    # A product set is a filter over the catalog, e.g. `{\"retailer_id\": {\"is_any\": [\"sku-1\", \"sku-2\"]}}` or `{\"brand\": {\"i_contains\": \"acme\"}}` (Meta's product set filter syntax).
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param create_ad_catalog_product_set_request [CreateAdCatalogProductSetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdCatalogProductSet201Response]
    def create_ad_catalog_product_set(catalog_id, create_ad_catalog_product_set_request, opts = {})
      data, _status_code, _headers = create_ad_catalog_product_set_with_http_info(catalog_id, create_ad_catalog_product_set_request, opts)
      data
    end

    # Create a product set
    # A product set is a filter over the catalog, e.g. &#x60;{\&quot;retailer_id\&quot;: {\&quot;is_any\&quot;: [\&quot;sku-1\&quot;, \&quot;sku-2\&quot;]}}&#x60; or &#x60;{\&quot;brand\&quot;: {\&quot;i_contains\&quot;: \&quot;acme\&quot;}}&#x60; (Meta&#39;s product set filter syntax).
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param create_ad_catalog_product_set_request [CreateAdCatalogProductSetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdCatalogProductSet201Response, Integer, Hash)>] CreateAdCatalogProductSet201Response data, response status code and response headers
    def create_ad_catalog_product_set_with_http_info(catalog_id, create_ad_catalog_product_set_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.create_ad_catalog_product_set ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.create_ad_catalog_product_set"
      end
      # verify the required parameter 'create_ad_catalog_product_set_request' is set
      if @api_client.config.client_side_validation && create_ad_catalog_product_set_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ad_catalog_product_set_request' when calling ProductCatalogsApi.create_ad_catalog_product_set"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/product-sets'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ad_catalog_product_set_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalogProductSet201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.create_ad_catalog_product_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#create_ad_catalog_product_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a product catalog
    # Deletes the catalog and every product in it on Meta. Ads and WhatsApp numbers that use it lose their catalog.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [DeleteAdCatalog200Response]
    def delete_ad_catalog(catalog_id, account_id, opts = {})
      data, _status_code, _headers = delete_ad_catalog_with_http_info(catalog_id, account_id, opts)
      data
    end

    # Delete a product catalog
    # Deletes the catalog and every product in it on Meta. Ads and WhatsApp numbers that use it lose their catalog.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(DeleteAdCatalog200Response, Integer, Hash)>] DeleteAdCatalog200Response data, response status code and response headers
    def delete_ad_catalog_with_http_info(catalog_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.delete_ad_catalog ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.delete_ad_catalog"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.delete_ad_catalog"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAdCatalog200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.delete_ad_catalog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#delete_ad_catalog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a product
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_id [String] Meta product item ID (from the products list; not the retailer id)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [DeleteAdCatalogProduct200Response]
    def delete_ad_catalog_product(catalog_id, product_id, account_id, opts = {})
      data, _status_code, _headers = delete_ad_catalog_product_with_http_info(catalog_id, product_id, account_id, opts)
      data
    end

    # Delete a product
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_id [String] Meta product item ID (from the products list; not the retailer id)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(DeleteAdCatalogProduct200Response, Integer, Hash)>] DeleteAdCatalogProduct200Response data, response status code and response headers
    def delete_ad_catalog_product_with_http_info(catalog_id, product_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.delete_ad_catalog_product ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.delete_ad_catalog_product"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductCatalogsApi.delete_ad_catalog_product"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.delete_ad_catalog_product"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/products/{productId}'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAdCatalogProduct200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.delete_ad_catalog_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#delete_ad_catalog_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a product set
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_set_id [String] 
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [DeleteAdCatalogProductSet200Response]
    def delete_ad_catalog_product_set(catalog_id, product_set_id, account_id, opts = {})
      data, _status_code, _headers = delete_ad_catalog_product_set_with_http_info(catalog_id, product_set_id, account_id, opts)
      data
    end

    # Delete a product set
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_set_id [String] 
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(DeleteAdCatalogProductSet200Response, Integer, Hash)>] DeleteAdCatalogProductSet200Response data, response status code and response headers
    def delete_ad_catalog_product_set_with_http_info(catalog_id, product_set_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.delete_ad_catalog_product_set ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.delete_ad_catalog_product_set"
      end
      # verify the required parameter 'product_set_id' is set
      if @api_client.config.client_side_validation && product_set_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_set_id' when calling ProductCatalogsApi.delete_ad_catalog_product_set"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.delete_ad_catalog_product_set"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/product-sets/{productSetId}'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s)).sub('{' + 'productSetId' + '}', CGI.escape(product_set_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAdCatalogProductSet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.delete_ad_catalog_product_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#delete_ad_catalog_product_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a product catalog
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [CreateAdCatalog201Response]
    def get_ad_catalog(catalog_id, account_id, opts = {})
      data, _status_code, _headers = get_ad_catalog_with_http_info(catalog_id, account_id, opts)
      data
    end

    # Get a product catalog
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(CreateAdCatalog201Response, Integer, Hash)>] CreateAdCatalog201Response data, response status code and response headers
    def get_ad_catalog_with_http_info(catalog_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.get_ad_catalog ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.get_ad_catalog"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.get_ad_catalog"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalog201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.get_ad_catalog",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#get_ad_catalog\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a bulk request's status
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param handle [String] Handle returned by the batch call
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [GetAdCatalogBatch200Response]
    def get_ad_catalog_batch(catalog_id, handle, account_id, opts = {})
      data, _status_code, _headers = get_ad_catalog_batch_with_http_info(catalog_id, handle, account_id, opts)
      data
    end

    # Get a bulk request&#39;s status
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param handle [String] Handle returned by the batch call
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(GetAdCatalogBatch200Response, Integer, Hash)>] GetAdCatalogBatch200Response data, response status code and response headers
    def get_ad_catalog_batch_with_http_info(catalog_id, handle, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.get_ad_catalog_batch ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.get_ad_catalog_batch"
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling ProductCatalogsApi.get_ad_catalog_batch"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.get_ad_catalog_batch"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/batches/{handle}'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s)).sub('{' + 'handle' + '}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAdCatalogBatch200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.get_ad_catalog_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#get_ad_catalog_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a product
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_id [String] Meta product item ID (from the products list; not the retailer id)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [CreateAdCatalogProduct201Response]
    def get_ad_catalog_product(catalog_id, product_id, account_id, opts = {})
      data, _status_code, _headers = get_ad_catalog_product_with_http_info(catalog_id, product_id, account_id, opts)
      data
    end

    # Get a product
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_id [String] Meta product item ID (from the products list; not the retailer id)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(CreateAdCatalogProduct201Response, Integer, Hash)>] CreateAdCatalogProduct201Response data, response status code and response headers
    def get_ad_catalog_product_with_http_info(catalog_id, product_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.get_ad_catalog_product ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.get_ad_catalog_product"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductCatalogsApi.get_ad_catalog_product"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.get_ad_catalog_product"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/products/{productId}'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalogProduct201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.get_ad_catalog_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#get_ad_catalog_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a feed's uploads
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param feed_id [String] 
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [ListAdCatalogFeedUploads200Response]
    def list_ad_catalog_feed_uploads(catalog_id, feed_id, account_id, opts = {})
      data, _status_code, _headers = list_ad_catalog_feed_uploads_with_http_info(catalog_id, feed_id, account_id, opts)
      data
    end

    # List a feed&#39;s uploads
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param feed_id [String] 
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(ListAdCatalogFeedUploads200Response, Integer, Hash)>] ListAdCatalogFeedUploads200Response data, response status code and response headers
    def list_ad_catalog_feed_uploads_with_http_info(catalog_id, feed_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.list_ad_catalog_feed_uploads ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.list_ad_catalog_feed_uploads"
      end
      # verify the required parameter 'feed_id' is set
      if @api_client.config.client_side_validation && feed_id.nil?
        fail ArgumentError, "Missing the required parameter 'feed_id' when calling ProductCatalogsApi.list_ad_catalog_feed_uploads"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.list_ad_catalog_feed_uploads"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/feeds/{feedId}/uploads'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s)).sub('{' + 'feedId' + '}', CGI.escape(feed_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdCatalogFeedUploads200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.list_ad_catalog_feed_uploads",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#list_ad_catalog_feed_uploads\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a catalog's product feeds
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [ListAdCatalogFeeds200Response]
    def list_ad_catalog_feeds(catalog_id, account_id, opts = {})
      data, _status_code, _headers = list_ad_catalog_feeds_with_http_info(catalog_id, account_id, opts)
      data
    end

    # List a catalog&#39;s product feeds
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(ListAdCatalogFeeds200Response, Integer, Hash)>] ListAdCatalogFeeds200Response data, response status code and response headers
    def list_ad_catalog_feeds_with_http_info(catalog_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.list_ad_catalog_feeds ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.list_ad_catalog_feeds"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.list_ad_catalog_feeds"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/feeds'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdCatalogFeeds200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.list_ad_catalog_feeds",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#list_ad_catalog_feeds\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a catalog's product sets
    # Lists a Meta product catalog's product sets, the unit a catalog ad promotes. Pass the chosen set id, not the parent catalog id, as `promotedObject.productSetId` on POST /v1/ads/create with `goal: catalog_sales`.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [ListAdCatalogProductSets200Response]
    def list_ad_catalog_product_sets(catalog_id, account_id, opts = {})
      data, _status_code, _headers = list_ad_catalog_product_sets_with_http_info(catalog_id, account_id, opts)
      data
    end

    # List a catalog&#39;s product sets
    # Lists a Meta product catalog&#39;s product sets, the unit a catalog ad promotes. Pass the chosen set id, not the parent catalog id, as &#x60;promotedObject.productSetId&#x60; on POST /v1/ads/create with &#x60;goal: catalog_sales&#x60;.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @return [Array<(ListAdCatalogProductSets200Response, Integer, Hash)>] ListAdCatalogProductSets200Response data, response status code and response headers
    def list_ad_catalog_product_sets_with_http_info(catalog_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.list_ad_catalog_product_sets ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.list_ad_catalog_product_sets"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.list_ad_catalog_product_sets"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/product-sets'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdCatalogProductSets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.list_ad_catalog_product_sets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#list_ad_catalog_product_sets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a catalog's products
    # Pages through the catalog's products. Filter by your own `retailerId` to look one up. `price` and `salePrice` come back formatted by Meta (for example \"€49.90\").
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after Cursor from the previous page&#39;s &#x60;nextCursor&#x60;
    # @option opts [String] :retailer_id Only the product with this retailer id (your SKU)
    # @return [ListAdCatalogProducts200Response]
    def list_ad_catalog_products(catalog_id, account_id, opts = {})
      data, _status_code, _headers = list_ad_catalog_products_with_http_info(catalog_id, account_id, opts)
      data
    end

    # List a catalog&#39;s products
    # Pages through the catalog&#39;s products. Filter by your own &#x60;retailerId&#x60; to look one up. &#x60;price&#x60; and &#x60;salePrice&#x60; come back formatted by Meta (for example \&quot;€49.90\&quot;).
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token performs the call instead of the account&#39;s own
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after Cursor from the previous page&#39;s &#x60;nextCursor&#x60;
    # @option opts [String] :retailer_id Only the product with this retailer id (your SKU)
    # @return [Array<(ListAdCatalogProducts200Response, Integer, Hash)>] ListAdCatalogProducts200Response data, response status code and response headers
    def list_ad_catalog_products_with_http_info(catalog_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.list_ad_catalog_products ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.list_ad_catalog_products"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.list_ad_catalog_products"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProductCatalogsApi.list_ad_catalog_products, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ProductCatalogsApi.list_ad_catalog_products, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/products'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdCatalogProducts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.list_ad_catalog_products",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#list_ad_catalog_products\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Meta product catalogs
    # Lists the Meta Commerce catalogs of a business portfolio (owned + agency-shared). The business comes from `businessId`, else the ad account's owner (`adAccountId`), else the WhatsApp Business Account's owner when `accountId` is a WhatsApp connection, else the only business the Meta login can see. Reads work with scopes customers already granted.
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token is used instead of the account&#39;s own (needed for WhatsApp connections, whose token cannot manage catalogs).
    # @option opts [String] :ad_account_id Meta ad account ID (act_...) whose owner business to list
    # @option opts [String] :business_id Meta business portfolio ID to list
    # @return [ListAdCatalogs200Response]
    def list_ad_catalogs(account_id, opts = {})
      data, _status_code, _headers = list_ad_catalogs_with_http_info(account_id, opts)
      data
    end

    # List Meta product catalogs
    # Lists the Meta Commerce catalogs of a business portfolio (owned + agency-shared). The business comes from &#x60;businessId&#x60;, else the ad account&#39;s owner (&#x60;adAccountId&#x60;), else the WhatsApp Business Account&#39;s owner when &#x60;accountId&#x60; is a WhatsApp connection, else the only business the Meta login can see. Reads work with scopes customers already granted.
    # @param account_id [String] A facebook, instagram, metaads or whatsapp account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :catalog_account_id A facebook, instagram or metaads account whose Meta login carries catalog_management; its token is used instead of the account&#39;s own (needed for WhatsApp connections, whose token cannot manage catalogs).
    # @option opts [String] :ad_account_id Meta ad account ID (act_...) whose owner business to list
    # @option opts [String] :business_id Meta business portfolio ID to list
    # @return [Array<(ListAdCatalogs200Response, Integer, Hash)>] ListAdCatalogs200Response data, response status code and response headers
    def list_ad_catalogs_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.list_ad_catalogs ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ProductCatalogsApi.list_ad_catalogs"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'catalogAccountId'] = opts[:'catalog_account_id'] if !opts[:'catalog_account_id'].nil?
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'businessId'] = opts[:'business_id'] if !opts[:'business_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAdCatalogs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.list_ad_catalogs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#list_ad_catalogs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a product
    # Partial update: only the fields sent change. `retailerId` cannot change.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_id [String] Meta product item ID (from the products list; not the retailer id)
    # @param update_ad_catalog_product_request [UpdateAdCatalogProductRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdCatalogProduct201Response]
    def update_ad_catalog_product(catalog_id, product_id, update_ad_catalog_product_request, opts = {})
      data, _status_code, _headers = update_ad_catalog_product_with_http_info(catalog_id, product_id, update_ad_catalog_product_request, opts)
      data
    end

    # Update a product
    # Partial update: only the fields sent change. &#x60;retailerId&#x60; cannot change.
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_id [String] Meta product item ID (from the products list; not the retailer id)
    # @param update_ad_catalog_product_request [UpdateAdCatalogProductRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdCatalogProduct201Response, Integer, Hash)>] CreateAdCatalogProduct201Response data, response status code and response headers
    def update_ad_catalog_product_with_http_info(catalog_id, product_id, update_ad_catalog_product_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.update_ad_catalog_product ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.update_ad_catalog_product"
      end
      # verify the required parameter 'product_id' is set
      if @api_client.config.client_side_validation && product_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_id' when calling ProductCatalogsApi.update_ad_catalog_product"
      end
      # verify the required parameter 'update_ad_catalog_product_request' is set
      if @api_client.config.client_side_validation && update_ad_catalog_product_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ad_catalog_product_request' when calling ProductCatalogsApi.update_ad_catalog_product"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/products/{productId}'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s)).sub('{' + 'productId' + '}', CGI.escape(product_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ad_catalog_product_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalogProduct201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.update_ad_catalog_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#update_ad_catalog_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a product set
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_set_id [String] 
    # @param update_ad_catalog_product_set_request [UpdateAdCatalogProductSetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAdCatalogProductSet201Response]
    def update_ad_catalog_product_set(catalog_id, product_set_id, update_ad_catalog_product_set_request, opts = {})
      data, _status_code, _headers = update_ad_catalog_product_set_with_http_info(catalog_id, product_set_id, update_ad_catalog_product_set_request, opts)
      data
    end

    # Update a product set
    # @param catalog_id [String] Meta product catalog ID (from GET /v1/ads/catalogs)
    # @param product_set_id [String] 
    # @param update_ad_catalog_product_set_request [UpdateAdCatalogProductSetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAdCatalogProductSet201Response, Integer, Hash)>] CreateAdCatalogProductSet201Response data, response status code and response headers
    def update_ad_catalog_product_set_with_http_info(catalog_id, product_set_id, update_ad_catalog_product_set_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductCatalogsApi.update_ad_catalog_product_set ...'
      end
      # verify the required parameter 'catalog_id' is set
      if @api_client.config.client_side_validation && catalog_id.nil?
        fail ArgumentError, "Missing the required parameter 'catalog_id' when calling ProductCatalogsApi.update_ad_catalog_product_set"
      end
      # verify the required parameter 'product_set_id' is set
      if @api_client.config.client_side_validation && product_set_id.nil?
        fail ArgumentError, "Missing the required parameter 'product_set_id' when calling ProductCatalogsApi.update_ad_catalog_product_set"
      end
      # verify the required parameter 'update_ad_catalog_product_set_request' is set
      if @api_client.config.client_side_validation && update_ad_catalog_product_set_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ad_catalog_product_set_request' when calling ProductCatalogsApi.update_ad_catalog_product_set"
      end
      # resource path
      local_var_path = '/v1/ads/catalogs/{catalogId}/product-sets/{productSetId}'.sub('{' + 'catalogId' + '}', CGI.escape(catalog_id.to_s)).sub('{' + 'productSetId' + '}', CGI.escape(product_set_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ad_catalog_product_set_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAdCatalogProductSet201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProductCatalogsApi.update_ad_catalog_product_set",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductCatalogsApi#update_ad_catalog_product_set\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
