=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.213.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class RCSApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Invite an RCS test phone
    # Invites a phone to try the agent before launch. It must accept the invite in its messaging app. Available once the agent exists with the carriers (after brand vetting). T-Mobile and AT&T numbers cannot be test phones. 
    # @param agent_id [String] 
    # @param add_rcs_test_device_request [AddRcsTestDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddRcsTestDevice201Response]
    def add_rcs_test_device(agent_id, add_rcs_test_device_request, opts = {})
      data, _status_code, _headers = add_rcs_test_device_with_http_info(agent_id, add_rcs_test_device_request, opts)
      data
    end

    # Invite an RCS test phone
    # Invites a phone to try the agent before launch. It must accept the invite in its messaging app. Available once the agent exists with the carriers (after brand vetting). T-Mobile and AT&amp;T numbers cannot be test phones. 
    # @param agent_id [String] 
    # @param add_rcs_test_device_request [AddRcsTestDeviceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddRcsTestDevice201Response, Integer, Hash)>] AddRcsTestDevice201Response data, response status code and response headers
    def add_rcs_test_device_with_http_info(agent_id, add_rcs_test_device_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.add_rcs_test_device ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling RCSApi.add_rcs_test_device"
      end
      # verify the required parameter 'add_rcs_test_device_request' is set
      if @api_client.config.client_side_validation && add_rcs_test_device_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_rcs_test_device_request' when calling RCSApi.add_rcs_test_device"
      end
      # resource path
      local_var_path = '/v1/rcs/agents/{agentId}/test-devices'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_rcs_test_device_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddRcsTestDevice201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.add_rcs_test_device",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#add_rcs_test_device\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request an RCS agent
    # Requests a new agent for a profile, with a new company (`brand`) or an existing one (`brandId`, skips vetting when it is already verified). The request lands in our review: nothing is filed with the carriers or billed until we submit it. A profile can hold several agents. Requires usage-based billing and a card on file. Send an `Idempotency-Key` header to make retries safe. 
    # @param create_rcs_agent_request [CreateRcsAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [CreateRcsAgent201Response]
    def create_rcs_agent(create_rcs_agent_request, opts = {})
      data, _status_code, _headers = create_rcs_agent_with_http_info(create_rcs_agent_request, opts)
      data
    end

    # Request an RCS agent
    # Requests a new agent for a profile, with a new company (&#x60;brand&#x60;) or an existing one (&#x60;brandId&#x60;, skips vetting when it is already verified). The request lands in our review: nothing is filed with the carriers or billed until we submit it. A profile can hold several agents. Requires usage-based billing and a card on file. Send an &#x60;Idempotency-Key&#x60; header to make retries safe. 
    # @param create_rcs_agent_request [CreateRcsAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [Array<(CreateRcsAgent201Response, Integer, Hash)>] CreateRcsAgent201Response data, response status code and response headers
    def create_rcs_agent_with_http_info(create_rcs_agent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.create_rcs_agent ...'
      end
      # verify the required parameter 'create_rcs_agent_request' is set
      if @api_client.config.client_side_validation && create_rcs_agent_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_rcs_agent_request' when calling RCSApi.create_rcs_agent"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling RCSApi.create_rcs_agent, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/rcs/agents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_rcs_agent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRcsAgent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.create_rcs_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#create_rcs_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate an RCS agent
    # Stops sending, disconnects its inbox account and stops monthly billing. Fees already charged are not refunded.
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateRcsAgent201Response]
    def deactivate_rcs_agent(agent_id, opts = {})
      data, _status_code, _headers = deactivate_rcs_agent_with_http_info(agent_id, opts)
      data
    end

    # Deactivate an RCS agent
    # Stops sending, disconnects its inbox account and stops monthly billing. Fees already charged are not refunded.
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateRcsAgent201Response, Integer, Hash)>] CreateRcsAgent201Response data, response status code and response headers
    def deactivate_rcs_agent_with_http_info(agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.deactivate_rcs_agent ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling RCSApi.deactivate_rcs_agent"
      end
      # resource path
      local_var_path = '/v1/rcs/agents/{agentId}'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRcsAgent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.deactivate_rcs_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#deactivate_rcs_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an RCS agent
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateRcsAgent201Response]
    def get_rcs_agent(agent_id, opts = {})
      data, _status_code, _headers = get_rcs_agent_with_http_info(agent_id, opts)
      data
    end

    # Get an RCS agent
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateRcsAgent201Response, Integer, Hash)>] CreateRcsAgent201Response data, response status code and response headers
    def get_rcs_agent_with_http_info(agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.get_rcs_agent ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling RCSApi.get_rcs_agent"
      end
      # resource path
      local_var_path = '/v1/rcs/agents/{agentId}'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRcsAgent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.get_rcs_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#get_rcs_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check RCS capability
    # Which recipients can receive RCS from the agent and which rich features their phones support. Up to 100 numbers.
    # @param agent_id [String] 
    # @param numbers [String] Comma-separated E.164 numbers, max 100.
    # @param [Hash] opts the optional parameters
    # @return [GetRcsCapabilities200Response]
    def get_rcs_capabilities(agent_id, numbers, opts = {})
      data, _status_code, _headers = get_rcs_capabilities_with_http_info(agent_id, numbers, opts)
      data
    end

    # Check RCS capability
    # Which recipients can receive RCS from the agent and which rich features their phones support. Up to 100 numbers.
    # @param agent_id [String] 
    # @param numbers [String] Comma-separated E.164 numbers, max 100.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRcsCapabilities200Response, Integer, Hash)>] GetRcsCapabilities200Response data, response status code and response headers
    def get_rcs_capabilities_with_http_info(agent_id, numbers, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.get_rcs_capabilities ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling RCSApi.get_rcs_capabilities"
      end
      # verify the required parameter 'numbers' is set
      if @api_client.config.client_side_validation && numbers.nil?
        fail ArgumentError, "Missing the required parameter 'numbers' when calling RCSApi.get_rcs_capabilities"
      end
      # resource path
      local_var_path = '/v1/rcs/capabilities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'agentId'] = agent_id
      query_params[:'numbers'] = numbers

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRcsCapabilities200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.get_rcs_capabilities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#get_rcs_capabilities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List RCS agents
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_closed Include rejected and deactivated agents.
    # @return [ListRcsAgents200Response]
    def list_rcs_agents(opts = {})
      data, _status_code, _headers = list_rcs_agents_with_http_info(opts)
      data
    end

    # List RCS agents
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_closed Include rejected and deactivated agents.
    # @return [Array<(ListRcsAgents200Response, Integer, Hash)>] ListRcsAgents200Response data, response status code and response headers
    def list_rcs_agents_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.list_rcs_agents ...'
      end
      # resource path
      local_var_path = '/v1/rcs/agents'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeClosed'] = opts[:'include_closed'] if !opts[:'include_closed'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRcsAgents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.list_rcs_agents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#list_rcs_agents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List RCS brands
    # The team's RCS brands (vetted companies), to reuse one for another agent with `brandId`.
    # @param [Hash] opts the optional parameters
    # @return [ListRcsBrands200Response]
    def list_rcs_brands(opts = {})
      data, _status_code, _headers = list_rcs_brands_with_http_info(opts)
      data
    end

    # List RCS brands
    # The team&#39;s RCS brands (vetted companies), to reuse one for another agent with &#x60;brandId&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListRcsBrands200Response, Integer, Hash)>] ListRcsBrands200Response data, response status code and response headers
    def list_rcs_brands_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.list_rcs_brands ...'
      end
      # resource path
      local_var_path = '/v1/rcs/brands'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRcsBrands200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.list_rcs_brands",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#list_rcs_brands\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List RCS test phones
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListRcsTestDevices200Response]
    def list_rcs_test_devices(agent_id, opts = {})
      data, _status_code, _headers = list_rcs_test_devices_with_http_info(agent_id, opts)
      data
    end

    # List RCS test phones
    # @param agent_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListRcsTestDevices200Response, Integer, Hash)>] ListRcsTestDevices200Response data, response status code and response headers
    def list_rcs_test_devices_with_http_info(agent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.list_rcs_test_devices ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling RCSApi.list_rcs_test_devices"
      end
      # resource path
      local_var_path = '/v1/rcs/agents/{agentId}/test-devices'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRcsTestDevices200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.list_rcs_test_devices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#list_rcs_test_devices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove an RCS test phone
    # @param agent_id [String] 
    # @param test_device_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateYoutubeDefaultPlaylist200Response]
    def remove_rcs_test_device(agent_id, test_device_id, opts = {})
      data, _status_code, _headers = remove_rcs_test_device_with_http_info(agent_id, test_device_id, opts)
      data
    end

    # Remove an RCS test phone
    # @param agent_id [String] 
    # @param test_device_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateYoutubeDefaultPlaylist200Response, Integer, Hash)>] UpdateYoutubeDefaultPlaylist200Response data, response status code and response headers
    def remove_rcs_test_device_with_http_info(agent_id, test_device_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.remove_rcs_test_device ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling RCSApi.remove_rcs_test_device"
      end
      # verify the required parameter 'test_device_id' is set
      if @api_client.config.client_side_validation && test_device_id.nil?
        fail ArgumentError, "Missing the required parameter 'test_device_id' when calling RCSApi.remove_rcs_test_device"
      end
      # resource path
      local_var_path = '/v1/rcs/agents/{agentId}/test-devices/{testDeviceId}'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s)).sub('{' + 'testDeviceId' + '}', CGI.escape(test_device_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateYoutubeDefaultPlaylist200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.remove_rcs_test_device",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#remove_rcs_test_device\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send the launch filing
    # Sends the launch details the carriers review (campaign, consent and a public test video). US agents send them once they are in `testing`; we review them before they reach the carriers. Agents in other markets send them while still in review (`requested`, `changes_requested` or `brand_vetting`), because we file everything with the carriers at once; this saves the details without changing the status. 
    # @param agent_id [String] 
    # @param rcs_launch_request [RcsLaunchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateRcsAgent201Response]
    def request_rcs_agent_launch(agent_id, rcs_launch_request, opts = {})
      data, _status_code, _headers = request_rcs_agent_launch_with_http_info(agent_id, rcs_launch_request, opts)
      data
    end

    # Send the launch filing
    # Sends the launch details the carriers review (campaign, consent and a public test video). US agents send them once they are in &#x60;testing&#x60;; we review them before they reach the carriers. Agents in other markets send them while still in review (&#x60;requested&#x60;, &#x60;changes_requested&#x60; or &#x60;brand_vetting&#x60;), because we file everything with the carriers at once; this saves the details without changing the status. 
    # @param agent_id [String] 
    # @param rcs_launch_request [RcsLaunchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateRcsAgent201Response, Integer, Hash)>] CreateRcsAgent201Response data, response status code and response headers
    def request_rcs_agent_launch_with_http_info(agent_id, rcs_launch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.request_rcs_agent_launch ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling RCSApi.request_rcs_agent_launch"
      end
      # verify the required parameter 'rcs_launch_request' is set
      if @api_client.config.client_side_validation && rcs_launch_request.nil?
        fail ArgumentError, "Missing the required parameter 'rcs_launch_request' when calling RCSApi.request_rcs_agent_launch"
      end
      # resource path
      local_var_path = '/v1/rcs/agents/{agentId}/launch-request'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rcs_launch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRcsAgent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.request_rcs_agent_launch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#request_rcs_agent_launch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send an RCS message
    # Sends from one of your agents. Use `text` for a plain message or `content` for rich content (card, carousel, media, suggestion chips). Before launch an agent only reaches test phones that accepted the invite. With the agent's `smsFallbackFrom` set, phones without RCS get `fallbackText` (default: the message's readable text) as SMS.  Replies and status arrive as webhooks with `platform: \"rcs\"`: `message.received` (a tapped chip carries its postback in `metadata.postbackPayload`), `message.delivered`, `message.read` and `message.failed`. Send an `Idempotency-Key` header to make retries safe. 
    # @param send_rcs_message_request [SendRcsMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [SendRcsMessage200Response]
    def send_rcs_message(send_rcs_message_request, opts = {})
      data, _status_code, _headers = send_rcs_message_with_http_info(send_rcs_message_request, opts)
      data
    end

    # Send an RCS message
    # Sends from one of your agents. Use &#x60;text&#x60; for a plain message or &#x60;content&#x60; for rich content (card, carousel, media, suggestion chips). Before launch an agent only reaches test phones that accepted the invite. With the agent&#39;s &#x60;smsFallbackFrom&#x60; set, phones without RCS get &#x60;fallbackText&#x60; (default: the message&#39;s readable text) as SMS.  Replies and status arrive as webhooks with &#x60;platform: \&quot;rcs\&quot;&#x60;: &#x60;message.received&#x60; (a tapped chip carries its postback in &#x60;metadata.postbackPayload&#x60;), &#x60;message.delivered&#x60;, &#x60;message.read&#x60; and &#x60;message.failed&#x60;. Send an &#x60;Idempotency-Key&#x60; header to make retries safe. 
    # @param send_rcs_message_request [SendRcsMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [Array<(SendRcsMessage200Response, Integer, Hash)>] SendRcsMessage200Response data, response status code and response headers
    def send_rcs_message_with_http_info(send_rcs_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.send_rcs_message ...'
      end
      # verify the required parameter 'send_rcs_message_request' is set
      if @api_client.config.client_side_validation && send_rcs_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_rcs_message_request' when calling RCSApi.send_rcs_message"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling RCSApi.send_rcs_message, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/rcs/messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_rcs_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendRcsMessage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.send_rcs_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#send_rcs_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an RCS agent
    # Edits the filing while the agent is `requested` or `changes_requested`; answering a change request puts it back in our review. The company can only change until it is filed. `smsFallbackFrom` stays editable in any status (null removes it). 
    # @param agent_id [String] 
    # @param update_rcs_agent_request [UpdateRcsAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateRcsAgent201Response]
    def update_rcs_agent(agent_id, update_rcs_agent_request, opts = {})
      data, _status_code, _headers = update_rcs_agent_with_http_info(agent_id, update_rcs_agent_request, opts)
      data
    end

    # Update an RCS agent
    # Edits the filing while the agent is &#x60;requested&#x60; or &#x60;changes_requested&#x60;; answering a change request puts it back in our review. The company can only change until it is filed. &#x60;smsFallbackFrom&#x60; stays editable in any status (null removes it). 
    # @param agent_id [String] 
    # @param update_rcs_agent_request [UpdateRcsAgentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateRcsAgent201Response, Integer, Hash)>] CreateRcsAgent201Response data, response status code and response headers
    def update_rcs_agent_with_http_info(agent_id, update_rcs_agent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.update_rcs_agent ...'
      end
      # verify the required parameter 'agent_id' is set
      if @api_client.config.client_side_validation && agent_id.nil?
        fail ArgumentError, "Missing the required parameter 'agent_id' when calling RCSApi.update_rcs_agent"
      end
      # verify the required parameter 'update_rcs_agent_request' is set
      if @api_client.config.client_side_validation && update_rcs_agent_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_rcs_agent_request' when calling RCSApi.update_rcs_agent"
      end
      # resource path
      local_var_path = '/v1/rcs/agents/{agentId}'.sub('{' + 'agentId' + '}', CGI.escape(agent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_rcs_agent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRcsAgent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.update_rcs_agent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#update_rcs_agent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload an RCS logo or banner
    # Uploads an image and returns a public URL for `profile.logoUrl` or `profile.heroUrl`. The image is cropped and compressed to the carriers' exact rules (logo 224x224 under 50 KB, banner 1440x448 under 200 KB). 
    # @param file [File] PNG, JPEG or WebP.
    # @param kind [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListInboxReviews200ResponseDataInnerPhotosInner]
    def upload_rcs_asset(file, kind, opts = {})
      data, _status_code, _headers = upload_rcs_asset_with_http_info(file, kind, opts)
      data
    end

    # Upload an RCS logo or banner
    # Uploads an image and returns a public URL for &#x60;profile.logoUrl&#x60; or &#x60;profile.heroUrl&#x60;. The image is cropped and compressed to the carriers&#39; exact rules (logo 224x224 under 50 KB, banner 1440x448 under 200 KB). 
    # @param file [File] PNG, JPEG or WebP.
    # @param kind [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListInboxReviews200ResponseDataInnerPhotosInner, Integer, Hash)>] ListInboxReviews200ResponseDataInnerPhotosInner data, response status code and response headers
    def upload_rcs_asset_with_http_info(file, kind, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RCSApi.upload_rcs_asset ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling RCSApi.upload_rcs_asset"
      end
      # verify the required parameter 'kind' is set
      if @api_client.config.client_side_validation && kind.nil?
        fail ArgumentError, "Missing the required parameter 'kind' when calling RCSApi.upload_rcs_asset"
      end
      # verify enum value
      allowable_values = ["logo", "banner"]
      if @api_client.config.client_side_validation && !allowable_values.include?(kind)
        fail ArgumentError, "invalid value for \"kind\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/rcs/assets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['kind'] = kind

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListInboxReviews200ResponseDataInnerPhotosInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RCSApi.upload_rcs_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RCSApi#upload_rcs_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
