=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class SequencesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate sequence
    # Start a draft or paused sequence. The sequence must have at least one step.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ActivateSequence200Response]
    def activate_sequence(sequence_id, opts = {})
      data, _status_code, _headers = activate_sequence_with_http_info(sequence_id, opts)
      data
    end

    # Activate sequence
    # Start a draft or paused sequence. The sequence must have at least one step.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivateSequence200Response, Integer, Hash)>] ActivateSequence200Response data, response status code and response headers
    def activate_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.activate_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling SequencesApi.activate_sequence"
      end
      # resource path
      local_var_path = '/v1/sequences/{sequenceId}/activate'.sub('{' + 'sequenceId' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivateSequence200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.activate_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#activate_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create sequence
    # Create a multi-step messaging sequence. Each step has a delay and a message or WhatsApp template.
    # @param create_sequence_request [CreateSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSequence200Response]
    def create_sequence(create_sequence_request, opts = {})
      data, _status_code, _headers = create_sequence_with_http_info(create_sequence_request, opts)
      data
    end

    # Create sequence
    # Create a multi-step messaging sequence. Each step has a delay and a message or WhatsApp template.
    # @param create_sequence_request [CreateSequenceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSequence200Response, Integer, Hash)>] CreateSequence200Response data, response status code and response headers
    def create_sequence_with_http_info(create_sequence_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.create_sequence ...'
      end
      # verify the required parameter 'create_sequence_request' is set
      if @api_client.config.client_side_validation && create_sequence_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_sequence_request' when calling SequencesApi.create_sequence"
      end
      # resource path
      local_var_path = '/v1/sequences'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_sequence_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSequence200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.create_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#create_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete sequence
    # Permanently delete a sequence. Active enrollments are stopped.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_sequence(sequence_id, opts = {})
      delete_sequence_with_http_info(sequence_id, opts)
      nil
    end

    # Delete sequence
    # Permanently delete a sequence. Active enrollments are stopped.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.delete_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling SequencesApi.delete_sequence"
      end
      # resource path
      local_var_path = '/v1/sequences/{sequenceId}'.sub('{' + 'sequenceId' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.delete_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#delete_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enroll contacts in a sequence
    # Enroll one or more contacts into a sequence. Contacts already enrolled are skipped.
    # @param sequence_id [String] 
    # @param enroll_contacts_request [EnrollContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnrollContacts200Response]
    def enroll_contacts(sequence_id, enroll_contacts_request, opts = {})
      data, _status_code, _headers = enroll_contacts_with_http_info(sequence_id, enroll_contacts_request, opts)
      data
    end

    # Enroll contacts in a sequence
    # Enroll one or more contacts into a sequence. Contacts already enrolled are skipped.
    # @param sequence_id [String] 
    # @param enroll_contacts_request [EnrollContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnrollContacts200Response, Integer, Hash)>] EnrollContacts200Response data, response status code and response headers
    def enroll_contacts_with_http_info(sequence_id, enroll_contacts_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.enroll_contacts ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling SequencesApi.enroll_contacts"
      end
      # verify the required parameter 'enroll_contacts_request' is set
      if @api_client.config.client_side_validation && enroll_contacts_request.nil?
        fail ArgumentError, "Missing the required parameter 'enroll_contacts_request' when calling SequencesApi.enroll_contacts"
      end
      # resource path
      local_var_path = '/v1/sequences/{sequenceId}/enroll'.sub('{' + 'sequenceId' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enroll_contacts_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnrollContacts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.enroll_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#enroll_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sequence with steps
    # Returns a sequence with all its steps and enrollment stats.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSequence200Response]
    def get_sequence(sequence_id, opts = {})
      data, _status_code, _headers = get_sequence_with_http_info(sequence_id, opts)
      data
    end

    # Get sequence with steps
    # Returns a sequence with all its steps and enrollment stats.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSequence200Response, Integer, Hash)>] GetSequence200Response data, response status code and response headers
    def get_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.get_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling SequencesApi.get_sequence"
      end
      # resource path
      local_var_path = '/v1/sequences/{sequenceId}'.sub('{' + 'sequenceId' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSequence200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.get_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#get_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List enrollments for a sequence
    # Returns enrolled contacts with their progress, status, and next scheduled step.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListSequenceEnrollments200Response]
    def list_sequence_enrollments(sequence_id, opts = {})
      data, _status_code, _headers = list_sequence_enrollments_with_http_info(sequence_id, opts)
      data
    end

    # List enrollments for a sequence
    # Returns enrolled contacts with their progress, status, and next scheduled step.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListSequenceEnrollments200Response, Integer, Hash)>] ListSequenceEnrollments200Response data, response status code and response headers
    def list_sequence_enrollments_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.list_sequence_enrollments ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling SequencesApi.list_sequence_enrollments"
      end
      allowable_values = ["active", "completed", "exited", "paused"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/sequences/{sequenceId}/enrollments'.sub('{' + 'sequenceId' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSequenceEnrollments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.list_sequence_enrollments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#list_sequence_enrollments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sequences
    # Returns sequences with enrollment stats. Filter by status, platform, or profile.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListSequences200Response]
    def list_sequences(opts = {})
      data, _status_code, _headers = list_sequences_with_http_info(opts)
      data
    end

    # List sequences
    # Returns sequences with enrollment stats. Filter by status, platform, or profile.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListSequences200Response, Integer, Hash)>] ListSequences200Response data, response status code and response headers
    def list_sequences_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.list_sequences ...'
      end
      allowable_values = ["draft", "active", "paused"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/sequences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSequences200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.list_sequences",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#list_sequences\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause sequence
    # Pause an active sequence. Enrolled contacts stop receiving messages until the sequence is reactivated.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ActivateSequence200Response]
    def pause_sequence(sequence_id, opts = {})
      data, _status_code, _headers = pause_sequence_with_http_info(sequence_id, opts)
      data
    end

    # Pause sequence
    # Pause an active sequence. Enrolled contacts stop receiving messages until the sequence is reactivated.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivateSequence200Response, Integer, Hash)>] ActivateSequence200Response data, response status code and response headers
    def pause_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.pause_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling SequencesApi.pause_sequence"
      end
      # resource path
      local_var_path = '/v1/sequences/{sequenceId}/pause'.sub('{' + 'sequenceId' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivateSequence200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.pause_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#pause_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unenroll contact
    # Remove a contact from a sequence. No further messages will be sent to this contact.
    # @param sequence_id [String] 
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def unenroll_contact(sequence_id, contact_id, opts = {})
      unenroll_contact_with_http_info(sequence_id, contact_id, opts)
      nil
    end

    # Unenroll contact
    # Remove a contact from a sequence. No further messages will be sent to this contact.
    # @param sequence_id [String] 
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def unenroll_contact_with_http_info(sequence_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.unenroll_contact ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling SequencesApi.unenroll_contact"
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling SequencesApi.unenroll_contact"
      end
      # resource path
      local_var_path = '/v1/sequences/{sequenceId}/enroll/{contactId}'.sub('{' + 'sequenceId' + '}', CGI.escape(sequence_id.to_s)).sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.unenroll_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#unenroll_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update sequence
    # Update a sequence's name, steps, or exit conditions. Active sequences can be updated without pausing.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateSequence200Response]
    def update_sequence(sequence_id, opts = {})
      data, _status_code, _headers = update_sequence_with_http_info(sequence_id, opts)
      data
    end

    # Update sequence
    # Update a sequence&#39;s name, steps, or exit conditions. Active sequences can be updated without pausing.
    # @param sequence_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateSequence200Response, Integer, Hash)>] UpdateSequence200Response data, response status code and response headers
    def update_sequence_with_http_info(sequence_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SequencesApi.update_sequence ...'
      end
      # verify the required parameter 'sequence_id' is set
      if @api_client.config.client_side_validation && sequence_id.nil?
        fail ArgumentError, "Missing the required parameter 'sequence_id' when calling SequencesApi.update_sequence"
      end
      # resource path
      local_var_path = '/v1/sequences/{sequenceId}'.sub('{' + 'sequenceId' + '}', CGI.escape(sequence_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateSequence200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SequencesApi.update_sequence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SequencesApi#update_sequence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
