=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class SMSApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Send an SMS or MMS
    # Send a text (SMS) or media (MMS) message from one of your SMS-enabled numbers.  Provide `text`, `mediaUrls`, or both. Supply an `Idempotency-Key` header to make retries safe (a repeated key replays the original result instead of sending again). US numbers must have an approved carrier registration before they can deliver. 
    # @param send_sms_request [SendSmsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendSms200Response]
    def send_sms(send_sms_request, opts = {})
      data, _status_code, _headers = send_sms_with_http_info(send_sms_request, opts)
      data
    end

    # Send an SMS or MMS
    # Send a text (SMS) or media (MMS) message from one of your SMS-enabled numbers.  Provide &#x60;text&#x60;, &#x60;mediaUrls&#x60;, or both. Supply an &#x60;Idempotency-Key&#x60; header to make retries safe (a repeated key replays the original result instead of sending again). US numbers must have an approved carrier registration before they can deliver. 
    # @param send_sms_request [SendSmsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendSms200Response, Integer, Hash)>] SendSms200Response data, response status code and response headers
    def send_sms_with_http_info(send_sms_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.send_sms ...'
      end
      # verify the required parameter 'send_sms_request' is set
      if @api_client.config.client_side_validation && send_sms_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_sms_request' when calling SMSApi.send_sms"
      end
      # resource path
      local_var_path = '/v1/sms/messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_sms_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendSms200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.send_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#send_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
