=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class SMSApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Appeal a rejected campaign
    # Appeals a rejected 10DLC campaign with the carrier registry. Only a registration that reached campaign creation can be appealed; a brand-level rejection should be fixed and re-verified instead. On success the registration returns to `pending`.  Content rejections (e.g. an opt-in flow without a verifiable form link, or unrealistic samples) should be FIXED in the same call: pass the corrected `messageFlow` / `sample1` / `sample2` and the campaign is updated before the appeal is filed, so the reviewer sees the new content. The current content is on `GET /v1/sms/registrations/{id}` (`campaignContent`). 
    # @param id [String] 
    # @param appeal_sms_registration_request [AppealSmsRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AppealSmsRegistration200Response]
    def appeal_sms_registration(id, appeal_sms_registration_request, opts = {})
      data, _status_code, _headers = appeal_sms_registration_with_http_info(id, appeal_sms_registration_request, opts)
      data
    end

    # Appeal a rejected campaign
    # Appeals a rejected 10DLC campaign with the carrier registry. Only a registration that reached campaign creation can be appealed; a brand-level rejection should be fixed and re-verified instead. On success the registration returns to &#x60;pending&#x60;.  Content rejections (e.g. an opt-in flow without a verifiable form link, or unrealistic samples) should be FIXED in the same call: pass the corrected &#x60;messageFlow&#x60; / &#x60;sample1&#x60; / &#x60;sample2&#x60; and the campaign is updated before the appeal is filed, so the reviewer sees the new content. The current content is on &#x60;GET /v1/sms/registrations/{id}&#x60; (&#x60;campaignContent&#x60;). 
    # @param id [String] 
    # @param appeal_sms_registration_request [AppealSmsRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppealSmsRegistration200Response, Integer, Hash)>] AppealSmsRegistration200Response data, response status code and response headers
    def appeal_sms_registration_with_http_info(id, appeal_sms_registration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.appeal_sms_registration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SMSApi.appeal_sms_registration"
      end
      # verify the required parameter 'appeal_sms_registration_request' is set
      if @api_client.config.client_side_validation && appeal_sms_registration_request.nil?
        fail ArgumentError, "Missing the required parameter 'appeal_sms_registration_request' when calling SMSApi.appeal_sms_registration"
      end
      # resource path
      local_var_path = '/v1/sms/registrations/{id}/appeal'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(appeal_sms_registration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AppealSmsRegistration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.appeal_sms_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#appeal_sms_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable SMS on a number
    # Turns off SMS for the number (deactivates its SMS account). The carrier registration is untouched, so re-enabling later just reactivates it, with no re-registration. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DisableSmsOnNumber200Response]
    def disable_sms_on_number(id, opts = {})
      data, _status_code, _headers = disable_sms_on_number_with_http_info(id, opts)
      data
    end

    # Disable SMS on a number
    # Turns off SMS for the number (deactivates its SMS account). The carrier registration is untouched, so re-enabling later just reactivates it, with no re-registration. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisableSmsOnNumber200Response, Integer, Hash)>] DisableSmsOnNumber200Response data, response status code and response headers
    def disable_sms_on_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.disable_sms_on_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SMSApi.disable_sms_on_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}/sms'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisableSmsOnNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.disable_sms_on_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#disable_sms_on_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable SMS on a number
    # Turns on SMS for one of your numbers. The number's real carrier capability is checked first: some number types can't do SMS at all (`smsCapable: false`), and a number still provisioning at the carrier returns `notReady: true` (try again once provisioning finishes).  US numbers additionally need a carrier registration before messages deliver; the response tells you which path applies: - `alreadyRegistered: true`: a prior registration still covers this   number; SMS was simply reactivated. - `reusable` set: you have an approved registration this number can   join in one click via   `POST /v1/phone-numbers/{id}/sms/reuse-registration`   (no new brand/campaign, no extra carrier fee). - `needsRegistration: true` and no `reusable`: start one via   `POST /v1/sms/registrations`.  Idempotent: re-running re-attempts any carrier-side setup that failed. 
    # @param id [String] Phone number record ID (from GET /v1/phone-numbers).
    # @param [Hash] opts the optional parameters
    # @return [EnableSmsOnNumber200Response]
    def enable_sms_on_number(id, opts = {})
      data, _status_code, _headers = enable_sms_on_number_with_http_info(id, opts)
      data
    end

    # Enable SMS on a number
    # Turns on SMS for one of your numbers. The number&#39;s real carrier capability is checked first: some number types can&#39;t do SMS at all (&#x60;smsCapable: false&#x60;), and a number still provisioning at the carrier returns &#x60;notReady: true&#x60; (try again once provisioning finishes).  US numbers additionally need a carrier registration before messages deliver; the response tells you which path applies: - &#x60;alreadyRegistered: true&#x60;: a prior registration still covers this   number; SMS was simply reactivated. - &#x60;reusable&#x60; set: you have an approved registration this number can   join in one click via   &#x60;POST /v1/phone-numbers/{id}/sms/reuse-registration&#x60;   (no new brand/campaign, no extra carrier fee). - &#x60;needsRegistration: true&#x60; and no &#x60;reusable&#x60;: start one via   &#x60;POST /v1/sms/registrations&#x60;.  Idempotent: re-running re-attempts any carrier-side setup that failed. 
    # @param id [String] Phone number record ID (from GET /v1/phone-numbers).
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnableSmsOnNumber200Response, Integer, Hash)>] EnableSmsOnNumber200Response data, response status code and response headers
    def enable_sms_on_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.enable_sms_on_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SMSApi.enable_sms_on_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}/sms'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EnableSmsOnNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.enable_sms_on_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#enable_sms_on_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a carrier registration
    # Poll this for approval progress after starting a registration.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSmsRegistration200Response]
    def get_sms_registration(id, opts = {})
      data, _status_code, _headers = get_sms_registration_with_http_info(id, opts)
      data
    end

    # Get a carrier registration
    # Poll this for approval progress after starting a registration.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSmsRegistration200Response, Integer, Hash)>] GetSmsRegistration200Response data, response status code and response headers
    def get_sms_registration_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.get_sms_registration ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SMSApi.get_sms_registration"
      end
      # resource path
      local_var_path = '/v1/sms/registrations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSmsRegistration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.get_sms_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#get_sms_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List SMS opt-outs
    # The recipients who opted out of SMS (replied STOP) across your numbers, most recent first. Compliance surface: you must be able to see and export your opt-out list. Read-only: a recipient is re-subscribed only by replying START. Pass `format=csv` to download a CSV instead of JSON. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format  (default to 'json')
    # @option opts [Integer] :limit  (default to 500)
    # @return [ListSmsOptOuts200Response]
    def list_sms_opt_outs(opts = {})
      data, _status_code, _headers = list_sms_opt_outs_with_http_info(opts)
      data
    end

    # List SMS opt-outs
    # The recipients who opted out of SMS (replied STOP) across your numbers, most recent first. Compliance surface: you must be able to see and export your opt-out list. Read-only: a recipient is re-subscribed only by replying START. Pass &#x60;format&#x3D;csv&#x60; to download a CSV instead of JSON. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format  (default to 'json')
    # @option opts [Integer] :limit  (default to 500)
    # @return [Array<(ListSmsOptOuts200Response, Integer, Hash)>] ListSmsOptOuts200Response data, response status code and response headers
    def list_sms_opt_outs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.list_sms_opt_outs ...'
      end
      allowable_values = ["json", "csv"]
      if @api_client.config.client_side_validation && opts[:'format'] && !allowable_values.include?(opts[:'format'])
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 5000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SMSApi.list_sms_opt_outs, must be smaller than or equal to 5000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SMSApi.list_sms_opt_outs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/sms/opt-outs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSmsOptOuts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.list_sms_opt_outs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#list_sms_opt_outs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List carrier registrations
    # @param [Hash] opts the optional parameters
    # @return [ListSmsRegistrations200Response]
    def list_sms_registrations(opts = {})
      data, _status_code, _headers = list_sms_registrations_with_http_info(opts)
      data
    end

    # List carrier registrations
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListSmsRegistrations200Response, Integer, Hash)>] ListSmsRegistrations200Response data, response status code and response headers
    def list_sms_registrations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.list_sms_registrations ...'
      end
      # resource path
      local_var_path = '/v1/sms/registrations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSmsRegistrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.list_sms_registrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#list_sms_registrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Look up carrier + line type
    # Carrier name and line type (mobile / landline / voip / toll-free) for a number, plus `smsReachable` (landlines can't receive SMS). Use it to validate recipients before sending. Each lookup is billed by the carrier-data provider, so call it explicitly (e.g. pre-validating an opt-in list), not on every send. 
    # @param number [String] Number to look up (E.164; formatting is normalized).
    # @param [Hash] opts the optional parameters
    # @return [LookupSmsNumber200Response]
    def lookup_sms_number(number, opts = {})
      data, _status_code, _headers = lookup_sms_number_with_http_info(number, opts)
      data
    end

    # Look up carrier + line type
    # Carrier name and line type (mobile / landline / voip / toll-free) for a number, plus &#x60;smsReachable&#x60; (landlines can&#39;t receive SMS). Use it to validate recipients before sending. Each lookup is billed by the carrier-data provider, so call it explicitly (e.g. pre-validating an opt-in list), not on every send. 
    # @param number [String] Number to look up (E.164; formatting is normalized).
    # @param [Hash] opts the optional parameters
    # @return [Array<(LookupSmsNumber200Response, Integer, Hash)>] LookupSmsNumber200Response data, response status code and response headers
    def lookup_sms_number_with_http_info(number, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.lookup_sms_number ...'
      end
      # verify the required parameter 'number' is set
      if @api_client.config.client_side_validation && number.nil?
        fail ArgumentError, "Missing the required parameter 'number' when calling SMSApi.lookup_sms_number"
      end
      if @api_client.config.client_side_validation && number.to_s.length < 8
        fail ArgumentError, 'invalid value for "number" when calling SMSApi.lookup_sms_number, the character length must be greater than or equal to 8.'
      end

      # resource path
      local_var_path = '/v1/sms/lookup'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'number'] = number

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LookupSmsNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.lookup_sms_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#lookup_sms_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Re-send the sole-prop OTP
    # Re-sends the sole-proprietor verification PIN to the brand's mobile number — use it when the original code expired or never arrived. Only valid while the registration is pending and awaiting its OTP; rate limited to one send per minute. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ResendSmsRegistrationOtp200Response]
    def resend_sms_registration_otp(id, opts = {})
      data, _status_code, _headers = resend_sms_registration_otp_with_http_info(id, opts)
      data
    end

    # Re-send the sole-prop OTP
    # Re-sends the sole-proprietor verification PIN to the brand&#39;s mobile number — use it when the original code expired or never arrived. Only valid while the registration is pending and awaiting its OTP; rate limited to one send per minute. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResendSmsRegistrationOtp200Response, Integer, Hash)>] ResendSmsRegistrationOtp200Response data, response status code and response headers
    def resend_sms_registration_otp_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.resend_sms_registration_otp ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SMSApi.resend_sms_registration_otp"
      end
      # resource path
      local_var_path = '/v1/sms/registrations/{id}/resend-otp'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResendSmsRegistrationOtp200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.resend_sms_registration_otp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#resend_sms_registration_otp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add number to SMS registration
    # Attaches this number to your existing approved 10DLC campaign instead of running a fresh registration: the number inherits the campaign's approval (no new brand or campaign, no extra carrier fee). Enable SMS on the number first (`POST /v1/phone-numbers/{id}/sms`; its response tells you whether a reusable registration exists). 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ReuseSmsRegistrationForNumber200Response]
    def reuse_sms_registration_for_number(id, opts = {})
      data, _status_code, _headers = reuse_sms_registration_for_number_with_http_info(id, opts)
      data
    end

    # Add number to SMS registration
    # Attaches this number to your existing approved 10DLC campaign instead of running a fresh registration: the number inherits the campaign&#39;s approval (no new brand or campaign, no extra carrier fee). Enable SMS on the number first (&#x60;POST /v1/phone-numbers/{id}/sms&#x60;; its response tells you whether a reusable registration exists). 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReuseSmsRegistrationForNumber200Response, Integer, Hash)>] ReuseSmsRegistrationForNumber200Response data, response status code and response headers
    def reuse_sms_registration_for_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.reuse_sms_registration_for_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SMSApi.reuse_sms_registration_for_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}/sms/reuse-registration'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReuseSmsRegistrationForNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.reuse_sms_registration_for_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#reuse_sms_registration_for_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send an SMS/MMS
    # Sends an SMS (or MMS when `mediaUrls` is set) from one of your SMS-enabled numbers. At least one of `text` / `mediaUrls` is required. Both numbers are normalized to E.164, so `from` matches regardless of formatting and replies thread into the same inbox conversation.  US numbers must have an approved carrier registration (`/v1/sms/registrations`) before messages deliver.  **Idempotency:** send an `Idempotency-Key` header to make retries safe: same key + same body replays the original response instead of sending a second message; same key + different body returns 422; a key still in flight returns 409. 
    # @param send_sms_request [SendSmsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes send retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [SendSms200Response]
    def send_sms(send_sms_request, opts = {})
      data, _status_code, _headers = send_sms_with_http_info(send_sms_request, opts)
      data
    end

    # Send an SMS/MMS
    # Sends an SMS (or MMS when &#x60;mediaUrls&#x60; is set) from one of your SMS-enabled numbers. At least one of &#x60;text&#x60; / &#x60;mediaUrls&#x60; is required. Both numbers are normalized to E.164, so &#x60;from&#x60; matches regardless of formatting and replies thread into the same inbox conversation.  US numbers must have an approved carrier registration (&#x60;/v1/sms/registrations&#x60;) before messages deliver.  **Idempotency:** send an &#x60;Idempotency-Key&#x60; header to make retries safe: same key + same body replays the original response instead of sending a second message; same key + different body returns 422; a key still in flight returns 409. 
    # @param send_sms_request [SendSmsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes send retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [Array<(SendSms200Response, Integer, Hash)>] SendSms200Response data, response status code and response headers
    def send_sms_with_http_info(send_sms_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.send_sms ...'
      end
      # verify the required parameter 'send_sms_request' is set
      if @api_client.config.client_side_validation && send_sms_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_sms_request' when calling SMSApi.send_sms"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling SMSApi.send_sms, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/sms/messages'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_sms_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendSms200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.send_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#send_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a registration share link
    # Creates a single-use, expiring link (valid 7 days) that lets someone else (whoever has the legal business details) fill in the carrier registration form for one of your numbers, without a Zernio login. The registration is created under your account once the form is submitted. 
    # @param share_sms_registration_request [ShareSmsRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ShareSmsRegistration200Response]
    def share_sms_registration(share_sms_registration_request, opts = {})
      data, _status_code, _headers = share_sms_registration_with_http_info(share_sms_registration_request, opts)
      data
    end

    # Create a registration share link
    # Creates a single-use, expiring link (valid 7 days) that lets someone else (whoever has the legal business details) fill in the carrier registration form for one of your numbers, without a Zernio login. The registration is created under your account once the form is submitted. 
    # @param share_sms_registration_request [ShareSmsRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShareSmsRegistration200Response, Integer, Hash)>] ShareSmsRegistration200Response data, response status code and response headers
    def share_sms_registration_with_http_info(share_sms_registration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.share_sms_registration ...'
      end
      # verify the required parameter 'share_sms_registration_request' is set
      if @api_client.config.client_side_validation && share_sms_registration_request.nil?
        fail ArgumentError, "Missing the required parameter 'share_sms_registration_request' when calling SMSApi.share_sms_registration"
      end
      # resource path
      local_var_path = '/v1/sms/registrations/share'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(share_sms_registration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ShareSmsRegistration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.share_sms_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#share_sms_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a carrier registration
    # Starts the US carrier registration that a number needs before SMS delivers: 10DLC (standard company or sole-proprietor) or toll-free verification. 10DLC needs `brand` + `campaign`; toll-free needs `tollFree`. Approval is asynchronous; poll `GET /v1/sms/registrations/{id}` (sole-prop registrations first need the OTP step: a code is texted to the brand's mobile number, submit it via `/verify-otp`).  Already have an approved registration? Add another number to it with `POST /v1/phone-numbers/{id}/sms/reuse-registration` instead of registering (and paying the carrier brand fee) again.  Rather have your client fill in the legal business details? Create a share link with `POST /v1/sms/registrations/share`. 
    # @param start_sms_registration_request [StartSmsRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [StartSmsRegistration200Response]
    def start_sms_registration(start_sms_registration_request, opts = {})
      data, _status_code, _headers = start_sms_registration_with_http_info(start_sms_registration_request, opts)
      data
    end

    # Start a carrier registration
    # Starts the US carrier registration that a number needs before SMS delivers: 10DLC (standard company or sole-proprietor) or toll-free verification. 10DLC needs &#x60;brand&#x60; + &#x60;campaign&#x60;; toll-free needs &#x60;tollFree&#x60;. Approval is asynchronous; poll &#x60;GET /v1/sms/registrations/{id}&#x60; (sole-prop registrations first need the OTP step: a code is texted to the brand&#39;s mobile number, submit it via &#x60;/verify-otp&#x60;).  Already have an approved registration? Add another number to it with &#x60;POST /v1/phone-numbers/{id}/sms/reuse-registration&#x60; instead of registering (and paying the carrier brand fee) again.  Rather have your client fill in the legal business details? Create a share link with &#x60;POST /v1/sms/registrations/share&#x60;. 
    # @param start_sms_registration_request [StartSmsRegistrationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StartSmsRegistration200Response, Integer, Hash)>] StartSmsRegistration200Response data, response status code and response headers
    def start_sms_registration_with_http_info(start_sms_registration_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.start_sms_registration ...'
      end
      # verify the required parameter 'start_sms_registration_request' is set
      if @api_client.config.client_side_validation && start_sms_registration_request.nil?
        fail ArgumentError, "Missing the required parameter 'start_sms_registration_request' when calling SMSApi.start_sms_registration"
      end
      # resource path
      local_var_path = '/v1/sms/registrations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(start_sms_registration_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StartSmsRegistration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.start_sms_registration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#start_sms_registration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload opt-in form proof for an appeal
    # Hosts a screenshot (or PDF) of your SMS opt-in form and returns its public URL. Carrier reviewers reject campaigns whose consent can't be verified and ask for a \"link/screenshot of the opt-in form\" — the registry has no attachment field, so include the returned URL inside the `messageFlow` you submit with the appeal (`POST /v1/sms/registrations/{id}/appeal`). 
    # @param id [String] 
    # @param file [File] PNG, JPG, WebP, GIF or PDF, max 4MB.
    # @param [Hash] opts the optional parameters
    # @return [UploadSmsOptInProof200Response]
    def upload_sms_opt_in_proof(id, file, opts = {})
      data, _status_code, _headers = upload_sms_opt_in_proof_with_http_info(id, file, opts)
      data
    end

    # Upload opt-in form proof for an appeal
    # Hosts a screenshot (or PDF) of your SMS opt-in form and returns its public URL. Carrier reviewers reject campaigns whose consent can&#39;t be verified and ask for a \&quot;link/screenshot of the opt-in form\&quot; — the registry has no attachment field, so include the returned URL inside the &#x60;messageFlow&#x60; you submit with the appeal (&#x60;POST /v1/sms/registrations/{id}/appeal&#x60;). 
    # @param id [String] 
    # @param file [File] PNG, JPG, WebP, GIF or PDF, max 4MB.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadSmsOptInProof200Response, Integer, Hash)>] UploadSmsOptInProof200Response data, response status code and response headers
    def upload_sms_opt_in_proof_with_http_info(id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.upload_sms_opt_in_proof ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SMSApi.upload_sms_opt_in_proof"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling SMSApi.upload_sms_opt_in_proof"
      end
      # resource path
      local_var_path = '/v1/sms/registrations/{id}/opt-in-proof'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadSmsOptInProof200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.upload_sms_opt_in_proof",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#upload_sms_opt_in_proof\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit the sole-prop OTP
    # Completes sole-proprietor 10DLC brand verification by submitting the one-time PIN texted to the brand's mobile number. On success the registration continues to campaign creation automatically. 
    # @param id [String] 
    # @param verify_sms_registration_otp_request [VerifySmsRegistrationOtpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VerifySmsRegistrationOtp200Response]
    def verify_sms_registration_otp(id, verify_sms_registration_otp_request, opts = {})
      data, _status_code, _headers = verify_sms_registration_otp_with_http_info(id, verify_sms_registration_otp_request, opts)
      data
    end

    # Submit the sole-prop OTP
    # Completes sole-proprietor 10DLC brand verification by submitting the one-time PIN texted to the brand&#39;s mobile number. On success the registration continues to campaign creation automatically. 
    # @param id [String] 
    # @param verify_sms_registration_otp_request [VerifySmsRegistrationOtpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifySmsRegistrationOtp200Response, Integer, Hash)>] VerifySmsRegistrationOtp200Response data, response status code and response headers
    def verify_sms_registration_otp_with_http_info(id, verify_sms_registration_otp_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SMSApi.verify_sms_registration_otp ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SMSApi.verify_sms_registration_otp"
      end
      # verify the required parameter 'verify_sms_registration_otp_request' is set
      if @api_client.config.client_side_validation && verify_sms_registration_otp_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_sms_registration_otp_request' when calling SMSApi.verify_sms_registration_otp"
      end
      # resource path
      local_var_path = '/v1/sms/registrations/{id}/verify-otp'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_sms_registration_otp_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifySmsRegistrationOtp200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SMSApi.verify_sms_registration_otp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SMSApi#verify_sms_registration_otp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
