=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.245.0
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class SupportRunsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Start a support run (private beta)
    # Private beta: returns 403 `feature_not_available` unless enabled for your account. Asks Ana, the Zernio support agent, a question about your workspace. The run is asynchronous: this returns 202 with a `runId`, and the answer arrives through the `support.run.completed` and `support.run.failed` webhooks. `GET /v1/support/runs/{runId}` is the fallback. Pass `threadId` to continue an earlier conversation, and `context` to point Ana at a post, account or profile. Billed when the run finishes at the model cost plus 20%, never above `maxCostUsd`; failed runs are free. Requires an unrestricted API key, usage-based billing and a card on file. Limits per account: 3 active runs and $100 of runs per UTC month. Send an Idempotency-Key header to make retries safe.
    # @param create_support_run_request [CreateSupportRunRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [CreateSupportRun202Response]
    def create_support_run(create_support_run_request, opts = {})
      data, _status_code, _headers = create_support_run_with_http_info(create_support_run_request, opts)
      data
    end

    # Start a support run (private beta)
    # Private beta: returns 403 &#x60;feature_not_available&#x60; unless enabled for your account. Asks Ana, the Zernio support agent, a question about your workspace. The run is asynchronous: this returns 202 with a &#x60;runId&#x60;, and the answer arrives through the &#x60;support.run.completed&#x60; and &#x60;support.run.failed&#x60; webhooks. &#x60;GET /v1/support/runs/{runId}&#x60; is the fallback. Pass &#x60;threadId&#x60; to continue an earlier conversation, and &#x60;context&#x60; to point Ana at a post, account or profile. Billed when the run finishes at the model cost plus 20%, never above &#x60;maxCostUsd&#x60;; failed runs are free. Requires an unrestricted API key, usage-based billing and a card on file. Limits per account: 3 active runs and $100 of runs per UTC month. Send an Idempotency-Key header to make retries safe.
    # @param create_support_run_request [CreateSupportRunRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [Array<(CreateSupportRun202Response, Integer, Hash)>] CreateSupportRun202Response data, response status code and response headers
    def create_support_run_with_http_info(create_support_run_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRunsApi.create_support_run ...'
      end
      # verify the required parameter 'create_support_run_request' is set
      if @api_client.config.client_side_validation && create_support_run_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_support_run_request' when calling SupportRunsApi.create_support_run"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling SupportRunsApi.create_support_run, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/support/runs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_support_run_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSupportRun202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SupportRunsApi.create_support_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRunsApi#create_support_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a support run (private beta)
    # Private beta: returns 403 `feature_not_available` unless enabled for your account. Returns a run started by your team. Prefer the `support.run.completed` and `support.run.failed` webhooks; use this as the fallback, waiting `pollAfterSeconds` between polls. `costUsd` is the amount billed: the model cost plus 20%, never above `maxCostUsd`, and 0 for a failed run.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SupportRun]
    def get_support_run(run_id, opts = {})
      data, _status_code, _headers = get_support_run_with_http_info(run_id, opts)
      data
    end

    # Get a support run (private beta)
    # Private beta: returns 403 &#x60;feature_not_available&#x60; unless enabled for your account. Returns a run started by your team. Prefer the &#x60;support.run.completed&#x60; and &#x60;support.run.failed&#x60; webhooks; use this as the fallback, waiting &#x60;pollAfterSeconds&#x60; between polls. &#x60;costUsd&#x60; is the amount billed: the model cost plus 20%, never above &#x60;maxCostUsd&#x60;, and 0 for a failed run.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SupportRun, Integer, Hash)>] SupportRun data, response status code and response headers
    def get_support_run_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SupportRunsApi.get_support_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling SupportRunsApi.get_support_run"
      end
      # resource path
      local_var_path = '/v1/support/runs/{runId}'.sub('{' + 'runId' + '}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SupportRun'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SupportRunsApi.get_support_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SupportRunsApi#get_support_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
