=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.134.0
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class TrackingTagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Share with an ad account
    # Shares the pixel with another ad account so campaigns/audiences in that account can use it. Requires that you administer both the pixel's owning Business Manager and the target ad account; a pixel on a personal (non-BM) ad account can't be shared (Meta will reject the call). Meta only (platform `metaads`); other platforms return 501. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param add_tracking_tag_shared_account_request [AddTrackingTagSharedAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddTrackingTagSharedAccount201Response]
    def add_tracking_tag_shared_account(account_id, tag_id, add_tracking_tag_shared_account_request, opts = {})
      data, _status_code, _headers = add_tracking_tag_shared_account_with_http_info(account_id, tag_id, add_tracking_tag_shared_account_request, opts)
      data
    end

    # Share with an ad account
    # Shares the pixel with another ad account so campaigns/audiences in that account can use it. Requires that you administer both the pixel&#39;s owning Business Manager and the target ad account; a pixel on a personal (non-BM) ad account can&#39;t be shared (Meta will reject the call). Meta only (platform &#x60;metaads&#x60;); other platforms return 501. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param add_tracking_tag_shared_account_request [AddTrackingTagSharedAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddTrackingTagSharedAccount201Response, Integer, Hash)>] AddTrackingTagSharedAccount201Response data, response status code and response headers
    def add_tracking_tag_shared_account_with_http_info(account_id, tag_id, add_tracking_tag_shared_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.add_tracking_tag_shared_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # verify the required parameter 'add_tracking_tag_shared_account_request' is set
      if @api_client.config.client_side_validation && add_tracking_tag_shared_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_tracking_tag_shared_account_request' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_tracking_tag_shared_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddTrackingTagSharedAccount201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.add_tracking_tag_shared_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#add_tracking_tag_shared_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a tracking tag
    # Meta: creates a Meta Pixel on the given ad account (`POST /act_{id}/adspixels`, where `name` is the only input). Returns the created tag including its install `code`. The pixel is owned by the Business Manager that owns the ad account; a pixel created on a personal (non-BM) ad account ends up with `ownerBusinessId: null` and can't be shared with other ad accounts.  Creating a Meta pixel does NOT install it. Install the returned `code` snippet on the site, or send events server-side via `POST /v1/ads/conversions`. The check `installed` is derived from `lastFiredTime`.  OpenAI Ads: creates an OpenAI pixel AND provisions a Conversions API key for it in the same call (`adAccountId` is required by this endpoint but ignored: one API key maps to exactly one ad account, so there's nothing to select). Returns 422 (`FEATURE_NOT_AVAILABLE`) if the ad account isn't enabled for pixel management; contact your OpenAI partner representative to enable it. There is no delete API for OpenAI pixels. If the pixel is created but the Conversions API key provisioning then fails, the pixel is left live on OpenAI (it cannot be cleaned up) and the error message names the surviving pixel id and warns against retrying, since a retry would create a second, orphaned pixel.  NOT idempotent on either platform: each call creates a new pixel (and, for OpenAI, a new Conversions API key plus, with `defaultEventType`, a new conversion event setting). Do not retry blindly on timeout. Meta (platform `metaads`) and OpenAI Ads (platform `openaiads`); other platforms return 501. 
    # @param account_id [String] Ads SocialAccount id (platform &#x60;metaads&#x60; or &#x60;openaiads&#x60;).
    # @param create_tracking_tag_request [CreateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTrackingTag201Response]
    def create_tracking_tag(account_id, create_tracking_tag_request, opts = {})
      data, _status_code, _headers = create_tracking_tag_with_http_info(account_id, create_tracking_tag_request, opts)
      data
    end

    # Create a tracking tag
    # Meta: creates a Meta Pixel on the given ad account (&#x60;POST /act_{id}/adspixels&#x60;, where &#x60;name&#x60; is the only input). Returns the created tag including its install &#x60;code&#x60;. The pixel is owned by the Business Manager that owns the ad account; a pixel created on a personal (non-BM) ad account ends up with &#x60;ownerBusinessId: null&#x60; and can&#39;t be shared with other ad accounts.  Creating a Meta pixel does NOT install it. Install the returned &#x60;code&#x60; snippet on the site, or send events server-side via &#x60;POST /v1/ads/conversions&#x60;. The check &#x60;installed&#x60; is derived from &#x60;lastFiredTime&#x60;.  OpenAI Ads: creates an OpenAI pixel AND provisions a Conversions API key for it in the same call (&#x60;adAccountId&#x60; is required by this endpoint but ignored: one API key maps to exactly one ad account, so there&#39;s nothing to select). Returns 422 (&#x60;FEATURE_NOT_AVAILABLE&#x60;) if the ad account isn&#39;t enabled for pixel management; contact your OpenAI partner representative to enable it. There is no delete API for OpenAI pixels. If the pixel is created but the Conversions API key provisioning then fails, the pixel is left live on OpenAI (it cannot be cleaned up) and the error message names the surviving pixel id and warns against retrying, since a retry would create a second, orphaned pixel.  NOT idempotent on either platform: each call creates a new pixel (and, for OpenAI, a new Conversions API key plus, with &#x60;defaultEventType&#x60;, a new conversion event setting). Do not retry blindly on timeout. Meta (platform &#x60;metaads&#x60;) and OpenAI Ads (platform &#x60;openaiads&#x60;); other platforms return 501. 
    # @param account_id [String] Ads SocialAccount id (platform &#x60;metaads&#x60; or &#x60;openaiads&#x60;).
    # @param create_tracking_tag_request [CreateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTrackingTag201Response, Integer, Hash)>] CreateTrackingTag201Response data, response status code and response headers
    def create_tracking_tag_with_http_info(account_id, create_tracking_tag_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.create_tracking_tag ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.create_tracking_tag"
      end
      # verify the required parameter 'create_tracking_tag_request' is set
      if @api_client.config.client_side_validation && create_tracking_tag_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_tracking_tag_request' when calling TrackingTagsApi.create_tracking_tag"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tracking_tag_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTrackingTag201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.create_tracking_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#create_tracking_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a conversion event
    # Creates a conversion event tied to the tag. Pass the platform's own event type in `type` (e.g. Google `PURCHASE`, LinkedIn `ADD_TO_CART`, X `CHECKOUT_INITIATED`) or a neutral `siteEvent` the platform maps to its closest type. Each platform stores a subset of the optional fields; sending one it does not store answers 400 naming the supported fields. NOT idempotent unless noted per platform: do not retry blindly. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param create_tracking_tag_event_request [CreateTrackingTagEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTrackingTagEvent201Response]
    def create_tracking_tag_event(account_id, tag_id, create_tracking_tag_event_request, opts = {})
      data, _status_code, _headers = create_tracking_tag_event_with_http_info(account_id, tag_id, create_tracking_tag_event_request, opts)
      data
    end

    # Create a conversion event
    # Creates a conversion event tied to the tag. Pass the platform&#39;s own event type in &#x60;type&#x60; (e.g. Google &#x60;PURCHASE&#x60;, LinkedIn &#x60;ADD_TO_CART&#x60;, X &#x60;CHECKOUT_INITIATED&#x60;) or a neutral &#x60;siteEvent&#x60; the platform maps to its closest type. Each platform stores a subset of the optional fields; sending one it does not store answers 400 naming the supported fields. NOT idempotent unless noted per platform: do not retry blindly. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param create_tracking_tag_event_request [CreateTrackingTagEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTrackingTagEvent201Response, Integer, Hash)>] CreateTrackingTagEvent201Response data, response status code and response headers
    def create_tracking_tag_event_with_http_info(account_id, tag_id, create_tracking_tag_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.create_tracking_tag_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.create_tracking_tag_event"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.create_tracking_tag_event"
      end
      # verify the required parameter 'create_tracking_tag_event_request' is set
      if @api_client.config.client_side_validation && create_tracking_tag_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_tracking_tag_event_request' when calling TrackingTagsApi.create_tracking_tag_event"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/events'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tracking_tag_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTrackingTagEvent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.create_tracking_tag_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#create_tracking_tag_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a conversion event
    # Removes the conversion event. Platforms without a hard delete archive or disable it instead; `state` in the response says which (`deleted`, `archived`, `disabled`). 
    # @param account_id [String] 
    # @param tag_id [String] 
    # @param event_id [String] Event id (&#x60;TrackingTagEvent.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account.
    # @return [DeleteTrackingTagEvent200Response]
    def delete_tracking_tag_event(account_id, tag_id, event_id, opts = {})
      data, _status_code, _headers = delete_tracking_tag_event_with_http_info(account_id, tag_id, event_id, opts)
      data
    end

    # Delete a conversion event
    # Removes the conversion event. Platforms without a hard delete archive or disable it instead; &#x60;state&#x60; in the response says which (&#x60;deleted&#x60;, &#x60;archived&#x60;, &#x60;disabled&#x60;). 
    # @param account_id [String] 
    # @param tag_id [String] 
    # @param event_id [String] Event id (&#x60;TrackingTagEvent.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account.
    # @return [Array<(DeleteTrackingTagEvent200Response, Integer, Hash)>] DeleteTrackingTagEvent200Response data, response status code and response headers
    def delete_tracking_tag_event_with_http_info(account_id, tag_id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.delete_tracking_tag_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.delete_tracking_tag_event"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.delete_tracking_tag_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling TrackingTagsApi.delete_tracking_tag_event"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/events/{eventId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s)).sub('{' + 'eventId' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteTrackingTagEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.delete_tracking_tag_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#delete_tracking_tag_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ad tracking tags
    # Unified read of the platform's native click-URL tracking params. - Meta (facebook/instagram): the creative's `url_tags` (and template_url_spec). - Google (googleads): the campaign's `trackingUrlTemplate` + `finalUrlSuffix`. - LinkedIn (linkedinads): the campaign's Dynamic UTM `dynamicValueParameters` + `customValueParameters`. Returns 405 for platforms without a click-URL tracking surface (TikTok, X, Pinterest).  **Not pixels.** Despite the shared path segment, this endpoint has nothing to do with measurement tags. For an ad account's pixels use `GET /v1/accounts/{accountId}/tracking-tags?adAccountId=act_...` (Meta Pixels, with `kind` and `ownerAdAccountId`) or `GET /v1/accounts/{accountId}/conversion-destinations`. 
    # @param ad_id [String] Ad id (hex _id, platformAdId, or effective story/media id).
    # @param [Hash] opts the optional parameters
    # @return [GetAdTrackingTags200Response]
    def get_ad_tracking_tags(ad_id, opts = {})
      data, _status_code, _headers = get_ad_tracking_tags_with_http_info(ad_id, opts)
      data
    end

    # Get ad tracking tags
    # Unified read of the platform&#39;s native click-URL tracking params. - Meta (facebook/instagram): the creative&#39;s &#x60;url_tags&#x60; (and template_url_spec). - Google (googleads): the campaign&#39;s &#x60;trackingUrlTemplate&#x60; + &#x60;finalUrlSuffix&#x60;. - LinkedIn (linkedinads): the campaign&#39;s Dynamic UTM &#x60;dynamicValueParameters&#x60; + &#x60;customValueParameters&#x60;. Returns 405 for platforms without a click-URL tracking surface (TikTok, X, Pinterest).  **Not pixels.** Despite the shared path segment, this endpoint has nothing to do with measurement tags. For an ad account&#39;s pixels use &#x60;GET /v1/accounts/{accountId}/tracking-tags?adAccountId&#x3D;act_...&#x60; (Meta Pixels, with &#x60;kind&#x60; and &#x60;ownerAdAccountId&#x60;) or &#x60;GET /v1/accounts/{accountId}/conversion-destinations&#x60;. 
    # @param ad_id [String] Ad id (hex _id, platformAdId, or effective story/media id).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAdTrackingTags200Response, Integer, Hash)>] GetAdTrackingTags200Response data, response status code and response headers
    def get_ad_tracking_tags_with_http_info(ad_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_ad_tracking_tags ...'
      end
      # verify the required parameter 'ad_id' is set
      if @api_client.config.client_side_validation && ad_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_id' when calling TrackingTagsApi.get_ad_tracking_tags"
      end
      # resource path
      local_var_path = '/v1/ads/{adId}/tracking-tags'.sub('{' + 'adId' + '}', CGI.escape(ad_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAdTrackingTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_ad_tracking_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_ad_tracking_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a tracking tag
    # Returns the full tag record including the base-code `code` snippet, `lastFiredTime`, `ownerBusinessId`, `isUnavailable`, etc. Meta only (platform `metaads`); other platforms return 501. OpenAI Ads has no get-by-id endpoint, so it answers 501 here too. Use `GET /v1/accounts/{accountId}/tracking-tags` (list) instead. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
    # @return [GetTrackingTag200Response]
    def get_tracking_tag(account_id, tag_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_with_http_info(account_id, tag_id, opts)
      data
    end

    # Get a tracking tag
    # Returns the full tag record including the base-code &#x60;code&#x60; snippet, &#x60;lastFiredTime&#x60;, &#x60;ownerBusinessId&#x60;, &#x60;isUnavailable&#x60;, etc. Meta only (platform &#x60;metaads&#x60;); other platforms return 501. OpenAI Ads has no get-by-id endpoint, so it answers 501 here too. Use &#x60;GET /v1/accounts/{accountId}/tracking-tags&#x60; (list) instead. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
    # @return [Array<(GetTrackingTag200Response, Integer, Hash)>] GetTrackingTag200Response data, response status code and response headers
    def get_tracking_tag_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTag200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get aggregated event stats
    # Returns event counts / health for the tag, where the platform exposes them. Meta: aggregated counts (`GET /{pixel_id}/stats`), rows passed through as-is; their shape depends on the `aggregation` requested. Platforms without a stats API answer 501. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
    # @option opts [String] :aggregation Meta only (400 on other platforms): aggregation dimension. Defaults to &#x60;event&#x60;. (default to 'event')
    # @option opts [Integer] :start_time Unix seconds lower bound.
    # @option opts [Integer] :end_time Unix seconds upper bound.
    # @return [GetTrackingTagStats200Response]
    def get_tracking_tag_stats(account_id, tag_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_stats_with_http_info(account_id, tag_id, opts)
      data
    end

    # Get aggregated event stats
    # Returns event counts / health for the tag, where the platform exposes them. Meta: aggregated counts (&#x60;GET /{pixel_id}/stats&#x60;), rows passed through as-is; their shape depends on the &#x60;aggregation&#x60; requested. Platforms without a stats API answer 501. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
    # @option opts [String] :aggregation Meta only (400 on other platforms): aggregation dimension. Defaults to &#x60;event&#x60;. (default to 'event')
    # @option opts [Integer] :start_time Unix seconds lower bound.
    # @option opts [Integer] :end_time Unix seconds upper bound.
    # @return [Array<(GetTrackingTagStats200Response, Integer, Hash)>] GetTrackingTagStats200Response data, response status code and response headers
    def get_tracking_tag_stats_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag_stats ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag_stats"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag_stats"
      end
      allowable_values = ["event", "host", "url", "url_by_rule", "pixel_fire", "device_type", "device_os", "browser_type", "had_pii", "custom_data_field", "match_keys", "event_source", "event_detection_method", "event_processing_results", "event_total_counts", "event_value_count"]
      if @api_client.config.client_side_validation && opts[:'aggregation'] && !allowable_values.include?(opts[:'aggregation'])
        fail ArgumentError, "invalid value for \"aggregation\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/stats'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'aggregation'] = opts[:'aggregation'] if !opts[:'aggregation'].nil?
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTagStats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get store install status
    # Whether this tag is the one the Shopify store fires for its platform. `installedTagId` names the tag of that platform the store currently fires, which can be a different tag, and `tags` lists every Zernio tag on the store (all platforms).  WordPress: whether the Zernio widget for this pixel is live (in an active widget area, script intact), plus a read-only `preflight` with the theme's widget areas and, when an install would be blocked, the `reason` POST would return. The preflight reads capabilities only, so `ready: true` is not a guarantee: `DISALLOW_UNFILTERED_HTML` or a multisite admin who is not a Super Admin still strips the script, which POST detects. `tags` lists every Zernio widget on the site (all platforms, with `active`). 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param store_account_id [String] The connected Shopify or WordPress account id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the tag lookup on platforms whose tag ids live inside an ad account.
    # @return [GetTrackingTagStoreInstall200Response]
    def get_tracking_tag_store_install(account_id, tag_id, store_account_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_store_install_with_http_info(account_id, tag_id, store_account_id, opts)
      data
    end

    # Get store install status
    # Whether this tag is the one the Shopify store fires for its platform. &#x60;installedTagId&#x60; names the tag of that platform the store currently fires, which can be a different tag, and &#x60;tags&#x60; lists every Zernio tag on the store (all platforms).  WordPress: whether the Zernio widget for this pixel is live (in an active widget area, script intact), plus a read-only &#x60;preflight&#x60; with the theme&#39;s widget areas and, when an install would be blocked, the &#x60;reason&#x60; POST would return. The preflight reads capabilities only, so &#x60;ready: true&#x60; is not a guarantee: &#x60;DISALLOW_UNFILTERED_HTML&#x60; or a multisite admin who is not a Super Admin still strips the script, which POST detects. &#x60;tags&#x60; lists every Zernio widget on the site (all platforms, with &#x60;active&#x60;). 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param store_account_id [String] The connected Shopify or WordPress account id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the tag lookup on platforms whose tag ids live inside an ad account.
    # @return [Array<(GetTrackingTagStoreInstall200Response, Integer, Hash)>] GetTrackingTagStoreInstall200Response data, response status code and response headers
    def get_tracking_tag_store_install_with_http_info(account_id, tag_id, store_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag_store_install ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag_store_install"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag_store_install"
      end
      # verify the required parameter 'store_account_id' is set
      if @api_client.config.client_side_validation && store_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'store_account_id' when calling TrackingTagsApi.get_tracking_tag_store_install"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/install'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'storeAccountId'] = store_account_id
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTagStoreInstall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag_store_install",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag_store_install\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Install on a Shopify store or WordPress site
    # Puts the Meta pixel on a connected Shopify store's storefront and checkout through Zernio's Shopify web pixel (a Shopify app pixel, no theme edits). The store then sends PageView, ViewContent, AddToCart, Search, InitiateCheckout, AddPaymentInfo and Purchase (with value, currency, content_ids and contents) to the pixel, each with an event id. Purchase uses `shopify_order_{orderId}` as its event id, so a Conversions API Purchase you send for the same order with that `eventId` is deduplicated by Meta.  Idempotent: a store runs one Zernio web pixel holding one tag per platform, so calling it again updates the install, installing a different tag of the same platform replaces the previous one (reported in `replacedTagId`), and other platforms' tags are kept. Events respect the store's customer privacy settings (marketing consent).  `accountId` is the Meta ads account that owns the pixel (`tagId`); `storeAccountId` is the Shopify account. Stores connected before pixel support must re-approve the Zernio app: the call then answers 409 `reconnect_required` with `details.authUrl` to send the merchant to (the Shopify account id stays the same). Meta only (platform `metaads`); other platforms return 501.  **WordPress** (`storeAccountId` is a connected WordPress.com or self-hosted site): Zernio adds a Custom HTML widget with the Meta pixel base code (fbevents.js, `init`, `PageView`) to a widget area of the active theme (a footer area when there is one, else the first active area; pass `sidebarId` to choose), then reads the widget back to confirm WordPress kept the `<script>` tag. The widget carries a Zernio marker, so the call is idempotent per pixel: repeating it updates or moves the same widget, and pixel code the site owner pasted by hand is never touched. Several pixels can run side by side (one widget each). When the site cannot run the pixel, nothing is left behind and the call answers 422 `tracking_tag_install_blocked` with `details.reason`: - `insufficient_permissions`: the connected user lacks `edit_theme_options` (needs Administrator). - `scripts_stripped`: WordPress removed the script (the user lacks `unfiltered_html`, e.g. a multisite admin who is not a Super Admin, or `DISALLOW_UNFILTERED_HTML` is set). - `wordpress_com_plan`: a WordPress.com plan that strips scripts (plans without plugins). - `no_widget_areas`: the theme has no widget areas (block themes such as Twenty Twenty-Five). - `widgets_api_unavailable`: no widgets REST API (WordPress older than 5.8, or disabled). The `error` message names the manual alternative (Meta's official WordPress plugin). With `verifyHomepage` (default true) the homepage is fetched afterwards and `homepageCheck` says whether the pixel is visible; `not_found` can be a stale page cache, the widget read-back is authoritative. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param install_tracking_tag_on_store_request [InstallTrackingTagOnStoreRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InstallTrackingTagOnStore200Response]
    def install_tracking_tag_on_store(account_id, tag_id, install_tracking_tag_on_store_request, opts = {})
      data, _status_code, _headers = install_tracking_tag_on_store_with_http_info(account_id, tag_id, install_tracking_tag_on_store_request, opts)
      data
    end

    # Install on a Shopify store or WordPress site
    # Puts the Meta pixel on a connected Shopify store&#39;s storefront and checkout through Zernio&#39;s Shopify web pixel (a Shopify app pixel, no theme edits). The store then sends PageView, ViewContent, AddToCart, Search, InitiateCheckout, AddPaymentInfo and Purchase (with value, currency, content_ids and contents) to the pixel, each with an event id. Purchase uses &#x60;shopify_order_{orderId}&#x60; as its event id, so a Conversions API Purchase you send for the same order with that &#x60;eventId&#x60; is deduplicated by Meta.  Idempotent: a store runs one Zernio web pixel holding one tag per platform, so calling it again updates the install, installing a different tag of the same platform replaces the previous one (reported in &#x60;replacedTagId&#x60;), and other platforms&#39; tags are kept. Events respect the store&#39;s customer privacy settings (marketing consent).  &#x60;accountId&#x60; is the Meta ads account that owns the pixel (&#x60;tagId&#x60;); &#x60;storeAccountId&#x60; is the Shopify account. Stores connected before pixel support must re-approve the Zernio app: the call then answers 409 &#x60;reconnect_required&#x60; with &#x60;details.authUrl&#x60; to send the merchant to (the Shopify account id stays the same). Meta only (platform &#x60;metaads&#x60;); other platforms return 501.  **WordPress** (&#x60;storeAccountId&#x60; is a connected WordPress.com or self-hosted site): Zernio adds a Custom HTML widget with the Meta pixel base code (fbevents.js, &#x60;init&#x60;, &#x60;PageView&#x60;) to a widget area of the active theme (a footer area when there is one, else the first active area; pass &#x60;sidebarId&#x60; to choose), then reads the widget back to confirm WordPress kept the &#x60;&lt;script&gt;&#x60; tag. The widget carries a Zernio marker, so the call is idempotent per pixel: repeating it updates or moves the same widget, and pixel code the site owner pasted by hand is never touched. Several pixels can run side by side (one widget each). When the site cannot run the pixel, nothing is left behind and the call answers 422 &#x60;tracking_tag_install_blocked&#x60; with &#x60;details.reason&#x60;: - &#x60;insufficient_permissions&#x60;: the connected user lacks &#x60;edit_theme_options&#x60; (needs Administrator). - &#x60;scripts_stripped&#x60;: WordPress removed the script (the user lacks &#x60;unfiltered_html&#x60;, e.g. a multisite admin who is not a Super Admin, or &#x60;DISALLOW_UNFILTERED_HTML&#x60; is set). - &#x60;wordpress_com_plan&#x60;: a WordPress.com plan that strips scripts (plans without plugins). - &#x60;no_widget_areas&#x60;: the theme has no widget areas (block themes such as Twenty Twenty-Five). - &#x60;widgets_api_unavailable&#x60;: no widgets REST API (WordPress older than 5.8, or disabled). The &#x60;error&#x60; message names the manual alternative (Meta&#39;s official WordPress plugin). With &#x60;verifyHomepage&#x60; (default true) the homepage is fetched afterwards and &#x60;homepageCheck&#x60; says whether the pixel is visible; &#x60;not_found&#x60; can be a stale page cache, the widget read-back is authoritative. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param install_tracking_tag_on_store_request [InstallTrackingTagOnStoreRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstallTrackingTagOnStore200Response, Integer, Hash)>] InstallTrackingTagOnStore200Response data, response status code and response headers
    def install_tracking_tag_on_store_with_http_info(account_id, tag_id, install_tracking_tag_on_store_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.install_tracking_tag_on_store ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.install_tracking_tag_on_store"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.install_tracking_tag_on_store"
      end
      # verify the required parameter 'install_tracking_tag_on_store_request' is set
      if @api_client.config.client_side_validation && install_tracking_tag_on_store_request.nil?
        fail ArgumentError, "Missing the required parameter 'install_tracking_tag_on_store_request' when calling TrackingTagsApi.install_tracking_tag_on_store"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/install'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(install_tracking_tag_on_store_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InstallTrackingTagOnStore200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.install_tracking_tag_on_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#install_tracking_tag_on_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List conversion events
    # The tag's conversion events, on platforms where each conversion is its own object: Google conversion actions, LinkedIn conversion rules, X web event tags, OpenAI event settings, TikTok pixel events, Meta custom conversions. Platforms where events are just names the site sends (Pinterest) answer 501. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account.
    # @return [ListTrackingTagEvents200Response]
    def list_tracking_tag_events(account_id, tag_id, opts = {})
      data, _status_code, _headers = list_tracking_tag_events_with_http_info(account_id, tag_id, opts)
      data
    end

    # List conversion events
    # The tag&#39;s conversion events, on platforms where each conversion is its own object: Google conversion actions, LinkedIn conversion rules, X web event tags, OpenAI event settings, TikTok pixel events, Meta custom conversions. Platforms where events are just names the site sends (Pinterest) answer 501. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account.
    # @return [Array<(ListTrackingTagEvents200Response, Integer, Hash)>] ListTrackingTagEvents200Response data, response status code and response headers
    def list_tracking_tag_events_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.list_tracking_tag_events ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.list_tracking_tag_events"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.list_tracking_tag_events"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/events'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTrackingTagEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.list_tracking_tag_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#list_tracking_tag_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List accounts it is shared with
    # Meta only (platform `metaads`); other platforms return 501.
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @return [ListTrackingTagSharedAccounts200Response]
    def list_tracking_tag_shared_accounts(account_id, tag_id, opts = {})
      data, _status_code, _headers = list_tracking_tag_shared_accounts_with_http_info(account_id, tag_id, opts)
      data
    end

    # List accounts it is shared with
    # Meta only (platform &#x60;metaads&#x60;); other platforms return 501.
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListTrackingTagSharedAccounts200Response, Integer, Hash)>] ListTrackingTagSharedAccounts200Response data, response status code and response headers
    def list_tracking_tag_shared_accounts_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.list_tracking_tag_shared_accounts ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.list_tracking_tag_shared_accounts"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.list_tracking_tag_shared_accounts"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTrackingTagSharedAccounts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.list_tracking_tag_shared_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#list_tracking_tag_shared_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tracking tags
    # Returns the tracking tags (Meta Pixels, or OpenAI Ads pixels) the connected ads account can see. Pass `?adAccountId=act_...` (Meta only) to scope the list to a single ad account; omit it to list every pixel reachable by the token (the name is then suffixed with the ad account it was discovered on, for disambiguation). The list view omits `code`. Call `getTrackingTag` for the install snippet and full detail (Meta only; OpenAI Ads has no get-by-id endpoint).  Meta (platform `metaads`) and OpenAI Ads (platform `openaiads`); other platforms return 501. The `accountId` must be the ads SocialAccount created by the Ads add-on connect flow (Meta) or the OpenAI Ads connect flow, not a Facebook/Instagram posting account. Get your Meta `act_...` ids from `GET /v1/ads/accounts`; `adAccountId` is ignored for OpenAI Ads (one API key maps to exactly one ad account). 
    # @param account_id [String] Ads SocialAccount id (platform &#x60;metaads&#x60; or &#x60;openaiads&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Optional, Meta only. Scope to one ad account, e.g. &#x60;act_123456789&#x60;. Ignored for OpenAI Ads.
    # @return [ListTrackingTags200Response]
    def list_tracking_tags(account_id, opts = {})
      data, _status_code, _headers = list_tracking_tags_with_http_info(account_id, opts)
      data
    end

    # List tracking tags
    # Returns the tracking tags (Meta Pixels, or OpenAI Ads pixels) the connected ads account can see. Pass &#x60;?adAccountId&#x3D;act_...&#x60; (Meta only) to scope the list to a single ad account; omit it to list every pixel reachable by the token (the name is then suffixed with the ad account it was discovered on, for disambiguation). The list view omits &#x60;code&#x60;. Call &#x60;getTrackingTag&#x60; for the install snippet and full detail (Meta only; OpenAI Ads has no get-by-id endpoint).  Meta (platform &#x60;metaads&#x60;) and OpenAI Ads (platform &#x60;openaiads&#x60;); other platforms return 501. The &#x60;accountId&#x60; must be the ads SocialAccount created by the Ads add-on connect flow (Meta) or the OpenAI Ads connect flow, not a Facebook/Instagram posting account. Get your Meta &#x60;act_...&#x60; ids from &#x60;GET /v1/ads/accounts&#x60;; &#x60;adAccountId&#x60; is ignored for OpenAI Ads (one API key maps to exactly one ad account). 
    # @param account_id [String] Ads SocialAccount id (platform &#x60;metaads&#x60; or &#x60;openaiads&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Optional, Meta only. Scope to one ad account, e.g. &#x60;act_123456789&#x60;. Ignored for OpenAI Ads.
    # @return [Array<(ListTrackingTags200Response, Integer, Hash)>] ListTrackingTags200Response data, response status code and response headers
    def list_tracking_tags_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.list_tracking_tags ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.list_tracking_tags"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTrackingTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.list_tracking_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#list_tracking_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove from a Shopify store or WordPress site
    # Removes the tag from the store. Idempotent: nothing installed returns 200 with `installed: false`. If the store fires a different tag of the same platform, nothing is removed and the call answers 409 `invalid_resource_state`. Shopify: other platforms' tags stay; the web pixel itself is deleted once no tag remains.  WordPress: deletes every widget Zernio created for this pixel and reports how many in `removed` (0 when nothing was installed). Pixel code added by hand is left alone. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param store_account_id [String] The connected Shopify or WordPress account id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the tag lookup on platforms whose tag ids live inside an ad account.
    # @return [RemoveTrackingTagFromStore200Response]
    def remove_tracking_tag_from_store(account_id, tag_id, store_account_id, opts = {})
      data, _status_code, _headers = remove_tracking_tag_from_store_with_http_info(account_id, tag_id, store_account_id, opts)
      data
    end

    # Remove from a Shopify store or WordPress site
    # Removes the tag from the store. Idempotent: nothing installed returns 200 with &#x60;installed: false&#x60;. If the store fires a different tag of the same platform, nothing is removed and the call answers 409 &#x60;invalid_resource_state&#x60;. Shopify: other platforms&#39; tags stay; the web pixel itself is deleted once no tag remains.  WordPress: deletes every widget Zernio created for this pixel and reports how many in &#x60;removed&#x60; (0 when nothing was installed). Pixel code added by hand is left alone. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param store_account_id [String] The connected Shopify or WordPress account id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the tag lookup on platforms whose tag ids live inside an ad account.
    # @return [Array<(RemoveTrackingTagFromStore200Response, Integer, Hash)>] RemoveTrackingTagFromStore200Response data, response status code and response headers
    def remove_tracking_tag_from_store_with_http_info(account_id, tag_id, store_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.remove_tracking_tag_from_store ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.remove_tracking_tag_from_store"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.remove_tracking_tag_from_store"
      end
      # verify the required parameter 'store_account_id' is set
      if @api_client.config.client_side_validation && store_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'store_account_id' when calling TrackingTagsApi.remove_tracking_tag_from_store"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/install'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'storeAccountId'] = store_account_id
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RemoveTrackingTagFromStore200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.remove_tracking_tag_from_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#remove_tracking_tag_from_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop sharing with an account
    # `adAccountId` may be passed as a query parameter (recommended) or as a JSON body field for clients that can send DELETE bodies. Meta only (platform `metaads`); other platforms return 501. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Ad account to unshare, e.g. &#x60;act_123456789&#x60;. May also be sent in the JSON body.
    # @return [nil]
    def remove_tracking_tag_shared_account(account_id, tag_id, opts = {})
      remove_tracking_tag_shared_account_with_http_info(account_id, tag_id, opts)
      nil
    end

    # Stop sharing with an account
    # &#x60;adAccountId&#x60; may be passed as a query parameter (recommended) or as a JSON body field for clients that can send DELETE bodies. Meta only (platform &#x60;metaads&#x60;); other platforms return 501. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Ad account to unshare, e.g. &#x60;act_123456789&#x60;. May also be sent in the JSON body.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_tracking_tag_shared_account_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.remove_tracking_tag_shared_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.remove_tracking_tag_shared_account"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.remove_tracking_tag_shared_account"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.remove_tracking_tag_shared_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#remove_tracking_tag_shared_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set ad tracking tags
    # Unified update. Send only the fields for the ad's platform: - Meta: `urlTags` (array of {key,value}). Meta creatives are immutable, so this rebuilds the   creative and repoints the ad. By DEFAULT we PRESERVE the existing creative verbatim   (re-post its object_story_spec + the new url_tags, reusing the image), so you send `urlTags`   ALONE, with no need to read back headline/body/CTA. `creative` (headline, body, callToAction,   linkUrl, imageUrl) is OPTIONAL and only needed to rebuild explicitly, or for SHARE / page-post   / dark / asset_feed creatives whose object_story_spec Meta strips (those return 422 asking for   `creative`). - Google: `trackingUrlTemplate` and/or `finalUrlSuffix` (full template strings; account quota applies). - LinkedIn: `dynamicValueParameters` and/or `customValueParameters` (campaign-level Dynamic UTM). 
    # @param ad_id [String] 
    # @param update_ad_tracking_tags_request [UpdateAdTrackingTagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAdTrackingTags200Response]
    def update_ad_tracking_tags(ad_id, update_ad_tracking_tags_request, opts = {})
      data, _status_code, _headers = update_ad_tracking_tags_with_http_info(ad_id, update_ad_tracking_tags_request, opts)
      data
    end

    # Set ad tracking tags
    # Unified update. Send only the fields for the ad&#39;s platform: - Meta: &#x60;urlTags&#x60; (array of {key,value}). Meta creatives are immutable, so this rebuilds the   creative and repoints the ad. By DEFAULT we PRESERVE the existing creative verbatim   (re-post its object_story_spec + the new url_tags, reusing the image), so you send &#x60;urlTags&#x60;   ALONE, with no need to read back headline/body/CTA. &#x60;creative&#x60; (headline, body, callToAction,   linkUrl, imageUrl) is OPTIONAL and only needed to rebuild explicitly, or for SHARE / page-post   / dark / asset_feed creatives whose object_story_spec Meta strips (those return 422 asking for   &#x60;creative&#x60;). - Google: &#x60;trackingUrlTemplate&#x60; and/or &#x60;finalUrlSuffix&#x60; (full template strings; account quota applies). - LinkedIn: &#x60;dynamicValueParameters&#x60; and/or &#x60;customValueParameters&#x60; (campaign-level Dynamic UTM). 
    # @param ad_id [String] 
    # @param update_ad_tracking_tags_request [UpdateAdTrackingTagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAdTrackingTags200Response, Integer, Hash)>] UpdateAdTrackingTags200Response data, response status code and response headers
    def update_ad_tracking_tags_with_http_info(ad_id, update_ad_tracking_tags_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.update_ad_tracking_tags ...'
      end
      # verify the required parameter 'ad_id' is set
      if @api_client.config.client_side_validation && ad_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_id' when calling TrackingTagsApi.update_ad_tracking_tags"
      end
      # verify the required parameter 'update_ad_tracking_tags_request' is set
      if @api_client.config.client_side_validation && update_ad_tracking_tags_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ad_tracking_tags_request' when calling TrackingTagsApi.update_ad_tracking_tags"
      end
      # resource path
      local_var_path = '/v1/ads/{adId}/tracking-tags'.sub('{' + 'adId' + '}', CGI.escape(ad_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ad_tracking_tags_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAdTrackingTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.update_ad_tracking_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#update_ad_tracking_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tracking tag
    # Partial-update a pixel. Whitelisted fields: `name` (rename), `enableAutomaticMatching`, `automaticMatchingFields`, `firstPartyCookieStatus`, `dataUseSetting`. At least one is required. Returns the re-fetched canonical tag. Meta only (platform `metaads`); other platforms return 501.  There is no DELETE: Meta has no API to delete a pixel. To stop using one, unshare it from your ad accounts (`DELETE .../tracking-tags/{tagId}/shared-accounts`) or disable it in Events Manager. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param update_tracking_tag_request [UpdateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetTrackingTag200Response]
    def update_tracking_tag(account_id, tag_id, update_tracking_tag_request, opts = {})
      data, _status_code, _headers = update_tracking_tag_with_http_info(account_id, tag_id, update_tracking_tag_request, opts)
      data
    end

    # Update a tracking tag
    # Partial-update a pixel. Whitelisted fields: &#x60;name&#x60; (rename), &#x60;enableAutomaticMatching&#x60;, &#x60;automaticMatchingFields&#x60;, &#x60;firstPartyCookieStatus&#x60;, &#x60;dataUseSetting&#x60;. At least one is required. Returns the re-fetched canonical tag. Meta only (platform &#x60;metaads&#x60;); other platforms return 501.  There is no DELETE: Meta has no API to delete a pixel. To stop using one, unshare it from your ad accounts (&#x60;DELETE .../tracking-tags/{tagId}/shared-accounts&#x60;) or disable it in Events Manager. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param update_tracking_tag_request [UpdateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTrackingTag200Response, Integer, Hash)>] GetTrackingTag200Response data, response status code and response headers
    def update_tracking_tag_with_http_info(account_id, tag_id, update_tracking_tag_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.update_tracking_tag ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.update_tracking_tag"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.update_tracking_tag"
      end
      # verify the required parameter 'update_tracking_tag_request' is set
      if @api_client.config.client_side_validation && update_tracking_tag_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_tracking_tag_request' when calling TrackingTagsApi.update_tracking_tag"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_tracking_tag_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTag200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.update_tracking_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#update_tracking_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a conversion event
    # Partial update; at least one field. A field the platform does not store answers 400.
    # @param account_id [String] 
    # @param tag_id [String] 
    # @param event_id [String] Event id (&#x60;TrackingTagEvent.id&#x60;).
    # @param tracking_tag_event_input [TrackingTagEventInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTrackingTagEvent201Response]
    def update_tracking_tag_event(account_id, tag_id, event_id, tracking_tag_event_input, opts = {})
      data, _status_code, _headers = update_tracking_tag_event_with_http_info(account_id, tag_id, event_id, tracking_tag_event_input, opts)
      data
    end

    # Update a conversion event
    # Partial update; at least one field. A field the platform does not store answers 400.
    # @param account_id [String] 
    # @param tag_id [String] 
    # @param event_id [String] Event id (&#x60;TrackingTagEvent.id&#x60;).
    # @param tracking_tag_event_input [TrackingTagEventInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTrackingTagEvent201Response, Integer, Hash)>] CreateTrackingTagEvent201Response data, response status code and response headers
    def update_tracking_tag_event_with_http_info(account_id, tag_id, event_id, tracking_tag_event_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.update_tracking_tag_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.update_tracking_tag_event"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.update_tracking_tag_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling TrackingTagsApi.update_tracking_tag_event"
      end
      # verify the required parameter 'tracking_tag_event_input' is set
      if @api_client.config.client_side_validation && tracking_tag_event_input.nil?
        fail ArgumentError, "Missing the required parameter 'tracking_tag_event_input' when calling TrackingTagsApi.update_tracking_tag_event"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/events/{eventId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s)).sub('{' + 'eventId' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tracking_tag_event_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTrackingTagEvent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.update_tracking_tag_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#update_tracking_tag_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
