=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class TrackingTagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Share a tracking tag with an ad account
    # Shares the pixel with another ad account so campaigns/audiences in that account can use it. Requires that you administer both the pixel's owning Business Manager and the target ad account; a pixel on a personal (non-BM) ad account can't be shared (Meta will reject the call). Meta only (platform `metaads`); other platforms return 405. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param add_tracking_tag_shared_account_request [AddTrackingTagSharedAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddTrackingTagSharedAccount201Response]
    def add_tracking_tag_shared_account(account_id, tag_id, add_tracking_tag_shared_account_request, opts = {})
      data, _status_code, _headers = add_tracking_tag_shared_account_with_http_info(account_id, tag_id, add_tracking_tag_shared_account_request, opts)
      data
    end

    # Share a tracking tag with an ad account
    # Shares the pixel with another ad account so campaigns/audiences in that account can use it. Requires that you administer both the pixel&#39;s owning Business Manager and the target ad account; a pixel on a personal (non-BM) ad account can&#39;t be shared (Meta will reject the call). Meta only (platform &#x60;metaads&#x60;); other platforms return 405. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param add_tracking_tag_shared_account_request [AddTrackingTagSharedAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddTrackingTagSharedAccount201Response, Integer, Hash)>] AddTrackingTagSharedAccount201Response data, response status code and response headers
    def add_tracking_tag_shared_account_with_http_info(account_id, tag_id, add_tracking_tag_shared_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.add_tracking_tag_shared_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # verify the required parameter 'add_tracking_tag_shared_account_request' is set
      if @api_client.config.client_side_validation && add_tracking_tag_shared_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_tracking_tag_shared_account_request' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_tracking_tag_shared_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddTrackingTagSharedAccount201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.add_tracking_tag_shared_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#add_tracking_tag_shared_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a tracking tag (Meta Pixel)
    # Creates a Meta Pixel on the given ad account (`POST /act_{id}/adspixels` — `name` is the only input). Returns the created tag including its install `code`. The pixel is owned by the Business Manager that owns the ad account; a pixel created on a personal (non-BM) ad account ends up with `ownerBusinessId: null` and can't be shared with other ad accounts.  Creating a pixel does NOT install it — install the returned `code` snippet on the site, or send events server-side via `POST /v1/ads/conversions`. The check `installed` is derived from `lastFiredTime`.  NOT idempotent: each call creates a new pixel. Do not retry blindly on timeout. Meta only (platform `metaads`); other platforms return 405. 
    # @param account_id [String] Meta ads SocialAccount id (platform &#x60;metaads&#x60;).
    # @param create_tracking_tag_request [CreateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTrackingTag201Response]
    def create_tracking_tag(account_id, create_tracking_tag_request, opts = {})
      data, _status_code, _headers = create_tracking_tag_with_http_info(account_id, create_tracking_tag_request, opts)
      data
    end

    # Create a tracking tag (Meta Pixel)
    # Creates a Meta Pixel on the given ad account (&#x60;POST /act_{id}/adspixels&#x60; — &#x60;name&#x60; is the only input). Returns the created tag including its install &#x60;code&#x60;. The pixel is owned by the Business Manager that owns the ad account; a pixel created on a personal (non-BM) ad account ends up with &#x60;ownerBusinessId: null&#x60; and can&#39;t be shared with other ad accounts.  Creating a pixel does NOT install it — install the returned &#x60;code&#x60; snippet on the site, or send events server-side via &#x60;POST /v1/ads/conversions&#x60;. The check &#x60;installed&#x60; is derived from &#x60;lastFiredTime&#x60;.  NOT idempotent: each call creates a new pixel. Do not retry blindly on timeout. Meta only (platform &#x60;metaads&#x60;); other platforms return 405. 
    # @param account_id [String] Meta ads SocialAccount id (platform &#x60;metaads&#x60;).
    # @param create_tracking_tag_request [CreateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTrackingTag201Response, Integer, Hash)>] CreateTrackingTag201Response data, response status code and response headers
    def create_tracking_tag_with_http_info(account_id, create_tracking_tag_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.create_tracking_tag ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.create_tracking_tag"
      end
      # verify the required parameter 'create_tracking_tag_request' is set
      if @api_client.config.client_side_validation && create_tracking_tag_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_tracking_tag_request' when calling TrackingTagsApi.create_tracking_tag"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tracking_tag_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTrackingTag201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.create_tracking_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#create_tracking_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a single tracking tag (Meta Pixel)
    # Returns the full tag record including the base-code `code` snippet, `lastFiredTime`, `ownerBusinessId`, `isUnavailable`, etc. Meta only (platform `metaads`); other platforms return 405. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @return [CreateTrackingTag201Response]
    def get_tracking_tag(account_id, tag_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_with_http_info(account_id, tag_id, opts)
      data
    end

    # Fetch a single tracking tag (Meta Pixel)
    # Returns the full tag record including the base-code &#x60;code&#x60; snippet, &#x60;lastFiredTime&#x60;, &#x60;ownerBusinessId&#x60;, &#x60;isUnavailable&#x60;, etc. Meta only (platform &#x60;metaads&#x60;); other platforms return 405. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTrackingTag201Response, Integer, Hash)>] CreateTrackingTag201Response data, response status code and response headers
    def get_tracking_tag_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTrackingTag201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Aggregated event stats for a tracking tag (Meta Pixel)
    # Returns aggregated event counts for the pixel (`GET /{pixel_id}/stats`). Rows are passed through from Meta as-is — their shape depends on the `aggregation` requested. Meta only (platform `metaads`); other platforms return 405. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :aggregation Aggregation dimension. Defaults to &#x60;event&#x60;. (default to 'event')
    # @option opts [Integer] :start_time Unix seconds lower bound.
    # @option opts [Integer] :end_time Unix seconds upper bound.
    # @return [GetTrackingTagStats200Response]
    def get_tracking_tag_stats(account_id, tag_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_stats_with_http_info(account_id, tag_id, opts)
      data
    end

    # Aggregated event stats for a tracking tag (Meta Pixel)
    # Returns aggregated event counts for the pixel (&#x60;GET /{pixel_id}/stats&#x60;). Rows are passed through from Meta as-is — their shape depends on the &#x60;aggregation&#x60; requested. Meta only (platform &#x60;metaads&#x60;); other platforms return 405. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :aggregation Aggregation dimension. Defaults to &#x60;event&#x60;. (default to 'event')
    # @option opts [Integer] :start_time Unix seconds lower bound.
    # @option opts [Integer] :end_time Unix seconds upper bound.
    # @return [Array<(GetTrackingTagStats200Response, Integer, Hash)>] GetTrackingTagStats200Response data, response status code and response headers
    def get_tracking_tag_stats_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag_stats ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag_stats"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag_stats"
      end
      allowable_values = ["event", "host", "url", "url_by_rule", "pixel_fire", "device_type", "device_os", "browser_type", "had_pii", "custom_data_field", "match_keys", "event_source", "event_detection_method", "event_processing_results", "event_total_counts", "event_value_count"]
      if @api_client.config.client_side_validation && opts[:'aggregation'] && !allowable_values.include?(opts[:'aggregation'])
        fail ArgumentError, "invalid value for \"aggregation\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/stats'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'aggregation'] = opts[:'aggregation'] if !opts[:'aggregation'].nil?
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTagStats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List ad accounts a tracking tag is shared with
    # Meta only (platform `metaads`); other platforms return 405.
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @return [ListTrackingTagSharedAccounts200Response]
    def list_tracking_tag_shared_accounts(account_id, tag_id, opts = {})
      data, _status_code, _headers = list_tracking_tag_shared_accounts_with_http_info(account_id, tag_id, opts)
      data
    end

    # List ad accounts a tracking tag is shared with
    # Meta only (platform &#x60;metaads&#x60;); other platforms return 405.
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListTrackingTagSharedAccounts200Response, Integer, Hash)>] ListTrackingTagSharedAccounts200Response data, response status code and response headers
    def list_tracking_tag_shared_accounts_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.list_tracking_tag_shared_accounts ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.list_tracking_tag_shared_accounts"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.list_tracking_tag_shared_accounts"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTrackingTagSharedAccounts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.list_tracking_tag_shared_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#list_tracking_tag_shared_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tracking tags (Meta Pixels)
    # Returns the tracking tags (Meta Pixels) the connected ads account can see. Pass `?adAccountId=act_...` to scope the list to a single ad account; omit it to list every pixel reachable by the token (the name is then suffixed with the ad account it was discovered on, for disambiguation). The list view omits `code` — call `getTrackingTag` for the install snippet and full detail.  Meta only today (platform `metaads`); other platforms return 405. The `accountId` must be the Meta *ads* SocialAccount created by the Ads add-on connect flow, not a Facebook/Instagram posting account. Get your `act_...` ids from `GET /v1/ads/accounts`. 
    # @param account_id [String] Meta ads SocialAccount id (platform &#x60;metaads&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Optional. Scope to one ad account, e.g. &#x60;act_123456789&#x60;.
    # @return [ListTrackingTags200Response]
    def list_tracking_tags(account_id, opts = {})
      data, _status_code, _headers = list_tracking_tags_with_http_info(account_id, opts)
      data
    end

    # List tracking tags (Meta Pixels)
    # Returns the tracking tags (Meta Pixels) the connected ads account can see. Pass &#x60;?adAccountId&#x3D;act_...&#x60; to scope the list to a single ad account; omit it to list every pixel reachable by the token (the name is then suffixed with the ad account it was discovered on, for disambiguation). The list view omits &#x60;code&#x60; — call &#x60;getTrackingTag&#x60; for the install snippet and full detail.  Meta only today (platform &#x60;metaads&#x60;); other platforms return 405. The &#x60;accountId&#x60; must be the Meta *ads* SocialAccount created by the Ads add-on connect flow, not a Facebook/Instagram posting account. Get your &#x60;act_...&#x60; ids from &#x60;GET /v1/ads/accounts&#x60;. 
    # @param account_id [String] Meta ads SocialAccount id (platform &#x60;metaads&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Optional. Scope to one ad account, e.g. &#x60;act_123456789&#x60;.
    # @return [Array<(ListTrackingTags200Response, Integer, Hash)>] ListTrackingTags200Response data, response status code and response headers
    def list_tracking_tags_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.list_tracking_tags ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.list_tracking_tags"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTrackingTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.list_tracking_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#list_tracking_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Stop sharing a tracking tag with an ad account
    # `adAccountId` may be passed as a query parameter (recommended) or as a JSON body field for clients that can send DELETE bodies. Meta only (platform `metaads`); other platforms return 405. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Ad account to unshare, e.g. &#x60;act_123456789&#x60;. May also be sent in the JSON body.
    # @return [nil]
    def remove_tracking_tag_shared_account(account_id, tag_id, opts = {})
      remove_tracking_tag_shared_account_with_http_info(account_id, tag_id, opts)
      nil
    end

    # Stop sharing a tracking tag with an ad account
    # &#x60;adAccountId&#x60; may be passed as a query parameter (recommended) or as a JSON body field for clients that can send DELETE bodies. Meta only (platform &#x60;metaads&#x60;); other platforms return 405. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Ad account to unshare, e.g. &#x60;act_123456789&#x60;. May also be sent in the JSON body.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_tracking_tag_shared_account_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.remove_tracking_tag_shared_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.remove_tracking_tag_shared_account"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.remove_tracking_tag_shared_account"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.remove_tracking_tag_shared_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#remove_tracking_tag_shared_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tracking tag (Meta Pixel)
    # Partial-update a pixel. Whitelisted fields: `name` (rename), `enableAutomaticMatching`, `automaticMatchingFields`, `firstPartyCookieStatus`, `dataUseSetting`. At least one is required. Returns the re-fetched canonical tag. Meta only (platform `metaads`); other platforms return 405.  There is no DELETE — Meta has no API to delete a pixel. To stop using one, unshare it from your ad accounts (`DELETE .../tracking-tags/{tagId}/shared-accounts`) or disable it in Events Manager. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param update_tracking_tag_request [UpdateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTrackingTag201Response]
    def update_tracking_tag(account_id, tag_id, update_tracking_tag_request, opts = {})
      data, _status_code, _headers = update_tracking_tag_with_http_info(account_id, tag_id, update_tracking_tag_request, opts)
      data
    end

    # Update a tracking tag (Meta Pixel)
    # Partial-update a pixel. Whitelisted fields: &#x60;name&#x60; (rename), &#x60;enableAutomaticMatching&#x60;, &#x60;automaticMatchingFields&#x60;, &#x60;firstPartyCookieStatus&#x60;, &#x60;dataUseSetting&#x60;. At least one is required. Returns the re-fetched canonical tag. Meta only (platform &#x60;metaads&#x60;); other platforms return 405.  There is no DELETE — Meta has no API to delete a pixel. To stop using one, unshare it from your ad accounts (&#x60;DELETE .../tracking-tags/{tagId}/shared-accounts&#x60;) or disable it in Events Manager. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param update_tracking_tag_request [UpdateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTrackingTag201Response, Integer, Hash)>] CreateTrackingTag201Response data, response status code and response headers
    def update_tracking_tag_with_http_info(account_id, tag_id, update_tracking_tag_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.update_tracking_tag ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.update_tracking_tag"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.update_tracking_tag"
      end
      # verify the required parameter 'update_tracking_tag_request' is set
      if @api_client.config.client_side_validation && update_tracking_tag_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_tracking_tag_request' when calling TrackingTagsApi.update_tracking_tag"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_tracking_tag_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTrackingTag201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.update_tracking_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#update_tracking_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
