=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema).  Request ids: responses carry an X-Request-Id header with the id we log the request under. Quote it when reporting a problem. A valid x-request-id you send is reused as that id. 

The version of the OpenAPI document: 1.153.0
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class TrackingTagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Share with an ad account
    # Shares the pixel with another ad account so campaigns/audiences in that account can use it. Requires that you administer both the pixel's owning Business Manager and the target ad account; a pixel on a personal (non-BM) ad account can't be shared (Meta will reject the call). Meta and LinkedIn; other platforms return 501.  LinkedIn (`linkedinads`): grants `USE_ONLY` access from the ad account that created the tag, so the target can use the tag and its conversions but cannot edit or reshare it. `adAccountId` is the numeric LinkedIn ad account id. An ad account uses one Insight Tag at a time, so a target that already has one answers 400.  TikTok: links the pixel to an advertiser through Business Center (`/bc/pixel/link/update/`, `adAccountId` = numeric advertiser_id). Only a pixel that is an asset of a Business Center this connection manages can be shared; otherwise the answer is 400 asking to transfer it to Business Center first. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param add_tracking_tag_shared_account_request [AddTrackingTagSharedAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddTrackingTagSharedAccount201Response]
    def add_tracking_tag_shared_account(account_id, tag_id, add_tracking_tag_shared_account_request, opts = {})
      data, _status_code, _headers = add_tracking_tag_shared_account_with_http_info(account_id, tag_id, add_tracking_tag_shared_account_request, opts)
      data
    end

    # Share with an ad account
    # Shares the pixel with another ad account so campaigns/audiences in that account can use it. Requires that you administer both the pixel&#39;s owning Business Manager and the target ad account; a pixel on a personal (non-BM) ad account can&#39;t be shared (Meta will reject the call). Meta and LinkedIn; other platforms return 501.  LinkedIn (&#x60;linkedinads&#x60;): grants &#x60;USE_ONLY&#x60; access from the ad account that created the tag, so the target can use the tag and its conversions but cannot edit or reshare it. &#x60;adAccountId&#x60; is the numeric LinkedIn ad account id. An ad account uses one Insight Tag at a time, so a target that already has one answers 400.  TikTok: links the pixel to an advertiser through Business Center (&#x60;/bc/pixel/link/update/&#x60;, &#x60;adAccountId&#x60; &#x3D; numeric advertiser_id). Only a pixel that is an asset of a Business Center this connection manages can be shared; otherwise the answer is 400 asking to transfer it to Business Center first. 
    # @param account_id [String] 
    # @param tag_id [String] Pixel id.
    # @param add_tracking_tag_shared_account_request [AddTrackingTagSharedAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddTrackingTagSharedAccount201Response, Integer, Hash)>] AddTrackingTagSharedAccount201Response data, response status code and response headers
    def add_tracking_tag_shared_account_with_http_info(account_id, tag_id, add_tracking_tag_shared_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.add_tracking_tag_shared_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # verify the required parameter 'add_tracking_tag_shared_account_request' is set
      if @api_client.config.client_side_validation && add_tracking_tag_shared_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_tracking_tag_shared_account_request' when calling TrackingTagsApi.add_tracking_tag_shared_account"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/shared-accounts'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_tracking_tag_shared_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddTrackingTagSharedAccount201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.add_tracking_tag_shared_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#add_tracking_tag_shared_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a user to a tag
    # Gives a user of the owning business access to the tag. Assigning an already assigned user replaces their task set.  Meta: `tasks` are `AA_ANALYZE`, `ADVERTISE`, `ANALYZE`, `EDIT`, `UPLOAD`; `userId` is the business-scoped id from `GET /v1/ads/businesses/users`. A pixel on a personal ad account answers 400. Needs `business_management` like the list. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param assign_tracking_tag_user_request [AssignTrackingTagUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssignTrackingTagUser200Response]
    def assign_tracking_tag_user(account_id, tag_id, assign_tracking_tag_user_request, opts = {})
      data, _status_code, _headers = assign_tracking_tag_user_with_http_info(account_id, tag_id, assign_tracking_tag_user_request, opts)
      data
    end

    # Assign a user to a tag
    # Gives a user of the owning business access to the tag. Assigning an already assigned user replaces their task set.  Meta: &#x60;tasks&#x60; are &#x60;AA_ANALYZE&#x60;, &#x60;ADVERTISE&#x60;, &#x60;ANALYZE&#x60;, &#x60;EDIT&#x60;, &#x60;UPLOAD&#x60;; &#x60;userId&#x60; is the business-scoped id from &#x60;GET /v1/ads/businesses/users&#x60;. A pixel on a personal ad account answers 400. Needs &#x60;business_management&#x60; like the list. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param assign_tracking_tag_user_request [AssignTrackingTagUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignTrackingTagUser200Response, Integer, Hash)>] AssignTrackingTagUser200Response data, response status code and response headers
    def assign_tracking_tag_user_with_http_info(account_id, tag_id, assign_tracking_tag_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.assign_tracking_tag_user ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.assign_tracking_tag_user"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.assign_tracking_tag_user"
      end
      # verify the required parameter 'assign_tracking_tag_user_request' is set
      if @api_client.config.client_side_validation && assign_tracking_tag_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'assign_tracking_tag_user_request' when calling TrackingTagsApi.assign_tracking_tag_user"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/users'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assign_tracking_tag_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssignTrackingTagUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.assign_tracking_tag_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#assign_tracking_tag_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a tracking tag
    # Meta: creates a Meta Pixel on the given ad account (`POST /act_{id}/adspixels`, where `name` is the only input). Returns the created tag including its install `code`. The pixel is owned by the Business Manager that owns the ad account; a pixel created on a personal (non-BM) ad account ends up with `ownerBusinessId: null` and can't be shared with other ad accounts.  Creating a Meta pixel does NOT install it. Install the returned `code` snippet on the site, or send events server-side via `POST /v1/ads/conversions`. The check `installed` is derived from `lastFiredTime`.  OpenAI Ads: creates an OpenAI pixel AND provisions a Conversions API key for it in the same call (`adAccountId` is required by this endpoint but ignored: one API key maps to exactly one ad account, so there's nothing to select). Returns 422 (`FEATURE_NOT_AVAILABLE`) if the ad account isn't enabled for pixel management; contact your OpenAI partner representative to enable it. There is no delete API for OpenAI pixels. If the pixel is created but the Conversions API key provisioning then fails, the pixel is left live on OpenAI (it cannot be cleaned up) and the error message names the surviving pixel id and warns against retrying, since a retry would create a second, orphaned pixel.  NOT idempotent on either platform: each call creates a new pixel (and, for OpenAI, a new Conversions API key plus, with `defaultEventType`, a new conversion event setting). Do not retry blindly on timeout. Meta (platform `metaads`) and OpenAI Ads (platform `openaiads`); other platforms return 501.  LinkedIn (`linkedinads`): creates the ad account's Insight Tag (`POST /rest/insightTags`). Idempotent: an ad account holds at most one Insight Tag, so when it already has one that tag is returned and nothing is created. `name` is ignored (LinkedIn tags have no name) and there is no API to delete an Insight Tag.  Pinterest (platform `pinterestads`): creates a Pinterest tag on the numeric ad account `adAccountId` (`POST /v5/ad_accounts/{id}/conversion_tags`). Returns the tag with Pinterest's `code` snippet. `automaticMatchingFields` switches on automatic enhanced match for those fields. NOT idempotent and Pinterest has no dry-run and no delete for tags (DELETE on `conversion_tags/{id}` answers 405), so never retry blindly: list first.  Google Ads (`googleads`): every Google Ads account has exactly one Google tag (`AW-...`), so this is idempotent. `adAccountId` is the 10-digit customer id. When the account already tracks conversions the existing tag is returned (201) and nothing is created. Otherwise a first WEBPAGE conversion action named `name` (category DEFAULT) is created, which is what switches Google's conversion tracking on, and the tag is returned with it as its first event.  TikTok: `POST /pixel/create/` on the advertiser in `adAccountId` (numeric). Names are at most 40 characters with no emoji and must be unique; TikTok refuses a duplicate name (400), which is its only retry guard. TikTok has no pixel delete API.  Pinterest's `code` snippet. NOT idempotent and Pinterest has no dry-run and no delete for tags, so never retry blindly: list first.  X Ads (platform `xads`): creates the ad account's X Pixel (its UNIVERSAL website tag) with first-party cookies on. `adAccountId` is the X ad account id; `name` is not stored (X pixels have no name). X allows one pixel per ad account and cannot delete one, so an account that already has a pixel answers 409 without writing anything. 
    # @param account_id [String] Ads SocialAccount id (platform &#x60;metaads&#x60; or &#x60;openaiads&#x60;).
    # @param create_tracking_tag_request [CreateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTrackingTag201Response]
    def create_tracking_tag(account_id, create_tracking_tag_request, opts = {})
      data, _status_code, _headers = create_tracking_tag_with_http_info(account_id, create_tracking_tag_request, opts)
      data
    end

    # Create a tracking tag
    # Meta: creates a Meta Pixel on the given ad account (&#x60;POST /act_{id}/adspixels&#x60;, where &#x60;name&#x60; is the only input). Returns the created tag including its install &#x60;code&#x60;. The pixel is owned by the Business Manager that owns the ad account; a pixel created on a personal (non-BM) ad account ends up with &#x60;ownerBusinessId: null&#x60; and can&#39;t be shared with other ad accounts.  Creating a Meta pixel does NOT install it. Install the returned &#x60;code&#x60; snippet on the site, or send events server-side via &#x60;POST /v1/ads/conversions&#x60;. The check &#x60;installed&#x60; is derived from &#x60;lastFiredTime&#x60;.  OpenAI Ads: creates an OpenAI pixel AND provisions a Conversions API key for it in the same call (&#x60;adAccountId&#x60; is required by this endpoint but ignored: one API key maps to exactly one ad account, so there&#39;s nothing to select). Returns 422 (&#x60;FEATURE_NOT_AVAILABLE&#x60;) if the ad account isn&#39;t enabled for pixel management; contact your OpenAI partner representative to enable it. There is no delete API for OpenAI pixels. If the pixel is created but the Conversions API key provisioning then fails, the pixel is left live on OpenAI (it cannot be cleaned up) and the error message names the surviving pixel id and warns against retrying, since a retry would create a second, orphaned pixel.  NOT idempotent on either platform: each call creates a new pixel (and, for OpenAI, a new Conversions API key plus, with &#x60;defaultEventType&#x60;, a new conversion event setting). Do not retry blindly on timeout. Meta (platform &#x60;metaads&#x60;) and OpenAI Ads (platform &#x60;openaiads&#x60;); other platforms return 501.  LinkedIn (&#x60;linkedinads&#x60;): creates the ad account&#39;s Insight Tag (&#x60;POST /rest/insightTags&#x60;). Idempotent: an ad account holds at most one Insight Tag, so when it already has one that tag is returned and nothing is created. &#x60;name&#x60; is ignored (LinkedIn tags have no name) and there is no API to delete an Insight Tag.  Pinterest (platform &#x60;pinterestads&#x60;): creates a Pinterest tag on the numeric ad account &#x60;adAccountId&#x60; (&#x60;POST /v5/ad_accounts/{id}/conversion_tags&#x60;). Returns the tag with Pinterest&#39;s &#x60;code&#x60; snippet. &#x60;automaticMatchingFields&#x60; switches on automatic enhanced match for those fields. NOT idempotent and Pinterest has no dry-run and no delete for tags (DELETE on &#x60;conversion_tags/{id}&#x60; answers 405), so never retry blindly: list first.  Google Ads (&#x60;googleads&#x60;): every Google Ads account has exactly one Google tag (&#x60;AW-...&#x60;), so this is idempotent. &#x60;adAccountId&#x60; is the 10-digit customer id. When the account already tracks conversions the existing tag is returned (201) and nothing is created. Otherwise a first WEBPAGE conversion action named &#x60;name&#x60; (category DEFAULT) is created, which is what switches Google&#39;s conversion tracking on, and the tag is returned with it as its first event.  TikTok: &#x60;POST /pixel/create/&#x60; on the advertiser in &#x60;adAccountId&#x60; (numeric). Names are at most 40 characters with no emoji and must be unique; TikTok refuses a duplicate name (400), which is its only retry guard. TikTok has no pixel delete API.  Pinterest&#39;s &#x60;code&#x60; snippet. NOT idempotent and Pinterest has no dry-run and no delete for tags, so never retry blindly: list first.  X Ads (platform &#x60;xads&#x60;): creates the ad account&#39;s X Pixel (its UNIVERSAL website tag) with first-party cookies on. &#x60;adAccountId&#x60; is the X ad account id; &#x60;name&#x60; is not stored (X pixels have no name). X allows one pixel per ad account and cannot delete one, so an account that already has a pixel answers 409 without writing anything. 
    # @param account_id [String] Ads SocialAccount id (platform &#x60;metaads&#x60; or &#x60;openaiads&#x60;).
    # @param create_tracking_tag_request [CreateTrackingTagRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTrackingTag201Response, Integer, Hash)>] CreateTrackingTag201Response data, response status code and response headers
    def create_tracking_tag_with_http_info(account_id, create_tracking_tag_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.create_tracking_tag ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.create_tracking_tag"
      end
      # verify the required parameter 'create_tracking_tag_request' is set
      if @api_client.config.client_side_validation && create_tracking_tag_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_tracking_tag_request' when calling TrackingTagsApi.create_tracking_tag"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tracking_tag_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTrackingTag201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.create_tracking_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#create_tracking_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a conversion event
    # Creates a conversion event tied to the tag. Pass the platform's own event type in `type` (e.g. Google `PURCHASE`, LinkedIn `ADD_TO_CART`, X `CHECKOUT_INITIATED`) or a neutral `siteEvent` the platform maps to its closest type. Each platform stores a subset of the optional fields; sending one it does not store answers 400 naming the supported fields. NOT idempotent unless noted per platform: do not retry blindly.  OpenAI Ads: creates a conversion event setting on the pixel (`POST /conversions/event_settings`, source = the pixel). Accepts `name`, `type` and `siteEvent` only. `type` is a standard event (`order_created`, `lead_created`, `items_added`, `contents_viewed`, `checkout_started`, `registration_completed`, `subscription_created`, `trial_started`, `appointment_scheduled`, `page_viewed`, `app_installed`, `app_opened`) or, for anything else, the custom event name itself (1 to 64 letters, digits, underscores or dashes; stored lowercase). `siteEvent` maps `search` and `add_payment_info` to the custom events `search` and `addpaymentinfo`, the names Zernio's Shopify pixel sends. The click attribution window is 30 days, the only value OpenAI documents. Only standard events can be a conversions campaign's optimization goal.  LinkedIn (`linkedinads`): creates an event-specific Insight Tag conversion rule (no URL match rules), the kind a page or the Shopify pixel fires by id. `type` is a LinkedIn conversion type (e.g. `PURCHASE`, `ADD_TO_CART`, `START_CHECKOUT`, `LEAD`); `siteEvent` maps to `KEY_PAGE_VIEW`, `VIEW_CONTENT`, `ADD_TO_CART`, `SEARCH`, `START_CHECKOUT`, `ADD_BILLING_INFO` or `PURCHASE`. `defaultValue` needs `currency` (the ad account currency) and is a fallback: a value sent with the event wins. Click and view windows are in days (LinkedIn validates them: the docs list 1, 7 and 30, and rules with 90 exist). Stores name, type, siteEvent, enabled, defaultValue, currency, clickWindowDays, viewWindowDays. Not idempotent.  Meta: creates a custom conversion on `adAccountId` (default: the pixel's owner ad account). Accepts `name`, `type` (Meta `custom_event_type`: `PURCHASE`, `LEAD`, `ADD_TO_CART`, `COMPLETE_REGISTRATION`, `OTHER`...), `siteEvent`, `urlContains` and `defaultValue` (in the ad account currency). The rule matches the standard event of `siteEvent` (or of `type`), plus `urlContains` when given; `urlContains` alone matches page views on that URL. `type: OTHER` needs `siteEvent` or `urlContains`. Idempotent by name: an active conversion with the same name on this pixel is returned instead of a duplicate. Meta caps custom conversions per ad account; the cap answers 400.  Google Ads (`googleads`): creates a WEBPAGE conversion action. `type` is a ConversionActionCategory (e.g. `PURCHASE`, `SIGNUP`, `DEFAULT`); `siteEvent` maps page_view, add_to_cart, initiate_checkout and purchase, while view_content, search and add_payment_info answer 400 (Google has no category for them). Stored fields: name, type, defaultValue, currency, alwaysUseDefaultValue, clickWindowDays (1 to 90), viewWindowDays (1 to 30), primary, countingType, enabled. Actions are created enabled (`enabled: false` answers 400); Google blocks the HIDDEN status on WEBPAGE actions. Names are unique per account, so a replay answers 400 (DUPLICATE_NAME) instead of creating a second one.  Pinterest (platform `pinterestads`): creates an advertiser defined event on the tag's ad account. Fields: `name` (1-100 letters, digits, `_` or `-`, case-insensitive, max 15 per ad account) and `type` (one of Pinterest's optimizable types: SIGNUP, ADD_TO_CART, LEAD, CHECKOUT, SUBSCRIBE, ADD_TO_WISHLIST, ADD_PAYMENT_INFO, INITIATE_CHECKOUT, CONTACT, CUSTOMIZE_PRODUCT, FIND_LOCATION, SCHEDULE, SUBMIT_APPLICATION, START_TRIAL, PAGE_VISIT, VIEW_CATEGORY, VIEW_CONTENT, SEARCH, WATCH_VIDEO) or `siteEvent`. A duplicate name answers 400.  TikTok: `POST /pixel/event/create/`. `type` is a TikTok pixel event type (SHOPPING, ON_WEB_CART, ON_WEB_DETAIL, INITIATE_ORDER, ADD_BILLING, ON_WEB_SEARCH, PAGE_VIEW, ON_WEB_REGISTER, FORM, ...), or pass `siteEvent`. Stores `name` (at most 40 characters), `defaultValue` and `currency` (USD, JPY or INR only). TikTok returns no id: the new event is read back from the pixel, and while TikTok's listing has not refreshed the response carries an empty `id` and `status: pending`.  X Ads (platform `xads`): creates a web event tag. Fields: `name`, `type` (X enum: ADDED_PAYMENT_INFO, ADD_TO_CART, ADD_TO_WISHLIST, CHECKOUT_INITIATED, CONTENT_VIEW, CUSTOM, DOWNLOAD, INSTALL, LANDING_PAGE_VIEW, LOGIN, PRODUCT_CUSTOMIZATION, PURCHASE, SEARCH, SESSION, SIGN_UP, SITE_VISIT, START_TRIAL, SUBSCRIBE) or `siteEvent`, `clickWindowDays` (1, 7, 14, 30, 60 or 90; default 30) and `viewWindowDays` (0, 1, 7, 14, 30, 60 or 90, at most the click window; default 1). Retargeting is enabled, as in Events Manager. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param create_tracking_tag_event_request [CreateTrackingTagEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateTrackingTagEvent201Response]
    def create_tracking_tag_event(account_id, tag_id, create_tracking_tag_event_request, opts = {})
      data, _status_code, _headers = create_tracking_tag_event_with_http_info(account_id, tag_id, create_tracking_tag_event_request, opts)
      data
    end

    # Create a conversion event
    # Creates a conversion event tied to the tag. Pass the platform&#39;s own event type in &#x60;type&#x60; (e.g. Google &#x60;PURCHASE&#x60;, LinkedIn &#x60;ADD_TO_CART&#x60;, X &#x60;CHECKOUT_INITIATED&#x60;) or a neutral &#x60;siteEvent&#x60; the platform maps to its closest type. Each platform stores a subset of the optional fields; sending one it does not store answers 400 naming the supported fields. NOT idempotent unless noted per platform: do not retry blindly.  OpenAI Ads: creates a conversion event setting on the pixel (&#x60;POST /conversions/event_settings&#x60;, source &#x3D; the pixel). Accepts &#x60;name&#x60;, &#x60;type&#x60; and &#x60;siteEvent&#x60; only. &#x60;type&#x60; is a standard event (&#x60;order_created&#x60;, &#x60;lead_created&#x60;, &#x60;items_added&#x60;, &#x60;contents_viewed&#x60;, &#x60;checkout_started&#x60;, &#x60;registration_completed&#x60;, &#x60;subscription_created&#x60;, &#x60;trial_started&#x60;, &#x60;appointment_scheduled&#x60;, &#x60;page_viewed&#x60;, &#x60;app_installed&#x60;, &#x60;app_opened&#x60;) or, for anything else, the custom event name itself (1 to 64 letters, digits, underscores or dashes; stored lowercase). &#x60;siteEvent&#x60; maps &#x60;search&#x60; and &#x60;add_payment_info&#x60; to the custom events &#x60;search&#x60; and &#x60;addpaymentinfo&#x60;, the names Zernio&#39;s Shopify pixel sends. The click attribution window is 30 days, the only value OpenAI documents. Only standard events can be a conversions campaign&#39;s optimization goal.  LinkedIn (&#x60;linkedinads&#x60;): creates an event-specific Insight Tag conversion rule (no URL match rules), the kind a page or the Shopify pixel fires by id. &#x60;type&#x60; is a LinkedIn conversion type (e.g. &#x60;PURCHASE&#x60;, &#x60;ADD_TO_CART&#x60;, &#x60;START_CHECKOUT&#x60;, &#x60;LEAD&#x60;); &#x60;siteEvent&#x60; maps to &#x60;KEY_PAGE_VIEW&#x60;, &#x60;VIEW_CONTENT&#x60;, &#x60;ADD_TO_CART&#x60;, &#x60;SEARCH&#x60;, &#x60;START_CHECKOUT&#x60;, &#x60;ADD_BILLING_INFO&#x60; or &#x60;PURCHASE&#x60;. &#x60;defaultValue&#x60; needs &#x60;currency&#x60; (the ad account currency) and is a fallback: a value sent with the event wins. Click and view windows are in days (LinkedIn validates them: the docs list 1, 7 and 30, and rules with 90 exist). Stores name, type, siteEvent, enabled, defaultValue, currency, clickWindowDays, viewWindowDays. Not idempotent.  Meta: creates a custom conversion on &#x60;adAccountId&#x60; (default: the pixel&#39;s owner ad account). Accepts &#x60;name&#x60;, &#x60;type&#x60; (Meta &#x60;custom_event_type&#x60;: &#x60;PURCHASE&#x60;, &#x60;LEAD&#x60;, &#x60;ADD_TO_CART&#x60;, &#x60;COMPLETE_REGISTRATION&#x60;, &#x60;OTHER&#x60;...), &#x60;siteEvent&#x60;, &#x60;urlContains&#x60; and &#x60;defaultValue&#x60; (in the ad account currency). The rule matches the standard event of &#x60;siteEvent&#x60; (or of &#x60;type&#x60;), plus &#x60;urlContains&#x60; when given; &#x60;urlContains&#x60; alone matches page views on that URL. &#x60;type: OTHER&#x60; needs &#x60;siteEvent&#x60; or &#x60;urlContains&#x60;. Idempotent by name: an active conversion with the same name on this pixel is returned instead of a duplicate. Meta caps custom conversions per ad account; the cap answers 400.  Google Ads (&#x60;googleads&#x60;): creates a WEBPAGE conversion action. &#x60;type&#x60; is a ConversionActionCategory (e.g. &#x60;PURCHASE&#x60;, &#x60;SIGNUP&#x60;, &#x60;DEFAULT&#x60;); &#x60;siteEvent&#x60; maps page_view, add_to_cart, initiate_checkout and purchase, while view_content, search and add_payment_info answer 400 (Google has no category for them). Stored fields: name, type, defaultValue, currency, alwaysUseDefaultValue, clickWindowDays (1 to 90), viewWindowDays (1 to 30), primary, countingType, enabled. Actions are created enabled (&#x60;enabled: false&#x60; answers 400); Google blocks the HIDDEN status on WEBPAGE actions. Names are unique per account, so a replay answers 400 (DUPLICATE_NAME) instead of creating a second one.  Pinterest (platform &#x60;pinterestads&#x60;): creates an advertiser defined event on the tag&#39;s ad account. Fields: &#x60;name&#x60; (1-100 letters, digits, &#x60;_&#x60; or &#x60;-&#x60;, case-insensitive, max 15 per ad account) and &#x60;type&#x60; (one of Pinterest&#39;s optimizable types: SIGNUP, ADD_TO_CART, LEAD, CHECKOUT, SUBSCRIBE, ADD_TO_WISHLIST, ADD_PAYMENT_INFO, INITIATE_CHECKOUT, CONTACT, CUSTOMIZE_PRODUCT, FIND_LOCATION, SCHEDULE, SUBMIT_APPLICATION, START_TRIAL, PAGE_VISIT, VIEW_CATEGORY, VIEW_CONTENT, SEARCH, WATCH_VIDEO) or &#x60;siteEvent&#x60;. A duplicate name answers 400.  TikTok: &#x60;POST /pixel/event/create/&#x60;. &#x60;type&#x60; is a TikTok pixel event type (SHOPPING, ON_WEB_CART, ON_WEB_DETAIL, INITIATE_ORDER, ADD_BILLING, ON_WEB_SEARCH, PAGE_VIEW, ON_WEB_REGISTER, FORM, ...), or pass &#x60;siteEvent&#x60;. Stores &#x60;name&#x60; (at most 40 characters), &#x60;defaultValue&#x60; and &#x60;currency&#x60; (USD, JPY or INR only). TikTok returns no id: the new event is read back from the pixel, and while TikTok&#39;s listing has not refreshed the response carries an empty &#x60;id&#x60; and &#x60;status: pending&#x60;.  X Ads (platform &#x60;xads&#x60;): creates a web event tag. Fields: &#x60;name&#x60;, &#x60;type&#x60; (X enum: ADDED_PAYMENT_INFO, ADD_TO_CART, ADD_TO_WISHLIST, CHECKOUT_INITIATED, CONTENT_VIEW, CUSTOM, DOWNLOAD, INSTALL, LANDING_PAGE_VIEW, LOGIN, PRODUCT_CUSTOMIZATION, PURCHASE, SEARCH, SESSION, SIGN_UP, SITE_VISIT, START_TRIAL, SUBSCRIBE) or &#x60;siteEvent&#x60;, &#x60;clickWindowDays&#x60; (1, 7, 14, 30, 60 or 90; default 30) and &#x60;viewWindowDays&#x60; (0, 1, 7, 14, 30, 60 or 90, at most the click window; default 1). Retargeting is enabled, as in Events Manager. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param create_tracking_tag_event_request [CreateTrackingTagEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateTrackingTagEvent201Response, Integer, Hash)>] CreateTrackingTagEvent201Response data, response status code and response headers
    def create_tracking_tag_event_with_http_info(account_id, tag_id, create_tracking_tag_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.create_tracking_tag_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.create_tracking_tag_event"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.create_tracking_tag_event"
      end
      # verify the required parameter 'create_tracking_tag_event_request' is set
      if @api_client.config.client_side_validation && create_tracking_tag_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_tracking_tag_event_request' when calling TrackingTagsApi.create_tracking_tag_event"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/events'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_tracking_tag_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateTrackingTagEvent201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.create_tracking_tag_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#create_tracking_tag_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a conversion event
    # Removes the conversion event. Platforms without a hard delete archive or disable it instead; `state` in the response says which (`deleted`, `archived`, `disabled`).  OpenAI Ads answers 501: there is no delete or archive route for event settings (`DELETE /v1/conversions/event_settings/{id}` and `POST .../{id}/archive` answer 404 \"Invalid URL\"). Archive the event in OpenAI Ads Manager.  LinkedIn (`linkedinads`): LinkedIn has no delete for conversion rules (not in the conversion-tracking API, and `DELETE /rest/conversions/{id}` has no route), so the rule is disabled (`enabled: false`) and `state` is `disabled`. Re-enable it with `enabled: true`.  Meta: `archived`. Meta's delete archives the custom conversion (it stays readable with `status: archived`) and there is no hard delete; deleting an archived one is a no-op.  Google Ads (`googleads`): removes the conversion action (state `archived`). Google keeps it with status REMOVED and its history; PATCH with `enabled: true` restores it. Deleting an already archived action succeeds without a call to Google.  Pinterest (platform `pinterestads`): stops Pinterest tracking the event name (`state: disabled`); Pinterest keeps the event's history.  TikTok: hard delete (`/pixel/event/delete/`); TikTok refuses events bound to an ad group (400).  X Ads (platform `xads`): deletes the web event tag for good. Events X auto-created with the pixel cannot be deleted (400). X keeps the event's own website tag id on the account (it has no delete for website tags), left without a conversion event. 
    # @param account_id [String] 
    # @param tag_id [String] 
    # @param event_id [String] Event id (&#x60;TrackingTagEvent.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account.
    # @return [DeleteTrackingTagEvent200Response]
    def delete_tracking_tag_event(account_id, tag_id, event_id, opts = {})
      data, _status_code, _headers = delete_tracking_tag_event_with_http_info(account_id, tag_id, event_id, opts)
      data
    end

    # Delete a conversion event
    # Removes the conversion event. Platforms without a hard delete archive or disable it instead; &#x60;state&#x60; in the response says which (&#x60;deleted&#x60;, &#x60;archived&#x60;, &#x60;disabled&#x60;).  OpenAI Ads answers 501: there is no delete or archive route for event settings (&#x60;DELETE /v1/conversions/event_settings/{id}&#x60; and &#x60;POST .../{id}/archive&#x60; answer 404 \&quot;Invalid URL\&quot;). Archive the event in OpenAI Ads Manager.  LinkedIn (&#x60;linkedinads&#x60;): LinkedIn has no delete for conversion rules (not in the conversion-tracking API, and &#x60;DELETE /rest/conversions/{id}&#x60; has no route), so the rule is disabled (&#x60;enabled: false&#x60;) and &#x60;state&#x60; is &#x60;disabled&#x60;. Re-enable it with &#x60;enabled: true&#x60;.  Meta: &#x60;archived&#x60;. Meta&#39;s delete archives the custom conversion (it stays readable with &#x60;status: archived&#x60;) and there is no hard delete; deleting an archived one is a no-op.  Google Ads (&#x60;googleads&#x60;): removes the conversion action (state &#x60;archived&#x60;). Google keeps it with status REMOVED and its history; PATCH with &#x60;enabled: true&#x60; restores it. Deleting an already archived action succeeds without a call to Google.  Pinterest (platform &#x60;pinterestads&#x60;): stops Pinterest tracking the event name (&#x60;state: disabled&#x60;); Pinterest keeps the event&#39;s history.  TikTok: hard delete (&#x60;/pixel/event/delete/&#x60;); TikTok refuses events bound to an ad group (400).  X Ads (platform &#x60;xads&#x60;): deletes the web event tag for good. Events X auto-created with the pixel cannot be deleted (400). X keeps the event&#39;s own website tag id on the account (it has no delete for website tags), left without a conversion event. 
    # @param account_id [String] 
    # @param tag_id [String] 
    # @param event_id [String] Event id (&#x60;TrackingTagEvent.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account.
    # @return [Array<(DeleteTrackingTagEvent200Response, Integer, Hash)>] DeleteTrackingTagEvent200Response data, response status code and response headers
    def delete_tracking_tag_event_with_http_info(account_id, tag_id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.delete_tracking_tag_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.delete_tracking_tag_event"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.delete_tracking_tag_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling TrackingTagsApi.delete_tracking_tag_event"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/events/{eventId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s)).sub('{' + 'eventId' + '}', CGI.escape(event_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteTrackingTagEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.delete_tracking_tag_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#delete_tracking_tag_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get ad tracking tags
    # Unified read of the platform's native click-URL tracking params. - Meta (facebook/instagram): the creative's `url_tags` (and template_url_spec). - Google (googleads): the campaign's `trackingUrlTemplate` + `finalUrlSuffix`. - LinkedIn (linkedinads): the campaign's Dynamic UTM `dynamicValueParameters` + `customValueParameters`. Returns 405 for platforms without a click-URL tracking surface (TikTok, X, Pinterest).  **Not pixels.** Despite the shared path segment, this endpoint has nothing to do with measurement tags. For an ad account's pixels use `GET /v1/accounts/{accountId}/tracking-tags?adAccountId=act_...` (Meta Pixels, with `kind` and `ownerAdAccountId`) or `GET /v1/accounts/{accountId}/conversion-destinations`. 
    # @param ad_id [String] Ad id (hex _id, platformAdId, or effective story/media id).
    # @param [Hash] opts the optional parameters
    # @return [GetAdTrackingTags200Response]
    def get_ad_tracking_tags(ad_id, opts = {})
      data, _status_code, _headers = get_ad_tracking_tags_with_http_info(ad_id, opts)
      data
    end

    # Get ad tracking tags
    # Unified read of the platform&#39;s native click-URL tracking params. - Meta (facebook/instagram): the creative&#39;s &#x60;url_tags&#x60; (and template_url_spec). - Google (googleads): the campaign&#39;s &#x60;trackingUrlTemplate&#x60; + &#x60;finalUrlSuffix&#x60;. - LinkedIn (linkedinads): the campaign&#39;s Dynamic UTM &#x60;dynamicValueParameters&#x60; + &#x60;customValueParameters&#x60;. Returns 405 for platforms without a click-URL tracking surface (TikTok, X, Pinterest).  **Not pixels.** Despite the shared path segment, this endpoint has nothing to do with measurement tags. For an ad account&#39;s pixels use &#x60;GET /v1/accounts/{accountId}/tracking-tags?adAccountId&#x3D;act_...&#x60; (Meta Pixels, with &#x60;kind&#x60; and &#x60;ownerAdAccountId&#x60;) or &#x60;GET /v1/accounts/{accountId}/conversion-destinations&#x60;. 
    # @param ad_id [String] Ad id (hex _id, platformAdId, or effective story/media id).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAdTrackingTags200Response, Integer, Hash)>] GetAdTrackingTags200Response data, response status code and response headers
    def get_ad_tracking_tags_with_http_info(ad_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_ad_tracking_tags ...'
      end
      # verify the required parameter 'ad_id' is set
      if @api_client.config.client_side_validation && ad_id.nil?
        fail ArgumentError, "Missing the required parameter 'ad_id' when calling TrackingTagsApi.get_ad_tracking_tags"
      end
      # resource path
      local_var_path = '/v1/ads/{adId}/tracking-tags'.sub('{' + 'adId' + '}', CGI.escape(ad_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAdTrackingTags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_ad_tracking_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_ad_tracking_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a tracking tag
    # Returns the full tag record including the base-code `code` snippet, `lastFiredTime`, `ownerBusinessId`, `isUnavailable`, etc. Meta only (platform `metaads`); other platforms return 501.  OpenAI Ads (`openaiads`): `tagId` is the pixel's API id (`cds_...`) or its `pixel_id`. OpenAI documents no single-pixel read, so the tag is resolved from the pixel list; the response adds `code` (the official `oaiq` base code plus `page_viewed`) and `events` (the conversion event settings whose source is this pixel). `siteTagId` is the `pixel_id` the site and the Conversions API send; `id` is what event settings reference.  LinkedIn (`linkedinads`): `code` is LinkedIn's base code, `lastFiredTime` is the most recent callback across the tag's domains (unix seconds, null when it never fired) and `events` lists the ad account's conversion rules. `siteEvent` and `siteEventId` are set only on rules a page can fire (event-specific Insight Tag rules: not Conversions API rules, no URL match rules). `adAccountId` picks which ad account's rules to read; it defaults to the account that created the tag.  Pinterest (platform `pinterestads`): returns the tag with Pinterest's own `code` snippet and `lastFiredTime`. Without `adAccountId` Zernio finds the ad account that owns the tag (404 when no readable ad account holds it).  TikTok: read from `/pixel/list/?pixel_id=`; `code` is TikTok's `pixel_script`, `events` the pixel events. `lastFiredTime` is not available on TikTok. Without `adAccountId` the connection's advertisers are searched.  X Ads (platform `xads`): `tagId` is the X ad account id. Returns the pixel id as `siteTagId`, the X Pixel base code as `code`, and the conversion events the site can fire in `events` (each with `siteEventId` = `tw-<pixel>-<event>`, also the `event_id` of the X Conversions API). An ad account without a pixel answers 400. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
    # @return [GetTrackingTag200Response]
    def get_tracking_tag(account_id, tag_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_with_http_info(account_id, tag_id, opts)
      data
    end

    # Get a tracking tag
    # Returns the full tag record including the base-code &#x60;code&#x60; snippet, &#x60;lastFiredTime&#x60;, &#x60;ownerBusinessId&#x60;, &#x60;isUnavailable&#x60;, etc. Meta only (platform &#x60;metaads&#x60;); other platforms return 501.  OpenAI Ads (&#x60;openaiads&#x60;): &#x60;tagId&#x60; is the pixel&#39;s API id (&#x60;cds_...&#x60;) or its &#x60;pixel_id&#x60;. OpenAI documents no single-pixel read, so the tag is resolved from the pixel list; the response adds &#x60;code&#x60; (the official &#x60;oaiq&#x60; base code plus &#x60;page_viewed&#x60;) and &#x60;events&#x60; (the conversion event settings whose source is this pixel). &#x60;siteTagId&#x60; is the &#x60;pixel_id&#x60; the site and the Conversions API send; &#x60;id&#x60; is what event settings reference.  LinkedIn (&#x60;linkedinads&#x60;): &#x60;code&#x60; is LinkedIn&#39;s base code, &#x60;lastFiredTime&#x60; is the most recent callback across the tag&#39;s domains (unix seconds, null when it never fired) and &#x60;events&#x60; lists the ad account&#39;s conversion rules. &#x60;siteEvent&#x60; and &#x60;siteEventId&#x60; are set only on rules a page can fire (event-specific Insight Tag rules: not Conversions API rules, no URL match rules). &#x60;adAccountId&#x60; picks which ad account&#39;s rules to read; it defaults to the account that created the tag.  Pinterest (platform &#x60;pinterestads&#x60;): returns the tag with Pinterest&#39;s own &#x60;code&#x60; snippet and &#x60;lastFiredTime&#x60;. Without &#x60;adAccountId&#x60; Zernio finds the ad account that owns the tag (404 when no readable ad account holds it).  TikTok: read from &#x60;/pixel/list/?pixel_id&#x3D;&#x60;; &#x60;code&#x60; is TikTok&#39;s &#x60;pixel_script&#x60;, &#x60;events&#x60; the pixel events. &#x60;lastFiredTime&#x60; is not available on TikTok. Without &#x60;adAccountId&#x60; the connection&#39;s advertisers are searched.  X Ads (platform &#x60;xads&#x60;): &#x60;tagId&#x60; is the X ad account id. Returns the pixel id as &#x60;siteTagId&#x60;, the X Pixel base code as &#x60;code&#x60;, and the conversion events the site can fire in &#x60;events&#x60; (each with &#x60;siteEventId&#x60; &#x3D; &#x60;tw-&lt;pixel&gt;-&lt;event&gt;&#x60;, also the &#x60;event_id&#x60; of the X Conversions API). An ad account without a pixel answers 400. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
    # @return [Array<(GetTrackingTag200Response, Integer, Hash)>] GetTrackingTag200Response data, response status code and response headers
    def get_tracking_tag_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTag200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get tag diagnostics
    # The platform's health checks for the tag. Platforms without tag diagnostics answer 501.  Meta: the pixel's checks from Events Manager (`da_checks`), e.g. whether events miss parameters or their content ids do not match the pixel's catalogs. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [GetTrackingTagDiagnostics200Response]
    def get_tracking_tag_diagnostics(account_id, tag_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_diagnostics_with_http_info(account_id, tag_id, opts)
      data
    end

    # Get tag diagnostics
    # The platform&#39;s health checks for the tag. Platforms without tag diagnostics answer 501.  Meta: the pixel&#39;s checks from Events Manager (&#x60;da_checks&#x60;), e.g. whether events miss parameters or their content ids do not match the pixel&#39;s catalogs. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTrackingTagDiagnostics200Response, Integer, Hash)>] GetTrackingTagDiagnostics200Response data, response status code and response headers
    def get_tracking_tag_diagnostics_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag_diagnostics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag_diagnostics"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag_diagnostics"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/diagnostics'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTagDiagnostics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag_diagnostics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag_diagnostics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get aggregated event stats
    # Returns event counts / health for the tag, where the platform exposes them. Meta: aggregated counts (`GET /{pixel_id}/stats`), rows passed through as-is; their shape depends on the `aggregation` requested. Platforms without a stats API answer 501.  OpenAI Ads: the recent-events stream (`GET /conversions/events`), the latest (at most 50) events received in the last 15 minutes, one row per event (`event_type`, `api_channel`, `event_timestamp_ms`, `received_at_ms`, ...). Both sources appear: `api_channel` is `pixel_sdk` for the on-site Pixel (including its `openai::sdk_init` load event) and `server_to_server` for Conversions API events. It is a fixed window: `startTime`/`endTime` answer 400. Use it to confirm an install fires; attributed totals come from ads analytics. Accounts not enabled for the stream answer 422 `feature_not_available`.  LinkedIn (`linkedinads`): health rows rather than counts, since LinkedIn exposes no per- event fire counts: one row per site domain the tag has seen (`kind: domain`, `domainName`, `lastFiredTime`, `creationTime`, `blocked`), capped at the 100 domains that fired most recently (newest first; a tag seen on more domains drops the least recent), and one per conversion rule (`kind: conversion_rule`, `id`, `name`, `type`, `conversionMethod`, `status`, `lastFiredTime`). Times are unix seconds; `startTime`/`endTime` are ignored.  Pinterest (platform `pinterestads`): rows typed by `type`: one `tag` row (`lastFiredTime`, `status`, `enhancedMatchStatus`), `event` rows for the conversion events Pinterest has seen on the tag (`source` is `page_visit` or `ocpm_eligible`, the latter meaning the event can be optimized for, with the neutral `siteEvent` where one maps), and `event_quality` rows with the ad account's Event Quality Score for tag events over the last `1d` and `14d` (ad-account level, not per tag; an account Pinterest cannot score yet carries `error` instead). Pinterest has no time-bounded counts, so `startTime`/`endTime` answer 400.  TikTok: per-event counts from `/pixel/event/stats/` (`total_count`, `browser_event_total_count`, `server_event_total_count`, `attributed_count`, `preview_count`), bucketed by UTC day. Defaults to the last 7 days; at most 30 days per request. `aggregation` is not accepted.  X Ads (platform `xads`): X has no event counts per pixel or event (only campaign-level conversion metrics). Each row is one web event tag with its `status` (TRACKING, UNVERIFIED, DORMANT), `lastTrackedTime` (unix seconds, null if never seen), `autoCreated` and, for events the site can fire, `siteEventId`. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
    # @option opts [String] :aggregation Meta only (400 on other platforms): aggregation dimension. Defaults to &#x60;event&#x60;. (default to 'event')
    # @option opts [Integer] :start_time Unix seconds lower bound.
    # @option opts [Integer] :end_time Unix seconds upper bound.
    # @return [GetTrackingTagStats200Response]
    def get_tracking_tag_stats(account_id, tag_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_stats_with_http_info(account_id, tag_id, opts)
      data
    end

    # Get aggregated event stats
    # Returns event counts / health for the tag, where the platform exposes them. Meta: aggregated counts (&#x60;GET /{pixel_id}/stats&#x60;), rows passed through as-is; their shape depends on the &#x60;aggregation&#x60; requested. Platforms without a stats API answer 501.  OpenAI Ads: the recent-events stream (&#x60;GET /conversions/events&#x60;), the latest (at most 50) events received in the last 15 minutes, one row per event (&#x60;event_type&#x60;, &#x60;api_channel&#x60;, &#x60;event_timestamp_ms&#x60;, &#x60;received_at_ms&#x60;, ...). Both sources appear: &#x60;api_channel&#x60; is &#x60;pixel_sdk&#x60; for the on-site Pixel (including its &#x60;openai::sdk_init&#x60; load event) and &#x60;server_to_server&#x60; for Conversions API events. It is a fixed window: &#x60;startTime&#x60;/&#x60;endTime&#x60; answer 400. Use it to confirm an install fires; attributed totals come from ads analytics. Accounts not enabled for the stream answer 422 &#x60;feature_not_available&#x60;.  LinkedIn (&#x60;linkedinads&#x60;): health rows rather than counts, since LinkedIn exposes no per- event fire counts: one row per site domain the tag has seen (&#x60;kind: domain&#x60;, &#x60;domainName&#x60;, &#x60;lastFiredTime&#x60;, &#x60;creationTime&#x60;, &#x60;blocked&#x60;), capped at the 100 domains that fired most recently (newest first; a tag seen on more domains drops the least recent), and one per conversion rule (&#x60;kind: conversion_rule&#x60;, &#x60;id&#x60;, &#x60;name&#x60;, &#x60;type&#x60;, &#x60;conversionMethod&#x60;, &#x60;status&#x60;, &#x60;lastFiredTime&#x60;). Times are unix seconds; &#x60;startTime&#x60;/&#x60;endTime&#x60; are ignored.  Pinterest (platform &#x60;pinterestads&#x60;): rows typed by &#x60;type&#x60;: one &#x60;tag&#x60; row (&#x60;lastFiredTime&#x60;, &#x60;status&#x60;, &#x60;enhancedMatchStatus&#x60;), &#x60;event&#x60; rows for the conversion events Pinterest has seen on the tag (&#x60;source&#x60; is &#x60;page_visit&#x60; or &#x60;ocpm_eligible&#x60;, the latter meaning the event can be optimized for, with the neutral &#x60;siteEvent&#x60; where one maps), and &#x60;event_quality&#x60; rows with the ad account&#39;s Event Quality Score for tag events over the last &#x60;1d&#x60; and &#x60;14d&#x60; (ad-account level, not per tag; an account Pinterest cannot score yet carries &#x60;error&#x60; instead). Pinterest has no time-bounded counts, so &#x60;startTime&#x60;/&#x60;endTime&#x60; answer 400.  TikTok: per-event counts from &#x60;/pixel/event/stats/&#x60; (&#x60;total_count&#x60;, &#x60;browser_event_total_count&#x60;, &#x60;server_event_total_count&#x60;, &#x60;attributed_count&#x60;, &#x60;preview_count&#x60;), bucketed by UTC day. Defaults to the last 7 days; at most 30 days per request. &#x60;aggregation&#x60; is not accepted.  X Ads (platform &#x60;xads&#x60;): X has no event counts per pixel or event (only campaign-level conversion metrics). Each row is one web event tag with its &#x60;status&#x60; (TRACKING, UNVERIFIED, DORMANT), &#x60;lastTrackedTime&#x60; (unix seconds, null if never seen), &#x60;autoCreated&#x60; and, for events the site can fire, &#x60;siteEventId&#x60;. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account. Ignored elsewhere.
    # @option opts [String] :aggregation Meta only (400 on other platforms): aggregation dimension. Defaults to &#x60;event&#x60;. (default to 'event')
    # @option opts [Integer] :start_time Unix seconds lower bound.
    # @option opts [Integer] :end_time Unix seconds upper bound.
    # @return [Array<(GetTrackingTagStats200Response, Integer, Hash)>] GetTrackingTagStats200Response data, response status code and response headers
    def get_tracking_tag_stats_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag_stats ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag_stats"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag_stats"
      end
      allowable_values = ["event", "host", "url", "url_by_rule", "pixel_fire", "device_type", "device_os", "browser_type", "had_pii", "custom_data_field", "match_keys", "event_source", "event_detection_method", "event_processing_results", "event_total_counts", "event_value_count"]
      if @api_client.config.client_side_validation && opts[:'aggregation'] && !allowable_values.include?(opts[:'aggregation'])
        fail ArgumentError, "invalid value for \"aggregation\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/stats'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?
      query_params[:'aggregation'] = opts[:'aggregation'] if !opts[:'aggregation'].nil?
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTagStats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get store install status
    # Whether this tag is the one the Shopify store fires for its platform. `installedTagId` names the tag of that platform the store currently fires, which can be a different tag, and `tags` lists every Zernio tag on the store (all platforms).  WordPress: whether the Zernio widget for this pixel is live (in an active widget area, script intact), plus a read-only `preflight` with the theme's widget areas and, when an install would be blocked, the `reason` POST would return. The preflight reads capabilities only, so `ready: true` is not a guarantee: `DISALLOW_UNFILTERED_HTML` or a multisite admin who is not a Super Admin still strips the script, which POST detects. `tags` lists every Zernio widget on the site (all platforms, with `active`). 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param store_account_id [String] The connected Shopify or WordPress account id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the tag lookup on platforms whose tag ids live inside an ad account.
    # @return [GetTrackingTagStoreInstall200Response]
    def get_tracking_tag_store_install(account_id, tag_id, store_account_id, opts = {})
      data, _status_code, _headers = get_tracking_tag_store_install_with_http_info(account_id, tag_id, store_account_id, opts)
      data
    end

    # Get store install status
    # Whether this tag is the one the Shopify store fires for its platform. &#x60;installedTagId&#x60; names the tag of that platform the store currently fires, which can be a different tag, and &#x60;tags&#x60; lists every Zernio tag on the store (all platforms).  WordPress: whether the Zernio widget for this pixel is live (in an active widget area, script intact), plus a read-only &#x60;preflight&#x60; with the theme&#39;s widget areas and, when an install would be blocked, the &#x60;reason&#x60; POST would return. The preflight reads capabilities only, so &#x60;ready: true&#x60; is not a guarantee: &#x60;DISALLOW_UNFILTERED_HTML&#x60; or a multisite admin who is not a Super Admin still strips the script, which POST detects. &#x60;tags&#x60; lists every Zernio widget on the site (all platforms, with &#x60;active&#x60;). 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param store_account_id [String] The connected Shopify or WordPress account id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the tag lookup on platforms whose tag ids live inside an ad account.
    # @return [Array<(GetTrackingTagStoreInstall200Response, Integer, Hash)>] GetTrackingTagStoreInstall200Response data, response status code and response headers
    def get_tracking_tag_store_install_with_http_info(account_id, tag_id, store_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.get_tracking_tag_store_install ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.get_tracking_tag_store_install"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.get_tracking_tag_store_install"
      end
      # verify the required parameter 'store_account_id' is set
      if @api_client.config.client_side_validation && store_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'store_account_id' when calling TrackingTagsApi.get_tracking_tag_store_install"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/install'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'storeAccountId'] = store_account_id
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTrackingTagStoreInstall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.get_tracking_tag_store_install",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#get_tracking_tag_store_install\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Install on a Shopify store or WordPress site
    # Puts the Meta pixel on a connected Shopify store's storefront and checkout through Zernio's Shopify web pixel (a Shopify app pixel, no theme edits). The store then sends PageView, ViewContent, AddToCart, Search, InitiateCheckout, AddPaymentInfo and Purchase (with value, currency, content_ids and contents) to the pixel, each with an event id. Purchase uses `shopify_order_{orderId}` as its event id, so a Conversions API Purchase you send for the same order with that `eventId` is deduplicated by Meta.  Idempotent: a store runs one Zernio web pixel holding one tag per platform, so calling it again updates the install, installing a different tag of the same platform replaces the previous one (reported in `replacedTagId`), and other platforms' tags are kept. Events respect the store's customer privacy settings (marketing consent).  `accountId` is the Meta ads account that owns the pixel (`tagId`); `storeAccountId` is the Shopify account.  OpenAI Ads on Shopify: each event is sent through OpenAI's documented image tag (`GET https://bzr.openai.com/v1/sdk/events`) as `page_viewed`, `contents_viewed`, `items_added`, `checkout_started`, `order_created`, and custom events `search` and `addpaymentinfo` (lowercase, so a Conversions API Search/AddPaymentInfo with the same event id deduplicates). Amounts are sent in the currency's minor unit. The landing page's `oppref` click id is kept in the `__oppref` cookie for 30 days and sent with every event. The image tag cannot carry the `__obref` browser id (OpenAI rejects the parameter), and the search text is never sent. On WordPress the widget holds the official `oaiq` base code and a `page_viewed` call.  Stores connected before pixel support must re-approve the Zernio app: the call then answers 409 `reconnect_required` with `details.authUrl` to send the merchant to (the Shopify account id stays the same). Platforms without an install path return 501.  **WordPress** (`storeAccountId` is a connected WordPress.com or self-hosted site): Zernio adds a Custom HTML widget with the Meta pixel base code (fbevents.js, `init`, `PageView`) to a widget area of the active theme (a footer area when there is one, else the first active area; pass `sidebarId` to choose), then reads the widget back to confirm WordPress kept the `<script>` tag. The widget carries a Zernio marker, so the call is idempotent per pixel: repeating it updates or moves the same widget, and pixel code the site owner pasted by hand is never touched. Several pixels can run side by side (one widget each). When the site cannot run the pixel, nothing is left behind and the call answers 422 `tracking_tag_install_blocked` with `details.reason`: - `insufficient_permissions`: the connected user lacks `edit_theme_options` (needs Administrator). - `scripts_stripped`: WordPress removed the script (the user lacks `unfiltered_html`, e.g. a multisite admin who is not a Super Admin, or `DISALLOW_UNFILTERED_HTML` is set). - `wordpress_com_plan`: a WordPress.com plan that strips scripts (plans without plugins). - `no_widget_areas`: the theme has no widget areas (block themes such as Twenty Twenty-Five). - `widgets_api_unavailable`: no widgets REST API (WordPress older than 5.8, or disabled). The `error` message names the manual alternative (Meta's official WordPress plugin). With `verifyHomepage` (default true) the homepage is fetched afterwards and `homepageCheck` says whether the pixel is visible; `not_found` can be a stale page cache, the widget read-back is authoritative.  **LinkedIn** (`linkedinads`): Shopify sends every page view to the Insight Tag, plus each store event that has an enabled event-specific Insight Tag conversion rule of the matching type (view_content = VIEW_CONTENT, add_to_cart = ADD_TO_CART, search = SEARCH, initiate_checkout = START_CHECKOUT, add_payment_info = ADD_BILLING_INFO, purchase = PURCHASE). Each conversion carries the event id; Purchase uses `shopify_order_{orderId}`, so a Conversions API event sent to a separate CONVERSIONS_API rule with that `eventId` is deduplicated by LinkedIn. Conversions API rules cannot be fired from a page, and no rule is created for you. The `li_fat_id` click id is read from the landing URL and kept in a first-party cookie for 30 days. WordPress gets LinkedIn's base code, which records page views.  **Pinterest (platform `pinterestads`)**: Shopify sends `pagevisit`, `viewcontent`, `addtocart`, `search`, `initiatecheckout`, `addpaymentinfo` and `checkout` to the tag, each with `event_id` (Purchase: `shopify_order_{orderId}`, for dedup with the Pinterest Conversions API), value, currency, order quantity and line items, plus the `epik` click id kept in the `_epik` cookie. WordPress gets Pinterest's base code (core.js, `load`, `page`) with a `pagevisit` event; the manual fallback is the official Pinterest for WooCommerce plugin (WooCommerce stores). 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param install_tracking_tag_on_store_request [InstallTrackingTagOnStoreRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InstallTrackingTagOnStore200Response]
    def install_tracking_tag_on_store(account_id, tag_id, install_tracking_tag_on_store_request, opts = {})
      data, _status_code, _headers = install_tracking_tag_on_store_with_http_info(account_id, tag_id, install_tracking_tag_on_store_request, opts)
      data
    end

    # Install on a Shopify store or WordPress site
    # Puts the Meta pixel on a connected Shopify store&#39;s storefront and checkout through Zernio&#39;s Shopify web pixel (a Shopify app pixel, no theme edits). The store then sends PageView, ViewContent, AddToCart, Search, InitiateCheckout, AddPaymentInfo and Purchase (with value, currency, content_ids and contents) to the pixel, each with an event id. Purchase uses &#x60;shopify_order_{orderId}&#x60; as its event id, so a Conversions API Purchase you send for the same order with that &#x60;eventId&#x60; is deduplicated by Meta.  Idempotent: a store runs one Zernio web pixel holding one tag per platform, so calling it again updates the install, installing a different tag of the same platform replaces the previous one (reported in &#x60;replacedTagId&#x60;), and other platforms&#39; tags are kept. Events respect the store&#39;s customer privacy settings (marketing consent).  &#x60;accountId&#x60; is the Meta ads account that owns the pixel (&#x60;tagId&#x60;); &#x60;storeAccountId&#x60; is the Shopify account.  OpenAI Ads on Shopify: each event is sent through OpenAI&#39;s documented image tag (&#x60;GET https://bzr.openai.com/v1/sdk/events&#x60;) as &#x60;page_viewed&#x60;, &#x60;contents_viewed&#x60;, &#x60;items_added&#x60;, &#x60;checkout_started&#x60;, &#x60;order_created&#x60;, and custom events &#x60;search&#x60; and &#x60;addpaymentinfo&#x60; (lowercase, so a Conversions API Search/AddPaymentInfo with the same event id deduplicates). Amounts are sent in the currency&#39;s minor unit. The landing page&#39;s &#x60;oppref&#x60; click id is kept in the &#x60;__oppref&#x60; cookie for 30 days and sent with every event. The image tag cannot carry the &#x60;__obref&#x60; browser id (OpenAI rejects the parameter), and the search text is never sent. On WordPress the widget holds the official &#x60;oaiq&#x60; base code and a &#x60;page_viewed&#x60; call.  Stores connected before pixel support must re-approve the Zernio app: the call then answers 409 &#x60;reconnect_required&#x60; with &#x60;details.authUrl&#x60; to send the merchant to (the Shopify account id stays the same). Platforms without an install path return 501.  **WordPress** (&#x60;storeAccountId&#x60; is a connected WordPress.com or self-hosted site): Zernio adds a Custom HTML widget with the Meta pixel base code (fbevents.js, &#x60;init&#x60;, &#x60;PageView&#x60;) to a widget area of the active theme (a footer area when there is one, else the first active area; pass &#x60;sidebarId&#x60; to choose), then reads the widget back to confirm WordPress kept the &#x60;&lt;script&gt;&#x60; tag. The widget carries a Zernio marker, so the call is idempotent per pixel: repeating it updates or moves the same widget, and pixel code the site owner pasted by hand is never touched. Several pixels can run side by side (one widget each). When the site cannot run the pixel, nothing is left behind and the call answers 422 &#x60;tracking_tag_install_blocked&#x60; with &#x60;details.reason&#x60;: - &#x60;insufficient_permissions&#x60;: the connected user lacks &#x60;edit_theme_options&#x60; (needs Administrator). - &#x60;scripts_stripped&#x60;: WordPress removed the script (the user lacks &#x60;unfiltered_html&#x60;, e.g. a multisite admin who is not a Super Admin, or &#x60;DISALLOW_UNFILTERED_HTML&#x60; is set). - &#x60;wordpress_com_plan&#x60;: a WordPress.com plan that strips scripts (plans without plugins). - &#x60;no_widget_areas&#x60;: the theme has no widget areas (block themes such as Twenty Twenty-Five). - &#x60;widgets_api_unavailable&#x60;: no widgets REST API (WordPress older than 5.8, or disabled). The &#x60;error&#x60; message names the manual alternative (Meta&#39;s official WordPress plugin). With &#x60;verifyHomepage&#x60; (default true) the homepage is fetched afterwards and &#x60;homepageCheck&#x60; says whether the pixel is visible; &#x60;not_found&#x60; can be a stale page cache, the widget read-back is authoritative.  **LinkedIn** (&#x60;linkedinads&#x60;): Shopify sends every page view to the Insight Tag, plus each store event that has an enabled event-specific Insight Tag conversion rule of the matching type (view_content &#x3D; VIEW_CONTENT, add_to_cart &#x3D; ADD_TO_CART, search &#x3D; SEARCH, initiate_checkout &#x3D; START_CHECKOUT, add_payment_info &#x3D; ADD_BILLING_INFO, purchase &#x3D; PURCHASE). Each conversion carries the event id; Purchase uses &#x60;shopify_order_{orderId}&#x60;, so a Conversions API event sent to a separate CONVERSIONS_API rule with that &#x60;eventId&#x60; is deduplicated by LinkedIn. Conversions API rules cannot be fired from a page, and no rule is created for you. The &#x60;li_fat_id&#x60; click id is read from the landing URL and kept in a first-party cookie for 30 days. WordPress gets LinkedIn&#39;s base code, which records page views.  **Pinterest (platform &#x60;pinterestads&#x60;)**: Shopify sends &#x60;pagevisit&#x60;, &#x60;viewcontent&#x60;, &#x60;addtocart&#x60;, &#x60;search&#x60;, &#x60;initiatecheckout&#x60;, &#x60;addpaymentinfo&#x60; and &#x60;checkout&#x60; to the tag, each with &#x60;event_id&#x60; (Purchase: &#x60;shopify_order_{orderId}&#x60;, for dedup with the Pinterest Conversions API), value, currency, order quantity and line items, plus the &#x60;epik&#x60; click id kept in the &#x60;_epik&#x60; cookie. WordPress gets Pinterest&#39;s base code (core.js, &#x60;load&#x60;, &#x60;page&#x60;) with a &#x60;pagevisit&#x60; event; the manual fallback is the official Pinterest for WooCommerce plugin (WooCommerce stores). 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param install_tracking_tag_on_store_request [InstallTrackingTagOnStoreRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstallTrackingTagOnStore200Response, Integer, Hash)>] InstallTrackingTagOnStore200Response data, response status code and response headers
    def install_tracking_tag_on_store_with_http_info(account_id, tag_id, install_tracking_tag_on_store_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.install_tracking_tag_on_store ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.install_tracking_tag_on_store"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.install_tracking_tag_on_store"
      end
      # verify the required parameter 'install_tracking_tag_on_store_request' is set
      if @api_client.config.client_side_validation && install_tracking_tag_on_store_request.nil?
        fail ArgumentError, "Missing the required parameter 'install_tracking_tag_on_store_request' when calling TrackingTagsApi.install_tracking_tag_on_store"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/install'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(install_tracking_tag_on_store_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InstallTrackingTagOnStore200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.install_tracking_tag_on_store",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#install_tracking_tag_on_store\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List conversion events
    # The tag's conversion events, on platforms where each conversion is its own object: Google conversion actions, LinkedIn conversion rules, X web event tags, OpenAI event settings, TikTok pixel events, Meta custom conversions, Pinterest advertiser defined events.  OpenAI Ads: the account's conversion event settings whose source is this pixel. `siteEventId` is the event name the site sends (a standard event such as `order_created`, or the lowercase custom event name); `clickWindowDays` is the click attribution window and `viewWindowDays` the view-through window (0 = off).  LinkedIn (`linkedinads`): the conversion rules of the ad account (`adAccountId`, default the account that created the tag), including Conversions API and URL-match rules. `siteEventId` (the rule id a page fires) is set only on event-specific Insight Tag rules; `defaultValue`/`currency` come from the rule value, `clickWindowDays`/`viewWindowDays` from its post-click and view-through windows.  Meta: the pixel's custom conversions. Meta keeps them per AD ACCOUNT (a pixel has no custom conversions edge), so the list reads `adAccountId` (default: the pixel's owner ad account) and keeps the conversions whose pixel is this one. Archived conversions are included with `status: archived`. `urlContains` and `siteEvent` are parsed from Meta's rule.  Google Ads (`googleads`): the enabled WEBPAGE conversion actions of the account; `siteEventId` is the conversion label (the part after `AW-.../` in `send_to`), and value settings, lookback windows, `primary` and `countingType` are returned. Archived (removed) actions are listed with status `REMOVED`; imported (GA4, upload, app) actions are not events of the tag.  Pinterest (platform `pinterestads`): the ad account's advertiser defined events, custom event names mapped to a standard type (`type`, e.g. `SIGNUP`). They belong to the ad account, so every tag on it shares them. `id`, `name` and `siteEventId` are all the event name, which the site sends as `pintrk('track', '<name>')` or the Conversions API sends as `event_name`. Standard events (`pagevisit`, `checkout`...) need no object and are not listed.  TikTok: the pixel's events from `/pixel/list/`. TikTok refreshes this list every 2 to 4 hours, so a just-created event can be missing. `siteEventId` is the `ttq.track()` name the site fires.  X Ads (platform `xads`): the ad account's web event tags the site can fire. Events X auto-creates with the pixel (site visits, landing page views, one per standard type) share the pixel id, cannot be fired one by one and are left out; they still appear in stats. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account.
    # @return [ListTrackingTagEvents200Response]
    def list_tracking_tag_events(account_id, tag_id, opts = {})
      data, _status_code, _headers = list_tracking_tag_events_with_http_info(account_id, tag_id, opts)
      data
    end

    # List conversion events
    # The tag&#39;s conversion events, on platforms where each conversion is its own object: Google conversion actions, LinkedIn conversion rules, X web event tags, OpenAI event settings, TikTok pixel events, Meta custom conversions, Pinterest advertiser defined events.  OpenAI Ads: the account&#39;s conversion event settings whose source is this pixel. &#x60;siteEventId&#x60; is the event name the site sends (a standard event such as &#x60;order_created&#x60;, or the lowercase custom event name); &#x60;clickWindowDays&#x60; is the click attribution window and &#x60;viewWindowDays&#x60; the view-through window (0 &#x3D; off).  LinkedIn (&#x60;linkedinads&#x60;): the conversion rules of the ad account (&#x60;adAccountId&#x60;, default the account that created the tag), including Conversions API and URL-match rules. &#x60;siteEventId&#x60; (the rule id a page fires) is set only on event-specific Insight Tag rules; &#x60;defaultValue&#x60;/&#x60;currency&#x60; come from the rule value, &#x60;clickWindowDays&#x60;/&#x60;viewWindowDays&#x60; from its post-click and view-through windows.  Meta: the pixel&#39;s custom conversions. Meta keeps them per AD ACCOUNT (a pixel has no custom conversions edge), so the list reads &#x60;adAccountId&#x60; (default: the pixel&#39;s owner ad account) and keeps the conversions whose pixel is this one. Archived conversions are included with &#x60;status: archived&#x60;. &#x60;urlContains&#x60; and &#x60;siteEvent&#x60; are parsed from Meta&#39;s rule.  Google Ads (&#x60;googleads&#x60;): the enabled WEBPAGE conversion actions of the account; &#x60;siteEventId&#x60; is the conversion label (the part after &#x60;AW-.../&#x60; in &#x60;send_to&#x60;), and value settings, lookback windows, &#x60;primary&#x60; and &#x60;countingType&#x60; are returned. Archived (removed) actions are listed with status &#x60;REMOVED&#x60;; imported (GA4, upload, app) actions are not events of the tag.  Pinterest (platform &#x60;pinterestads&#x60;): the ad account&#39;s advertiser defined events, custom event names mapped to a standard type (&#x60;type&#x60;, e.g. &#x60;SIGNUP&#x60;). They belong to the ad account, so every tag on it shares them. &#x60;id&#x60;, &#x60;name&#x60; and &#x60;siteEventId&#x60; are all the event name, which the site sends as &#x60;pintrk(&#39;track&#39;, &#39;&lt;name&gt;&#39;)&#x60; or the Conversions API sends as &#x60;event_name&#x60;. Standard events (&#x60;pagevisit&#x60;, &#x60;checkout&#x60;...) need no object and are not listed.  TikTok: the pixel&#39;s events from &#x60;/pixel/list/&#x60;. TikTok refreshes this list every 2 to 4 hours, so a just-created event can be missing. &#x60;siteEventId&#x60; is the &#x60;ttq.track()&#x60; name the site fires.  X Ads (platform &#x60;xads&#x60;): the ad account&#39;s web event tags the site can fire. Events X auto-creates with the pixel (site visits, landing page views, one per standard type) share the pixel id, cannot be fired one by one and are left out; they still appear in stats. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ad_account_id Scopes the lookup on platforms whose tag ids live inside an ad account.
    # @return [Array<(ListTrackingTagEvents200Response, Integer, Hash)>] ListTrackingTagEvents200Response data, response status code and response headers
    def list_tracking_tag_events_with_http_info(account_id, tag_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TrackingTagsApi.list_tracking_tag_events ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TrackingTagsApi.list_tracking_tag_events"
      end
      # verify the required parameter 'tag_id' is set
      if @api_client.config.client_side_validation && tag_id.nil?
        fail ArgumentError, "Missing the required parameter 'tag_id' when calling TrackingTagsApi.list_tracking_tag_events"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/tracking-tags/{tagId}/events'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'tagId' + '}', CGI.escape(tag_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'adAccountId'] = opts[:'ad_account_id'] if !opts[:'ad_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListTrackingTagEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TrackingTagsApi.list_tracking_tag_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TrackingTagsApi#list_tracking_tag_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List partner businesses of a tag
    # Other businesses the tag is shared with. Read-only. Platforms without partner sharing answer 501.  Meta: the pixel's shared agencies. Sharing a pixel with a new partner is not available: `/{pixel}/agencies` answers \"(#3) Application does not have the capability to make this API call\" for our app. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [ListTrackingTagPartners200Response]
    def list_tracking_tag_partners(account_id, tag_id, opts = {})
      data, _status_code, _headers = list_tracking_tag_partners_with_http_info(account_id, tag_id, opts)
      data
    end

    # List partner businesses of a tag
    # Other businesses the tag is shared with. Read-only. Platforms without partner sharing answer 501.  Meta: the pixel&#39;s shared agencies. Sharing a pixel with a new partner is not available: &#x60;/{pixel}/agencies&#x60; answers \&quot;(#3) Application does not have the capability to make this API call\&quot; for our app. 
    # @param account_id [String] 
    # @param tag_id [String] Tag id (&#x60;TrackingTag.id&#x60;).
    # @param [Hash] opts the optional parameters
[...]
