=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class TwitterEngagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bookmark a tweet
    # Bookmark a tweet by ID. Requires the bookmark.write OAuth scope. Rate limit: 50 requests per 15-min window. 
    # @param bookmark_post_request [BookmarkPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BookmarkPost200Response]
    def bookmark_post(bookmark_post_request, opts = {})
      data, _status_code, _headers = bookmark_post_with_http_info(bookmark_post_request, opts)
      data
    end

    # Bookmark a tweet
    # Bookmark a tweet by ID. Requires the bookmark.write OAuth scope. Rate limit: 50 requests per 15-min window. 
    # @param bookmark_post_request [BookmarkPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BookmarkPost200Response, Integer, Hash)>] BookmarkPost200Response data, response status code and response headers
    def bookmark_post_with_http_info(bookmark_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterEngagementApi.bookmark_post ...'
      end
      # verify the required parameter 'bookmark_post_request' is set
      if @api_client.config.client_side_validation && bookmark_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'bookmark_post_request' when calling TwitterEngagementApi.bookmark_post"
      end
      # resource path
      local_var_path = '/v1/twitter/bookmark'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bookmark_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BookmarkPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TwitterEngagementApi.bookmark_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterEngagementApi#bookmark_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Follow a user
    # Follow a user on X/Twitter. Requires the follows.write OAuth scope. For protected accounts, a follow request is sent instead (pending_follow will be true). 
    # @param follow_user_request [FollowUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FollowUser200Response]
    def follow_user(follow_user_request, opts = {})
      data, _status_code, _headers = follow_user_with_http_info(follow_user_request, opts)
      data
    end

    # Follow a user
    # Follow a user on X/Twitter. Requires the follows.write OAuth scope. For protected accounts, a follow request is sent instead (pending_follow will be true). 
    # @param follow_user_request [FollowUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FollowUser200Response, Integer, Hash)>] FollowUser200Response data, response status code and response headers
    def follow_user_with_http_info(follow_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterEngagementApi.follow_user ...'
      end
      # verify the required parameter 'follow_user_request' is set
      if @api_client.config.client_side_validation && follow_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'follow_user_request' when calling TwitterEngagementApi.follow_user"
      end
      # resource path
      local_var_path = '/v1/twitter/follow'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(follow_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FollowUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TwitterEngagementApi.follow_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterEngagementApi#follow_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove bookmark
    # Remove a bookmark from a tweet. 
    # @param account_id [String] 
    # @param tweet_id [String] The ID of the tweet to unbookmark
    # @param [Hash] opts the optional parameters
    # @return [RemoveBookmark200Response]
    def remove_bookmark(account_id, tweet_id, opts = {})
      data, _status_code, _headers = remove_bookmark_with_http_info(account_id, tweet_id, opts)
      data
    end

    # Remove bookmark
    # Remove a bookmark from a tweet. 
    # @param account_id [String] 
    # @param tweet_id [String] The ID of the tweet to unbookmark
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemoveBookmark200Response, Integer, Hash)>] RemoveBookmark200Response data, response status code and response headers
    def remove_bookmark_with_http_info(account_id, tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterEngagementApi.remove_bookmark ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TwitterEngagementApi.remove_bookmark"
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterEngagementApi.remove_bookmark"
      end
      # resource path
      local_var_path = '/v1/twitter/bookmark'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'tweetId'] = tweet_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RemoveBookmark200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TwitterEngagementApi.remove_bookmark",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterEngagementApi#remove_bookmark\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retweet a post
    # Retweet (repost) a tweet by ID. Rate limit: 50 requests per 15-min window. Shares the 300/3hr creation limit with tweet creation. 
    # @param retweet_post_request [RetweetPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RetweetPost200Response]
    def retweet_post(retweet_post_request, opts = {})
      data, _status_code, _headers = retweet_post_with_http_info(retweet_post_request, opts)
      data
    end

    # Retweet a post
    # Retweet (repost) a tweet by ID. Rate limit: 50 requests per 15-min window. Shares the 300/3hr creation limit with tweet creation. 
    # @param retweet_post_request [RetweetPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RetweetPost200Response, Integer, Hash)>] RetweetPost200Response data, response status code and response headers
    def retweet_post_with_http_info(retweet_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterEngagementApi.retweet_post ...'
      end
      # verify the required parameter 'retweet_post_request' is set
      if @api_client.config.client_side_validation && retweet_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'retweet_post_request' when calling TwitterEngagementApi.retweet_post"
      end
      # resource path
      local_var_path = '/v1/twitter/retweet'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(retweet_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RetweetPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TwitterEngagementApi.retweet_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterEngagementApi#retweet_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search recent tweets
    # Search public tweets from the last 7 days matching an X search query, e.g. to discover tweets to reply to. The query string is passed through to X unchanged and supports X's search operators (`from:user`, `-is:retweet`, `is:reply`, `lang:en`, `\"exact phrase\"`, `conversation_id:123`, boolean `OR`, ...). Note that standalone operators like `is:` / `has:` / `lang:` must be combined with a keyword or `from:` clause.  To reply to a found tweet, pass its `id` as the twitter platform entry's `platformSpecificData.replyToTweetId` when creating a post.  Rate limit: 300 requests per 15-min window per connected account. 
    # @param account_id [String] The social account ID
    # @param query [String] X search query, max 512 characters. Operators are passed through unchanged; X rejects malformed queries with a 400.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Results per page. X requires a minimum of 10; values below 10 are rejected. (default to 10)
    # @option opts [String] :since_id Only return tweets with an ID greater than (more recent than) this numeric tweet ID. Non-numeric values are rejected with 400.
    # @option opts [String] :until_id Only return tweets with an ID less than (older than) this numeric tweet ID. Non-numeric values are rejected with 400.
    # @option opts [Time] :start_time Oldest UTC timestamp (ISO 8601, inclusive), within the last 7 days
    # @option opts [Time] :end_time Newest UTC timestamp (ISO 8601, exclusive), within the last 7 days
    # @option opts [String] :cursor Pagination cursor from a previous response
    # @option opts [String] :sort_order  (default to 'recency')
    # @return [SearchTweets200Response]
    def search_tweets(account_id, query, opts = {})
      data, _status_code, _headers = search_tweets_with_http_info(account_id, query, opts)
      data
    end

    # Search recent tweets
    # Search public tweets from the last 7 days matching an X search query, e.g. to discover tweets to reply to. The query string is passed through to X unchanged and supports X&#39;s search operators (&#x60;from:user&#x60;, &#x60;-is:retweet&#x60;, &#x60;is:reply&#x60;, &#x60;lang:en&#x60;, &#x60;\&quot;exact phrase\&quot;&#x60;, &#x60;conversation_id:123&#x60;, boolean &#x60;OR&#x60;, ...). Note that standalone operators like &#x60;is:&#x60; / &#x60;has:&#x60; / &#x60;lang:&#x60; must be combined with a keyword or &#x60;from:&#x60; clause.  To reply to a found tweet, pass its &#x60;id&#x60; as the twitter platform entry&#39;s &#x60;platformSpecificData.replyToTweetId&#x60; when creating a post.  Rate limit: 300 requests per 15-min window per connected account. 
    # @param account_id [String] The social account ID
    # @param query [String] X search query, max 512 characters. Operators are passed through unchanged; X rejects malformed queries with a 400.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Results per page. X requires a minimum of 10; values below 10 are rejected. (default to 10)
    # @option opts [String] :since_id Only return tweets with an ID greater than (more recent than) this numeric tweet ID. Non-numeric values are rejected with 400.
    # @option opts [String] :until_id Only return tweets with an ID less than (older than) this numeric tweet ID. Non-numeric values are rejected with 400.
    # @option opts [Time] :start_time Oldest UTC timestamp (ISO 8601, inclusive), within the last 7 days
    # @option opts [Time] :end_time Newest UTC timestamp (ISO 8601, exclusive), within the last 7 days
    # @option opts [String] :cursor Pagination cursor from a previous response
    # @option opts [String] :sort_order  (default to 'recency')
    # @return [Array<(SearchTweets200Response, Integer, Hash)>] SearchTweets200Response data, response status code and response headers
    def search_tweets_with_http_info(account_id, query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterEngagementApi.search_tweets ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TwitterEngagementApi.search_tweets"
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling TwitterEngagementApi.search_tweets"
      end
      if @api_client.config.client_side_validation && query.to_s.length > 512
        fail ArgumentError, 'invalid value for "query" when calling TwitterEngagementApi.search_tweets, the character length must be smaller than or equal to 512.'
      end

      if @api_client.config.client_side_validation && query.to_s.length < 1
        fail ArgumentError, 'invalid value for "query" when calling TwitterEngagementApi.search_tweets, the character length must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TwitterEngagementApi.search_tweets, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 10
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TwitterEngagementApi.search_tweets, must be greater than or equal to 10.'
      end

      pattern = Regexp.new(/^[0-9]{1,19}$/)
      if @api_client.config.client_side_validation && !opts[:'since_id'].nil? && opts[:'since_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"since_id\"]' when calling TwitterEngagementApi.search_tweets, must conform to the pattern #{pattern}."
      end

      pattern = Regexp.new(/^[0-9]{1,19}$/)
      if @api_client.config.client_side_validation && !opts[:'until_id'].nil? && opts[:'until_id'] !~ pattern
        fail ArgumentError, "invalid value for 'opts[:\"until_id\"]' when calling TwitterEngagementApi.search_tweets, must conform to the pattern #{pattern}."
      end

      allowable_values = ["recency", "relevancy"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/twitter/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'query'] = query
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sinceId'] = opts[:'since_id'] if !opts[:'since_id'].nil?
      query_params[:'untilId'] = opts[:'until_id'] if !opts[:'until_id'].nil?
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchTweets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TwitterEngagementApi.search_tweets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterEngagementApi#search_tweets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Undo retweet
    # Undo a retweet (un-repost a tweet). 
    # @param account_id [String] 
    # @param tweet_id [String] The ID of the original tweet to un-retweet
    # @param [Hash] opts the optional parameters
    # @return [UndoRetweet200Response]
    def undo_retweet(account_id, tweet_id, opts = {})
      data, _status_code, _headers = undo_retweet_with_http_info(account_id, tweet_id, opts)
      data
    end

    # Undo retweet
    # Undo a retweet (un-repost a tweet). 
    # @param account_id [String] 
    # @param tweet_id [String] The ID of the original tweet to un-retweet
    # @param [Hash] opts the optional parameters
    # @return [Array<(UndoRetweet200Response, Integer, Hash)>] UndoRetweet200Response data, response status code and response headers
    def undo_retweet_with_http_info(account_id, tweet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterEngagementApi.undo_retweet ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TwitterEngagementApi.undo_retweet"
      end
      # verify the required parameter 'tweet_id' is set
      if @api_client.config.client_side_validation && tweet_id.nil?
        fail ArgumentError, "Missing the required parameter 'tweet_id' when calling TwitterEngagementApi.undo_retweet"
      end
      # resource path
      local_var_path = '/v1/twitter/retweet'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'tweetId'] = tweet_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UndoRetweet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TwitterEngagementApi.undo_retweet",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterEngagementApi#undo_retweet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unfollow a user
    # Unfollow a user on X/Twitter. 
    # @param account_id [String] 
    # @param target_user_id [String] The Twitter ID of the user to unfollow
    # @param [Hash] opts the optional parameters
    # @return [UnfollowUser200Response]
    def unfollow_user(account_id, target_user_id, opts = {})
      data, _status_code, _headers = unfollow_user_with_http_info(account_id, target_user_id, opts)
      data
    end

    # Unfollow a user
    # Unfollow a user on X/Twitter. 
    # @param account_id [String] 
    # @param target_user_id [String] The Twitter ID of the user to unfollow
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnfollowUser200Response, Integer, Hash)>] UnfollowUser200Response data, response status code and response headers
    def unfollow_user_with_http_info(account_id, target_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterEngagementApi.unfollow_user ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TwitterEngagementApi.unfollow_user"
      end
      # verify the required parameter 'target_user_id' is set
      if @api_client.config.client_side_validation && target_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'target_user_id' when calling TwitterEngagementApi.unfollow_user"
      end
      # resource path
      local_var_path = '/v1/twitter/follow'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'targetUserId'] = target_user_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnfollowUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"TwitterEngagementApi.unfollow_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterEngagementApi#unfollow_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
