=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class VerifyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check a verification code
    # Verify the code the user typed. Wrong, expired, and exhausted codes answer 200 with `valid: false` and the settled `status` — only an unknown id is a 404. A correct code consumes the verification (single-use, `status: approved`) and fires the `verification.approved` webhook; the 5th wrong attempt settles it as `max_attempts_reached` and fires `verification.failed`. 
    # @param verification_id [String] 
    # @param check_verification_request [CheckVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CheckVerification200Response]
    def check_verification(verification_id, check_verification_request, opts = {})
      data, _status_code, _headers = check_verification_with_http_info(verification_id, check_verification_request, opts)
      data
    end

    # Check a verification code
    # Verify the code the user typed. Wrong, expired, and exhausted codes answer 200 with &#x60;valid: false&#x60; and the settled &#x60;status&#x60; — only an unknown id is a 404. A correct code consumes the verification (single-use, &#x60;status: approved&#x60;) and fires the &#x60;verification.approved&#x60; webhook; the 5th wrong attempt settles it as &#x60;max_attempts_reached&#x60; and fires &#x60;verification.failed&#x60;. 
    # @param verification_id [String] 
    # @param check_verification_request [CheckVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckVerification200Response, Integer, Hash)>] CheckVerification200Response data, response status code and response headers
    def check_verification_with_http_info(verification_id, check_verification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifyApi.check_verification ...'
      end
      # verify the required parameter 'verification_id' is set
      if @api_client.config.client_side_validation && verification_id.nil?
        fail ArgumentError, "Missing the required parameter 'verification_id' when calling VerifyApi.check_verification"
      end
      # verify the required parameter 'check_verification_request' is set
      if @api_client.config.client_side_validation && check_verification_request.nil?
        fail ArgumentError, "Missing the required parameter 'check_verification_request' when calling VerifyApi.check_verification"
      end
      # resource path
      local_var_path = '/v1/verify/verifications/{verificationId}/check'.sub('{' + 'verificationId' + '}', CGI.escape(verification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_verification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckVerification200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VerifyApi.check_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifyApi#check_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a verification code
    # Generate a one-time code, deliver it to the recipient, and store only its hash. Check the user-typed code with POST /v1/verify/verifications/{verificationId}/check.  Re-POSTing for the same (channel, to) while a verification is active RESENDS a fresh code on the existing verification (200 with `resend: true`) instead of creating a new one; resends are limited to one per 60 seconds (429 with `retryAfterSeconds` inside the cooldown). The stored brandName/codeLength/ttlMinutes win on a resend.  Codes deliver by SMS from a phone number on your account (`from` optional when you own exactly one SMS-enabled number) and the message uses a fixed template. Each accepted send bills one verification fee plus the standard message rate. 
    # @param create_verification_request [CreateVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Verification]
    def create_verification(create_verification_request, opts = {})
      data, _status_code, _headers = create_verification_with_http_info(create_verification_request, opts)
      data
    end

    # Send a verification code
    # Generate a one-time code, deliver it to the recipient, and store only its hash. Check the user-typed code with POST /v1/verify/verifications/{verificationId}/check.  Re-POSTing for the same (channel, to) while a verification is active RESENDS a fresh code on the existing verification (200 with &#x60;resend: true&#x60;) instead of creating a new one; resends are limited to one per 60 seconds (429 with &#x60;retryAfterSeconds&#x60; inside the cooldown). The stored brandName/codeLength/ttlMinutes win on a resend.  Codes deliver by SMS from a phone number on your account (&#x60;from&#x60; optional when you own exactly one SMS-enabled number) and the message uses a fixed template. Each accepted send bills one verification fee plus the standard message rate. 
    # @param create_verification_request [CreateVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Verification, Integer, Hash)>] Verification data, response status code and response headers
    def create_verification_with_http_info(create_verification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifyApi.create_verification ...'
      end
      # verify the required parameter 'create_verification_request' is set
      if @api_client.config.client_side_validation && create_verification_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_verification_request' when calling VerifyApi.create_verification"
      end
      # resource path
      local_var_path = '/v1/verify/verifications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_verification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Verification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VerifyApi.create_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifyApi#create_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a verification
    # Current state of a verification. `status` is effective (a pending code past its expiry reads as `expired`). Verification records are deleted 24 hours after creation, after which this returns 404. 
    # @param verification_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Verification]
    def get_verification(verification_id, opts = {})
      data, _status_code, _headers = get_verification_with_http_info(verification_id, opts)
      data
    end

    # Get a verification
    # Current state of a verification. &#x60;status&#x60; is effective (a pending code past its expiry reads as &#x60;expired&#x60;). Verification records are deleted 24 hours after creation, after which this returns 404. 
    # @param verification_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Verification, Integer, Hash)>] Verification data, response status code and response headers
    def get_verification_with_http_info(verification_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifyApi.get_verification ...'
      end
      # verify the required parameter 'verification_id' is set
      if @api_client.config.client_side_validation && verification_id.nil?
        fail ArgumentError, "Missing the required parameter 'verification_id' when calling VerifyApi.get_verification"
      end
      # resource path
      local_var_path = '/v1/verify/verifications/{verificationId}'.sub('{' + 'verificationId' + '}', CGI.escape(verification_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Verification'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VerifyApi.get_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifyApi#get_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
