=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class VoiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Place an outbound phone call
    # Dials `to` FROM one of your voice-enabled numbers and, on answer, bridges the callee to the number's stored forward destination, or to the per-call `forwardTo` override. Destinations can be your own AI voice agent (Vapi/Retell), a phone, or a SIP endpoint. An optional `greeting` is spoken to the callee before the bridge.  The 200 response means the call is dialing; the lifecycle continues asynchronously (track it via `GET /v1/voice/calls/{id}` or the `call.*` webhooks). Outbound calls are capped per rolling hour (429 when hit).  **Idempotency:** send an `Idempotency-Key` header to make retries safe; same key + same body replays the original response instead of dialing (and billing) a second call. The body `idempotencyKey` field predates the header and keeps working; prefer the header. 
    # @param create_voice_call_request [CreateVoiceCallRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes dial retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [CreateVoiceCall200Response]
    def create_voice_call(create_voice_call_request, opts = {})
      data, _status_code, _headers = create_voice_call_with_http_info(create_voice_call_request, opts)
      data
    end

    # Place an outbound phone call
    # Dials &#x60;to&#x60; FROM one of your voice-enabled numbers and, on answer, bridges the callee to the number&#39;s stored forward destination, or to the per-call &#x60;forwardTo&#x60; override. Destinations can be your own AI voice agent (Vapi/Retell), a phone, or a SIP endpoint. An optional &#x60;greeting&#x60; is spoken to the callee before the bridge.  The 200 response means the call is dialing; the lifecycle continues asynchronously (track it via &#x60;GET /v1/voice/calls/{id}&#x60; or the &#x60;call.*&#x60; webhooks). Outbound calls are capped per rolling hour (429 when hit).  **Idempotency:** send an &#x60;Idempotency-Key&#x60; header to make retries safe; same key + same body replays the original response instead of dialing (and billing) a second call. The body &#x60;idempotencyKey&#x60; field predates the header and keeps working; prefer the header. 
    # @param create_voice_call_request [CreateVoiceCallRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Optional client-generated unique key (e.g. a UUID) that makes dial retries safe. Same key + same body replays the original response; same key + different body → 422; key still processing → 409.
    # @return [Array<(CreateVoiceCall200Response, Integer, Hash)>] CreateVoiceCall200Response data, response status code and response headers
    def create_voice_call_with_http_info(create_voice_call_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.create_voice_call ...'
      end
      # verify the required parameter 'create_voice_call_request' is set
      if @api_client.config.client_side_validation && create_voice_call_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_voice_call_request' when calling VoiceApi.create_voice_call"
      end
      if @api_client.config.client_side_validation && !opts[:'idempotency_key'].nil? && opts[:'idempotency_key'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"idempotency_key"]" when calling VoiceApi.create_voice_call, the character length must be smaller than or equal to 255.'
      end

      # resource path
      local_var_path = '/v1/voice/calls'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_voice_call_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateVoiceCall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.create_voice_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#create_voice_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mint a browser softphone session
    # Step 1 of the two-step browser softphone handshake. Mints a WebRTC session (token + credential) the browser registers with the `@telnyx/webrtc` SDK. Once registered, call `POST /v1/voice/calls/web/dial` with the returned `credentialId` to place the call. The split avoids bridging to a browser that has not finished registering. The token lives ~1 hour (it must outlive the whole call, not just the handshake). 
    # @param [Hash] opts the optional parameters
    # @return [CreateVoiceWebSession200Response]
    def create_voice_web_session(opts = {})
      data, _status_code, _headers = create_voice_web_session_with_http_info(opts)
      data
    end

    # Mint a browser softphone session
    # Step 1 of the two-step browser softphone handshake. Mints a WebRTC session (token + credential) the browser registers with the &#x60;@telnyx/webrtc&#x60; SDK. Once registered, call &#x60;POST /v1/voice/calls/web/dial&#x60; with the returned &#x60;credentialId&#x60; to place the call. The split avoids bridging to a browser that has not finished registering. The token lives ~1 hour (it must outlive the whole call, not just the handshake). 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateVoiceWebSession200Response, Integer, Hash)>] CreateVoiceWebSession200Response data, response status code and response headers
    def create_voice_web_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.create_voice_web_session ...'
      end
      # resource path
      local_var_path = '/v1/voice/calls/web'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateVoiceWebSession200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.create_voice_web_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#create_voice_web_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Dial from the browser softphone
    # Step 2 of the browser softphone handshake: places an outbound call whose answered leg is bridged to the browser registered with the credential from `POST /v1/voice/calls/web`. The call runs through the normal outbound lane, so it is logged as outbound (from = your number, to = target) and recorded per the number's settings. 
    # @param dial_voice_web_call_request [DialVoiceWebCallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DialVoiceWebCall200Response]
    def dial_voice_web_call(dial_voice_web_call_request, opts = {})
      data, _status_code, _headers = dial_voice_web_call_with_http_info(dial_voice_web_call_request, opts)
      data
    end

    # Dial from the browser softphone
    # Step 2 of the browser softphone handshake: places an outbound call whose answered leg is bridged to the browser registered with the credential from &#x60;POST /v1/voice/calls/web&#x60;. The call runs through the normal outbound lane, so it is logged as outbound (from &#x3D; your number, to &#x3D; target) and recorded per the number&#39;s settings. 
    # @param dial_voice_web_call_request [DialVoiceWebCallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DialVoiceWebCall200Response, Integer, Hash)>] DialVoiceWebCall200Response data, response status code and response headers
    def dial_voice_web_call_with_http_info(dial_voice_web_call_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.dial_voice_web_call ...'
      end
      # verify the required parameter 'dial_voice_web_call_request' is set
      if @api_client.config.client_side_validation && dial_voice_web_call_request.nil?
        fail ArgumentError, "Missing the required parameter 'dial_voice_web_call_request' when calling VoiceApi.dial_voice_web_call"
      end
      # resource path
      local_var_path = '/v1/voice/calls/web/dial'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(dial_voice_web_call_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DialVoiceWebCall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.dial_voice_web_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#dial_voice_web_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable phone calling on a number
    # Turns off PSTN calling for the number. The stored forward destination and settings are preserved, so re-enabling restores the prior config. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DisableVoiceOnNumber200Response]
    def disable_voice_on_number(id, opts = {})
      data, _status_code, _headers = disable_voice_on_number_with_http_info(id, opts)
      data
    end

    # Disable phone calling on a number
    # Turns off PSTN calling for the number. The stored forward destination and settings are preserved, so re-enabling restores the prior config. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisableVoiceOnNumber200Response, Integer, Hash)>] DisableVoiceOnNumber200Response data, response status code and response headers
    def disable_voice_on_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.disable_voice_on_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoiceApi.disable_voice_on_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}/voice'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisableVoiceOnNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.disable_voice_on_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#disable_voice_on_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable phone calling on a number
    # Turns on regular phone (PSTN) calling for one of your numbers and configures how inbound calls are handled. Inbound calls route to `forwardTo`: your own AI voice agent (Vapi/Retell), a phone, or a SIP endpoint. Optional extras: voicemail, business-hours windows, an IVR menu, a caller blocklist, recording, and transcription. A number can also be voice-enabled with no forward (outbound-only).  Idempotent, and doubles as the settings update: only fields present in the body are written. Omitting `forwardTo` preserves the current destination; sending an empty string clears it. 
    # @param id [String] Phone number record ID (from GET /v1/phone-numbers).
    # @param [Hash] opts the optional parameters
    # @option opts [EnableVoiceOnNumberRequest] :enable_voice_on_number_request 
    # @return [EnableVoiceOnNumber200Response]
    def enable_voice_on_number(id, opts = {})
      data, _status_code, _headers = enable_voice_on_number_with_http_info(id, opts)
      data
    end

    # Enable phone calling on a number
    # Turns on regular phone (PSTN) calling for one of your numbers and configures how inbound calls are handled. Inbound calls route to &#x60;forwardTo&#x60;: your own AI voice agent (Vapi/Retell), a phone, or a SIP endpoint. Optional extras: voicemail, business-hours windows, an IVR menu, a caller blocklist, recording, and transcription. A number can also be voice-enabled with no forward (outbound-only).  Idempotent, and doubles as the settings update: only fields present in the body are written. Omitting &#x60;forwardTo&#x60; preserves the current destination; sending an empty string clears it. 
    # @param id [String] Phone number record ID (from GET /v1/phone-numbers).
    # @param [Hash] opts the optional parameters
    # @option opts [EnableVoiceOnNumberRequest] :enable_voice_on_number_request 
    # @return [Array<(EnableVoiceOnNumber200Response, Integer, Hash)>] EnableVoiceOnNumber200Response data, response status code and response headers
    def enable_voice_on_number_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.enable_voice_on_number ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoiceApi.enable_voice_on_number"
      end
      # resource path
      local_var_path = '/v1/phone-numbers/{id}/voice'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'enable_voice_on_number_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EnableVoiceOnNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.enable_voice_on_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#enable_voice_on_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Hang up a live call
    # Hangs up a live call on demand. Idempotent: ending a call that already ended (or never connected) returns success with the call's current status. Final duration/cost are written asynchronously when the hangup event lands, so the call doc may briefly still show its prior status. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EndVoiceCall200Response]
    def end_voice_call(id, opts = {})
      data, _status_code, _headers = end_voice_call_with_http_info(id, opts)
      data
    end

    # Hang up a live call
    # Hangs up a live call on demand. Idempotent: ending a call that already ended (or never connected) returns success with the call&#39;s current status. Final duration/cost are written asynchronously when the hangup event lands, so the call doc may briefly still show its prior status. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EndVoiceCall200Response, Integer, Hash)>] EndVoiceCall200Response data, response status code and response headers
    def end_voice_call_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.end_voice_call ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoiceApi.end_voice_call"
      end
      # resource path
      local_var_path = '/v1/voice/calls/{id}/end'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EndVoiceCall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.end_voice_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#end_voice_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a phone call
    # Full call detail, including the transcript segments when transcription was on.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetVoiceCall200Response]
    def get_voice_call(id, opts = {})
      data, _status_code, _headers = get_voice_call_with_http_info(id, opts)
      data
    end

    # Get a phone call
    # Full call detail, including the transcript segments when transcription was on.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetVoiceCall200Response, Integer, Hash)>] GetVoiceCall200Response data, response status code and response headers
    def get_voice_call_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.get_voice_call ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoiceApi.get_voice_call"
      end
      # resource path
      local_var_path = '/v1/voice/calls/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetVoiceCall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.get_voice_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#get_voice_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Estimate call cost
    # Pre-call cost estimate for a PSTN call: the carrier leg plus optional recording and transcription add-ons. Same billing formula as the post-call invoice, so the quote and the final charge can't disagree. The per-minute figure is deliberately conservative (the real cost comes from the settled carrier record after the call), so estimates trend slightly over the actual invoice. Parity endpoint of `GET /v1/whatsapp/calls/estimate`, minus the Meta line (PSTN calls have no separate Meta bill, so `totalCostUSD` equals `billableCostUSD`). 
    # @param to [String] Destination number, E.164 (leading + optional).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :minutes  (default to 1)
    # @option opts [Boolean] :recording 
    # @option opts [Boolean] :transcription 
    # @return [GetVoiceCallEstimate200Response]
    def get_voice_call_estimate(to, opts = {})
      data, _status_code, _headers = get_voice_call_estimate_with_http_info(to, opts)
      data
    end

    # Estimate call cost
    # Pre-call cost estimate for a PSTN call: the carrier leg plus optional recording and transcription add-ons. Same billing formula as the post-call invoice, so the quote and the final charge can&#39;t disagree. The per-minute figure is deliberately conservative (the real cost comes from the settled carrier record after the call), so estimates trend slightly over the actual invoice. Parity endpoint of &#x60;GET /v1/whatsapp/calls/estimate&#x60;, minus the Meta line (PSTN calls have no separate Meta bill, so &#x60;totalCostUSD&#x60; equals &#x60;billableCostUSD&#x60;). 
    # @param to [String] Destination number, E.164 (leading + optional).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :minutes  (default to 1)
    # @option opts [Boolean] :recording 
    # @option opts [Boolean] :transcription 
    # @return [Array<(GetVoiceCallEstimate200Response, Integer, Hash)>] GetVoiceCallEstimate200Response data, response status code and response headers
    def get_voice_call_estimate_with_http_info(to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.get_voice_call_estimate ...'
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling VoiceApi.get_voice_call_estimate"
      end
      if @api_client.config.client_side_validation && !opts[:'minutes'].nil? && opts[:'minutes'] > 120
        fail ArgumentError, 'invalid value for "opts[:"minutes"]" when calling VoiceApi.get_voice_call_estimate, must be smaller than or equal to 120.'
      end

      if @api_client.config.client_side_validation && !opts[:'minutes'].nil? && opts[:'minutes'] < 1
        fail ArgumentError, 'invalid value for "opts[:"minutes"]" when calling VoiceApi.get_voice_call_estimate, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/voice/calls/estimate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'to'] = to
      query_params[:'minutes'] = opts[:'minutes'] if !opts[:'minutes'].nil?
      query_params[:'recording'] = opts[:'recording'] if !opts[:'recording'].nil?
      query_params[:'transcription'] = opts[:'transcription'] if !opts[:'transcription'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetVoiceCallEstimate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.get_voice_call_estimate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#get_voice_call_estimate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a call recording
    # Resolves a fresh, playable MP3 URL for the call's recording (provider-signed URLs expire ~10 minutes after signing, so this endpoint re-signs on demand). Default responds `302 Found` redirecting to the fresh URL; pass `as=json` to receive `{ url }` instead. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :as &#x60;json&#x60; returns &#x60;{ url }&#x60; instead of a 302 redirect.
    # @return [GetWhatsAppCallRecording200Response]
    def get_voice_call_recording(id, opts = {})
      data, _status_code, _headers = get_voice_call_recording_with_http_info(id, opts)
      data
    end

    # Get a call recording
    # Resolves a fresh, playable MP3 URL for the call&#39;s recording (provider-signed URLs expire ~10 minutes after signing, so this endpoint re-signs on demand). Default responds &#x60;302 Found&#x60; redirecting to the fresh URL; pass &#x60;as&#x3D;json&#x60; to receive &#x60;{ url }&#x60; instead. 
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :as &#x60;json&#x60; returns &#x60;{ url }&#x60; instead of a 302 redirect.
    # @return [Array<(GetWhatsAppCallRecording200Response, Integer, Hash)>] GetWhatsAppCallRecording200Response data, response status code and response headers
    def get_voice_call_recording_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.get_voice_call_recording ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoiceApi.get_voice_call_recording"
      end
      allowable_values = ["json"]
      if @api_client.config.client_side_validation && opts[:'as'] && !allowable_values.include?(opts[:'as'])
        fail ArgumentError, "invalid value for \"as\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/voice/calls/{id}/recording'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'as'] = opts[:'as'] if !opts[:'as'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppCallRecording200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.get_voice_call_recording",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#get_voice_call_recording\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List phone calls
    # Your PSTN voice calls (inbound + outbound), newest first. Cursor pagination: pass the returned `nextCursor` as `before` for the next page. For a history that also includes WhatsApp calls, use `GET /v1/calls`. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :direction 
    # @option opts [String] :number Exact filter: calls involving this number (typically one of your DIDs). E.164, leading + optional.
    # @option opts [Time] :before 
    # @option opts [Integer] :limit  (default to 50)
    # @return [ListVoiceCalls200Response]
    def list_voice_calls(opts = {})
      data, _status_code, _headers = list_voice_calls_with_http_info(opts)
      data
    end

    # List phone calls
    # Your PSTN voice calls (inbound + outbound), newest first. Cursor pagination: pass the returned &#x60;nextCursor&#x60; as &#x60;before&#x60; for the next page. For a history that also includes WhatsApp calls, use &#x60;GET /v1/calls&#x60;. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :direction 
    # @option opts [String] :number Exact filter: calls involving this number (typically one of your DIDs). E.164, leading + optional.
    # @option opts [Time] :before 
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(ListVoiceCalls200Response, Integer, Hash)>] ListVoiceCalls200Response data, response status code and response headers
    def list_voice_calls_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.list_voice_calls ...'
      end
      allowable_values = ["ringing", "answered", "ended", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["inbound", "outbound"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling VoiceApi.list_voice_calls, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling VoiceApi.list_voice_calls, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/voice/calls'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListVoiceCalls200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.list_voice_calls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#list_voice_calls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Blind-transfer a live call
    # Moves the call's current leg to a new destination (a phone number or a SIP endpoint). This is a BLIND transfer: control of the leg is handed off and the call ends normally when the transferred leg hangs up. The caller ID presented on the transfer leg is always your own number. 
    # @param id [String] 
    # @param transfer_voice_call_request [TransferVoiceCallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TransferVoiceCall200Response]
    def transfer_voice_call(id, transfer_voice_call_request, opts = {})
      data, _status_code, _headers = transfer_voice_call_with_http_info(id, transfer_voice_call_request, opts)
      data
    end

    # Blind-transfer a live call
    # Moves the call&#39;s current leg to a new destination (a phone number or a SIP endpoint). This is a BLIND transfer: control of the leg is handed off and the call ends normally when the transferred leg hangs up. The caller ID presented on the transfer leg is always your own number. 
    # @param id [String] 
    # @param transfer_voice_call_request [TransferVoiceCallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransferVoiceCall200Response, Integer, Hash)>] TransferVoiceCall200Response data, response status code and response headers
    def transfer_voice_call_with_http_info(id, transfer_voice_call_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoiceApi.transfer_voice_call ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoiceApi.transfer_voice_call"
      end
      # verify the required parameter 'transfer_voice_call_request' is set
      if @api_client.config.client_side_validation && transfer_voice_call_request.nil?
        fail ArgumentError, "Missing the required parameter 'transfer_voice_call_request' when calling VoiceApi.transfer_voice_call"
      end
      # resource path
      local_var_path = '/v1/voice/calls/{id}/transfer'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(transfer_voice_call_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TransferVoiceCall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"VoiceApi.transfer_voice_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoiceApi#transfer_voice_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
