=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api  Versioning and deprecation: all endpoints are versioned in the URL path (current version: /v1). Breaking changes only ship in a new path version; existing versions keep working. Deprecated operations are marked 'deprecated: true' in this spec and announced in the changelog (https://zernio.com/changelog) before removal.  Errors: every 4xx/5xx response is application/json with a machine-readable 'code' and a human-readable 'error' message (see the ErrorResponse schema). 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create webhook
    # Create a new webhook configuration. Maximum 50 webhooks per user.  `name`, `url` and `events` are required. `url` must be a valid URL and `events` must contain at least one event. Whitespace is trimmed from `url` before validation.  Webhooks are automatically disabled after 10 consecutive delivery failures.  A restricted (zrk_) API key can only subscribe to events whose resource group the key holds; an event outside the key's groups is rejected with 403, so a restricted key can never create a subscription broader than itself.  `disabledResourceGroups` restricts the subscription itself, independently of which key or session later reads it. Events in a disabled group are dropped before delivery to this endpoint, on live delivery and on every replay path (test fire, redelivery, dead-letter requeue), even if they are listed in `events`. Omit it to receive everything in `events`, which is how existing subscriptions behave. A restricted key's own disabled groups are always unioned in. 
    # @param create_webhook_settings_request [CreateWebhookSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateWebhookSettings200Response]
    def create_webhook_settings(create_webhook_settings_request, opts = {})
      data, _status_code, _headers = create_webhook_settings_with_http_info(create_webhook_settings_request, opts)
      data
    end

    # Create webhook
    # Create a new webhook configuration. Maximum 50 webhooks per user.  &#x60;name&#x60;, &#x60;url&#x60; and &#x60;events&#x60; are required. &#x60;url&#x60; must be a valid URL and &#x60;events&#x60; must contain at least one event. Whitespace is trimmed from &#x60;url&#x60; before validation.  Webhooks are automatically disabled after 10 consecutive delivery failures.  A restricted (zrk_) API key can only subscribe to events whose resource group the key holds; an event outside the key&#39;s groups is rejected with 403, so a restricted key can never create a subscription broader than itself.  &#x60;disabledResourceGroups&#x60; restricts the subscription itself, independently of which key or session later reads it. Events in a disabled group are dropped before delivery to this endpoint, on live delivery and on every replay path (test fire, redelivery, dead-letter requeue), even if they are listed in &#x60;events&#x60;. Omit it to receive everything in &#x60;events&#x60;, which is how existing subscriptions behave. A restricted key&#39;s own disabled groups are always unioned in. 
    # @param create_webhook_settings_request [CreateWebhookSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateWebhookSettings200Response, Integer, Hash)>] UpdateWebhookSettings200Response data, response status code and response headers
    def create_webhook_settings_with_http_info(create_webhook_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.create_webhook_settings ...'
      end
      # verify the required parameter 'create_webhook_settings_request' is set
      if @api_client.config.client_side_validation && create_webhook_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_webhook_settings_request' when calling WebhooksApi.create_webhook_settings"
      end
      # resource path
      local_var_path = '/v1/webhooks/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_webhook_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWebhookSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.create_webhook_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#create_webhook_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete webhook
    # Permanently delete a webhook configuration.
    # @param id [String] Webhook ID to delete
    # @param [Hash] opts the optional parameters
    # @return [UpdateYoutubeDefaultPlaylist200Response]
    def delete_webhook_settings(id, opts = {})
      data, _status_code, _headers = delete_webhook_settings_with_http_info(id, opts)
      data
    end

    # Delete webhook
    # Permanently delete a webhook configuration.
    # @param id [String] Webhook ID to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateYoutubeDefaultPlaylist200Response, Integer, Hash)>] UpdateYoutubeDefaultPlaylist200Response data, response status code and response headers
    def delete_webhook_settings_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_webhook_settings ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.delete_webhook_settings"
      end
      pattern = Regexp.new(/^[a-fA-F0-9]{24}$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling WebhooksApi.delete_webhook_settings, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/v1/webhooks/settings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateYoutubeDefaultPlaylist200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.delete_webhook_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#delete_webhook_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook delivery logs
    # Retrieve recorded webhook delivery attempts for the authenticated user, most recent first. Logs are retained for 30 days. Supports filtering by status, event type, webhook ID, and event ID, plus offset-based pagination.  For a restricted (zrk_) API key, rows for events outside the key's resource groups are omitted (`pagination.total` may over-count), and an `event` filter naming such an event is rejected with 403. Events blocked by a subscription's own `disabledResourceGroups` are dropped before delivery, so they produce no log rows for anyone; the exception is the five-minute tail after a denylist change, where an already-queued event can still be delivered and logged. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of logs to return (default to 50)
    # @option opts [Integer] :skip Number of logs to skip (offset-based pagination) (default to 0)
    # @option opts [String] :status Filter by delivery outcome
    # @option opts [String] :event Filter by event type (e.g. post.published)
    # @option opts [String] :webhook_id Filter by webhook configuration ID
    # @option opts [String] :event_id Filter by stable webhook event ID
    # @return [GetWebhookLogs200Response]
    def get_webhook_logs(opts = {})
      data, _status_code, _headers = get_webhook_logs_with_http_info(opts)
      data
    end

    # List webhook delivery logs
    # Retrieve recorded webhook delivery attempts for the authenticated user, most recent first. Logs are retained for 30 days. Supports filtering by status, event type, webhook ID, and event ID, plus offset-based pagination.  For a restricted (zrk_) API key, rows for events outside the key&#39;s resource groups are omitted (&#x60;pagination.total&#x60; may over-count), and an &#x60;event&#x60; filter naming such an event is rejected with 403. Events blocked by a subscription&#39;s own &#x60;disabledResourceGroups&#x60; are dropped before delivery, so they produce no log rows for anyone; the exception is the five-minute tail after a denylist change, where an already-queued event can still be delivered and logged. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of logs to return (default to 50)
    # @option opts [Integer] :skip Number of logs to skip (offset-based pagination) (default to 0)
    # @option opts [String] :status Filter by delivery outcome
    # @option opts [String] :event Filter by event type (e.g. post.published)
    # @option opts [String] :webhook_id Filter by webhook configuration ID
    # @option opts [String] :event_id Filter by stable webhook event ID
    # @return [Array<(GetWebhookLogs200Response, Integer, Hash)>] GetWebhookLogs200Response data, response status code and response headers
    def get_webhook_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_logs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.get_webhook_logs, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WebhooksApi.get_webhook_logs, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'skip'].nil? && opts[:'skip'] > 10000
        fail ArgumentError, 'invalid value for "opts[:"skip"]" when calling WebhooksApi.get_webhook_logs, must be smaller than or equal to 10000.'
      end

      if @api_client.config.client_side_validation && !opts[:'skip'].nil? && opts[:'skip'] < 0
        fail ArgumentError, 'invalid value for "opts[:"skip"]" when calling WebhooksApi.get_webhook_logs, must be greater than or equal to 0.'
      end

      allowable_values = ["success", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'event'].nil? && opts[:'event'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"event"]" when calling WebhooksApi.get_webhook_logs, the character length must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'event'].nil? && opts[:'event'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"event"]" when calling WebhooksApi.get_webhook_logs, the character length must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'webhook_id'].nil? && opts[:'webhook_id'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"webhook_id"]" when calling WebhooksApi.get_webhook_logs, the character length must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'webhook_id'].nil? && opts[:'webhook_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"webhook_id"]" when calling WebhooksApi.get_webhook_logs, the character length must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'event_id'].nil? && opts[:'event_id'].to_s.length > 200
        fail ArgumentError, 'invalid value for "opts[:"event_id"]" when calling WebhooksApi.get_webhook_logs, the character length must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'event_id'].nil? && opts[:'event_id'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"event_id"]" when calling WebhooksApi.get_webhook_logs, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/webhooks/logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'event'] = opts[:'event'] if !opts[:'event'].nil?
      query_params[:'webhookId'] = opts[:'webhook_id'] if !opts[:'webhook_id'].nil?
      query_params[:'eventId'] = opts[:'event_id'] if !opts[:'event_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWebhookLogs200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhooks
    # Retrieve all configured webhooks for the authenticated user. Supports up to 50 webhooks per user.
    # @param [Hash] opts the optional parameters
    # @return [GetWebhookSettings200Response]
    def get_webhook_settings(opts = {})
      data, _status_code, _headers = get_webhook_settings_with_http_info(opts)
      data
    end

    # List webhooks
    # Retrieve all configured webhooks for the authenticated user. Supports up to 50 webhooks per user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWebhookSettings200Response, Integer, Hash)>] GetWebhookSettings200Response data, response status code and response headers
    def get_webhook_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_settings ...'
      end
      # resource path
      local_var_path = '/v1/webhooks/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWebhookSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send test webhook
    # Send a test webhook to verify your endpoint is configured correctly. The test payload includes event: \"webhook.test\" to distinguish it from real events.  `webhook.test` belongs to the `webhooks` resource group, so a key with that group disabled is rejected with 403, as is a test fire on a subscription that lists `webhooks` in its own `disabledResourceGroups` (a 403, not a reported delivery failure). Replays of real events (redelivery, dead-letter requeue) run the same checks as live delivery, against both the key's groups and the subscription's. 
    # @param test_webhook_request [TestWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def test_webhook(test_webhook_request, opts = {})
      data, _status_code, _headers = test_webhook_with_http_info(test_webhook_request, opts)
      data
    end

    # Send test webhook
    # Send a test webhook to verify your endpoint is configured correctly. The test payload includes event: \&quot;webhook.test\&quot; to distinguish it from real events.  &#x60;webhook.test&#x60; belongs to the &#x60;webhooks&#x60; resource group, so a key with that group disabled is rejected with 403, as is a test fire on a subscription that lists &#x60;webhooks&#x60; in its own &#x60;disabledResourceGroups&#x60; (a 403, not a reported delivery failure). Replays of real events (redelivery, dead-letter requeue) run the same checks as live delivery, against both the key&#39;s groups and the subscription&#39;s. 
    # @param test_webhook_request [TestWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def test_webhook_with_http_info(test_webhook_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.test_webhook ...'
      end
      # verify the required parameter 'test_webhook_request' is set
      if @api_client.config.client_side_validation && test_webhook_request.nil?
        fail ArgumentError, "Missing the required parameter 'test_webhook_request' when calling WebhooksApi.test_webhook"
      end
      # resource path
      local_var_path = '/v1/webhooks/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(test_webhook_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.test_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#test_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update webhook
    # Update an existing webhook configuration. All fields except `_id` are optional; only provided fields will be updated.  When provided, `name` must be 1-50 characters, `url` must be a valid URL, and `events` must contain at least one event. Whitespace is trimmed from `url` before validation.  Webhooks are automatically disabled after 10 consecutive delivery failures.  A restricted (zrk_) API key can only set `events` to events whose resource group the key holds; an event outside the key's groups is rejected with 403. It also cannot widen an existing subscription past its own groups.  `disabledResourceGroups` replaces the subscription's own denylist, which applies to delivery regardless of which key or session created it. Send an empty array to clear it. A restricted key's own disabled groups are unioned into the stored value on every update, so repointing a legacy unrestricted subscription with a restricted key also narrows it.  Timing: the new denylist applies to every event emitted after the update. Events already queued for delivery when the update landed were filtered against the previous denylist and can still arrive at your endpoint for up to five minutes after they were enqueued, because the delivery worker trusts a five-minute enqueue-time snapshot before re-checking the subscription. Retries beyond that window, dead-letter replays, test fires, and redeliveries are all checked against the current denylist. 
    # @param update_webhook_settings_request [UpdateWebhookSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateWebhookSettings200Response]
    def update_webhook_settings(update_webhook_settings_request, opts = {})
      data, _status_code, _headers = update_webhook_settings_with_http_info(update_webhook_settings_request, opts)
      data
    end

    # Update webhook
    # Update an existing webhook configuration. All fields except &#x60;_id&#x60; are optional; only provided fields will be updated.  When provided, &#x60;name&#x60; must be 1-50 characters, &#x60;url&#x60; must be a valid URL, and &#x60;events&#x60; must contain at least one event. Whitespace is trimmed from &#x60;url&#x60; before validation.  Webhooks are automatically disabled after 10 consecutive delivery failures.  A restricted (zrk_) API key can only set &#x60;events&#x60; to events whose resource group the key holds; an event outside the key&#39;s groups is rejected with 403. It also cannot widen an existing subscription past its own groups.  &#x60;disabledResourceGroups&#x60; replaces the subscription&#39;s own denylist, which applies to delivery regardless of which key or session created it. Send an empty array to clear it. A restricted key&#39;s own disabled groups are unioned into the stored value on every update, so repointing a legacy unrestricted subscription with a restricted key also narrows it.  Timing: the new denylist applies to every event emitted after the update. Events already queued for delivery when the update landed were filtered against the previous denylist and can still arrive at your endpoint for up to five minutes after they were enqueued, because the delivery worker trusts a five-minute enqueue-time snapshot before re-checking the subscription. Retries beyond that window, dead-letter replays, test fires, and redeliveries are all checked against the current denylist. 
    # @param update_webhook_settings_request [UpdateWebhookSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateWebhookSettings200Response, Integer, Hash)>] UpdateWebhookSettings200Response data, response status code and response headers
    def update_webhook_settings_with_http_info(update_webhook_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.update_webhook_settings ...'
      end
      # verify the required parameter 'update_webhook_settings_request' is set
      if @api_client.config.client_side_validation && update_webhook_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_webhook_settings_request' when calling WebhooksApi.update_webhook_settings"
      end
      # resource path
      local_var_path = '/v1/webhooks/settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_webhook_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWebhookSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.update_webhook_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#update_webhook_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
