=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class WhatsAppCallingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Disable calling on a number
    # Disable calling. Sends calling.status=DISABLED to Meta (best-effort) and flips the local `callingEnabled` flag off. forwardTo and SIP creds are preserved so a re-enable does not lose the destination. 
    # @param id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def disable_whats_app_calling(id, account_id, opts = {})
      disable_whats_app_calling_with_http_info(id, account_id, opts)
      nil
    end

    # Disable calling on a number
    # Disable calling. Sends calling.status&#x3D;DISABLED to Meta (best-effort) and flips the local &#x60;callingEnabled&#x60; flag off. forwardTo and SIP creds are preserved so a re-enable does not lose the destination. 
    # @param id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def disable_whats_app_calling_with_http_info(id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.disable_whats_app_calling ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WhatsAppCallingApi.disable_whats_app_calling"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppCallingApi.disable_whats_app_calling"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{id}/calling'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.disable_whats_app_calling",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#disable_whats_app_calling\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable calling on a number
    # Enable WhatsApp Business Calling on a connected number. Configures Meta calling.status=ENABLED with our Telnyx SIP endpoint, fetches and stores the Meta-issued SIP password (encrypted), and snapshots the customer's forward-to destination. 
    # @param id [String] WhatsAppPhoneNumber Mongo ID
    # @param enable_whats_app_calling_request [EnableWhatsAppCallingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnableWhatsAppCalling200Response]
    def enable_whats_app_calling(id, enable_whats_app_calling_request, opts = {})
      data, _status_code, _headers = enable_whats_app_calling_with_http_info(id, enable_whats_app_calling_request, opts)
      data
    end

    # Enable calling on a number
    # Enable WhatsApp Business Calling on a connected number. Configures Meta calling.status&#x3D;ENABLED with our Telnyx SIP endpoint, fetches and stores the Meta-issued SIP password (encrypted), and snapshots the customer&#39;s forward-to destination. 
    # @param id [String] WhatsAppPhoneNumber Mongo ID
    # @param enable_whats_app_calling_request [EnableWhatsAppCallingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnableWhatsAppCalling200Response, Integer, Hash)>] EnableWhatsAppCalling200Response data, response status code and response headers
    def enable_whats_app_calling_with_http_info(id, enable_whats_app_calling_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.enable_whats_app_calling ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WhatsAppCallingApi.enable_whats_app_calling"
      end
      # verify the required parameter 'enable_whats_app_calling_request' is set
      if @api_client.config.client_side_validation && enable_whats_app_calling_request.nil?
        fail ArgumentError, "Missing the required parameter 'enable_whats_app_calling_request' when calling WhatsAppCallingApi.enable_whats_app_calling"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{id}/calling'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enable_whats_app_calling_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnableWhatsAppCalling200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.enable_whats_app_calling",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#enable_whats_app_calling\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single call
    # @param call_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppCall200Response]
    def get_whats_app_call(call_id, account_id, opts = {})
      data, _status_code, _headers = get_whats_app_call_with_http_info(call_id, account_id, opts)
      data
    end

    # Get a single call
    # @param call_id [String] 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppCall200Response, Integer, Hash)>] GetWhatsAppCall200Response data, response status code and response headers
    def get_whats_app_call_with_http_info(call_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.get_whats_app_call ...'
      end
      # verify the required parameter 'call_id' is set
      if @api_client.config.client_side_validation && call_id.nil?
        fail ArgumentError, "Missing the required parameter 'call_id' when calling WhatsAppCallingApi.get_whats_app_call"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppCallingApi.get_whats_app_call"
      end
      # resource path
      local_var_path = '/v1/whatsapp/calls/{callId}'.sub('{' + 'callId' + '}', CGI.escape(call_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppCall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.get_whats_app_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#get_whats_app_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Estimate per-minute cost for a destination
    # Returns a zero-markup estimated cost for an outbound call to the given destination, broken down by Meta + Telnyx + recording line items. Costs are pass-through, no margin applied. 
    # @param account_id [String] 
    # @param to [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :minutes 
    # @option opts [Boolean] :recording 
    # @return [GetWhatsAppCallEstimate200Response]
    def get_whats_app_call_estimate(account_id, to, opts = {})
      data, _status_code, _headers = get_whats_app_call_estimate_with_http_info(account_id, to, opts)
      data
    end

    # Estimate per-minute cost for a destination
    # Returns a zero-markup estimated cost for an outbound call to the given destination, broken down by Meta + Telnyx + recording line items. Costs are pass-through, no margin applied. 
    # @param account_id [String] 
    # @param to [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :minutes 
    # @option opts [Boolean] :recording 
    # @return [Array<(GetWhatsAppCallEstimate200Response, Integer, Hash)>] GetWhatsAppCallEstimate200Response data, response status code and response headers
    def get_whats_app_call_estimate_with_http_info(account_id, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.get_whats_app_call_estimate ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppCallingApi.get_whats_app_call_estimate"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling WhatsAppCallingApi.get_whats_app_call_estimate"
      end
      if @api_client.config.client_side_validation && !opts[:'minutes'].nil? && opts[:'minutes'] > 120
        fail ArgumentError, 'invalid value for "opts[:"minutes"]" when calling WhatsAppCallingApi.get_whats_app_call_estimate, must be smaller than or equal to 120.'
      end

      if @api_client.config.client_side_validation && !opts[:'minutes'].nil? && opts[:'minutes'] < 1
        fail ArgumentError, 'invalid value for "opts[:"minutes"]" when calling WhatsAppCallingApi.get_whats_app_call_estimate, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/whatsapp/calls/estimate'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'to'] = to
      query_params[:'minutes'] = opts[:'minutes'] if !opts[:'minutes'].nil?
      query_params[:'recording'] = opts[:'recording'] if !opts[:'recording'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppCallEstimate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.get_whats_app_call_estimate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#get_whats_app_call_estimate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check call permission for a consumer
    # Returns the permission state and the list of available actions for a given consumer wa_id (e.g. `start_call`, `send_call_permission_request`). Use this before placing a call to decide whether to prompt for consent first. 
    # @param account_id [String] 
    # @param to [String] Consumer wa_id (E.164
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppCallPermissions200Response]
    def get_whats_app_call_permissions(account_id, to, opts = {})
      data, _status_code, _headers = get_whats_app_call_permissions_with_http_info(account_id, to, opts)
      data
    end

    # Check call permission for a consumer
    # Returns the permission state and the list of available actions for a given consumer wa_id (e.g. &#x60;start_call&#x60;, &#x60;send_call_permission_request&#x60;). Use this before placing a call to decide whether to prompt for consent first. 
    # @param account_id [String] 
    # @param to [String] Consumer wa_id (E.164
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppCallPermissions200Response, Integer, Hash)>] GetWhatsAppCallPermissions200Response data, response status code and response headers
    def get_whats_app_call_permissions_with_http_info(account_id, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.get_whats_app_call_permissions ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppCallingApi.get_whats_app_call_permissions"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling WhatsAppCallingApi.get_whats_app_call_permissions"
      end
      # resource path
      local_var_path = '/v1/whatsapp/call-permissions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'to'] = to

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppCallPermissions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.get_whats_app_call_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#get_whats_app_call_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get calling config for an account
    # Returns the local calling configuration snapshot for the connected WhatsApp account: whether calling is enabled, the forward-to destination URI, recording opt-in state, the WhatsAppPhoneNumber doc id (use as `{id}` on the calling-config write endpoints) and whether SIP digest credentials are stored (the encrypted password itself is never returned). 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppCallingConfig200Response]
    def get_whats_app_calling_config(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_calling_config_with_http_info(account_id, opts)
      data
    end

    # Get calling config for an account
    # Returns the local calling configuration snapshot for the connected WhatsApp account: whether calling is enabled, the forward-to destination URI, recording opt-in state, the WhatsAppPhoneNumber doc id (use as &#x60;{id}&#x60; on the calling-config write endpoints) and whether SIP digest credentials are stored (the encrypted password itself is never returned). 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppCallingConfig200Response, Integer, Hash)>] GetWhatsAppCallingConfig200Response data, response status code and response headers
    def get_whats_app_calling_config_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.get_whats_app_calling_config ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppCallingApi.get_whats_app_calling_config"
      end
      # resource path
      local_var_path = '/v1/whatsapp/calling'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppCallingConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.get_whats_app_calling_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#get_whats_app_calling_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiate outbound call
    # Initiates an outbound Business-Initiated Call. The Telnyx-side SIP leg is originated server-side (Option B: SIP-first). Telnyx INVITEs Meta directly over TLS:5061 with the SIP digest credentials we captured at calling-enablement time). No client-side SDP is required; pass only `accountId` and `to`.  To send the consumer the call-consent prompt instead of placing a call, pass `action: \"send_call_permission_request\"` (+ optional `bodyText`). The consumer must tap Allow in WhatsApp before `start_call` is permitted; Meta limits the prompt to 1 per consumer per 24h (2 per 7 days) and requires an open 24h service window. 
    # @param initiate_whats_app_call_request [InitiateWhatsAppCallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InitiateWhatsAppCall200Response]
    def initiate_whats_app_call(initiate_whats_app_call_request, opts = {})
      data, _status_code, _headers = initiate_whats_app_call_with_http_info(initiate_whats_app_call_request, opts)
      data
    end

    # Initiate outbound call
    # Initiates an outbound Business-Initiated Call. The Telnyx-side SIP leg is originated server-side (Option B: SIP-first). Telnyx INVITEs Meta directly over TLS:5061 with the SIP digest credentials we captured at calling-enablement time). No client-side SDP is required; pass only &#x60;accountId&#x60; and &#x60;to&#x60;.  To send the consumer the call-consent prompt instead of placing a call, pass &#x60;action: \&quot;send_call_permission_request\&quot;&#x60; (+ optional &#x60;bodyText&#x60;). The consumer must tap Allow in WhatsApp before &#x60;start_call&#x60; is permitted; Meta limits the prompt to 1 per consumer per 24h (2 per 7 days) and requires an open 24h service window. 
    # @param initiate_whats_app_call_request [InitiateWhatsAppCallRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitiateWhatsAppCall200Response, Integer, Hash)>] InitiateWhatsAppCall200Response data, response status code and response headers
    def initiate_whats_app_call_with_http_info(initiate_whats_app_call_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.initiate_whats_app_call ...'
      end
      # verify the required parameter 'initiate_whats_app_call_request' is set
      if @api_client.config.client_side_validation && initiate_whats_app_call_request.nil?
        fail ArgumentError, "Missing the required parameter 'initiate_whats_app_call_request' when calling WhatsAppCallingApi.initiate_whats_app_call"
      end
      # resource path
      local_var_path = '/v1/whatsapp/calls'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initiate_whats_app_call_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InitiateWhatsAppCall200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.initiate_whats_app_call",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#initiate_whats_app_call\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List call history for an account
    # Compact history listing for a single connected account. Results are scoped to the resolved SocialAccount; profile-scoped team members cannot read calls on sibling accounts. 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :direction 
    # @option opts [Time] :since 
    # @option opts [Time] :_until 
    # @option opts [Integer] :limit 
    # @return [ListWhatsAppCalls200Response]
    def list_whats_app_calls(account_id, opts = {})
      data, _status_code, _headers = list_whats_app_calls_with_http_info(account_id, opts)
      data
    end

    # List call history for an account
    # Compact history listing for a single connected account. Results are scoped to the resolved SocialAccount; profile-scoped team members cannot read calls on sibling accounts. 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [String] :direction 
    # @option opts [Time] :since 
    # @option opts [Time] :_until 
    # @option opts [Integer] :limit 
    # @return [Array<(ListWhatsAppCalls200Response, Integer, Hash)>] ListWhatsAppCalls200Response data, response status code and response headers
    def list_whats_app_calls_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.list_whats_app_calls ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppCallingApi.list_whats_app_calls"
      end
      allowable_values = ["ringing", "answered", "ended", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["inbound", "outbound"]
      if @api_client.config.client_side_validation && opts[:'direction'] && !allowable_values.include?(opts[:'direction'])
        fail ArgumentError, "invalid value for \"direction\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WhatsAppCallingApi.list_whats_app_calls, must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WhatsAppCallingApi.list_whats_app_calls, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/whatsapp/calls'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?
      query_params[:'since'] = opts[:'since'] if !opts[:'since'].nil?
      query_params[:'until'] = opts[:'_until'] if !opts[:'_until'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWhatsAppCalls200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.list_whats_app_calls",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#list_whats_app_calls\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update calling config
    # Update fields on an already-enabled number. Only fields present in the body are written; `undefined` leaves the stored value alone, explicit `null` clears a nullable field. No Meta side effect, this only changes local routing state consumed by the Telnyx webhook handler. 
    # @param id [String] 
    # @param update_whats_app_calling_request [UpdateWhatsAppCallingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_whats_app_calling(id, update_whats_app_calling_request, opts = {})
      update_whats_app_calling_with_http_info(id, update_whats_app_calling_request, opts)
      nil
    end

    # Update calling config
    # Update fields on an already-enabled number. Only fields present in the body are written; &#x60;undefined&#x60; leaves the stored value alone, explicit &#x60;null&#x60; clears a nullable field. No Meta side effect, this only changes local routing state consumed by the Telnyx webhook handler. 
    # @param id [String] 
    # @param update_whats_app_calling_request [UpdateWhatsAppCallingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_whats_app_calling_with_http_info(id, update_whats_app_calling_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppCallingApi.update_whats_app_calling ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WhatsAppCallingApi.update_whats_app_calling"
      end
      # verify the required parameter 'update_whats_app_calling_request' is set
      if @api_client.config.client_side_validation && update_whats_app_calling_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_calling_request' when calling WhatsAppCallingApi.update_whats_app_calling"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{id}/calling'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_calling_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppCallingApi.update_whats_app_calling",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppCallingApi#update_whats_app_calling\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
