=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class WhatsAppFlowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create flow
    # Create a new WhatsApp Flow in DRAFT status. Optionally clone an existing flow. After creating, upload a Flow JSON definition, then publish to make it sendable. 
    # @param create_whats_app_flow_request [CreateWhatsAppFlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWhatsAppFlow200Response]
    def create_whats_app_flow(create_whats_app_flow_request, opts = {})
      data, _status_code, _headers = create_whats_app_flow_with_http_info(create_whats_app_flow_request, opts)
      data
    end

    # Create flow
    # Create a new WhatsApp Flow in DRAFT status. Optionally clone an existing flow. After creating, upload a Flow JSON definition, then publish to make it sendable. 
    # @param create_whats_app_flow_request [CreateWhatsAppFlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWhatsAppFlow200Response, Integer, Hash)>] CreateWhatsAppFlow200Response data, response status code and response headers
    def create_whats_app_flow_with_http_info(create_whats_app_flow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.create_whats_app_flow ...'
      end
      # verify the required parameter 'create_whats_app_flow_request' is set
      if @api_client.config.client_side_validation && create_whats_app_flow_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_whats_app_flow_request' when calling WhatsAppFlowsApi.create_whats_app_flow"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_whats_app_flow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWhatsAppFlow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.create_whats_app_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#create_whats_app_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete flow
    # Delete a DRAFT flow. This is irreversible. Only flows in DRAFT status can be deleted. 
    # @param flow_id [String] Flow ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [UpdateYoutubeDefaultPlaylist200Response]
    def delete_whats_app_flow(flow_id, account_id, opts = {})
      data, _status_code, _headers = delete_whats_app_flow_with_http_info(flow_id, account_id, opts)
      data
    end

    # Delete flow
    # Delete a DRAFT flow. This is irreversible. Only flows in DRAFT status can be deleted. 
    # @param flow_id [String] Flow ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateYoutubeDefaultPlaylist200Response, Integer, Hash)>] UpdateYoutubeDefaultPlaylist200Response data, response status code and response headers
    def delete_whats_app_flow_with_http_info(flow_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.delete_whats_app_flow ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling WhatsAppFlowsApi.delete_whats_app_flow"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppFlowsApi.delete_whats_app_flow"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows/{flowId}'.sub('{' + 'flowId' + '}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateYoutubeDefaultPlaylist200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.delete_whats_app_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#delete_whats_app_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deprecate flow
    # Deprecate a PUBLISHED flow. This is irreversible. Deprecated flows cannot be sent or opened, but existing active sessions may continue until they complete. 
    # @param flow_id [String] Flow ID
    # @param publish_whats_app_flow_request [PublishWhatsAppFlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateYoutubeDefaultPlaylist200Response]
    def deprecate_whats_app_flow(flow_id, publish_whats_app_flow_request, opts = {})
      data, _status_code, _headers = deprecate_whats_app_flow_with_http_info(flow_id, publish_whats_app_flow_request, opts)
      data
    end

    # Deprecate flow
    # Deprecate a PUBLISHED flow. This is irreversible. Deprecated flows cannot be sent or opened, but existing active sessions may continue until they complete. 
    # @param flow_id [String] Flow ID
    # @param publish_whats_app_flow_request [PublishWhatsAppFlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateYoutubeDefaultPlaylist200Response, Integer, Hash)>] UpdateYoutubeDefaultPlaylist200Response data, response status code and response headers
    def deprecate_whats_app_flow_with_http_info(flow_id, publish_whats_app_flow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.deprecate_whats_app_flow ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling WhatsAppFlowsApi.deprecate_whats_app_flow"
      end
      # verify the required parameter 'publish_whats_app_flow_request' is set
      if @api_client.config.client_side_validation && publish_whats_app_flow_request.nil?
        fail ArgumentError, "Missing the required parameter 'publish_whats_app_flow_request' when calling WhatsAppFlowsApi.deprecate_whats_app_flow"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows/{flowId}/deprecate'.sub('{' + 'flowId' + '}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(publish_whats_app_flow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateYoutubeDefaultPlaylist200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.deprecate_whats_app_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#deprecate_whats_app_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get flow
    # Get details for a specific flow, including status, categories, validation errors, and preview URL. 
    # @param flow_id [String] Flow ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated fields to return (default: id,name,status,categories,validation_errors,json_version,preview,data_api_version,endpoint_uri)
    # @return [GetWhatsAppFlow200Response]
    def get_whats_app_flow(flow_id, account_id, opts = {})
      data, _status_code, _headers = get_whats_app_flow_with_http_info(flow_id, account_id, opts)
      data
    end

    # Get flow
    # Get details for a specific flow, including status, categories, validation errors, and preview URL. 
    # @param flow_id [String] Flow ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Comma-separated fields to return (default: id,name,status,categories,validation_errors,json_version,preview,data_api_version,endpoint_uri)
    # @return [Array<(GetWhatsAppFlow200Response, Integer, Hash)>] GetWhatsAppFlow200Response data, response status code and response headers
    def get_whats_app_flow_with_http_info(flow_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.get_whats_app_flow ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling WhatsAppFlowsApi.get_whats_app_flow"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppFlowsApi.get_whats_app_flow"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows/{flowId}'.sub('{' + 'flowId' + '}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppFlow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.get_whats_app_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#get_whats_app_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get flow JSON asset
    # Get the flow JSON asset metadata, including a temporary download URL for the Flow JSON file. 
    # @param flow_id [String] Flow ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppFlowJson200Response]
    def get_whats_app_flow_json(flow_id, account_id, opts = {})
      data, _status_code, _headers = get_whats_app_flow_json_with_http_info(flow_id, account_id, opts)
      data
    end

    # Get flow JSON asset
    # Get the flow JSON asset metadata, including a temporary download URL for the Flow JSON file. 
    # @param flow_id [String] Flow ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppFlowJson200Response, Integer, Hash)>] GetWhatsAppFlowJson200Response data, response status code and response headers
    def get_whats_app_flow_json_with_http_info(flow_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.get_whats_app_flow_json ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling WhatsAppFlowsApi.get_whats_app_flow_json"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppFlowsApi.get_whats_app_flow_json"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows/{flowId}/json'.sub('{' + 'flowId' + '}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppFlowJson200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.get_whats_app_flow_json",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#get_whats_app_flow_json\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List flows
    # List all WhatsApp Flows for the Business Account (WABA) associated with the given account. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [ListWhatsAppFlows200Response]
    def list_whats_app_flows(account_id, opts = {})
      data, _status_code, _headers = list_whats_app_flows_with_http_info(account_id, opts)
      data
    end

    # List flows
    # List all WhatsApp Flows for the Business Account (WABA) associated with the given account. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListWhatsAppFlows200Response, Integer, Hash)>] ListWhatsAppFlows200Response data, response status code and response headers
    def list_whats_app_flows_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.list_whats_app_flows ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppFlowsApi.list_whats_app_flows"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWhatsAppFlows200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.list_whats_app_flows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#list_whats_app_flows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish flow
    # Publish a DRAFT flow. This is irreversible. Once published, the flow and its JSON become immutable and the flow can be sent to users. To update a published flow, create a new flow (optionally cloning this one via cloneFlowId). 
    # @param flow_id [String] Flow ID
    # @param publish_whats_app_flow_request [PublishWhatsAppFlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateYoutubeDefaultPlaylist200Response]
    def publish_whats_app_flow(flow_id, publish_whats_app_flow_request, opts = {})
      data, _status_code, _headers = publish_whats_app_flow_with_http_info(flow_id, publish_whats_app_flow_request, opts)
      data
    end

    # Publish flow
    # Publish a DRAFT flow. This is irreversible. Once published, the flow and its JSON become immutable and the flow can be sent to users. To update a published flow, create a new flow (optionally cloning this one via cloneFlowId). 
    # @param flow_id [String] Flow ID
    # @param publish_whats_app_flow_request [PublishWhatsAppFlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateYoutubeDefaultPlaylist200Response, Integer, Hash)>] UpdateYoutubeDefaultPlaylist200Response data, response status code and response headers
    def publish_whats_app_flow_with_http_info(flow_id, publish_whats_app_flow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.publish_whats_app_flow ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling WhatsAppFlowsApi.publish_whats_app_flow"
      end
      # verify the required parameter 'publish_whats_app_flow_request' is set
      if @api_client.config.client_side_validation && publish_whats_app_flow_request.nil?
        fail ArgumentError, "Missing the required parameter 'publish_whats_app_flow_request' when calling WhatsAppFlowsApi.publish_whats_app_flow"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows/{flowId}/publish'.sub('{' + 'flowId' + '}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(publish_whats_app_flow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateYoutubeDefaultPlaylist200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.publish_whats_app_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#publish_whats_app_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send flow message
    # Send a published flow as an interactive message with a CTA button. When the recipient taps the button, the flow opens natively in WhatsApp. Flow responses are received via webhooks. 
    # @param send_whats_app_flow_message_request [SendWhatsAppFlowMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendWhatsAppFlowMessage200Response]
    def send_whats_app_flow_message(send_whats_app_flow_message_request, opts = {})
      data, _status_code, _headers = send_whats_app_flow_message_with_http_info(send_whats_app_flow_message_request, opts)
      data
    end

    # Send flow message
    # Send a published flow as an interactive message with a CTA button. When the recipient taps the button, the flow opens natively in WhatsApp. Flow responses are received via webhooks. 
    # @param send_whats_app_flow_message_request [SendWhatsAppFlowMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendWhatsAppFlowMessage200Response, Integer, Hash)>] SendWhatsAppFlowMessage200Response data, response status code and response headers
    def send_whats_app_flow_message_with_http_info(send_whats_app_flow_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.send_whats_app_flow_message ...'
      end
      # verify the required parameter 'send_whats_app_flow_message_request' is set
      if @api_client.config.client_side_validation && send_whats_app_flow_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_whats_app_flow_message_request' when calling WhatsAppFlowsApi.send_whats_app_flow_message"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_whats_app_flow_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendWhatsAppFlowMessage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.send_whats_app_flow_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#send_whats_app_flow_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update flow
    # Update metadata (name, categories) of a DRAFT flow. Published flows are immutable. 
    # @param flow_id [String] Flow ID
    # @param update_whats_app_flow_request [UpdateWhatsAppFlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateYoutubeDefaultPlaylist200Response]
    def update_whats_app_flow(flow_id, update_whats_app_flow_request, opts = {})
      data, _status_code, _headers = update_whats_app_flow_with_http_info(flow_id, update_whats_app_flow_request, opts)
      data
    end

    # Update flow
    # Update metadata (name, categories) of a DRAFT flow. Published flows are immutable. 
    # @param flow_id [String] Flow ID
    # @param update_whats_app_flow_request [UpdateWhatsAppFlowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateYoutubeDefaultPlaylist200Response, Integer, Hash)>] UpdateYoutubeDefaultPlaylist200Response data, response status code and response headers
    def update_whats_app_flow_with_http_info(flow_id, update_whats_app_flow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.update_whats_app_flow ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling WhatsAppFlowsApi.update_whats_app_flow"
      end
      # verify the required parameter 'update_whats_app_flow_request' is set
      if @api_client.config.client_side_validation && update_whats_app_flow_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_flow_request' when calling WhatsAppFlowsApi.update_whats_app_flow"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows/{flowId}'.sub('{' + 'flowId' + '}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_flow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateYoutubeDefaultPlaylist200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.update_whats_app_flow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#update_whats_app_flow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload flow JSON
    # Upload or update the Flow JSON for a DRAFT flow. The Flow JSON defines all screens, components (text inputs, dropdowns, date pickers, etc.), and navigation.  Meta validates the JSON on upload and returns any validation errors. See: https://developers.facebook.com/docs/whatsapp/flows/reference/flowjson 
    # @param flow_id [String] Flow ID
    # @param upload_whats_app_flow_json_request [UploadWhatsAppFlowJsonRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UploadWhatsAppFlowJson200Response]
    def upload_whats_app_flow_json(flow_id, upload_whats_app_flow_json_request, opts = {})
      data, _status_code, _headers = upload_whats_app_flow_json_with_http_info(flow_id, upload_whats_app_flow_json_request, opts)
      data
    end

    # Upload flow JSON
    # Upload or update the Flow JSON for a DRAFT flow. The Flow JSON defines all screens, components (text inputs, dropdowns, date pickers, etc.), and navigation.  Meta validates the JSON on upload and returns any validation errors. See: https://developers.facebook.com/docs/whatsapp/flows/reference/flowjson 
    # @param flow_id [String] Flow ID
    # @param upload_whats_app_flow_json_request [UploadWhatsAppFlowJsonRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadWhatsAppFlowJson200Response, Integer, Hash)>] UploadWhatsAppFlowJson200Response data, response status code and response headers
    def upload_whats_app_flow_json_with_http_info(flow_id, upload_whats_app_flow_json_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppFlowsApi.upload_whats_app_flow_json ...'
      end
      # verify the required parameter 'flow_id' is set
      if @api_client.config.client_side_validation && flow_id.nil?
        fail ArgumentError, "Missing the required parameter 'flow_id' when calling WhatsAppFlowsApi.upload_whats_app_flow_json"
      end
      # verify the required parameter 'upload_whats_app_flow_json_request' is set
      if @api_client.config.client_side_validation && upload_whats_app_flow_json_request.nil?
        fail ArgumentError, "Missing the required parameter 'upload_whats_app_flow_json_request' when calling WhatsAppFlowsApi.upload_whats_app_flow_json"
      end
      # resource path
      local_var_path = '/v1/whatsapp/flows/{flowId}/json'.sub('{' + 'flowId' + '}', CGI.escape(flow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upload_whats_app_flow_json_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UploadWhatsAppFlowJson200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppFlowsApi.upload_whats_app_flow_json",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppFlowsApi#upload_whats_app_flow_json\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
