=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class WhatsAppApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add participants
    # Add participants to a WhatsApp group. Maximum 8 participants per request.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param add_whats_app_group_participants_request [AddWhatsAppGroupParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def add_whats_app_group_participants(group_id, account_id, add_whats_app_group_participants_request, opts = {})
      data, _status_code, _headers = add_whats_app_group_participants_with_http_info(group_id, account_id, add_whats_app_group_participants_request, opts)
      data
    end

    # Add participants
    # Add participants to a WhatsApp group. Maximum 8 participants per request.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param add_whats_app_group_participants_request [AddWhatsAppGroupParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def add_whats_app_group_participants_with_http_info(group_id, account_id, add_whats_app_group_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.add_whats_app_group_participants ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.add_whats_app_group_participants"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.add_whats_app_group_participants"
      end
      # verify the required parameter 'add_whats_app_group_participants_request' is set
      if @api_client.config.client_side_validation && add_whats_app_group_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_whats_app_group_participants_request' when calling WhatsAppApi.add_whats_app_group_participants"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}/participants'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_whats_app_group_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.add_whats_app_group_participants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#add_whats_app_group_participants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve join requests
    # Approve pending join requests for a WhatsApp group.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param approve_whats_app_group_join_requests_request [ApproveWhatsAppGroupJoinRequestsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def approve_whats_app_group_join_requests(group_id, account_id, approve_whats_app_group_join_requests_request, opts = {})
      data, _status_code, _headers = approve_whats_app_group_join_requests_with_http_info(group_id, account_id, approve_whats_app_group_join_requests_request, opts)
      data
    end

    # Approve join requests
    # Approve pending join requests for a WhatsApp group.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param approve_whats_app_group_join_requests_request [ApproveWhatsAppGroupJoinRequestsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def approve_whats_app_group_join_requests_with_http_info(group_id, account_id, approve_whats_app_group_join_requests_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.approve_whats_app_group_join_requests ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.approve_whats_app_group_join_requests"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.approve_whats_app_group_join_requests"
      end
      # verify the required parameter 'approve_whats_app_group_join_requests_request' is set
      if @api_client.config.client_side_validation && approve_whats_app_group_join_requests_request.nil?
        fail ArgumentError, "Missing the required parameter 'approve_whats_app_group_join_requests_request' when calling WhatsAppApi.approve_whats_app_group_join_requests"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}/join-requests'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(approve_whats_app_group_join_requests_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.approve_whats_app_group_join_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#approve_whats_app_group_join_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create group
    # Create a new WhatsApp group chat. Returns the group ID and optionally an invite link.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param create_whats_app_group_chat_request [CreateWhatsAppGroupChatRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWhatsAppGroupChat201Response]
    def create_whats_app_group_chat(create_whats_app_group_chat_request, opts = {})
      data, _status_code, _headers = create_whats_app_group_chat_with_http_info(create_whats_app_group_chat_request, opts)
      data
    end

    # Create group
    # Create a new WhatsApp group chat. Returns the group ID and optionally an invite link.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param create_whats_app_group_chat_request [CreateWhatsAppGroupChatRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWhatsAppGroupChat201Response, Integer, Hash)>] CreateWhatsAppGroupChat201Response data, response status code and response headers
    def create_whats_app_group_chat_with_http_info(create_whats_app_group_chat_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.create_whats_app_group_chat ...'
      end
      # verify the required parameter 'create_whats_app_group_chat_request' is set
      if @api_client.config.client_side_validation && create_whats_app_group_chat_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_whats_app_group_chat_request' when calling WhatsAppApi.create_whats_app_group_chat"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_whats_app_group_chat_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWhatsAppGroupChat201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.create_whats_app_group_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#create_whats_app_group_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create invite link
    # Create a new invite link for a WhatsApp group. The previous link is revoked.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [CreateWhatsAppGroupInviteLink200Response]
    def create_whats_app_group_invite_link(group_id, account_id, opts = {})
      data, _status_code, _headers = create_whats_app_group_invite_link_with_http_info(group_id, account_id, opts)
      data
    end

    # Create invite link
    # Create a new invite link for a WhatsApp group. The previous link is revoked.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWhatsAppGroupInviteLink200Response, Integer, Hash)>] CreateWhatsAppGroupInviteLink200Response data, response status code and response headers
    def create_whats_app_group_invite_link_with_http_info(group_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.create_whats_app_group_invite_link ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.create_whats_app_group_invite_link"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.create_whats_app_group_invite_link"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}/invite-link'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWhatsAppGroupInviteLink200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.create_whats_app_group_invite_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#create_whats_app_group_invite_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create template
    # Create a new message template. Supports two modes:  Custom template: Provide components with your own content. Submitted to Meta for review (can take up to 24h).  Library template: Provide library_template_name instead of components to use a pre-built template from Meta's template library. Library templates are pre-approved (no review wait). You can optionally customize parameters and buttons via library_template_body_inputs and library_template_button_inputs.  Browse available library templates at: https://business.facebook.com/wa/manage/message-templates/ 
    # @param create_whats_app_template_request [CreateWhatsAppTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWhatsAppTemplate200Response]
    def create_whats_app_template(create_whats_app_template_request, opts = {})
      data, _status_code, _headers = create_whats_app_template_with_http_info(create_whats_app_template_request, opts)
      data
    end

    # Create template
    # Create a new message template. Supports two modes:  Custom template: Provide components with your own content. Submitted to Meta for review (can take up to 24h).  Library template: Provide library_template_name instead of components to use a pre-built template from Meta&#39;s template library. Library templates are pre-approved (no review wait). You can optionally customize parameters and buttons via library_template_body_inputs and library_template_button_inputs.  Browse available library templates at: https://business.facebook.com/wa/manage/message-templates/ 
    # @param create_whats_app_template_request [CreateWhatsAppTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWhatsAppTemplate200Response, Integer, Hash)>] CreateWhatsAppTemplate200Response data, response status code and response headers
    def create_whats_app_template_with_http_info(create_whats_app_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.create_whats_app_template ...'
      end
      # verify the required parameter 'create_whats_app_template_request' is set
      if @api_client.config.client_side_validation && create_whats_app_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_whats_app_template_request' when calling WhatsAppApi.create_whats_app_template"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_whats_app_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWhatsAppTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.create_whats_app_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#create_whats_app_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete group
    # Delete a WhatsApp group and remove all participants.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def delete_whats_app_group_chat(group_id, account_id, opts = {})
      data, _status_code, _headers = delete_whats_app_group_chat_with_http_info(group_id, account_id, opts)
      data
    end

    # Delete group
    # Delete a WhatsApp group and remove all participants.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def delete_whats_app_group_chat_with_http_info(group_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.delete_whats_app_group_chat ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.delete_whats_app_group_chat"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.delete_whats_app_group_chat"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.delete_whats_app_group_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#delete_whats_app_group_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete template
    # Permanently delete a message template by name. 
    # @param template_name [String] Template name
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def delete_whats_app_template(template_name, account_id, opts = {})
      data, _status_code, _headers = delete_whats_app_template_with_http_info(template_name, account_id, opts)
      data
    end

    # Delete template
    # Permanently delete a message template by name. 
    # @param template_name [String] Template name
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def delete_whats_app_template_with_http_info(template_name, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.delete_whats_app_template ...'
      end
      # verify the required parameter 'template_name' is set
      if @api_client.config.client_side_validation && template_name.nil?
        fail ArgumentError, "Missing the required parameter 'template_name' when calling WhatsAppApi.delete_whats_app_template"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.delete_whats_app_template"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates/{templateName}'.sub('{' + 'templateName' + '}', CGI.escape(template_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.delete_whats_app_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#delete_whats_app_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business profile
    # Retrieve the WhatsApp Business profile for the account (about, address, description, email, websites, etc.). 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppBusinessProfile200Response]
    def get_whats_app_business_profile(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_business_profile_with_http_info(account_id, opts)
      data
    end

    # Get business profile
    # Retrieve the WhatsApp Business profile for the account (about, address, description, email, websites, etc.). 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppBusinessProfile200Response, Integer, Hash)>] GetWhatsAppBusinessProfile200Response data, response status code and response headers
    def get_whats_app_business_profile_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_business_profile ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_business_profile"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppBusinessProfile200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_business_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_business_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get display name status
    # Fetch the current display name and its Meta review status for a WhatsApp Business account. Display name changes require Meta approval and can take 1-3 business days. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppDisplayName200Response]
    def get_whats_app_display_name(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_display_name_with_http_info(account_id, opts)
      data
    end

    # Get display name status
    # Fetch the current display name and its Meta review status for a WhatsApp Business account. Display name changes require Meta approval and can take 1-3 business days. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppDisplayName200Response, Integer, Hash)>] GetWhatsAppDisplayName200Response data, response status code and response headers
    def get_whats_app_display_name_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_display_name ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_display_name"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile/display-name'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppDisplayName200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_display_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_display_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get group info
    # Retrieve metadata about a WhatsApp group including subject, description, participants, and settings.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppGroupChat200Response]
    def get_whats_app_group_chat(group_id, account_id, opts = {})
      data, _status_code, _headers = get_whats_app_group_chat_with_http_info(group_id, account_id, opts)
      data
    end

    # Get group info
    # Retrieve metadata about a WhatsApp group including subject, description, participants, and settings.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppGroupChat200Response, Integer, Hash)>] GetWhatsAppGroupChat200Response data, response status code and response headers
    def get_whats_app_group_chat_with_http_info(group_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_group_chat ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.get_whats_app_group_chat"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_group_chat"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppGroupChat200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_group_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_group_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get template
    # Retrieve a single message template by name. 
    # @param template_name [String] Template name
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppTemplate200Response]
    def get_whats_app_template(template_name, account_id, opts = {})
      data, _status_code, _headers = get_whats_app_template_with_http_info(template_name, account_id, opts)
      data
    end

    # Get template
    # Retrieve a single message template by name. 
    # @param template_name [String] Template name
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppTemplate200Response, Integer, Hash)>] GetWhatsAppTemplate200Response data, response status code and response headers
    def get_whats_app_template_with_http_info(template_name, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_template ...'
      end
      # verify the required parameter 'template_name' is set
      if @api_client.config.client_side_validation && template_name.nil?
        fail ArgumentError, "Missing the required parameter 'template_name' when calling WhatsAppApi.get_whats_app_template"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_template"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates/{templateName}'.sub('{' + 'templateName' + '}', CGI.escape(template_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List templates
    # List all message templates for the WhatsApp Business Account (WABA) associated with the given account. Templates are fetched directly from the WhatsApp Cloud API. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppTemplates200Response]
    def get_whats_app_templates(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_templates_with_http_info(account_id, opts)
      data
    end

    # List templates
    # List all message templates for the WhatsApp Business Account (WABA) associated with the given account. Templates are fetched directly from the WhatsApp Cloud API. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppTemplates200Response, Integer, Hash)>] GetWhatsAppTemplates200Response data, response status code and response headers
    def get_whats_app_templates_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_templates ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_templates"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppTemplates200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List active groups
    # List active WhatsApp group chats for a business phone number. These are actual WhatsApp group conversations on the platform.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max groups to return (default to 25)
    # @option opts [String] :after Pagination cursor
    # @return [ListWhatsAppGroupChats200Response]
    def list_whats_app_group_chats(account_id, opts = {})
      data, _status_code, _headers = list_whats_app_group_chats_with_http_info(account_id, opts)
      data
    end

    # List active groups
    # List active WhatsApp group chats for a business phone number. These are actual WhatsApp group conversations on the platform.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max groups to return (default to 25)
    # @option opts [String] :after Pagination cursor
    # @return [Array<(ListWhatsAppGroupChats200Response, Integer, Hash)>] ListWhatsAppGroupChats200Response data, response status code and response headers
    def list_whats_app_group_chats_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.list_whats_app_group_chats ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.list_whats_app_group_chats"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1024
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WhatsAppApi.list_whats_app_group_chats, must be smaller than or equal to 1024.'
      end

      # resource path
      local_var_path = '/v1/whatsapp/wa-groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWhatsAppGroupChats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.list_whats_app_group_chats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#list_whats_app_group_chats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List join requests
    # List pending join requests for a WhatsApp group (only for groups with approval_required mode).  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [ListWhatsAppGroupJoinRequests200Response]
    def list_whats_app_group_join_requests(group_id, account_id, opts = {})
      data, _status_code, _headers = list_whats_app_group_join_requests_with_http_info(group_id, account_id, opts)
      data
    end

    # List join requests
    # List pending join requests for a WhatsApp group (only for groups with approval_required mode).  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListWhatsAppGroupJoinRequests200Response, Integer, Hash)>] ListWhatsAppGroupJoinRequests200Response data, response status code and response headers
    def list_whats_app_group_join_requests_with_http_info(group_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.list_whats_app_group_join_requests ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.list_whats_app_group_join_requests"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.list_whats_app_group_join_requests"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}/join-requests'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWhatsAppGroupJoinRequests200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.list_whats_app_group_join_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#list_whats_app_group_join_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reject join requests
    # Reject pending join requests for a WhatsApp group.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param reject_whats_app_group_join_requests_request [RejectWhatsAppGroupJoinRequestsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def reject_whats_app_group_join_requests(group_id, account_id, reject_whats_app_group_join_requests_request, opts = {})
      data, _status_code, _headers = reject_whats_app_group_join_requests_with_http_info(group_id, account_id, reject_whats_app_group_join_requests_request, opts)
      data
    end

    # Reject join requests
    # Reject pending join requests for a WhatsApp group.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param reject_whats_app_group_join_requests_request [RejectWhatsAppGroupJoinRequestsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def reject_whats_app_group_join_requests_with_http_info(group_id, account_id, reject_whats_app_group_join_requests_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.reject_whats_app_group_join_requests ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.reject_whats_app_group_join_requests"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.reject_whats_app_group_join_requests"
      end
      # verify the required parameter 'reject_whats_app_group_join_requests_request' is set
      if @api_client.config.client_side_validation && reject_whats_app_group_join_requests_request.nil?
        fail ArgumentError, "Missing the required parameter 'reject_whats_app_group_join_requests_request' when calling WhatsAppApi.reject_whats_app_group_join_requests"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}/join-requests'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reject_whats_app_group_join_requests_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.reject_whats_app_group_join_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#reject_whats_app_group_join_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove participants
    # Remove participants from a WhatsApp group.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param remove_whats_app_group_participants_request [RemoveWhatsAppGroupParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def remove_whats_app_group_participants(group_id, account_id, remove_whats_app_group_participants_request, opts = {})
      data, _status_code, _headers = remove_whats_app_group_participants_with_http_info(group_id, account_id, remove_whats_app_group_participants_request, opts)
      data
    end

    # Remove participants
    # Remove participants from a WhatsApp group.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param remove_whats_app_group_participants_request [RemoveWhatsAppGroupParticipantsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def remove_whats_app_group_participants_with_http_info(group_id, account_id, remove_whats_app_group_participants_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.remove_whats_app_group_participants ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.remove_whats_app_group_participants"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.remove_whats_app_group_participants"
      end
      # verify the required parameter 'remove_whats_app_group_participants_request' is set
      if @api_client.config.client_side_validation && remove_whats_app_group_participants_request.nil?
        fail ArgumentError, "Missing the required parameter 'remove_whats_app_group_participants_request' when calling WhatsAppApi.remove_whats_app_group_participants"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}/participants'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remove_whats_app_group_participants_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.remove_whats_app_group_participants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#remove_whats_app_group_participants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update business profile
    # Update the WhatsApp Business profile. All fields are optional; only provided fields will be updated. Constraints: about max 139 chars, description max 512 chars, max 2 websites. 
    # @param update_whats_app_business_profile_request [UpdateWhatsAppBusinessProfileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def update_whats_app_business_profile(update_whats_app_business_profile_request, opts = {})
      data, _status_code, _headers = update_whats_app_business_profile_with_http_info(update_whats_app_business_profile_request, opts)
      data
    end

    # Update business profile
    # Update the WhatsApp Business profile. All fields are optional; only provided fields will be updated. Constraints: about max 139 chars, description max 512 chars, max 2 websites. 
    # @param update_whats_app_business_profile_request [UpdateWhatsAppBusinessProfileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def update_whats_app_business_profile_with_http_info(update_whats_app_business_profile_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.update_whats_app_business_profile ...'
      end
      # verify the required parameter 'update_whats_app_business_profile_request' is set
      if @api_client.config.client_side_validation && update_whats_app_business_profile_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_business_profile_request' when calling WhatsAppApi.update_whats_app_business_profile"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_business_profile_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.update_whats_app_business_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#update_whats_app_business_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request display name change
    # Submit a display name change request for the WhatsApp Business account. The new name must follow WhatsApp naming guidelines (3-512 characters, must represent your business). Changes require Meta review and approval, which typically takes 1-3 business days. 
    # @param update_whats_app_display_name_request [UpdateWhatsAppDisplayNameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateWhatsAppDisplayName200Response]
    def update_whats_app_display_name(update_whats_app_display_name_request, opts = {})
      data, _status_code, _headers = update_whats_app_display_name_with_http_info(update_whats_app_display_name_request, opts)
      data
    end

    # Request display name change
    # Submit a display name change request for the WhatsApp Business account. The new name must follow WhatsApp naming guidelines (3-512 characters, must represent your business). Changes require Meta review and approval, which typically takes 1-3 business days. 
    # @param update_whats_app_display_name_request [UpdateWhatsAppDisplayNameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateWhatsAppDisplayName200Response, Integer, Hash)>] UpdateWhatsAppDisplayName200Response data, response status code and response headers
    def update_whats_app_display_name_with_http_info(update_whats_app_display_name_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.update_whats_app_display_name ...'
      end
      # verify the required parameter 'update_whats_app_display_name_request' is set
      if @api_client.config.client_side_validation && update_whats_app_display_name_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_display_name_request' when calling WhatsAppApi.update_whats_app_display_name"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile/display-name'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_display_name_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWhatsAppDisplayName200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.update_whats_app_display_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#update_whats_app_display_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update group settings
    # Update the subject, description, or join approval mode of a WhatsApp group.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param update_whats_app_group_chat_request [UpdateWhatsAppGroupChatRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def update_whats_app_group_chat(group_id, account_id, update_whats_app_group_chat_request, opts = {})
      data, _status_code, _headers = update_whats_app_group_chat_with_http_info(group_id, account_id, update_whats_app_group_chat_request, opts)
      data
    end

    # Update group settings
    # Update the subject, description, or join approval mode of a WhatsApp group.  Not available on [Coexistence](/platforms/whatsapp#whatsapp-business-app-coexistence) numbers. Requires a Cloud API-only number. 
    # @param group_id [String] Group ID
    # @param account_id [String] WhatsApp social account ID
    # @param update_whats_app_group_chat_request [UpdateWhatsAppGroupChatRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def update_whats_app_group_chat_with_http_info(group_id, account_id, update_whats_app_group_chat_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.update_whats_app_group_chat ...'
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling WhatsAppApi.update_whats_app_group_chat"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.update_whats_app_group_chat"
      end
      # verify the required parameter 'update_whats_app_group_chat_request' is set
      if @api_client.config.client_side_validation && update_whats_app_group_chat_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_group_chat_request' when calling WhatsAppApi.update_whats_app_group_chat"
      end
      # resource path
      local_var_path = '/v1/whatsapp/wa-groups/{groupId}'.sub('{' + 'groupId' + '}', CGI.escape(group_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_group_chat_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.update_whats_app_group_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#update_whats_app_group_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update template
    # Update a message template's components. Only certain fields can be updated depending on the template's current approval state. Approved templates can only have components updated. 
    # @param template_name [String] Template name
    # @param update_whats_app_template_request [UpdateWhatsAppTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateWhatsAppTemplate200Response]
    def update_whats_app_template(template_name, update_whats_app_template_request, opts = {})
      data, _status_code, _headers = update_whats_app_template_with_http_info(template_name, update_whats_app_template_request, opts)
      data
    end

    # Update template
    # Update a message template&#39;s components. Only certain fields can be updated depending on the template&#39;s current approval state. Approved templates can only have components updated. 
    # @param template_name [String] Template name
    # @param update_whats_app_template_request [UpdateWhatsAppTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateWhatsAppTemplate200Response, Integer, Hash)>] UpdateWhatsAppTemplate200Response data, response status code and response headers
    def update_whats_app_template_with_http_info(template_name, update_whats_app_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.update_whats_app_template ...'
      end
      # verify the required parameter 'template_name' is set
      if @api_client.config.client_side_validation && template_name.nil?
        fail ArgumentError, "Missing the required parameter 'template_name' when calling WhatsAppApi.update_whats_app_template"
      end
      # verify the required parameter 'update_whats_app_template_request' is set
      if @api_client.config.client_side_validation && update_whats_app_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_template_request' when calling WhatsAppApi.update_whats_app_template"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates/{templateName}'.sub('{' + 'templateName' + '}', CGI.escape(template_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWhatsAppTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.update_whats_app_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#update_whats_app_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload profile picture
    # Upload a new profile picture for the WhatsApp Business Profile. Uses Meta's resumable upload API under the hood: creates an upload session, uploads the image bytes, then updates the business profile with the resulting handle. 
    # @param account_id [String] WhatsApp social account ID
    # @param file [File] Image file (JPEG or PNG, max 5MB, recommended 640x640)
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def upload_whats_app_profile_photo(account_id, file, opts = {})
      data, _status_code, _headers = upload_whats_app_profile_photo_with_http_info(account_id, file, opts)
      data
    end

    # Upload profile picture
    # Upload a new profile picture for the WhatsApp Business Profile. Uses Meta&#39;s resumable upload API under the hood: creates an upload session, uploads the image bytes, then updates the business profile with the resulting handle. 
    # @param account_id [String] WhatsApp social account ID
    # @param file [File] Image file (JPEG or PNG, max 5MB, recommended 640x640)
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def upload_whats_app_profile_photo_with_http_info(account_id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.upload_whats_app_profile_photo ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.upload_whats_app_profile_photo"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling WhatsAppApi.upload_whats_app_profile_photo"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile/photo'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['accountId'] = account_id
      form_params['file'] = file

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.upload_whats_app_profile_photo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#upload_whats_app_profile_photo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
