=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class WhatsAppSandboxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Start a sandbox activation
    # Creates (or refreshes) a pending sandbox session for the given phone and immediately fires the verified sandbox template from the shared sandbox number to that phone. The session activates when the phone owner replies to that WhatsApp message — the reply itself is proof of ownership.  One phone per user: if the caller already has a non-expired session for a DIFFERENT phone, the request is rejected with `invalid_field_value` (the message names the existing phone so it can be revoked first). Re-creating a session for the SAME phone is idempotent and refreshes the verification template.  If Meta rejects the template send (not a WhatsApp number, paused WABA, token issue), the pending row is rolled back and the Meta error message is returned in `error` so the caller knows why. 
    # @param create_whats_app_sandbox_session_request [CreateWhatsAppSandboxSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWhatsAppSandboxSession200Response]
    def create_whats_app_sandbox_session(create_whats_app_sandbox_session_request, opts = {})
      data, _status_code, _headers = create_whats_app_sandbox_session_with_http_info(create_whats_app_sandbox_session_request, opts)
      data
    end

    # Start a sandbox activation
    # Creates (or refreshes) a pending sandbox session for the given phone and immediately fires the verified sandbox template from the shared sandbox number to that phone. The session activates when the phone owner replies to that WhatsApp message — the reply itself is proof of ownership.  One phone per user: if the caller already has a non-expired session for a DIFFERENT phone, the request is rejected with &#x60;invalid_field_value&#x60; (the message names the existing phone so it can be revoked first). Re-creating a session for the SAME phone is idempotent and refreshes the verification template.  If Meta rejects the template send (not a WhatsApp number, paused WABA, token issue), the pending row is rolled back and the Meta error message is returned in &#x60;error&#x60; so the caller knows why. 
    # @param create_whats_app_sandbox_session_request [CreateWhatsAppSandboxSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWhatsAppSandboxSession200Response, Integer, Hash)>] CreateWhatsAppSandboxSession200Response data, response status code and response headers
    def create_whats_app_sandbox_session_with_http_info(create_whats_app_sandbox_session_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppSandboxApi.create_whats_app_sandbox_session ...'
      end
      # verify the required parameter 'create_whats_app_sandbox_session_request' is set
      if @api_client.config.client_side_validation && create_whats_app_sandbox_session_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_whats_app_sandbox_session_request' when calling WhatsAppSandboxApi.create_whats_app_sandbox_session"
      end
      # resource path
      local_var_path = '/v1/whatsapp/sandbox/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_whats_app_sandbox_session_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWhatsAppSandboxSession200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppSandboxApi.create_whats_app_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppSandboxApi#create_whats_app_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke a sandbox session
    # Hard-deletes the session. The user loses the ability to send to that phone via the sandbox until they re-activate it. Existing conversations and messages already exchanged with that phone are untouched — revocation only blocks FUTURE sends.  Sessions belonging to other users cannot be revoked; the response is the same 400 as \"session not found\" so existence isn't leaked. 
    # @param session_id [String] The session id returned by POST /v1/whatsapp/sandbox/sessions.
    # @param [Hash] opts the optional parameters
    # @return [UpdateYoutubeDefaultPlaylist200Response]
    def delete_whats_app_sandbox_session(session_id, opts = {})
      data, _status_code, _headers = delete_whats_app_sandbox_session_with_http_info(session_id, opts)
      data
    end

    # Revoke a sandbox session
    # Hard-deletes the session. The user loses the ability to send to that phone via the sandbox until they re-activate it. Existing conversations and messages already exchanged with that phone are untouched — revocation only blocks FUTURE sends.  Sessions belonging to other users cannot be revoked; the response is the same 400 as \&quot;session not found\&quot; so existence isn&#39;t leaked. 
    # @param session_id [String] The session id returned by POST /v1/whatsapp/sandbox/sessions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateYoutubeDefaultPlaylist200Response, Integer, Hash)>] UpdateYoutubeDefaultPlaylist200Response data, response status code and response headers
    def delete_whats_app_sandbox_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppSandboxApi.delete_whats_app_sandbox_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling WhatsAppSandboxApi.delete_whats_app_sandbox_session"
      end
      # resource path
      local_var_path = '/v1/whatsapp/sandbox/sessions/{sessionId}'.sub('{' + 'sessionId' + '}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateYoutubeDefaultPlaylist200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppSandboxApi.delete_whats_app_sandbox_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppSandboxApi#delete_whats_app_sandbox_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List your sandbox sessions
    # Returns all of the authenticated user's non-expired sandbox sessions (pending + active) plus the sandbox phone number. In practice there is at most one session per user since the sandbox is one-phone-per-user; the array shape is preserved for forward compatibility. 
    # @param [Hash] opts the optional parameters
    # @return [ListWhatsAppSandboxSessions200Response]
    def list_whats_app_sandbox_sessions(opts = {})
      data, _status_code, _headers = list_whats_app_sandbox_sessions_with_http_info(opts)
      data
    end

    # List your sandbox sessions
    # Returns all of the authenticated user&#39;s non-expired sandbox sessions (pending + active) plus the sandbox phone number. In practice there is at most one session per user since the sandbox is one-phone-per-user; the array shape is preserved for forward compatibility. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListWhatsAppSandboxSessions200Response, Integer, Hash)>] ListWhatsAppSandboxSessions200Response data, response status code and response headers
    def list_whats_app_sandbox_sessions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppSandboxApi.list_whats_app_sandbox_sessions ...'
      end
      # resource path
      local_var_path = '/v1/whatsapp/sandbox/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWhatsAppSandboxSessions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppSandboxApi.list_whats_app_sandbox_sessions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppSandboxApi#list_whats_app_sandbox_sessions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
