=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class WorkflowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate workflow
    # Validate the graph is runnable and set the workflow live. Once active, matching inbound messages start executions. Idempotent.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ActivateWorkflow200Response]
    def activate_workflow(workflow_id, opts = {})
      data, _status_code, _headers = activate_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Activate workflow
    # Validate the graph is runnable and set the workflow live. Once active, matching inbound messages start executions. Idempotent.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivateWorkflow200Response, Integer, Hash)>] ActivateWorkflow200Response data, response status code and response headers
    def activate_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.activate_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.activate_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/activate'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivateWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.activate_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#activate_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create workflow
    # Create a branching conversation workflow (draft) from a node/edge graph. Created in `draft` status; activate it to start matching inbound messages. The graph is validated structurally; completeness (a trigger node + reachable entry) is required at activation. 
    # @param create_workflow_request [CreateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWorkflow200Response]
    def create_workflow(create_workflow_request, opts = {})
      data, _status_code, _headers = create_workflow_with_http_info(create_workflow_request, opts)
      data
    end

    # Create workflow
    # Create a branching conversation workflow (draft) from a node/edge graph. Created in &#x60;draft&#x60; status; activate it to start matching inbound messages. The graph is validated structurally; completeness (a trigger node + reachable entry) is required at activation. 
    # @param create_workflow_request [CreateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWorkflow200Response, Integer, Hash)>] CreateWorkflow200Response data, response status code and response headers
    def create_workflow_with_http_info(create_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_workflow ...'
      end
      # verify the required parameter 'create_workflow_request' is set
      if @api_client.config.client_side_validation && create_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_workflow_request' when calling WorkflowsApi.create_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete workflow
    # Permanently delete a workflow and all of its executions.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workflow(workflow_id, opts = {})
      delete_workflow_with_http_info(workflow_id, opts)
      nil
    end

    # Delete workflow
    # Permanently delete a workflow and all of its executions.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.delete_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.delete_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.delete_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#delete_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get workflow with graph
    # Returns a workflow including its full node/edge graph and run stats.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetWorkflow200Response]
    def get_workflow(workflow_id, opts = {})
      data, _status_code, _headers = get_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Get workflow with graph
    # Returns a workflow including its full node/edge graph and run stats.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWorkflow200Response, Integer, Hash)>] GetWorkflow200Response data, response status code and response headers
    def get_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.get_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.get_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.get_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#get_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflow runs
    # Returns recent executions (runs) with their status, current node, and accumulated variables.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListWorkflowExecutions200Response]
    def list_workflow_executions(workflow_id, opts = {})
      data, _status_code, _headers = list_workflow_executions_with_http_info(workflow_id, opts)
      data
    end

    # List workflow runs
    # Returns recent executions (runs) with their status, current node, and accumulated variables.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListWorkflowExecutions200Response, Integer, Hash)>] ListWorkflowExecutions200Response data, response status code and response headers
    def list_workflow_executions_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflow_executions ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.list_workflow_executions"
      end
      allowable_values = ["running", "waiting", "completed", "exited", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/executions'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflowExecutions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflow_executions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflow_executions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflows
    # Returns workflows with run stats. Filter by status or profile.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListWorkflows200Response]
    def list_workflows(opts = {})
      data, _status_code, _headers = list_workflows_with_http_info(opts)
      data
    end

    # List workflows
    # Returns workflows with run stats. Filter by status or profile.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListWorkflows200Response, Integer, Hash)>] ListWorkflows200Response data, response status code and response headers
    def list_workflows_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflows ...'
      end
      allowable_values = ["draft", "active", "paused"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/workflows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflows200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause workflow
    # Stop matching new inbound messages. In-flight executions continue to completion. Idempotent.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PauseWorkflow200Response]
    def pause_workflow(workflow_id, opts = {})
      data, _status_code, _headers = pause_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Pause workflow
    # Stop matching new inbound messages. In-flight executions continue to completion. Idempotent.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PauseWorkflow200Response, Integer, Hash)>] PauseWorkflow200Response data, response status code and response headers
    def pause_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.pause_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.pause_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/pause'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PauseWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.pause_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#pause_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manually start a workflow run
    # Kick off a run without waiting for an inbound message (useful for testing). Target an existing conversation by `conversationId`, or — WhatsApp only — a phone number via `to` (a conversation is found or created). `text` seeds the run's `lastMessage` variable. The graph must be runnable. 
    # @param workflow_id [String] 
    # @param trigger_workflow_request [TriggerWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TriggerWorkflow200Response]
    def trigger_workflow(workflow_id, trigger_workflow_request, opts = {})
      data, _status_code, _headers = trigger_workflow_with_http_info(workflow_id, trigger_workflow_request, opts)
      data
    end

    # Manually start a workflow run
    # Kick off a run without waiting for an inbound message (useful for testing). Target an existing conversation by &#x60;conversationId&#x60;, or — WhatsApp only — a phone number via &#x60;to&#x60; (a conversation is found or created). &#x60;text&#x60; seeds the run&#39;s &#x60;lastMessage&#x60; variable. The graph must be runnable. 
    # @param workflow_id [String] 
    # @param trigger_workflow_request [TriggerWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TriggerWorkflow200Response, Integer, Hash)>] TriggerWorkflow200Response data, response status code and response headers
    def trigger_workflow_with_http_info(workflow_id, trigger_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.trigger_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.trigger_workflow"
      end
      # verify the required parameter 'trigger_workflow_request' is set
      if @api_client.config.client_side_validation && trigger_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'trigger_workflow_request' when calling WorkflowsApi.trigger_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/executions'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(trigger_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TriggerWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.trigger_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#trigger_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update workflow
    # Update name, description, or the graph. The graph can only be modified while the workflow is draft or paused.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateWorkflowRequest] :update_workflow_request 
    # @return [UpdateWorkflow200Response]
    def update_workflow(workflow_id, opts = {})
      data, _status_code, _headers = update_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Update workflow
    # Update name, description, or the graph. The graph can only be modified while the workflow is draft or paused.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateWorkflowRequest] :update_workflow_request 
    # @return [Array<(UpdateWorkflow200Response, Integer, Hash)>] UpdateWorkflow200Response data, response status code and response headers
    def update_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.update_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.update_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_workflow_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.update_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#update_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
