=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.4
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Zernio
  class WorkflowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate workflow
    # Validate the graph is runnable and set the workflow live. Once active, matching inbound messages start executions. Idempotent.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ActivateWorkflow200Response]
    def activate_workflow(workflow_id, opts = {})
      data, _status_code, _headers = activate_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Activate workflow
    # Validate the graph is runnable and set the workflow live. Once active, matching inbound messages start executions. Idempotent.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActivateWorkflow200Response, Integer, Hash)>] ActivateWorkflow200Response data, response status code and response headers
    def activate_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.activate_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.activate_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/activate'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ActivateWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.activate_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#activate_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create workflow
    # Create a branching conversation workflow (draft) from a node/edge graph. Created in `draft` status; activate it to start matching inbound messages. The graph is validated structurally; completeness (a trigger node + reachable entry) is required at activation. 
    # @param create_workflow_request [CreateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWorkflow200Response]
    def create_workflow(create_workflow_request, opts = {})
      data, _status_code, _headers = create_workflow_with_http_info(create_workflow_request, opts)
      data
    end

    # Create workflow
    # Create a branching conversation workflow (draft) from a node/edge graph. Created in &#x60;draft&#x60; status; activate it to start matching inbound messages. The graph is validated structurally; completeness (a trigger node + reachable entry) is required at activation. 
    # @param create_workflow_request [CreateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWorkflow200Response, Integer, Hash)>] CreateWorkflow200Response data, response status code and response headers
    def create_workflow_with_http_info(create_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_workflow ...'
      end
      # verify the required parameter 'create_workflow_request' is set
      if @api_client.config.client_side_validation && create_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_workflow_request' when calling WorkflowsApi.create_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete workflow
    # Permanently delete a workflow and all of its executions.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workflow(workflow_id, opts = {})
      delete_workflow_with_http_info(workflow_id, opts)
      nil
    end

    # Delete workflow
    # Permanently delete a workflow and all of its executions.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.delete_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.delete_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.delete_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#delete_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate a workflow
    # Create an independent copy of a workflow's graph, name, description, and account binding. The copy is created in `draft` status with fresh execution counters and a new id — execution history is NOT copied. Useful for branching off a known-good workflow before making experimental edits. 
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DuplicateWorkflow201Response]
    def duplicate_workflow(workflow_id, opts = {})
      data, _status_code, _headers = duplicate_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Duplicate a workflow
    # Create an independent copy of a workflow&#39;s graph, name, description, and account binding. The copy is created in &#x60;draft&#x60; status with fresh execution counters and a new id — execution history is NOT copied. Useful for branching off a known-good workflow before making experimental edits. 
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DuplicateWorkflow201Response, Integer, Hash)>] DuplicateWorkflow201Response data, response status code and response headers
    def duplicate_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.duplicate_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.duplicate_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/duplicate'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DuplicateWorkflow201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.duplicate_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#duplicate_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get workflow with graph
    # Returns a workflow including its full node/edge graph and run stats.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetWorkflow200Response]
    def get_workflow(workflow_id, opts = {})
      data, _status_code, _headers = get_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Get workflow with graph
    # Returns a workflow including its full node/edge graph and run stats.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWorkflow200Response, Integer, Hash)>] GetWorkflow200Response data, response status code and response headers
    def get_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.get_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.get_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.get_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#get_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a specific workflow version
    # Returns the full snapshot for a single historical version, including the graph.
    # @param workflow_id [String] 
    # @param version [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [GetWorkflowVersion200Response]
    def get_workflow_version(workflow_id, version, opts = {})
      data, _status_code, _headers = get_workflow_version_with_http_info(workflow_id, version, opts)
      data
    end

    # Get a specific workflow version
    # Returns the full snapshot for a single historical version, including the graph.
    # @param workflow_id [String] 
    # @param version [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWorkflowVersion200Response, Integer, Hash)>] GetWorkflowVersion200Response data, response status code and response headers
    def get_workflow_version_with_http_info(workflow_id, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.get_workflow_version ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.get_workflow_version"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling WorkflowsApi.get_workflow_version"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/versions/{version}'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s)).sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWorkflowVersion200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.get_workflow_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#get_workflow_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an execution's timeline
    # Returns the per-step run-log for a single workflow execution: trigger fired, each node visited, edge handles taken, errors, and durations. Backed by Tinybird (90-day retention). Used by the Runs UI drawer to render the timeline. 
    # @param workflow_id [String] 
    # @param execution_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListWorkflowExecutionEvents200Response]
    def list_workflow_execution_events(workflow_id, execution_id, opts = {})
      data, _status_code, _headers = list_workflow_execution_events_with_http_info(workflow_id, execution_id, opts)
      data
    end

    # Get an execution&#39;s timeline
    # Returns the per-step run-log for a single workflow execution: trigger fired, each node visited, edge handles taken, errors, and durations. Backed by Tinybird (90-day retention). Used by the Runs UI drawer to render the timeline. 
    # @param workflow_id [String] 
    # @param execution_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListWorkflowExecutionEvents200Response, Integer, Hash)>] ListWorkflowExecutionEvents200Response data, response status code and response headers
    def list_workflow_execution_events_with_http_info(workflow_id, execution_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflow_execution_events ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.list_workflow_execution_events"
      end
      # verify the required parameter 'execution_id' is set
      if @api_client.config.client_side_validation && execution_id.nil?
        fail ArgumentError, "Missing the required parameter 'execution_id' when calling WorkflowsApi.list_workflow_execution_events"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/executions/{executionId}/events'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s)).sub('{' + 'executionId' + '}', CGI.escape(execution_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflowExecutionEvents200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflow_execution_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflow_execution_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflow runs
    # Returns recent executions (runs) with their status, current node, and accumulated variables.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListWorkflowExecutions200Response]
    def list_workflow_executions(workflow_id, opts = {})
      data, _status_code, _headers = list_workflow_executions_with_http_info(workflow_id, opts)
      data
    end

    # List workflow runs
    # Returns recent executions (runs) with their status, current node, and accumulated variables.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListWorkflowExecutions200Response, Integer, Hash)>] ListWorkflowExecutions200Response data, response status code and response headers
    def list_workflow_executions_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflow_executions ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.list_workflow_executions"
      end
      allowable_values = ["running", "waiting", "completed", "exited", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/executions'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflowExecutions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflow_executions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflow_executions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a workflow's version history
    # Returns the snapshot history. A new version is recorded automatically before every PATCH to `nodes` / `edges` / `entryNodeId`, and explicitly when a previous version is restored. Lightweight list — call `getWorkflowVersion` for the full snapshot graph. 
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListWorkflowVersions200Response]
    def list_workflow_versions(workflow_id, opts = {})
      data, _status_code, _headers = list_workflow_versions_with_http_info(workflow_id, opts)
      data
    end

    # List a workflow&#39;s version history
    # Returns the snapshot history. A new version is recorded automatically before every PATCH to &#x60;nodes&#x60; / &#x60;edges&#x60; / &#x60;entryNodeId&#x60;, and explicitly when a previous version is restored. Lightweight list — call &#x60;getWorkflowVersion&#x60; for the full snapshot graph. 
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListWorkflowVersions200Response, Integer, Hash)>] ListWorkflowVersions200Response data, response status code and response headers
    def list_workflow_versions_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflow_versions ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.list_workflow_versions"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/versions'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflowVersions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflow_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflow_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflows
    # Returns workflows with run stats. Filter by status or profile.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListWorkflows200Response]
    def list_workflows(opts = {})
      data, _status_code, _headers = list_workflows_with_http_info(opts)
      data
    end

    # List workflows
    # Returns workflows with run stats. Filter by status or profile.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListWorkflows200Response, Integer, Hash)>] ListWorkflows200Response data, response status code and response headers
    def list_workflows_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflows ...'
      end
      allowable_values = ["draft", "active", "paused"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/workflows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListWorkflows200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pause workflow
    # Stop matching new inbound messages. In-flight executions continue to completion. Idempotent.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [PauseWorkflow200Response]
    def pause_workflow(workflow_id, opts = {})
      data, _status_code, _headers = pause_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Pause workflow
    # Stop matching new inbound messages. In-flight executions continue to completion. Idempotent.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PauseWorkflow200Response, Integer, Hash)>] PauseWorkflow200Response data, response status code and response headers
    def pause_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.pause_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.pause_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/pause'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PauseWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.pause_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#pause_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore a previous workflow version
    # Replace the current graph with the named version's snapshot. Before the swap, the current graph is itself snapshotted as a new version, so a restore is reversible. The workflow must be in `draft` or `paused` status (same gate as a normal graph edit). The returned workflow carries `restoredFromVersion` so the UI can surface which version was rolled back to. 
    # @param workflow_id [String] 
    # @param version [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [RestoreWorkflowVersion200Response]
    def restore_workflow_version(workflow_id, version, opts = {})
      data, _status_code, _headers = restore_workflow_version_with_http_info(workflow_id, version, opts)
      data
    end

    # Restore a previous workflow version
    # Replace the current graph with the named version&#39;s snapshot. Before the swap, the current graph is itself snapshotted as a new version, so a restore is reversible. The workflow must be in &#x60;draft&#x60; or &#x60;paused&#x60; status (same gate as a normal graph edit). The returned workflow carries &#x60;restoredFromVersion&#x60; so the UI can surface which version was rolled back to. 
    # @param workflow_id [String] 
    # @param version [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RestoreWorkflowVersion200Response, Integer, Hash)>] RestoreWorkflowVersion200Response data, response status code and response headers
    def restore_workflow_version_with_http_info(workflow_id, version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.restore_workflow_version ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.restore_workflow_version"
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling WorkflowsApi.restore_workflow_version"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/versions/{version}/restore'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s)).sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RestoreWorkflowVersion200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.restore_workflow_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#restore_workflow_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manually start a workflow run
    # Kick off a run without waiting for an inbound message (useful for testing). Target an existing conversation by `conversationId`, or — WhatsApp only — a phone number via `to` (a conversation is found or created). `text` seeds the run's `lastMessage` variable. The graph must be runnable. 
    # @param workflow_id [String] 
    # @param trigger_workflow_request [TriggerWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TriggerWorkflow200Response]
    def trigger_workflow(workflow_id, trigger_workflow_request, opts = {})
      data, _status_code, _headers = trigger_workflow_with_http_info(workflow_id, trigger_workflow_request, opts)
      data
    end

    # Manually start a workflow run
    # Kick off a run without waiting for an inbound message (useful for testing). Target an existing conversation by &#x60;conversationId&#x60;, or — WhatsApp only — a phone number via &#x60;to&#x60; (a conversation is found or created). &#x60;text&#x60; seeds the run&#39;s &#x60;lastMessage&#x60; variable. The graph must be runnable. 
    # @param workflow_id [String] 
    # @param trigger_workflow_request [TriggerWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TriggerWorkflow200Response, Integer, Hash)>] TriggerWorkflow200Response data, response status code and response headers
    def trigger_workflow_with_http_info(workflow_id, trigger_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.trigger_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.trigger_workflow"
      end
      # verify the required parameter 'trigger_workflow_request' is set
      if @api_client.config.client_side_validation && trigger_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'trigger_workflow_request' when calling WorkflowsApi.trigger_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}/executions'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(trigger_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TriggerWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.trigger_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#trigger_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update workflow
    # Update name, description, the graph, or reassign to a different account. The graph can only be modified while the workflow is draft or paused. Account swaps re-validate the graph against the new platform (so e.g. moving from WhatsApp to Facebook surfaces a `start_call` node as an error instead of silently saving an unrunnable graph). 
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateWorkflowRequest] :update_workflow_request 
    # @return [UpdateWorkflow200Response]
    def update_workflow(workflow_id, opts = {})
      data, _status_code, _headers = update_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Update workflow
    # Update name, description, the graph, or reassign to a different account. The graph can only be modified while the workflow is draft or paused. Account swaps re-validate the graph against the new platform (so e.g. moving from WhatsApp to Facebook surfaces a &#x60;start_call&#x60; node as an error instead of silently saving an unrunnable graph). 
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateWorkflowRequest] :update_workflow_request 
    # @return [Array<(UpdateWorkflow200Response, Integer, Hash)>] UpdateWorkflow200Response data, response status code and response headers
    def update_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.update_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.update_workflow"
      end
      # resource path
      local_var_path = '/v1/workflows/{workflowId}'.sub('{' + 'workflowId' + '}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_workflow_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWorkflow200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WorkflowsApi.update_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#update_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
