=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class AccountSettingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete IG ice breakers
    # Removes the ice breaker questions from an Instagram account's Messenger experience.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_instagram_ice_breakers(account_id, opts = {})
      delete_instagram_ice_breakers_with_http_info(account_id, opts)
      nil
    end

    # Delete IG ice breakers
    # Removes the ice breaker questions from an Instagram account&#39;s Messenger experience.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_instagram_ice_breakers_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.delete_instagram_ice_breakers ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.delete_instagram_ice_breakers"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/instagram-ice-breakers'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.delete_instagram_ice_breakers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#delete_instagram_ice_breakers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete FB persistent menu
    # Removes the persistent menu from Facebook Messenger conversations for this account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_messenger_menu(account_id, opts = {})
      delete_messenger_menu_with_http_info(account_id, opts)
      nil
    end

    # Delete FB persistent menu
    # Removes the persistent menu from Facebook Messenger conversations for this account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_messenger_menu_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.delete_messenger_menu ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.delete_messenger_menu"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/messenger-menu'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.delete_messenger_menu",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#delete_messenger_menu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete TG bot commands
    # Clears all bot commands configured for a Telegram bot account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_telegram_commands(account_id, opts = {})
      delete_telegram_commands_with_http_info(account_id, opts)
      nil
    end

    # Delete TG bot commands
    # Clears all bot commands configured for a Telegram bot account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_telegram_commands_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.delete_telegram_commands ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.delete_telegram_commands"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/telegram-commands'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.delete_telegram_commands",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#delete_telegram_commands\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get IG ice breakers
    # Get the ice breaker configuration for an Instagram account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetMessengerMenu200Response]
    def get_instagram_ice_breakers(account_id, opts = {})
      data, _status_code, _headers = get_instagram_ice_breakers_with_http_info(account_id, opts)
      data
    end

    # Get IG ice breakers
    # Get the ice breaker configuration for an Instagram account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMessengerMenu200Response, Integer, Hash)>] GetMessengerMenu200Response data, response status code and response headers
    def get_instagram_ice_breakers_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.get_instagram_ice_breakers ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.get_instagram_ice_breakers"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/instagram-ice-breakers'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMessengerMenu200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.get_instagram_ice_breakers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#get_instagram_ice_breakers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get FB persistent menu
    # Get the persistent menu configuration for a Facebook Messenger account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetMessengerMenu200Response]
    def get_messenger_menu(account_id, opts = {})
      data, _status_code, _headers = get_messenger_menu_with_http_info(account_id, opts)
      data
    end

    # Get FB persistent menu
    # Get the persistent menu configuration for a Facebook Messenger account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMessengerMenu200Response, Integer, Hash)>] GetMessengerMenu200Response data, response status code and response headers
    def get_messenger_menu_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.get_messenger_menu ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.get_messenger_menu"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/messenger-menu'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMessengerMenu200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.get_messenger_menu",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#get_messenger_menu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get TG bot commands
    # Get the bot commands configuration for a Telegram account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetTelegramCommands200Response]
    def get_telegram_commands(account_id, opts = {})
      data, _status_code, _headers = get_telegram_commands_with_http_info(account_id, opts)
      data
    end

    # Get TG bot commands
    # Get the bot commands configuration for a Telegram account.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetTelegramCommands200Response, Integer, Hash)>] GetTelegramCommands200Response data, response status code and response headers
    def get_telegram_commands_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.get_telegram_commands ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.get_telegram_commands"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/telegram-commands'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetTelegramCommands200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.get_telegram_commands",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#get_telegram_commands\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set IG ice breakers
    # Set ice breakers for an Instagram account. Max 4 ice breakers, question max 80 chars.
    # @param account_id [String] 
    # @param set_instagram_ice_breakers_request [SetInstagramIceBreakersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_instagram_ice_breakers(account_id, set_instagram_ice_breakers_request, opts = {})
      set_instagram_ice_breakers_with_http_info(account_id, set_instagram_ice_breakers_request, opts)
      nil
    end

    # Set IG ice breakers
    # Set ice breakers for an Instagram account. Max 4 ice breakers, question max 80 chars.
    # @param account_id [String] 
    # @param set_instagram_ice_breakers_request [SetInstagramIceBreakersRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_instagram_ice_breakers_with_http_info(account_id, set_instagram_ice_breakers_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.set_instagram_ice_breakers ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.set_instagram_ice_breakers"
      end
      # verify the required parameter 'set_instagram_ice_breakers_request' is set
      if @api_client.config.client_side_validation && set_instagram_ice_breakers_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_instagram_ice_breakers_request' when calling AccountSettingsApi.set_instagram_ice_breakers"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/instagram-ice-breakers'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_instagram_ice_breakers_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.set_instagram_ice_breakers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#set_instagram_ice_breakers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set FB persistent menu
    # Set the persistent menu for a Facebook Messenger account. Max 3 top-level items, max 5 nested items.
    # @param account_id [String] 
    # @param set_messenger_menu_request [SetMessengerMenuRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_messenger_menu(account_id, set_messenger_menu_request, opts = {})
      set_messenger_menu_with_http_info(account_id, set_messenger_menu_request, opts)
      nil
    end

    # Set FB persistent menu
    # Set the persistent menu for a Facebook Messenger account. Max 3 top-level items, max 5 nested items.
    # @param account_id [String] 
    # @param set_messenger_menu_request [SetMessengerMenuRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_messenger_menu_with_http_info(account_id, set_messenger_menu_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.set_messenger_menu ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.set_messenger_menu"
      end
      # verify the required parameter 'set_messenger_menu_request' is set
      if @api_client.config.client_side_validation && set_messenger_menu_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_messenger_menu_request' when calling AccountSettingsApi.set_messenger_menu"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/messenger-menu'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_messenger_menu_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.set_messenger_menu",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#set_messenger_menu\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set TG bot commands
    # Set bot commands for a Telegram account.
    # @param account_id [String] 
    # @param set_telegram_commands_request [SetTelegramCommandsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_telegram_commands(account_id, set_telegram_commands_request, opts = {})
      set_telegram_commands_with_http_info(account_id, set_telegram_commands_request, opts)
      nil
    end

    # Set TG bot commands
    # Set bot commands for a Telegram account.
    # @param account_id [String] 
    # @param set_telegram_commands_request [SetTelegramCommandsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_telegram_commands_with_http_info(account_id, set_telegram_commands_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountSettingsApi.set_telegram_commands ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AccountSettingsApi.set_telegram_commands"
      end
      # verify the required parameter 'set_telegram_commands_request' is set
      if @api_client.config.client_side_validation && set_telegram_commands_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_telegram_commands_request' when calling AccountSettingsApi.set_telegram_commands"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/telegram-commands'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_telegram_commands_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AccountSettingsApi.set_telegram_commands",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountSettingsApi#set_telegram_commands\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
