=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class BroadcastsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add recipients to a broadcast
    # @param broadcast_id [String] 
    # @param add_broadcast_recipients_request [AddBroadcastRecipientsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddBroadcastRecipients200Response]
    def add_broadcast_recipients(broadcast_id, add_broadcast_recipients_request, opts = {})
      data, _status_code, _headers = add_broadcast_recipients_with_http_info(broadcast_id, add_broadcast_recipients_request, opts)
      data
    end

    # Add recipients to a broadcast
    # @param broadcast_id [String] 
    # @param add_broadcast_recipients_request [AddBroadcastRecipientsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddBroadcastRecipients200Response, Integer, Hash)>] AddBroadcastRecipients200Response data, response status code and response headers
    def add_broadcast_recipients_with_http_info(broadcast_id, add_broadcast_recipients_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.add_broadcast_recipients ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling BroadcastsApi.add_broadcast_recipients"
      end
      # verify the required parameter 'add_broadcast_recipients_request' is set
      if @api_client.config.client_side_validation && add_broadcast_recipients_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_broadcast_recipients_request' when calling BroadcastsApi.add_broadcast_recipients"
      end
      # resource path
      local_var_path = '/v1/broadcasts/{broadcastId}/recipients'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_broadcast_recipients_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddBroadcastRecipients200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.add_broadcast_recipients",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#add_broadcast_recipients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel broadcast
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CancelBroadcast200Response]
    def cancel_broadcast(broadcast_id, opts = {})
      data, _status_code, _headers = cancel_broadcast_with_http_info(broadcast_id, opts)
      data
    end

    # Cancel broadcast
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelBroadcast200Response, Integer, Hash)>] CancelBroadcast200Response data, response status code and response headers
    def cancel_broadcast_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.cancel_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling BroadcastsApi.cancel_broadcast"
      end
      # resource path
      local_var_path = '/v1/broadcasts/{broadcastId}/cancel'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CancelBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.cancel_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#cancel_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create broadcast draft
    # @param create_broadcast_request [CreateBroadcastRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateBroadcast200Response]
    def create_broadcast(create_broadcast_request, opts = {})
      data, _status_code, _headers = create_broadcast_with_http_info(create_broadcast_request, opts)
      data
    end

    # Create broadcast draft
    # @param create_broadcast_request [CreateBroadcastRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateBroadcast200Response, Integer, Hash)>] CreateBroadcast200Response data, response status code and response headers
    def create_broadcast_with_http_info(create_broadcast_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.create_broadcast ...'
      end
      # verify the required parameter 'create_broadcast_request' is set
      if @api_client.config.client_side_validation && create_broadcast_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_broadcast_request' when calling BroadcastsApi.create_broadcast"
      end
      # resource path
      local_var_path = '/v1/broadcasts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_broadcast_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.create_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#create_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete broadcast
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_broadcast(broadcast_id, opts = {})
      delete_broadcast_with_http_info(broadcast_id, opts)
      nil
    end

    # Delete broadcast
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_broadcast_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.delete_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling BroadcastsApi.delete_broadcast"
      end
      # resource path
      local_var_path = '/v1/broadcasts/{broadcastId}'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.delete_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#delete_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get broadcast details
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetBroadcast200Response]
    def get_broadcast(broadcast_id, opts = {})
      data, _status_code, _headers = get_broadcast_with_http_info(broadcast_id, opts)
      data
    end

    # Get broadcast details
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBroadcast200Response, Integer, Hash)>] GetBroadcast200Response data, response status code and response headers
    def get_broadcast_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.get_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling BroadcastsApi.get_broadcast"
      end
      # resource path
      local_var_path = '/v1/broadcasts/{broadcastId}'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.get_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#get_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List broadcast recipients
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListBroadcastRecipients200Response]
    def list_broadcast_recipients(broadcast_id, opts = {})
      data, _status_code, _headers = list_broadcast_recipients_with_http_info(broadcast_id, opts)
      data
    end

    # List broadcast recipients
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListBroadcastRecipients200Response, Integer, Hash)>] ListBroadcastRecipients200Response data, response status code and response headers
    def list_broadcast_recipients_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.list_broadcast_recipients ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling BroadcastsApi.list_broadcast_recipients"
      end
      allowable_values = ["pending", "sent", "delivered", "read", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/broadcasts/{broadcastId}/recipients'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBroadcastRecipients200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.list_broadcast_recipients",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#list_broadcast_recipients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List broadcasts
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :status 
    # @option opts [String] :platform 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListBroadcasts200Response]
    def list_broadcasts(opts = {})
      data, _status_code, _headers = list_broadcasts_with_http_info(opts)
      data
    end

    # List broadcasts
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :status 
    # @option opts [String] :platform 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListBroadcasts200Response, Integer, Hash)>] ListBroadcasts200Response data, response status code and response headers
    def list_broadcasts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.list_broadcasts ...'
      end
      allowable_values = ["draft", "scheduled", "sending", "completed", "failed", "cancelled"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/broadcasts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBroadcasts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.list_broadcasts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#list_broadcasts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Schedule broadcast for later
    # @param broadcast_id [String] 
    # @param schedule_broadcast_request [ScheduleBroadcastRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ScheduleBroadcast200Response]
    def schedule_broadcast(broadcast_id, schedule_broadcast_request, opts = {})
      data, _status_code, _headers = schedule_broadcast_with_http_info(broadcast_id, schedule_broadcast_request, opts)
      data
    end

    # Schedule broadcast for later
    # @param broadcast_id [String] 
    # @param schedule_broadcast_request [ScheduleBroadcastRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleBroadcast200Response, Integer, Hash)>] ScheduleBroadcast200Response data, response status code and response headers
    def schedule_broadcast_with_http_info(broadcast_id, schedule_broadcast_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.schedule_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling BroadcastsApi.schedule_broadcast"
      end
      # verify the required parameter 'schedule_broadcast_request' is set
      if @api_client.config.client_side_validation && schedule_broadcast_request.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_broadcast_request' when calling BroadcastsApi.schedule_broadcast"
      end
      # resource path
      local_var_path = '/v1/broadcasts/{broadcastId}/schedule'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule_broadcast_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.schedule_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#schedule_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send broadcast now
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [SendBroadcast200Response]
    def send_broadcast(broadcast_id, opts = {})
      data, _status_code, _headers = send_broadcast_with_http_info(broadcast_id, opts)
      data
    end

    # Send broadcast now
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendBroadcast200Response, Integer, Hash)>] SendBroadcast200Response data, response status code and response headers
    def send_broadcast_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.send_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling BroadcastsApi.send_broadcast"
      end
      # resource path
      local_var_path = '/v1/broadcasts/{broadcastId}/send'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SendBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.send_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#send_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update broadcast
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateBroadcast200Response]
    def update_broadcast(broadcast_id, opts = {})
      data, _status_code, _headers = update_broadcast_with_http_info(broadcast_id, opts)
      data
    end

    # Update broadcast
    # @param broadcast_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateBroadcast200Response, Integer, Hash)>] UpdateBroadcast200Response data, response status code and response headers
    def update_broadcast_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BroadcastsApi.update_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling BroadcastsApi.update_broadcast"
      end
      # resource path
      local_var_path = '/v1/broadcasts/{broadcastId}'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"BroadcastsApi.update_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsApi#update_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
