=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class ContactsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Bulk create contacts
    # Import up to 1000 contacts at a time. Skips duplicates.
    # @param bulk_create_contacts_request [BulkCreateContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkCreateContacts200Response]
    def bulk_create_contacts(bulk_create_contacts_request, opts = {})
      data, _status_code, _headers = bulk_create_contacts_with_http_info(bulk_create_contacts_request, opts)
      data
    end

    # Bulk create contacts
    # Import up to 1000 contacts at a time. Skips duplicates.
    # @param bulk_create_contacts_request [BulkCreateContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkCreateContacts200Response, Integer, Hash)>] BulkCreateContacts200Response data, response status code and response headers
    def bulk_create_contacts_with_http_info(bulk_create_contacts_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.bulk_create_contacts ...'
      end
      # verify the required parameter 'bulk_create_contacts_request' is set
      if @api_client.config.client_side_validation && bulk_create_contacts_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_create_contacts_request' when calling ContactsApi.bulk_create_contacts"
      end
      # resource path
      local_var_path = '/v1/contacts/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_create_contacts_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkCreateContacts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.bulk_create_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#bulk_create_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create contact
    # Create a new contact. Optionally create a platform channel in the same request by providing accountId, platform, and platformIdentifier.
    # @param create_contact_request [CreateContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateContact200Response]
    def create_contact(create_contact_request, opts = {})
      data, _status_code, _headers = create_contact_with_http_info(create_contact_request, opts)
      data
    end

    # Create contact
    # Create a new contact. Optionally create a platform channel in the same request by providing accountId, platform, and platformIdentifier.
    # @param create_contact_request [CreateContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateContact200Response, Integer, Hash)>] CreateContact200Response data, response status code and response headers
    def create_contact_with_http_info(create_contact_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.create_contact ...'
      end
      # verify the required parameter 'create_contact_request' is set
      if @api_client.config.client_side_validation && create_contact_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_contact_request' when calling ContactsApi.create_contact"
      end
      # resource path
      local_var_path = '/v1/contacts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_contact_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateContact200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.create_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#create_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete contact
    # Permanently deletes a contact and all associated channels.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact(contact_id, opts = {})
      delete_contact_with_http_info(contact_id, opts)
      nil
    end

    # Delete contact
    # Permanently deletes a contact and all associated channels.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_contact_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.delete_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactsApi.delete_contact"
      end
      # resource path
      local_var_path = '/v1/contacts/{contactId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.delete_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#delete_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contact
    # Returns a contact with all associated messaging channels.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetContact200Response]
    def get_contact(contact_id, opts = {})
      data, _status_code, _headers = get_contact_with_http_info(contact_id, opts)
      data
    end

    # Get contact
    # Returns a contact with all associated messaging channels.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetContact200Response, Integer, Hash)>] GetContact200Response data, response status code and response headers
    def get_contact_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.get_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactsApi.get_contact"
      end
      # resource path
      local_var_path = '/v1/contacts/{contactId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetContact200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.get_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#get_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List channels for a contact
    # Returns all messaging channels linked to a contact (e.g. Instagram DM, Telegram, WhatsApp).
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetContactChannels200Response]
    def get_contact_channels(contact_id, opts = {})
      data, _status_code, _headers = get_contact_channels_with_http_info(contact_id, opts)
      data
    end

    # List channels for a contact
    # Returns all messaging channels linked to a contact (e.g. Instagram DM, Telegram, WhatsApp).
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetContactChannels200Response, Integer, Hash)>] GetContactChannels200Response data, response status code and response headers
    def get_contact_channels_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.get_contact_channels ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactsApi.get_contact_channels"
      end
      # resource path
      local_var_path = '/v1/contacts/{contactId}/channels'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetContactChannels200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.get_contact_channels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#get_contact_channels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List contacts
    # List and search contacts for a profile. Supports filtering by tags, platform, subscription status, and full-text search.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :search 
    # @option opts [String] :tag 
    # @option opts [String] :platform 
    # @option opts [String] :is_subscribed 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [ListContacts200Response]
    def list_contacts(opts = {})
      data, _status_code, _headers = list_contacts_with_http_info(opts)
      data
    end

    # List contacts
    # List and search contacts for a profile. Supports filtering by tags, platform, subscription status, and full-text search.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile. Omit to list across all profiles
    # @option opts [String] :search 
    # @option opts [String] :tag 
    # @option opts [String] :platform 
    # @option opts [String] :is_subscribed 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :skip  (default to 0)
    # @return [Array<(ListContacts200Response, Integer, Hash)>] ListContacts200Response data, response status code and response headers
    def list_contacts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.list_contacts ...'
      end
      allowable_values = ["instagram", "facebook", "telegram", "twitter", "bluesky", "reddit", "whatsapp"]
      if @api_client.config.client_side_validation && opts[:'platform'] && !allowable_values.include?(opts[:'platform'])
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'is_subscribed'] && !allowable_values.include?(opts[:'is_subscribed'])
        fail ArgumentError, "invalid value for \"is_subscribed\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 200
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ContactsApi.list_contacts, must be smaller than or equal to 200.'
      end

      # resource path
      local_var_path = '/v1/contacts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'isSubscribed'] = opts[:'is_subscribed'] if !opts[:'is_subscribed'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListContacts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.list_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#list_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update contact
    # Update one or more fields on a contact. Only provided fields are changed.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateContactRequest] :update_contact_request 
    # @return [UpdateContact200Response]
    def update_contact(contact_id, opts = {})
      data, _status_code, _headers = update_contact_with_http_info(contact_id, opts)
      data
    end

    # Update contact
    # Update one or more fields on a contact. Only provided fields are changed.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateContactRequest] :update_contact_request 
    # @return [Array<(UpdateContact200Response, Integer, Hash)>] UpdateContact200Response data, response status code and response headers
    def update_contact_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ContactsApi.update_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling ContactsApi.update_contact"
      end
      # resource path
      local_var_path = '/v1/contacts/{contactId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_contact_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateContact200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ContactsApi.update_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContactsApi#update_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
