=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class GMBServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get services
    # Gets the services offered by a Google Business Profile location. Returns an array of service items (structured or free-form with optional price). 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location.
    # @return [GetGoogleBusinessServices200Response]
    def get_google_business_services(account_id, opts = {})
      data, _status_code, _headers = get_google_business_services_with_http_info(account_id, opts)
      data
    end

    # Get services
    # Gets the services offered by a Google Business Profile location. Returns an array of service items (structured or free-form with optional price). 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location.
    # @return [Array<(GetGoogleBusinessServices200Response, Integer, Hash)>] GetGoogleBusinessServices200Response data, response status code and response headers
    def get_google_business_services_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBServicesApi.get_google_business_services ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBServicesApi.get_google_business_services"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-services'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessServices200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBServicesApi.get_google_business_services",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBServicesApi#get_google_business_services\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace services
    # Replaces the entire service list for a location. Google's API requires full replacement; individual item updates are not supported. Each service can be structured (using a predefined serviceTypeId) or free-form (custom label). 
    # @param account_id [String] 
    # @param update_google_business_services_request [UpdateGoogleBusinessServicesRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location.
    # @return [UpdateGoogleBusinessServices200Response]
    def update_google_business_services(account_id, update_google_business_services_request, opts = {})
      data, _status_code, _headers = update_google_business_services_with_http_info(account_id, update_google_business_services_request, opts)
      data
    end

    # Replace services
    # Replaces the entire service list for a location. Google&#39;s API requires full replacement; individual item updates are not supported. Each service can be structured (using a predefined serviceTypeId) or free-form (custom label). 
    # @param account_id [String] 
    # @param update_google_business_services_request [UpdateGoogleBusinessServicesRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location.
    # @return [Array<(UpdateGoogleBusinessServices200Response, Integer, Hash)>] UpdateGoogleBusinessServices200Response data, response status code and response headers
    def update_google_business_services_with_http_info(account_id, update_google_business_services_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBServicesApi.update_google_business_services ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBServicesApi.update_google_business_services"
      end
      # verify the required parameter 'update_google_business_services_request' is set
      if @api_client.config.client_side_validation && update_google_business_services_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_google_business_services_request' when calling GMBServicesApi.update_google_business_services"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-services'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_google_business_services_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateGoogleBusinessServices200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBServicesApi.update_google_business_services",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBServicesApi#update_google_business_services\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
