=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class GMBLocationDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get location details
    # Returns detailed GBP location info (hours, description, phone, website, categories, services). Use readMask to request specific fields.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @option opts [String] :read_mask Comma-separated fields to return. Available: name, title, phoneNumbers, categories, storefrontAddress, websiteUri, regularHours, specialHours, serviceArea, serviceItems, profile, openInfo, metadata, moreHours.
    # @return [GetGoogleBusinessLocationDetails200Response]
    def get_google_business_location_details(account_id, opts = {})
      data, _status_code, _headers = get_google_business_location_details_with_http_info(account_id, opts)
      data
    end

    # Get location details
    # Returns detailed GBP location info (hours, description, phone, website, categories, services). Use readMask to request specific fields.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @option opts [String] :read_mask Comma-separated fields to return. Available: name, title, phoneNumbers, categories, storefrontAddress, websiteUri, regularHours, specialHours, serviceArea, serviceItems, profile, openInfo, metadata, moreHours.
    # @return [Array<(GetGoogleBusinessLocationDetails200Response, Integer, Hash)>] GetGoogleBusinessLocationDetails200Response data, response status code and response headers
    def get_google_business_location_details_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBLocationDetailsApi.get_google_business_location_details ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBLocationDetailsApi.get_google_business_location_details"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-location-details'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?
      query_params[:'readMask'] = opts[:'read_mask'] if !opts[:'read_mask'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessLocationDetails200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBLocationDetailsApi.get_google_business_location_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBLocationDetailsApi#get_google_business_location_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update location details
    # Updates GBP location details. The updateMask field is required and specifies which fields to update. This endpoint proxies Google's Business Information API locations.patch, so any valid updateMask field is supported. Common fields: regularHours, specialHours, profile.description, websiteUri, phoneNumbers, categories, serviceItems. 
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param update_google_business_location_details_request [UpdateGoogleBusinessLocationDetailsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [UpdateGoogleBusinessLocationDetails200Response]
    def update_google_business_location_details(account_id, update_google_business_location_details_request, opts = {})
      data, _status_code, _headers = update_google_business_location_details_with_http_info(account_id, update_google_business_location_details_request, opts)
      data
    end

    # Update location details
    # Updates GBP location details. The updateMask field is required and specifies which fields to update. This endpoint proxies Google&#39;s Business Information API locations.patch, so any valid updateMask field is supported. Common fields: regularHours, specialHours, profile.description, websiteUri, phoneNumbers, categories, serviceItems. 
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param update_google_business_location_details_request [UpdateGoogleBusinessLocationDetailsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [Array<(UpdateGoogleBusinessLocationDetails200Response, Integer, Hash)>] UpdateGoogleBusinessLocationDetails200Response data, response status code and response headers
    def update_google_business_location_details_with_http_info(account_id, update_google_business_location_details_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBLocationDetailsApi.update_google_business_location_details ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBLocationDetailsApi.update_google_business_location_details"
      end
      # verify the required parameter 'update_google_business_location_details_request' is set
      if @api_client.config.client_side_validation && update_google_business_location_details_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_google_business_location_details_request' when calling GMBLocationDetailsApi.update_google_business_location_details"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-location-details'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_google_business_location_details_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateGoogleBusinessLocationDetails200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBLocationDetailsApi.update_google_business_location_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBLocationDetailsApi#update_google_business_location_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
