=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class GMBAttributesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get attributes
    # Returns GBP location attributes (amenities, services, accessibility, payment types). Available attributes vary by business category.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [GetGoogleBusinessAttributes200Response]
    def get_google_business_attributes(account_id, opts = {})
      data, _status_code, _headers = get_google_business_attributes_with_http_info(account_id, opts)
      data
    end

    # Get attributes
    # Returns GBP location attributes (amenities, services, accessibility, payment types). Available attributes vary by business category.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [Array<(GetGoogleBusinessAttributes200Response, Integer, Hash)>] GetGoogleBusinessAttributes200Response data, response status code and response headers
    def get_google_business_attributes_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBAttributesApi.get_google_business_attributes ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBAttributesApi.get_google_business_attributes"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-attributes'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessAttributes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBAttributesApi.get_google_business_attributes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBAttributesApi#get_google_business_attributes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update attributes
    # Updates location attributes (amenities, services, etc.).  The attributeMask specifies which attributes to update (comma-separated). 
    # @param account_id [String] 
    # @param update_google_business_attributes_request [UpdateGoogleBusinessAttributesRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [UpdateGoogleBusinessAttributes200Response]
    def update_google_business_attributes(account_id, update_google_business_attributes_request, opts = {})
      data, _status_code, _headers = update_google_business_attributes_with_http_info(account_id, update_google_business_attributes_request, opts)
      data
    end

    # Update attributes
    # Updates location attributes (amenities, services, etc.).  The attributeMask specifies which attributes to update (comma-separated). 
    # @param account_id [String] 
    # @param update_google_business_attributes_request [UpdateGoogleBusinessAttributesRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [Array<(UpdateGoogleBusinessAttributes200Response, Integer, Hash)>] UpdateGoogleBusinessAttributes200Response data, response status code and response headers
    def update_google_business_attributes_with_http_info(account_id, update_google_business_attributes_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBAttributesApi.update_google_business_attributes ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBAttributesApi.update_google_business_attributes"
      end
      # verify the required parameter 'update_google_business_attributes_request' is set
      if @api_client.config.client_side_validation && update_google_business_attributes_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_google_business_attributes_request' when calling GMBAttributesApi.update_google_business_attributes"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-attributes'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_google_business_attributes_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateGoogleBusinessAttributes200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBAttributesApi.update_google_business_attributes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBAttributesApi#update_google_business_attributes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
