=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class GMBReviewsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get reviews
    # Returns reviews for a GBP account including ratings, comments, and owner replies. Use nextPageToken for pagination.
    # @param account_id [String] The Late account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @option opts [Integer] :page_size Number of reviews to fetch per page (max 50) (default to 50)
    # @option opts [String] :page_token Pagination token from previous response
    # @return [GetGoogleBusinessReviews200Response]
    def get_google_business_reviews(account_id, opts = {})
      data, _status_code, _headers = get_google_business_reviews_with_http_info(account_id, opts)
      data
    end

    # Get reviews
    # Returns reviews for a GBP account including ratings, comments, and owner replies. Use nextPageToken for pagination.
    # @param account_id [String] The Late account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @option opts [Integer] :page_size Number of reviews to fetch per page (max 50) (default to 50)
    # @option opts [String] :page_token Pagination token from previous response
    # @return [Array<(GetGoogleBusinessReviews200Response, Integer, Hash)>] GetGoogleBusinessReviews200Response data, response status code and response headers
    def get_google_business_reviews_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBReviewsApi.get_google_business_reviews ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBReviewsApi.get_google_business_reviews"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 50
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GMBReviewsApi.get_google_business_reviews, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GMBReviewsApi.get_google_business_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-reviews'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageToken'] = opts[:'page_token'] if !opts[:'page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessReviews200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBReviewsApi.get_google_business_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBReviewsApi#get_google_business_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
