=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class GMBPlaceActionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create action link
    # Creates a place action link for a location.  Available action types: APPOINTMENT, ONLINE_APPOINTMENT, DINING_RESERVATION, FOOD_ORDERING, FOOD_DELIVERY, FOOD_TAKEOUT, SHOP_ONLINE. 
    # @param account_id [String] 
    # @param create_google_business_place_action_request [CreateGoogleBusinessPlaceActionRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [CreateGoogleBusinessPlaceAction200Response]
    def create_google_business_place_action(account_id, create_google_business_place_action_request, opts = {})
      data, _status_code, _headers = create_google_business_place_action_with_http_info(account_id, create_google_business_place_action_request, opts)
      data
    end

    # Create action link
    # Creates a place action link for a location.  Available action types: APPOINTMENT, ONLINE_APPOINTMENT, DINING_RESERVATION, FOOD_ORDERING, FOOD_DELIVERY, FOOD_TAKEOUT, SHOP_ONLINE. 
    # @param account_id [String] 
    # @param create_google_business_place_action_request [CreateGoogleBusinessPlaceActionRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [Array<(CreateGoogleBusinessPlaceAction200Response, Integer, Hash)>] CreateGoogleBusinessPlaceAction200Response data, response status code and response headers
    def create_google_business_place_action_with_http_info(account_id, create_google_business_place_action_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBPlaceActionsApi.create_google_business_place_action ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBPlaceActionsApi.create_google_business_place_action"
      end
      # verify the required parameter 'create_google_business_place_action_request' is set
      if @api_client.config.client_side_validation && create_google_business_place_action_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_google_business_place_action_request' when calling GMBPlaceActionsApi.create_google_business_place_action"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-place-actions'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_google_business_place_action_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateGoogleBusinessPlaceAction200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBPlaceActionsApi.create_google_business_place_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBPlaceActionsApi#create_google_business_place_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete action link
    # Deletes a place action link (e.g. booking or ordering URL) from a GBP location.
    # @param account_id [String] 
    # @param name [String] The resource name of the place action link (e.g. locations/123/placeActionLinks/456)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [DeleteGoogleBusinessPlaceAction200Response]
    def delete_google_business_place_action(account_id, name, opts = {})
      data, _status_code, _headers = delete_google_business_place_action_with_http_info(account_id, name, opts)
      data
    end

    # Delete action link
    # Deletes a place action link (e.g. booking or ordering URL) from a GBP location.
    # @param account_id [String] 
    # @param name [String] The resource name of the place action link (e.g. locations/123/placeActionLinks/456)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [Array<(DeleteGoogleBusinessPlaceAction200Response, Integer, Hash)>] DeleteGoogleBusinessPlaceAction200Response data, response status code and response headers
    def delete_google_business_place_action_with_http_info(account_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBPlaceActionsApi.delete_google_business_place_action ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBPlaceActionsApi.delete_google_business_place_action"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GMBPlaceActionsApi.delete_google_business_place_action"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-place-actions'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteGoogleBusinessPlaceAction200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBPlaceActionsApi.delete_google_business_place_action",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBPlaceActionsApi#delete_google_business_place_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List action links
    # Lists place action links for a Google Business Profile location.  Place actions are the booking, ordering, and reservation buttons that appear on your listing. 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @option opts [Integer] :page_size  (default to 100)
    # @option opts [String] :page_token 
    # @return [ListGoogleBusinessPlaceActions200Response]
    def list_google_business_place_actions(account_id, opts = {})
      data, _status_code, _headers = list_google_business_place_actions_with_http_info(account_id, opts)
      data
    end

    # List action links
    # Lists place action links for a Google Business Profile location.  Place actions are the booking, ordering, and reservation buttons that appear on your listing. 
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @option opts [Integer] :page_size  (default to 100)
    # @option opts [String] :page_token 
    # @return [Array<(ListGoogleBusinessPlaceActions200Response, Integer, Hash)>] ListGoogleBusinessPlaceActions200Response data, response status code and response headers
    def list_google_business_place_actions_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBPlaceActionsApi.list_google_business_place_actions ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBPlaceActionsApi.list_google_business_place_actions"
      end
      if @api_client.config.client_side_validation && !opts[:'page_size'].nil? && opts[:'page_size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"page_size"]" when calling GMBPlaceActionsApi.list_google_business_place_actions, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-place-actions'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'pageToken'] = opts[:'page_token'] if !opts[:'page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListGoogleBusinessPlaceActions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBPlaceActionsApi.list_google_business_place_actions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBPlaceActionsApi#list_google_business_place_actions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
