=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class GMBFoodMenusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get food menus
    # Returns food menus for a GBP location including sections, items, pricing, and dietary info. Only for locations with food menu support.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [GetGoogleBusinessFoodMenus200Response]
    def get_google_business_food_menus(account_id, opts = {})
      data, _status_code, _headers = get_google_business_food_menus_with_http_info(account_id, opts)
      data
    end

    # Get food menus
    # Returns food menus for a GBP location including sections, items, pricing, and dietary info. Only for locations with food menu support.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to query. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [Array<(GetGoogleBusinessFoodMenus200Response, Integer, Hash)>] GetGoogleBusinessFoodMenus200Response data, response status code and response headers
    def get_google_business_food_menus_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBFoodMenusApi.get_google_business_food_menus ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBFoodMenusApi.get_google_business_food_menus"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-food-menus'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGoogleBusinessFoodMenus200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBFoodMenusApi.get_google_business_food_menus",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBFoodMenusApi#get_google_business_food_menus\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update food menus
    # Updates food menus for a GBP location. Send the full menus array. Use updateMask for partial updates.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param update_google_business_food_menus_request [UpdateGoogleBusinessFoodMenusRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [UpdateGoogleBusinessFoodMenus200Response]
    def update_google_business_food_menus(account_id, update_google_business_food_menus_request, opts = {})
      data, _status_code, _headers = update_google_business_food_menus_with_http_info(account_id, update_google_business_food_menus_request, opts)
      data
    end

    # Update food menus
    # Updates food menus for a GBP location. Send the full menus array. Use updateMask for partial updates.
    # @param account_id [String] The Zernio account ID (from /v1/accounts)
    # @param update_google_business_food_menus_request [UpdateGoogleBusinessFoodMenusRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :location_id Override which location to target. If omitted, uses the account&#39;s selected location. Use GET /gmb-locations to list valid IDs.
    # @return [Array<(UpdateGoogleBusinessFoodMenus200Response, Integer, Hash)>] UpdateGoogleBusinessFoodMenus200Response data, response status code and response headers
    def update_google_business_food_menus_with_http_info(account_id, update_google_business_food_menus_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GMBFoodMenusApi.update_google_business_food_menus ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GMBFoodMenusApi.update_google_business_food_menus"
      end
      # verify the required parameter 'update_google_business_food_menus_request' is set
      if @api_client.config.client_side_validation && update_google_business_food_menus_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_google_business_food_menus_request' when calling GMBFoodMenusApi.update_google_business_food_menus"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/gmb-food-menus'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'locationId'] = opts[:'location_id'] if !opts[:'location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_google_business_food_menus_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateGoogleBusinessFoodMenus200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"GMBFoodMenusApi.update_google_business_food_menus",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GMBFoodMenusApi#update_google_business_food_menus\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
