=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class LinkedInMentionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Resolve LinkedIn mention
    # Converts a LinkedIn profile or company URL to a URN for @mentions in posts. Person mentions require org admin access. Use the returned mentionFormat in post content.
    # @param account_id [String] The LinkedIn account ID
    # @param url [String] LinkedIn profile URL, company URL, or vanity name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :display_name Exact display name as shown on LinkedIn. Required for person mentions to be clickable. Optional for org mentions.
    # @return [GetLinkedInMentions200Response]
    def get_linked_in_mentions(account_id, url, opts = {})
      data, _status_code, _headers = get_linked_in_mentions_with_http_info(account_id, url, opts)
      data
    end

    # Resolve LinkedIn mention
    # Converts a LinkedIn profile or company URL to a URN for @mentions in posts. Person mentions require org admin access. Use the returned mentionFormat in post content.
    # @param account_id [String] The LinkedIn account ID
    # @param url [String] LinkedIn profile URL, company URL, or vanity name.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :display_name Exact display name as shown on LinkedIn. Required for person mentions to be clickable. Optional for org mentions.
    # @return [Array<(GetLinkedInMentions200Response, Integer, Hash)>] GetLinkedInMentions200Response data, response status code and response headers
    def get_linked_in_mentions_with_http_info(account_id, url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LinkedInMentionsApi.get_linked_in_mentions ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling LinkedInMentionsApi.get_linked_in_mentions"
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling LinkedInMentionsApi.get_linked_in_mentions"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/linkedin-mentions'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'displayName'] = opts[:'display_name'] if !opts[:'display_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLinkedInMentions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"LinkedInMentionsApi.get_linked_in_mentions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LinkedInMentionsApi#get_linked_in_mentions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
