=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class MediaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get upload URL
    # Get a presigned URL to upload files directly to cloud storage (up to 5GB). Returns an uploadUrl and publicUrl. PUT your file to the uploadUrl, then use the publicUrl in your posts.
    # @param get_media_presigned_url_request [GetMediaPresignedUrlRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetMediaPresignedUrl200Response]
    def get_media_presigned_url(get_media_presigned_url_request, opts = {})
      data, _status_code, _headers = get_media_presigned_url_with_http_info(get_media_presigned_url_request, opts)
      data
    end

    # Get upload URL
    # Get a presigned URL to upload files directly to cloud storage (up to 5GB). Returns an uploadUrl and publicUrl. PUT your file to the uploadUrl, then use the publicUrl in your posts.
    # @param get_media_presigned_url_request [GetMediaPresignedUrlRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMediaPresignedUrl200Response, Integer, Hash)>] GetMediaPresignedUrl200Response data, response status code and response headers
    def get_media_presigned_url_with_http_info(get_media_presigned_url_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MediaApi.get_media_presigned_url ...'
      end
      # verify the required parameter 'get_media_presigned_url_request' is set
      if @api_client.config.client_side_validation && get_media_presigned_url_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_media_presigned_url_request' when calling MediaApi.get_media_presigned_url"
      end
      # resource path
      local_var_path = '/v1/media/presign'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_media_presigned_url_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetMediaPresignedUrl200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MediaApi.get_media_presigned_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MediaApi#get_media_presigned_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
