=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class MessagesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Edit message
    # Edit the text and/or reply markup of a previously sent Telegram message. Only supported for Telegram. Returns 400 for other platforms. 
    # @param conversation_id [String] The conversation ID
    # @param message_id [String] The Telegram message ID to edit
    # @param edit_inbox_message_request [EditInboxMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EditInboxMessage200Response]
    def edit_inbox_message(conversation_id, message_id, edit_inbox_message_request, opts = {})
      data, _status_code, _headers = edit_inbox_message_with_http_info(conversation_id, message_id, edit_inbox_message_request, opts)
      data
    end

    # Edit message
    # Edit the text and/or reply markup of a previously sent Telegram message. Only supported for Telegram. Returns 400 for other platforms. 
    # @param conversation_id [String] The conversation ID
    # @param message_id [String] The Telegram message ID to edit
    # @param edit_inbox_message_request [EditInboxMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EditInboxMessage200Response, Integer, Hash)>] EditInboxMessage200Response data, response status code and response headers
    def edit_inbox_message_with_http_info(conversation_id, message_id, edit_inbox_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.edit_inbox_message ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesApi.edit_inbox_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling MessagesApi.edit_inbox_message"
      end
      # verify the required parameter 'edit_inbox_message_request' is set
      if @api_client.config.client_side_validation && edit_inbox_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'edit_inbox_message_request' when calling MessagesApi.edit_inbox_message"
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/{conversationId}/messages/{messageId}'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s)).sub('{' + 'messageId' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(edit_inbox_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EditInboxMessage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.edit_inbox_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#edit_inbox_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get conversation
    # Retrieve details and metadata for a specific conversation. Requires accountId query parameter.
    # @param conversation_id [String] The conversation ID (id field from list conversations endpoint). This is the platform-specific conversation identifier, not an internal database ID.
    # @param account_id [String] The social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetInboxConversation200Response]
    def get_inbox_conversation(conversation_id, account_id, opts = {})
      data, _status_code, _headers = get_inbox_conversation_with_http_info(conversation_id, account_id, opts)
      data
    end

    # Get conversation
    # Retrieve details and metadata for a specific conversation. Requires accountId query parameter.
    # @param conversation_id [String] The conversation ID (id field from list conversations endpoint). This is the platform-specific conversation identifier, not an internal database ID.
    # @param account_id [String] The social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInboxConversation200Response, Integer, Hash)>] GetInboxConversation200Response data, response status code and response headers
    def get_inbox_conversation_with_http_info(conversation_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.get_inbox_conversation ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesApi.get_inbox_conversation"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MessagesApi.get_inbox_conversation"
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/{conversationId}'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxConversation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.get_inbox_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#get_inbox_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List messages
    # Fetch messages for a specific conversation. Requires accountId query parameter.
    # @param conversation_id [String] The conversation ID (id field from list conversations endpoint). This is the platform-specific conversation identifier, not an internal database ID.
    # @param account_id [String] Social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetInboxConversationMessages200Response]
    def get_inbox_conversation_messages(conversation_id, account_id, opts = {})
      data, _status_code, _headers = get_inbox_conversation_messages_with_http_info(conversation_id, account_id, opts)
      data
    end

    # List messages
    # Fetch messages for a specific conversation. Requires accountId query parameter.
    # @param conversation_id [String] The conversation ID (id field from list conversations endpoint). This is the platform-specific conversation identifier, not an internal database ID.
    # @param account_id [String] Social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInboxConversationMessages200Response, Integer, Hash)>] GetInboxConversationMessages200Response data, response status code and response headers
    def get_inbox_conversation_messages_with_http_info(conversation_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.get_inbox_conversation_messages ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesApi.get_inbox_conversation_messages"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MessagesApi.get_inbox_conversation_messages"
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/{conversationId}/messages'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInboxConversationMessages200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.get_inbox_conversation_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#get_inbox_conversation_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List conversations
    # Fetch conversations (DMs) from all connected messaging accounts in a single API call. Supports filtering by profile and platform. Results are aggregated and deduplicated. Supported platforms: Facebook, Instagram, Twitter/X, Bluesky, Reddit, Telegram. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile ID
    # @option opts [String] :platform Filter by platform
    # @option opts [String] :status Filter by conversation status
    # @option opts [String] :sort_order Sort order by updated time (default to 'desc')
    # @option opts [Integer] :limit Maximum number of conversations to return (default to 50)
    # @option opts [String] :cursor Pagination cursor for next page
    # @option opts [String] :account_id Filter by specific social account ID
    # @return [ListInboxConversations200Response]
    def list_inbox_conversations(opts = {})
      data, _status_code, _headers = list_inbox_conversations_with_http_info(opts)
      data
    end

    # List conversations
    # Fetch conversations (DMs) from all connected messaging accounts in a single API call. Supports filtering by profile and platform. Results are aggregated and deduplicated. Supported platforms: Facebook, Instagram, Twitter/X, Bluesky, Reddit, Telegram. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id Filter by profile ID
    # @option opts [String] :platform Filter by platform
    # @option opts [String] :status Filter by conversation status
    # @option opts [String] :sort_order Sort order by updated time (default to 'desc')
    # @option opts [Integer] :limit Maximum number of conversations to return (default to 50)
    # @option opts [String] :cursor Pagination cursor for next page
    # @option opts [String] :account_id Filter by specific social account ID
    # @return [Array<(ListInboxConversations200Response, Integer, Hash)>] ListInboxConversations200Response data, response status code and response headers
    def list_inbox_conversations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.list_inbox_conversations ...'
      end
      allowable_values = ["facebook", "instagram", "twitter", "bluesky", "reddit", "telegram"]
      if @api_client.config.client_side_validation && opts[:'platform'] && !allowable_values.include?(opts[:'platform'])
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      allowable_values = ["active", "archived"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MessagesApi.list_inbox_conversations, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MessagesApi.list_inbox_conversations, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/inbox/conversations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListInboxConversations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.list_inbox_conversations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#list_inbox_conversations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send message
    # Send a message in a conversation. Supports text, attachments, quick replies, buttons, and message tags. Attachment and interactive message support varies by platform.
    # @param conversation_id [String] The conversation ID (id field from list conversations endpoint). This is the platform-specific conversation identifier, not an internal database ID.
    # @param send_inbox_message_request [SendInboxMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendInboxMessage200Response]
    def send_inbox_message(conversation_id, send_inbox_message_request, opts = {})
      data, _status_code, _headers = send_inbox_message_with_http_info(conversation_id, send_inbox_message_request, opts)
      data
    end

    # Send message
    # Send a message in a conversation. Supports text, attachments, quick replies, buttons, and message tags. Attachment and interactive message support varies by platform.
    # @param conversation_id [String] The conversation ID (id field from list conversations endpoint). This is the platform-specific conversation identifier, not an internal database ID.
    # @param send_inbox_message_request [SendInboxMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendInboxMessage200Response, Integer, Hash)>] SendInboxMessage200Response data, response status code and response headers
    def send_inbox_message_with_http_info(conversation_id, send_inbox_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.send_inbox_message ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesApi.send_inbox_message"
      end
      # verify the required parameter 'send_inbox_message_request' is set
      if @api_client.config.client_side_validation && send_inbox_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_inbox_message_request' when calling MessagesApi.send_inbox_message"
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/{conversationId}/messages'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_inbox_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendInboxMessage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.send_inbox_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#send_inbox_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update conversation status
    # Archive or activate a conversation. Requires accountId in request body.
    # @param conversation_id [String] The conversation ID (id field from list conversations endpoint). This is the platform-specific conversation identifier, not an internal database ID.
    # @param update_inbox_conversation_request [UpdateInboxConversationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateInboxConversation200Response]
    def update_inbox_conversation(conversation_id, update_inbox_conversation_request, opts = {})
      data, _status_code, _headers = update_inbox_conversation_with_http_info(conversation_id, update_inbox_conversation_request, opts)
      data
    end

    # Update conversation status
    # Archive or activate a conversation. Requires accountId in request body.
    # @param conversation_id [String] The conversation ID (id field from list conversations endpoint). This is the platform-specific conversation identifier, not an internal database ID.
    # @param update_inbox_conversation_request [UpdateInboxConversationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateInboxConversation200Response, Integer, Hash)>] UpdateInboxConversation200Response data, response status code and response headers
    def update_inbox_conversation_with_http_info(conversation_id, update_inbox_conversation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagesApi.update_inbox_conversation ...'
      end
      # verify the required parameter 'conversation_id' is set
      if @api_client.config.client_side_validation && conversation_id.nil?
        fail ArgumentError, "Missing the required parameter 'conversation_id' when calling MessagesApi.update_inbox_conversation"
      end
      # verify the required parameter 'update_inbox_conversation_request' is set
      if @api_client.config.client_side_validation && update_inbox_conversation_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_inbox_conversation_request' when calling MessagesApi.update_inbox_conversation"
      end
      # resource path
      local_var_path = '/v1/inbox/conversations/{conversationId}'.sub('{' + 'conversationId' + '}', CGI.escape(conversation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_inbox_conversation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateInboxConversation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MessagesApi.update_inbox_conversation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagesApi#update_inbox_conversation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
