=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class QueueApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create schedule
    # Create an additional queue for a profile. The first queue created becomes the default. Subsequent queues are non-default unless explicitly set. 
    # @param create_queue_slot_request [CreateQueueSlotRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateQueueSlot201Response]
    def create_queue_slot(create_queue_slot_request, opts = {})
      data, _status_code, _headers = create_queue_slot_with_http_info(create_queue_slot_request, opts)
      data
    end

    # Create schedule
    # Create an additional queue for a profile. The first queue created becomes the default. Subsequent queues are non-default unless explicitly set. 
    # @param create_queue_slot_request [CreateQueueSlotRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateQueueSlot201Response, Integer, Hash)>] CreateQueueSlot201Response data, response status code and response headers
    def create_queue_slot_with_http_info(create_queue_slot_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueueApi.create_queue_slot ...'
      end
      # verify the required parameter 'create_queue_slot_request' is set
      if @api_client.config.client_side_validation && create_queue_slot_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_queue_slot_request' when calling QueueApi.create_queue_slot"
      end
      # resource path
      local_var_path = '/v1/queue/slots'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_queue_slot_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateQueueSlot201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"QueueApi.create_queue_slot",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueueApi#create_queue_slot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete schedule
    # Delete a queue from a profile. Requires queueId to specify which queue to delete. If deleting the default queue, another queue will be promoted to default. 
    # @param profile_id [String] 
    # @param queue_id [String] Queue ID to delete
    # @param [Hash] opts the optional parameters
    # @return [DeleteQueueSlot200Response]
    def delete_queue_slot(profile_id, queue_id, opts = {})
      data, _status_code, _headers = delete_queue_slot_with_http_info(profile_id, queue_id, opts)
      data
    end

    # Delete schedule
    # Delete a queue from a profile. Requires queueId to specify which queue to delete. If deleting the default queue, another queue will be promoted to default. 
    # @param profile_id [String] 
    # @param queue_id [String] Queue ID to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteQueueSlot200Response, Integer, Hash)>] DeleteQueueSlot200Response data, response status code and response headers
    def delete_queue_slot_with_http_info(profile_id, queue_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueueApi.delete_queue_slot ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling QueueApi.delete_queue_slot"
      end
      # verify the required parameter 'queue_id' is set
      if @api_client.config.client_side_validation && queue_id.nil?
        fail ArgumentError, "Missing the required parameter 'queue_id' when calling QueueApi.delete_queue_slot"
      end
      # resource path
      local_var_path = '/v1/queue/slots'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'queueId'] = queue_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteQueueSlot200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"QueueApi.delete_queue_slot",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueueApi#delete_queue_slot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get next available slot
    # Returns the next available queue slot for preview purposes. To create a queue post, use POST /v1/posts with queuedFromProfile instead of scheduledFor.
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :queue_id Specific queue ID (optional, defaults to profile&#39;s default queue)
    # @return [GetNextQueueSlot200Response]
    def get_next_queue_slot(profile_id, opts = {})
      data, _status_code, _headers = get_next_queue_slot_with_http_info(profile_id, opts)
      data
    end

    # Get next available slot
    # Returns the next available queue slot for preview purposes. To create a queue post, use POST /v1/posts with queuedFromProfile instead of scheduledFor.
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :queue_id Specific queue ID (optional, defaults to profile&#39;s default queue)
    # @return [Array<(GetNextQueueSlot200Response, Integer, Hash)>] GetNextQueueSlot200Response data, response status code and response headers
    def get_next_queue_slot_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueueApi.get_next_queue_slot ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling QueueApi.get_next_queue_slot"
      end
      # resource path
      local_var_path = '/v1/queue/next-slot'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'queueId'] = opts[:'queue_id'] if !opts[:'queue_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetNextQueueSlot200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"QueueApi.get_next_queue_slot",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueueApi#get_next_queue_slot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List schedules
    # Returns queue schedules for a profile. Use all=true for all queues, or queueId for a specific one. Defaults to the default queue.
    # @param profile_id [String] Profile ID to get queues for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :queue_id Specific queue ID to retrieve (optional)
    # @option opts [String] :all Set to &#39;true&#39; to list all queues for the profile
    # @return [ListQueueSlots200Response]
    def list_queue_slots(profile_id, opts = {})
      data, _status_code, _headers = list_queue_slots_with_http_info(profile_id, opts)
      data
    end

    # List schedules
    # Returns queue schedules for a profile. Use all&#x3D;true for all queues, or queueId for a specific one. Defaults to the default queue.
    # @param profile_id [String] Profile ID to get queues for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :queue_id Specific queue ID to retrieve (optional)
    # @option opts [String] :all Set to &#39;true&#39; to list all queues for the profile
    # @return [Array<(ListQueueSlots200Response, Integer, Hash)>] ListQueueSlots200Response data, response status code and response headers
    def list_queue_slots_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueueApi.list_queue_slots ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling QueueApi.list_queue_slots"
      end
      allowable_values = ["true"]
      if @api_client.config.client_side_validation && opts[:'all'] && !allowable_values.include?(opts[:'all'])
        fail ArgumentError, "invalid value for \"all\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/queue/slots'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'queueId'] = opts[:'queue_id'] if !opts[:'queue_id'].nil?
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListQueueSlots200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"QueueApi.list_queue_slots",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueueApi#list_queue_slots\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview upcoming slots
    # Returns the next N upcoming queue slot times for a profile as ISO datetime strings.
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :queue_id Filter by specific queue ID. Omit to use the default queue.
    # @option opts [Integer] :count  (default to 20)
    # @return [PreviewQueue200Response]
    def preview_queue(profile_id, opts = {})
      data, _status_code, _headers = preview_queue_with_http_info(profile_id, opts)
      data
    end

    # Preview upcoming slots
    # Returns the next N upcoming queue slot times for a profile as ISO datetime strings.
    # @param profile_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :queue_id Filter by specific queue ID. Omit to use the default queue.
    # @option opts [Integer] :count  (default to 20)
    # @return [Array<(PreviewQueue200Response, Integer, Hash)>] PreviewQueue200Response data, response status code and response headers
    def preview_queue_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueueApi.preview_queue ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling QueueApi.preview_queue"
      end
      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] > 100
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling QueueApi.preview_queue, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'count'].nil? && opts[:'count'] < 1
        fail ArgumentError, 'invalid value for "opts[:"count"]" when calling QueueApi.preview_queue, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/queue/preview'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id
      query_params[:'queueId'] = opts[:'queue_id'] if !opts[:'queue_id'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PreviewQueue200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"QueueApi.preview_queue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueueApi#preview_queue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update schedule
    # Create a new queue or update an existing one. Without queueId, creates/updates the default queue. With queueId, updates a specific queue. With setAsDefault=true, makes this queue the default for the profile. 
    # @param update_queue_slot_request [UpdateQueueSlotRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateQueueSlot200Response]
    def update_queue_slot(update_queue_slot_request, opts = {})
      data, _status_code, _headers = update_queue_slot_with_http_info(update_queue_slot_request, opts)
      data
    end

    # Update schedule
    # Create a new queue or update an existing one. Without queueId, creates/updates the default queue. With queueId, updates a specific queue. With setAsDefault&#x3D;true, makes this queue the default for the profile. 
    # @param update_queue_slot_request [UpdateQueueSlotRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateQueueSlot200Response, Integer, Hash)>] UpdateQueueSlot200Response data, response status code and response headers
    def update_queue_slot_with_http_info(update_queue_slot_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QueueApi.update_queue_slot ...'
      end
      # verify the required parameter 'update_queue_slot_request' is set
      if @api_client.config.client_side_validation && update_queue_slot_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_queue_slot_request' when calling QueueApi.update_queue_slot"
      end
      # resource path
      local_var_path = '/v1/queue/slots'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_queue_slot_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateQueueSlot200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"QueueApi.update_queue_slot",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QueueApi#update_queue_slot\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
