=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class RedditSearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get subreddit feed
    # Fetch posts from a subreddit feed. Supports sorting, time filtering, and cursor-based pagination.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subreddit 
    # @option opts [String] :sort  (default to 'hot')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @option opts [String] :t 
    # @return [GetRedditFeed200Response]
    def get_reddit_feed(account_id, opts = {})
      data, _status_code, _headers = get_reddit_feed_with_http_info(account_id, opts)
      data
    end

    # Get subreddit feed
    # Fetch posts from a subreddit feed. Supports sorting, time filtering, and cursor-based pagination.
    # @param account_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subreddit 
    # @option opts [String] :sort  (default to 'hot')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @option opts [String] :t 
    # @return [Array<(GetRedditFeed200Response, Integer, Hash)>] GetRedditFeed200Response data, response status code and response headers
    def get_reddit_feed_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditSearchApi.get_reddit_feed ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling RedditSearchApi.get_reddit_feed"
      end
      allowable_values = ["hot", "new", "top", "rising"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditSearchApi.get_reddit_feed, must be smaller than or equal to 100.'
      end

      allowable_values = ["hour", "day", "week", "month", "year", "all"]
      if @api_client.config.client_side_validation && opts[:'t'] && !allowable_values.include?(opts[:'t'])
        fail ArgumentError, "invalid value for \"t\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/reddit/feed'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'subreddit'] = opts[:'subreddit'] if !opts[:'subreddit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'t'] = opts[:'t'] if !opts[:'t'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRedditFeed200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditSearchApi.get_reddit_feed",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditSearchApi#get_reddit_feed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search posts
    # Search Reddit posts using a connected account. Optionally scope to a specific subreddit.
    # @param account_id [String] 
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subreddit 
    # @option opts [String] :restrict_sr 
    # @option opts [String] :sort  (default to 'new')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [SearchReddit200Response]
    def search_reddit(account_id, q, opts = {})
      data, _status_code, _headers = search_reddit_with_http_info(account_id, q, opts)
      data
    end

    # Search posts
    # Search Reddit posts using a connected account. Optionally scope to a specific subreddit.
    # @param account_id [String] 
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :subreddit 
    # @option opts [String] :restrict_sr 
    # @option opts [String] :sort  (default to 'new')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :after 
    # @return [Array<(SearchReddit200Response, Integer, Hash)>] SearchReddit200Response data, response status code and response headers
    def search_reddit_with_http_info(account_id, q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RedditSearchApi.search_reddit ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling RedditSearchApi.search_reddit"
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling RedditSearchApi.search_reddit"
      end
      allowable_values = ["0", "1"]
      if @api_client.config.client_side_validation && opts[:'restrict_sr'] && !allowable_values.include?(opts[:'restrict_sr'])
        fail ArgumentError, "invalid value for \"restrict_sr\", must be one of #{allowable_values}"
      end
      allowable_values = ["relevance", "hot", "top", "new", "comments"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling RedditSearchApi.search_reddit, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/v1/reddit/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'q'] = q
      query_params[:'subreddit'] = opts[:'subreddit'] if !opts[:'subreddit'].nil?
      query_params[:'restrict_sr'] = opts[:'restrict_sr'] if !opts[:'restrict_sr'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchReddit200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RedditSearchApi.search_reddit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RedditSearchApi#search_reddit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
