=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class ReviewsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete review reply
    # Delete a reply to a review (Google Business only). Requires accountId in request body.
    # @param review_id [String] 
    # @param delete_inbox_review_reply_request [DeleteInboxReviewReplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteInboxReviewReply200Response]
    def delete_inbox_review_reply(review_id, delete_inbox_review_reply_request, opts = {})
      data, _status_code, _headers = delete_inbox_review_reply_with_http_info(review_id, delete_inbox_review_reply_request, opts)
      data
    end

    # Delete review reply
    # Delete a reply to a review (Google Business only). Requires accountId in request body.
    # @param review_id [String] 
    # @param delete_inbox_review_reply_request [DeleteInboxReviewReplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteInboxReviewReply200Response, Integer, Hash)>] DeleteInboxReviewReply200Response data, response status code and response headers
    def delete_inbox_review_reply_with_http_info(review_id, delete_inbox_review_reply_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.delete_inbox_review_reply ...'
      end
      # verify the required parameter 'review_id' is set
      if @api_client.config.client_side_validation && review_id.nil?
        fail ArgumentError, "Missing the required parameter 'review_id' when calling ReviewsApi.delete_inbox_review_reply"
      end
      # verify the required parameter 'delete_inbox_review_reply_request' is set
      if @api_client.config.client_side_validation && delete_inbox_review_reply_request.nil?
        fail ArgumentError, "Missing the required parameter 'delete_inbox_review_reply_request' when calling ReviewsApi.delete_inbox_review_reply"
      end
      # resource path
      local_var_path = '/v1/inbox/reviews/{reviewId}/reply'.sub('{' + 'reviewId' + '}', CGI.escape(review_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_inbox_review_reply_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteInboxReviewReply200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewsApi.delete_inbox_review_reply",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#delete_inbox_review_reply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List reviews
    # Fetch reviews from all connected Facebook Pages and Google Business accounts. Aggregates data with filtering and sorting options. Supported platforms: Facebook, Google Business. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [Integer] :min_rating 
    # @option opts [Integer] :max_rating 
    # @option opts [Boolean] :has_reply Filter by reply status
    # @option opts [String] :sort_by  (default to 'date')
    # @option opts [String] :sort_order  (default to 'desc')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :cursor 
    # @option opts [String] :account_id Filter by specific social account ID
    # @return [ListInboxReviews200Response]
    def list_inbox_reviews(opts = {})
      data, _status_code, _headers = list_inbox_reviews_with_http_info(opts)
      data
    end

    # List reviews
    # Fetch reviews from all connected Facebook Pages and Google Business accounts. Aggregates data with filtering and sorting options. Supported platforms: Facebook, Google Business. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :profile_id 
    # @option opts [String] :platform 
    # @option opts [Integer] :min_rating 
    # @option opts [Integer] :max_rating 
    # @option opts [Boolean] :has_reply Filter by reply status
    # @option opts [String] :sort_by  (default to 'date')
    # @option opts [String] :sort_order  (default to 'desc')
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :cursor 
    # @option opts [String] :account_id Filter by specific social account ID
    # @return [Array<(ListInboxReviews200Response, Integer, Hash)>] ListInboxReviews200Response data, response status code and response headers
    def list_inbox_reviews_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.list_inbox_reviews ...'
      end
      allowable_values = ["facebook", "googlebusiness"]
      if @api_client.config.client_side_validation && opts[:'platform'] && !allowable_values.include?(opts[:'platform'])
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'min_rating'].nil? && opts[:'min_rating'] > 5
        fail ArgumentError, 'invalid value for "opts[:"min_rating"]" when calling ReviewsApi.list_inbox_reviews, must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_rating'].nil? && opts[:'min_rating'] < 1
        fail ArgumentError, 'invalid value for "opts[:"min_rating"]" when calling ReviewsApi.list_inbox_reviews, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_rating'].nil? && opts[:'max_rating'] > 5
        fail ArgumentError, 'invalid value for "opts[:"max_rating"]" when calling ReviewsApi.list_inbox_reviews, must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'max_rating'].nil? && opts[:'max_rating'] < 1
        fail ArgumentError, 'invalid value for "opts[:"max_rating"]" when calling ReviewsApi.list_inbox_reviews, must be greater than or equal to 1.'
      end

      allowable_values = ["date", "rating"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReviewsApi.list_inbox_reviews, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReviewsApi.list_inbox_reviews, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/inbox/reviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'minRating'] = opts[:'min_rating'] if !opts[:'min_rating'].nil?
      query_params[:'maxRating'] = opts[:'max_rating'] if !opts[:'max_rating'].nil?
      query_params[:'hasReply'] = opts[:'has_reply'] if !opts[:'has_reply'].nil?
      query_params[:'sortBy'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sortOrder'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListInboxReviews200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewsApi.list_inbox_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#list_inbox_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reply to review
    # Post a reply to a review. Requires accountId in request body.
    # @param review_id [String] Review ID (URL-encoded for Google Business)
    # @param reply_to_inbox_review_request [ReplyToInboxReviewRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ReplyToInboxReview200Response]
    def reply_to_inbox_review(review_id, reply_to_inbox_review_request, opts = {})
      data, _status_code, _headers = reply_to_inbox_review_with_http_info(review_id, reply_to_inbox_review_request, opts)
      data
    end

    # Reply to review
    # Post a reply to a review. Requires accountId in request body.
    # @param review_id [String] Review ID (URL-encoded for Google Business)
    # @param reply_to_inbox_review_request [ReplyToInboxReviewRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReplyToInboxReview200Response, Integer, Hash)>] ReplyToInboxReview200Response data, response status code and response headers
    def reply_to_inbox_review_with_http_info(review_id, reply_to_inbox_review_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.reply_to_inbox_review ...'
      end
      # verify the required parameter 'review_id' is set
      if @api_client.config.client_side_validation && review_id.nil?
        fail ArgumentError, "Missing the required parameter 'review_id' when calling ReviewsApi.reply_to_inbox_review"
      end
      # verify the required parameter 'reply_to_inbox_review_request' is set
      if @api_client.config.client_side_validation && reply_to_inbox_review_request.nil?
        fail ArgumentError, "Missing the required parameter 'reply_to_inbox_review_request' when calling ReviewsApi.reply_to_inbox_review"
      end
      # resource path
      local_var_path = '/v1/inbox/reviews/{reviewId}/reply'.sub('{' + 'reviewId' + '}', CGI.escape(review_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reply_to_inbox_review_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ReplyToInboxReview200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewsApi.reply_to_inbox_review",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#reply_to_inbox_review\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
