=begin
#Zernio API

#API reference for Zernio. Authenticate with a Bearer API key. Base URL: https://zernio.com/api 

The version of the OpenAPI document: 1.0.1
Contact: support@zernio.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class ToolsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check IG hashtag bans
    # Check if Instagram hashtags are banned, restricted, or safe to use.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param check_instagram_hashtags_request [CheckInstagramHashtagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CheckInstagramHashtags200Response]
    def check_instagram_hashtags(check_instagram_hashtags_request, opts = {})
      data, _status_code, _headers = check_instagram_hashtags_with_http_info(check_instagram_hashtags_request, opts)
      data
    end

    # Check IG hashtag bans
    # Check if Instagram hashtags are banned, restricted, or safe to use.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param check_instagram_hashtags_request [CheckInstagramHashtagsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckInstagramHashtags200Response, Integer, Hash)>] CheckInstagramHashtags200Response data, response status code and response headers
    def check_instagram_hashtags_with_http_info(check_instagram_hashtags_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.check_instagram_hashtags ...'
      end
      # verify the required parameter 'check_instagram_hashtags_request' is set
      if @api_client.config.client_side_validation && check_instagram_hashtags_request.nil?
        fail ArgumentError, "Missing the required parameter 'check_instagram_hashtags_request' when calling ToolsApi.check_instagram_hashtags"
      end
      # resource path
      local_var_path = '/v1/tools/instagram/hashtag-checker'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_instagram_hashtags_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckInstagramHashtags200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.check_instagram_hashtags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#check_instagram_hashtags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download Bluesky media
    # Download videos from Bluesky posts.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] Bluesky post URL
    # @param [Hash] opts the optional parameters
    # @return [DownloadBlueskyMedia200Response]
    def download_bluesky_media(url, opts = {})
      data, _status_code, _headers = download_bluesky_media_with_http_info(url, opts)
      data
    end

    # Download Bluesky media
    # Download videos from Bluesky posts.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] Bluesky post URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(DownloadBlueskyMedia200Response, Integer, Hash)>] DownloadBlueskyMedia200Response data, response status code and response headers
    def download_bluesky_media_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.download_bluesky_media ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ToolsApi.download_bluesky_media"
      end
      # resource path
      local_var_path = '/v1/tools/bluesky/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadBlueskyMedia200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.download_bluesky_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#download_bluesky_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download Facebook video
    # Download videos and reels from Facebook.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] Facebook video or reel URL
    # @param [Hash] opts the optional parameters
    # @return [DownloadFacebookVideo200Response]
    def download_facebook_video(url, opts = {})
      data, _status_code, _headers = download_facebook_video_with_http_info(url, opts)
      data
    end

    # Download Facebook video
    # Download videos and reels from Facebook.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] Facebook video or reel URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(DownloadFacebookVideo200Response, Integer, Hash)>] DownloadFacebookVideo200Response data, response status code and response headers
    def download_facebook_video_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.download_facebook_video ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ToolsApi.download_facebook_video"
      end
      # resource path
      local_var_path = '/v1/tools/facebook/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadFacebookVideo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.download_facebook_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#download_facebook_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download Instagram media
    # Download Instagram reels, posts, or photos.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] Instagram reel or post URL
    # @param [Hash] opts the optional parameters
    # @return [DownloadInstagramMedia200Response]
    def download_instagram_media(url, opts = {})
      data, _status_code, _headers = download_instagram_media_with_http_info(url, opts)
      data
    end

    # Download Instagram media
    # Download Instagram reels, posts, or photos.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] Instagram reel or post URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(DownloadInstagramMedia200Response, Integer, Hash)>] DownloadInstagramMedia200Response data, response status code and response headers
    def download_instagram_media_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.download_instagram_media ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ToolsApi.download_instagram_media"
      end
      # resource path
      local_var_path = '/v1/tools/instagram/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadInstagramMedia200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.download_instagram_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#download_instagram_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download LinkedIn video
    # Download videos from LinkedIn posts.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] LinkedIn post URL
    # @param [Hash] opts the optional parameters
    # @return [DownloadInstagramMedia200Response]
    def download_linked_in_video(url, opts = {})
      data, _status_code, _headers = download_linked_in_video_with_http_info(url, opts)
      data
    end

    # Download LinkedIn video
    # Download videos from LinkedIn posts.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] LinkedIn post URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(DownloadInstagramMedia200Response, Integer, Hash)>] DownloadInstagramMedia200Response data, response status code and response headers
    def download_linked_in_video_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.download_linked_in_video ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ToolsApi.download_linked_in_video"
      end
      # resource path
      local_var_path = '/v1/tools/linkedin/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadInstagramMedia200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.download_linked_in_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#download_linked_in_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download TikTok video
    # Download TikTok videos with or without watermark.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] TikTok video URL or ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action &#39;formats&#39; to list available formats (default to 'download')
    # @option opts [String] :format_id Specific format ID (0 &#x3D; no watermark, etc.)
    # @return [DownloadTikTokVideo200Response]
    def download_tik_tok_video(url, opts = {})
      data, _status_code, _headers = download_tik_tok_video_with_http_info(url, opts)
      data
    end

    # Download TikTok video
    # Download TikTok videos with or without watermark.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] TikTok video URL or ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action &#39;formats&#39; to list available formats (default to 'download')
    # @option opts [String] :format_id Specific format ID (0 &#x3D; no watermark, etc.)
    # @return [Array<(DownloadTikTokVideo200Response, Integer, Hash)>] DownloadTikTokVideo200Response data, response status code and response headers
    def download_tik_tok_video_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.download_tik_tok_video ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ToolsApi.download_tik_tok_video"
      end
      allowable_values = ["download", "formats"]
      if @api_client.config.client_side_validation && opts[:'action'] && !allowable_values.include?(opts[:'action'])
        fail ArgumentError, "invalid value for \"action\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/tools/tiktok/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'formatId'] = opts[:'format_id'] if !opts[:'format_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadTikTokVideo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.download_tik_tok_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#download_tik_tok_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download Twitter/X media
    # Download videos from Twitter/X posts.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] Twitter/X post URL
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action  (default to 'download')
    # @option opts [String] :format_id 
    # @return [DownloadInstagramMedia200Response]
    def download_twitter_media(url, opts = {})
      data, _status_code, _headers = download_twitter_media_with_http_info(url, opts)
      data
    end

    # Download Twitter/X media
    # Download videos from Twitter/X posts.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] Twitter/X post URL
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action  (default to 'download')
    # @option opts [String] :format_id 
    # @return [Array<(DownloadInstagramMedia200Response, Integer, Hash)>] DownloadInstagramMedia200Response data, response status code and response headers
    def download_twitter_media_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.download_twitter_media ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ToolsApi.download_twitter_media"
      end
      allowable_values = ["download", "formats"]
      if @api_client.config.client_side_validation && opts[:'action'] && !allowable_values.include?(opts[:'action'])
        fail ArgumentError, "invalid value for \"action\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/tools/twitter/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'formatId'] = opts[:'format_id'] if !opts[:'format_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadInstagramMedia200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.download_twitter_media",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#download_twitter_media\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download YouTube video
    # Download YouTube videos or audio. Returns available formats or direct download URL.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] YouTube video URL or video ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Action to perform: &#39;download&#39; returns download URL, &#39;formats&#39; lists available formats (default to 'download')
    # @option opts [String] :format Desired format (when action&#x3D;download) (default to 'video')
    # @option opts [String] :quality Desired quality (when action&#x3D;download) (default to 'hd')
    # @option opts [String] :format_id Specific format ID from formats list
    # @return [DownloadYouTubeVideo200Response]
    def download_you_tube_video(url, opts = {})
      data, _status_code, _headers = download_you_tube_video_with_http_info(url, opts)
      data
    end

    # Download YouTube video
    # Download YouTube videos or audio. Returns available formats or direct download URL.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] YouTube video URL or video ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :action Action to perform: &#39;download&#39; returns download URL, &#39;formats&#39; lists available formats (default to 'download')
    # @option opts [String] :format Desired format (when action&#x3D;download) (default to 'video')
    # @option opts [String] :quality Desired quality (when action&#x3D;download) (default to 'hd')
    # @option opts [String] :format_id Specific format ID from formats list
    # @return [Array<(DownloadYouTubeVideo200Response, Integer, Hash)>] DownloadYouTubeVideo200Response data, response status code and response headers
    def download_you_tube_video_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.download_you_tube_video ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ToolsApi.download_you_tube_video"
      end
      allowable_values = ["download", "formats"]
      if @api_client.config.client_side_validation && opts[:'action'] && !allowable_values.include?(opts[:'action'])
        fail ArgumentError, "invalid value for \"action\", must be one of #{allowable_values}"
      end
      allowable_values = ["video", "audio"]
      if @api_client.config.client_side_validation && opts[:'format'] && !allowable_values.include?(opts[:'format'])
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      allowable_values = ["hd", "sd"]
      if @api_client.config.client_side_validation && opts[:'quality'] && !allowable_values.include?(opts[:'quality'])
        fail ArgumentError, "invalid value for \"quality\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/tools/youtube/download'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'quality'] = opts[:'quality'] if !opts[:'quality'].nil?
      query_params[:'formatId'] = opts[:'format_id'] if !opts[:'format_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadYouTubeVideo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.download_you_tube_video",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#download_you_tube_video\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get YouTube transcript
    # Extract transcript/captions from a YouTube video.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] YouTube video URL or video ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang Language code for transcript (default to 'en')
    # @return [GetYouTubeTranscript200Response]
    def get_you_tube_transcript(url, opts = {})
      data, _status_code, _headers = get_you_tube_transcript_with_http_info(url, opts)
      data
    end

    # Get YouTube transcript
    # Extract transcript/captions from a YouTube video.  Rate limits: Build (50/day), Accelerate (500/day), Unlimited (unlimited). 
    # @param url [String] YouTube video URL or video ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang Language code for transcript (default to 'en')
    # @return [Array<(GetYouTubeTranscript200Response, Integer, Hash)>] GetYouTubeTranscript200Response data, response status code and response headers
    def get_you_tube_transcript_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ToolsApi.get_you_tube_transcript ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling ToolsApi.get_you_tube_transcript"
      end
      # resource path
      local_var_path = '/v1/tools/youtube/transcript'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetYouTubeTranscript200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ToolsApi.get_you_tube_transcript",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ToolsApi#get_you_tube_transcript\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
