=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class WhatsAppPhoneNumbersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get pre-verified numbers
    # Returns the user's pre-verified phone number IDs that are ready for OTP-free Embedded Signup. Only returns numbers with verified Meta status and non-expired verification. 
    # @param profile_id [String] Profile ID to filter by
    # @param [Hash] opts the optional parameters
    # @return [GetPreverifiedWhatsAppNumbers200Response]
    def get_preverified_whats_app_numbers(profile_id, opts = {})
      data, _status_code, _headers = get_preverified_whats_app_numbers_with_http_info(profile_id, opts)
      data
    end

    # Get pre-verified numbers
    # Returns the user&#39;s pre-verified phone number IDs that are ready for OTP-free Embedded Signup. Only returns numbers with verified Meta status and non-expired verification. 
    # @param profile_id [String] Profile ID to filter by
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPreverifiedWhatsAppNumbers200Response, Integer, Hash)>] GetPreverifiedWhatsAppNumbers200Response data, response status code and response headers
    def get_preverified_whats_app_numbers_with_http_info(profile_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.get_preverified_whats_app_numbers ...'
      end
      # verify the required parameter 'profile_id' is set
      if @api_client.config.client_side_validation && profile_id.nil?
        fail ArgumentError, "Missing the required parameter 'profile_id' when calling WhatsAppPhoneNumbersApi.get_preverified_whats_app_numbers"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/preverified'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profileId'] = profile_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPreverifiedWhatsAppNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.get_preverified_whats_app_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#get_preverified_whats_app_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get phone number
    # Retrieve the current status of a purchased phone number. Used to poll for Meta pre-verification completion after purchase. 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppPhoneNumber200Response]
    def get_whats_app_phone_number(phone_number_id, opts = {})
      data, _status_code, _headers = get_whats_app_phone_number_with_http_info(phone_number_id, opts)
      data
    end

    # Get phone number
    # Retrieve the current status of a purchased phone number. Used to poll for Meta pre-verification completion after purchase. 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppPhoneNumber200Response, Integer, Hash)>] GetWhatsAppPhoneNumber200Response data, response status code and response headers
    def get_whats_app_phone_number_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.get_whats_app_phone_number ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling WhatsAppPhoneNumbersApi.get_whats_app_phone_number"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{phoneNumberId}'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppPhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.get_whats_app_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#get_whats_app_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List phone numbers
    # List all WhatsApp phone numbers purchased by the authenticated user. By default, released numbers are excluded. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status (by default excludes released numbers)
    # @option opts [String] :profile_id Filter by profile
    # @return [GetWhatsAppPhoneNumbers200Response]
    def get_whats_app_phone_numbers(opts = {})
      data, _status_code, _headers = get_whats_app_phone_numbers_with_http_info(opts)
      data
    end

    # List phone numbers
    # List all WhatsApp phone numbers purchased by the authenticated user. By default, released numbers are excluded. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status (by default excludes released numbers)
    # @option opts [String] :profile_id Filter by profile
    # @return [Array<(GetWhatsAppPhoneNumbers200Response, Integer, Hash)>] GetWhatsAppPhoneNumbers200Response data, response status code and response headers
    def get_whats_app_phone_numbers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.get_whats_app_phone_numbers ...'
      end
      allowable_values = ["provisioning", "active", "suspended", "releasing", "released"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppPhoneNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.get_whats_app_phone_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#get_whats_app_phone_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Purchase phone number
    # Initiate purchasing a WhatsApp phone number. Payment-first flow: the user does not pick a specific number. The system either creates a Stripe Checkout Session (first number) or increments the existing subscription quantity and provisions inline (subsequent numbers).  Requires a paid plan. The maximum number of phone numbers is determined by the user's plan. 
    # @param purchase_whats_app_phone_number_request [PurchaseWhatsAppPhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseWhatsAppPhoneNumber200Response]
    def purchase_whats_app_phone_number(purchase_whats_app_phone_number_request, opts = {})
      data, _status_code, _headers = purchase_whats_app_phone_number_with_http_info(purchase_whats_app_phone_number_request, opts)
      data
    end

    # Purchase phone number
    # Initiate purchasing a WhatsApp phone number. Payment-first flow: the user does not pick a specific number. The system either creates a Stripe Checkout Session (first number) or increments the existing subscription quantity and provisions inline (subsequent numbers).  Requires a paid plan. The maximum number of phone numbers is determined by the user&#39;s plan. 
    # @param purchase_whats_app_phone_number_request [PurchaseWhatsAppPhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseWhatsAppPhoneNumber200Response, Integer, Hash)>] PurchaseWhatsAppPhoneNumber200Response data, response status code and response headers
    def purchase_whats_app_phone_number_with_http_info(purchase_whats_app_phone_number_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.purchase_whats_app_phone_number ...'
      end
      # verify the required parameter 'purchase_whats_app_phone_number_request' is set
      if @api_client.config.client_side_validation && purchase_whats_app_phone_number_request.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_whats_app_phone_number_request' when calling WhatsAppPhoneNumbersApi.purchase_whats_app_phone_number"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/purchase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(purchase_whats_app_phone_number_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseWhatsAppPhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.purchase_whats_app_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#purchase_whats_app_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Release phone number
    # Release a purchased phone number. This will: 1. Disconnect any linked WhatsApp social account 2. Decrement the Stripe subscription quantity (or cancel if last number) 3. Release the number from Telnyx 4. Mark the number as released 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [ReleaseWhatsAppPhoneNumber200Response]
    def release_whats_app_phone_number(phone_number_id, opts = {})
      data, _status_code, _headers = release_whats_app_phone_number_with_http_info(phone_number_id, opts)
      data
    end

    # Release phone number
    # Release a purchased phone number. This will: 1. Disconnect any linked WhatsApp social account 2. Decrement the Stripe subscription quantity (or cancel if last number) 3. Release the number from Telnyx 4. Mark the number as released 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleaseWhatsAppPhoneNumber200Response, Integer, Hash)>] ReleaseWhatsAppPhoneNumber200Response data, response status code and response headers
    def release_whats_app_phone_number_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.release_whats_app_phone_number ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling WhatsAppPhoneNumbersApi.release_whats_app_phone_number"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{phoneNumberId}'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReleaseWhatsAppPhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.release_whats_app_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#release_whats_app_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request OTP
    # Request a new OTP verification code from Meta for a pre-verified phone number. Useful when the initial SMS did not arrive or when re-verifying before the 90-day expiry. 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @option opts [RequestWhatsAppVerificationCodeRequest] :request_whats_app_verification_code_request 
    # @return [RequestWhatsAppVerificationCode200Response]
    def request_whats_app_verification_code(phone_number_id, opts = {})
      data, _status_code, _headers = request_whats_app_verification_code_with_http_info(phone_number_id, opts)
      data
    end

    # Request OTP
    # Request a new OTP verification code from Meta for a pre-verified phone number. Useful when the initial SMS did not arrive or when re-verifying before the 90-day expiry. 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @option opts [RequestWhatsAppVerificationCodeRequest] :request_whats_app_verification_code_request 
    # @return [Array<(RequestWhatsAppVerificationCode200Response, Integer, Hash)>] RequestWhatsAppVerificationCode200Response data, response status code and response headers
    def request_whats_app_verification_code_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.request_whats_app_verification_code ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling WhatsAppPhoneNumbersApi.request_whats_app_verification_code"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{phoneNumberId}/request-code'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'request_whats_app_verification_code_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RequestWhatsAppVerificationCode200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.request_whats_app_verification_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#request_whats_app_verification_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search available numbers
    # Search for available US phone numbers that can be purchased for WhatsApp Business. Requires a paid plan. Numbers are sourced from Telnyx. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :prefix Area code to search (e.g., \&quot;212\&quot; for New York)
    # @option opts [String] :locality City name (e.g., \&quot;New York\&quot;)
    # @option opts [String] :contains Pattern to match within the phone number
    # @option opts [Integer] :limit Maximum results (default 20, max 100) (default to 20)
    # @return [SearchAvailableWhatsAppNumbers200Response]
    def search_available_whats_app_numbers(opts = {})
      data, _status_code, _headers = search_available_whats_app_numbers_with_http_info(opts)
      data
    end

    # Search available numbers
    # Search for available US phone numbers that can be purchased for WhatsApp Business. Requires a paid plan. Numbers are sourced from Telnyx. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :prefix Area code to search (e.g., \&quot;212\&quot; for New York)
    # @option opts [String] :locality City name (e.g., \&quot;New York\&quot;)
    # @option opts [String] :contains Pattern to match within the phone number
    # @option opts [Integer] :limit Maximum results (default 20, max 100) (default to 20)
    # @return [Array<(SearchAvailableWhatsAppNumbers200Response, Integer, Hash)>] SearchAvailableWhatsAppNumbers200Response data, response status code and response headers
    def search_available_whats_app_numbers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.search_available_whats_app_numbers ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling WhatsAppPhoneNumbersApi.search_available_whats_app_numbers, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/available'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'prefix'] = opts[:'prefix'] if !opts[:'prefix'].nil?
      query_params[:'locality'] = opts[:'locality'] if !opts[:'locality'].nil?
      query_params[:'contains'] = opts[:'contains'] if !opts[:'contains'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchAvailableWhatsAppNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.search_available_whats_app_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#search_available_whats_app_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify OTP
    # Manually verify a phone number by entering the OTP code received via SMS or voice call. This is a fallback for when the auto-verification webhook does not capture the code. Verification is valid for 90 days. 
    # @param phone_number_id [String] Phone number record ID
    # @param verify_whats_app_phone_number_request [VerifyWhatsAppPhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VerifyWhatsAppPhoneNumber200Response]
    def verify_whats_app_phone_number(phone_number_id, verify_whats_app_phone_number_request, opts = {})
      data, _status_code, _headers = verify_whats_app_phone_number_with_http_info(phone_number_id, verify_whats_app_phone_number_request, opts)
      data
    end

    # Verify OTP
    # Manually verify a phone number by entering the OTP code received via SMS or voice call. This is a fallback for when the auto-verification webhook does not capture the code. Verification is valid for 90 days. 
    # @param phone_number_id [String] Phone number record ID
    # @param verify_whats_app_phone_number_request [VerifyWhatsAppPhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifyWhatsAppPhoneNumber200Response, Integer, Hash)>] VerifyWhatsAppPhoneNumber200Response data, response status code and response headers
    def verify_whats_app_phone_number_with_http_info(phone_number_id, verify_whats_app_phone_number_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.verify_whats_app_phone_number ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling WhatsAppPhoneNumbersApi.verify_whats_app_phone_number"
      end
      # verify the required parameter 'verify_whats_app_phone_number_request' is set
      if @api_client.config.client_side_validation && verify_whats_app_phone_number_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_whats_app_phone_number_request' when calling WhatsAppPhoneNumbersApi.verify_whats_app_phone_number"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{phoneNumberId}/verify'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_whats_app_phone_number_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifyWhatsAppPhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.verify_whats_app_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#verify_whats_app_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
