=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class WhatsAppPhoneNumbersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get phone number
    # Retrieve the current status of a purchased phone number. Used to poll for Meta pre-verification completion after purchase. 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppPhoneNumber200Response]
    def get_whats_app_phone_number(phone_number_id, opts = {})
      data, _status_code, _headers = get_whats_app_phone_number_with_http_info(phone_number_id, opts)
      data
    end

    # Get phone number
    # Retrieve the current status of a purchased phone number. Used to poll for Meta pre-verification completion after purchase. 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppPhoneNumber200Response, Integer, Hash)>] GetWhatsAppPhoneNumber200Response data, response status code and response headers
    def get_whats_app_phone_number_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.get_whats_app_phone_number ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling WhatsAppPhoneNumbersApi.get_whats_app_phone_number"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{phoneNumberId}'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppPhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.get_whats_app_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#get_whats_app_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List phone numbers
    # List all WhatsApp phone numbers purchased by the authenticated user. By default, released numbers are excluded. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status (by default excludes released numbers)
    # @option opts [String] :profile_id Filter by profile
    # @return [GetWhatsAppPhoneNumbers200Response]
    def get_whats_app_phone_numbers(opts = {})
      data, _status_code, _headers = get_whats_app_phone_numbers_with_http_info(opts)
      data
    end

    # List phone numbers
    # List all WhatsApp phone numbers purchased by the authenticated user. By default, released numbers are excluded. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by status (by default excludes released numbers)
    # @option opts [String] :profile_id Filter by profile
    # @return [Array<(GetWhatsAppPhoneNumbers200Response, Integer, Hash)>] GetWhatsAppPhoneNumbers200Response data, response status code and response headers
    def get_whats_app_phone_numbers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.get_whats_app_phone_numbers ...'
      end
      allowable_values = ["provisioning", "active", "suspended", "releasing", "released"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'profileId'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppPhoneNumbers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.get_whats_app_phone_numbers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#get_whats_app_phone_numbers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Purchase phone number
    # Initiate purchasing a WhatsApp phone number. Payment-first flow: the user does not pick a specific number. The system either creates a Stripe Checkout Session (first number) or increments the existing subscription quantity and provisions inline (subsequent numbers).  Requires a paid plan. The maximum number of phone numbers is determined by the user's plan. 
    # @param purchase_whats_app_phone_number_request [PurchaseWhatsAppPhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PurchaseWhatsAppPhoneNumber200Response]
    def purchase_whats_app_phone_number(purchase_whats_app_phone_number_request, opts = {})
      data, _status_code, _headers = purchase_whats_app_phone_number_with_http_info(purchase_whats_app_phone_number_request, opts)
      data
    end

    # Purchase phone number
    # Initiate purchasing a WhatsApp phone number. Payment-first flow: the user does not pick a specific number. The system either creates a Stripe Checkout Session (first number) or increments the existing subscription quantity and provisions inline (subsequent numbers).  Requires a paid plan. The maximum number of phone numbers is determined by the user&#39;s plan. 
    # @param purchase_whats_app_phone_number_request [PurchaseWhatsAppPhoneNumberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PurchaseWhatsAppPhoneNumber200Response, Integer, Hash)>] PurchaseWhatsAppPhoneNumber200Response data, response status code and response headers
    def purchase_whats_app_phone_number_with_http_info(purchase_whats_app_phone_number_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.purchase_whats_app_phone_number ...'
      end
      # verify the required parameter 'purchase_whats_app_phone_number_request' is set
      if @api_client.config.client_side_validation && purchase_whats_app_phone_number_request.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_whats_app_phone_number_request' when calling WhatsAppPhoneNumbersApi.purchase_whats_app_phone_number"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/purchase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(purchase_whats_app_phone_number_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PurchaseWhatsAppPhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.purchase_whats_app_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#purchase_whats_app_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Release phone number
    # Release a purchased phone number. This will: 1. Disconnect any linked WhatsApp social account 2. Decrement the Stripe subscription quantity (or cancel if last number) 3. Release the number from Telnyx 4. Mark the number as released 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [ReleaseWhatsAppPhoneNumber200Response]
    def release_whats_app_phone_number(phone_number_id, opts = {})
      data, _status_code, _headers = release_whats_app_phone_number_with_http_info(phone_number_id, opts)
      data
    end

    # Release phone number
    # Release a purchased phone number. This will: 1. Disconnect any linked WhatsApp social account 2. Decrement the Stripe subscription quantity (or cancel if last number) 3. Release the number from Telnyx 4. Mark the number as released 
    # @param phone_number_id [String] Phone number record ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReleaseWhatsAppPhoneNumber200Response, Integer, Hash)>] ReleaseWhatsAppPhoneNumber200Response data, response status code and response headers
    def release_whats_app_phone_number_with_http_info(phone_number_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppPhoneNumbersApi.release_whats_app_phone_number ...'
      end
      # verify the required parameter 'phone_number_id' is set
      if @api_client.config.client_side_validation && phone_number_id.nil?
        fail ArgumentError, "Missing the required parameter 'phone_number_id' when calling WhatsAppPhoneNumbersApi.release_whats_app_phone_number"
      end
      # resource path
      local_var_path = '/v1/whatsapp/phone-numbers/{phoneNumberId}'.sub('{' + 'phoneNumberId' + '}', CGI.escape(phone_number_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReleaseWhatsAppPhoneNumber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppPhoneNumbersApi.release_whats_app_phone_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppPhoneNumbersApi#release_whats_app_phone_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
