=begin
#Late API

#API reference for Late. Authenticate with a Bearer API key. Base URL: https://getlate.dev/api 

The version of the OpenAPI document: 1.0.1
Contact: support@getlate.dev
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Late
  class WhatsAppApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add recipients
    # Add recipients to a draft broadcast. Maximum 1000 recipients per request. Duplicate phone numbers are automatically skipped. 
    # @param broadcast_id [String] Broadcast ID
    # @param add_whats_app_broadcast_recipients_request [AddWhatsAppBroadcastRecipientsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddWhatsAppBroadcastRecipients200Response]
    def add_whats_app_broadcast_recipients(broadcast_id, add_whats_app_broadcast_recipients_request, opts = {})
      data, _status_code, _headers = add_whats_app_broadcast_recipients_with_http_info(broadcast_id, add_whats_app_broadcast_recipients_request, opts)
      data
    end

    # Add recipients
    # Add recipients to a draft broadcast. Maximum 1000 recipients per request. Duplicate phone numbers are automatically skipped. 
    # @param broadcast_id [String] Broadcast ID
    # @param add_whats_app_broadcast_recipients_request [AddWhatsAppBroadcastRecipientsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddWhatsAppBroadcastRecipients200Response, Integer, Hash)>] AddWhatsAppBroadcastRecipients200Response data, response status code and response headers
    def add_whats_app_broadcast_recipients_with_http_info(broadcast_id, add_whats_app_broadcast_recipients_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.add_whats_app_broadcast_recipients ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling WhatsAppApi.add_whats_app_broadcast_recipients"
      end
      # verify the required parameter 'add_whats_app_broadcast_recipients_request' is set
      if @api_client.config.client_side_validation && add_whats_app_broadcast_recipients_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_whats_app_broadcast_recipients_request' when calling WhatsAppApi.add_whats_app_broadcast_recipients"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts/{broadcastId}/recipients'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_whats_app_broadcast_recipients_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddWhatsAppBroadcastRecipients200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.add_whats_app_broadcast_recipients",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#add_whats_app_broadcast_recipients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk delete contacts
    # Permanently delete multiple contacts at once (max 500 per request).
    # @param bulk_delete_whats_app_contacts_request [BulkDeleteWhatsAppContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkDeleteWhatsAppContacts200Response]
    def bulk_delete_whats_app_contacts(bulk_delete_whats_app_contacts_request, opts = {})
      data, _status_code, _headers = bulk_delete_whats_app_contacts_with_http_info(bulk_delete_whats_app_contacts_request, opts)
      data
    end

    # Bulk delete contacts
    # Permanently delete multiple contacts at once (max 500 per request).
    # @param bulk_delete_whats_app_contacts_request [BulkDeleteWhatsAppContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkDeleteWhatsAppContacts200Response, Integer, Hash)>] BulkDeleteWhatsAppContacts200Response data, response status code and response headers
    def bulk_delete_whats_app_contacts_with_http_info(bulk_delete_whats_app_contacts_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.bulk_delete_whats_app_contacts ...'
      end
      # verify the required parameter 'bulk_delete_whats_app_contacts_request' is set
      if @api_client.config.client_side_validation && bulk_delete_whats_app_contacts_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_delete_whats_app_contacts_request' when calling WhatsAppApi.bulk_delete_whats_app_contacts"
      end
      # resource path
      local_var_path = '/v1/whatsapp/contacts/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_delete_whats_app_contacts_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkDeleteWhatsAppContacts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.bulk_delete_whats_app_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#bulk_delete_whats_app_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk update contacts
    # Perform bulk operations on multiple contacts (max 500 per request). Supported actions: addTags, removeTags, addGroups, removeGroups, optIn, optOut, block, unblock. 
    # @param bulk_update_whats_app_contacts_request [BulkUpdateWhatsAppContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkUpdateWhatsAppContacts200Response]
    def bulk_update_whats_app_contacts(bulk_update_whats_app_contacts_request, opts = {})
      data, _status_code, _headers = bulk_update_whats_app_contacts_with_http_info(bulk_update_whats_app_contacts_request, opts)
      data
    end

    # Bulk update contacts
    # Perform bulk operations on multiple contacts (max 500 per request). Supported actions: addTags, removeTags, addGroups, removeGroups, optIn, optOut, block, unblock. 
    # @param bulk_update_whats_app_contacts_request [BulkUpdateWhatsAppContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkUpdateWhatsAppContacts200Response, Integer, Hash)>] BulkUpdateWhatsAppContacts200Response data, response status code and response headers
    def bulk_update_whats_app_contacts_with_http_info(bulk_update_whats_app_contacts_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.bulk_update_whats_app_contacts ...'
      end
      # verify the required parameter 'bulk_update_whats_app_contacts_request' is set
      if @api_client.config.client_side_validation && bulk_update_whats_app_contacts_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_update_whats_app_contacts_request' when calling WhatsAppApi.bulk_update_whats_app_contacts"
      end
      # resource path
      local_var_path = '/v1/whatsapp/contacts/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_update_whats_app_contacts_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkUpdateWhatsAppContacts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.bulk_update_whats_app_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#bulk_update_whats_app_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel scheduled broadcast
    # Cancel a scheduled broadcast and return it to draft status. Only broadcasts in scheduled status can be cancelled. 
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @return [CancelWhatsAppBroadcastSchedule200Response]
    def cancel_whats_app_broadcast_schedule(broadcast_id, opts = {})
      data, _status_code, _headers = cancel_whats_app_broadcast_schedule_with_http_info(broadcast_id, opts)
      data
    end

    # Cancel scheduled broadcast
    # Cancel a scheduled broadcast and return it to draft status. Only broadcasts in scheduled status can be cancelled. 
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelWhatsAppBroadcastSchedule200Response, Integer, Hash)>] CancelWhatsAppBroadcastSchedule200Response data, response status code and response headers
    def cancel_whats_app_broadcast_schedule_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.cancel_whats_app_broadcast_schedule ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling WhatsAppApi.cancel_whats_app_broadcast_schedule"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts/{broadcastId}/schedule'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CancelWhatsAppBroadcastSchedule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.cancel_whats_app_broadcast_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#cancel_whats_app_broadcast_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create broadcast
    # Create a new draft broadcast. Optionally include initial recipients. After creation, add recipients and then send or schedule the broadcast. 
    # @param create_whats_app_broadcast_request [CreateWhatsAppBroadcastRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWhatsAppBroadcast200Response]
    def create_whats_app_broadcast(create_whats_app_broadcast_request, opts = {})
      data, _status_code, _headers = create_whats_app_broadcast_with_http_info(create_whats_app_broadcast_request, opts)
      data
    end

    # Create broadcast
    # Create a new draft broadcast. Optionally include initial recipients. After creation, add recipients and then send or schedule the broadcast. 
    # @param create_whats_app_broadcast_request [CreateWhatsAppBroadcastRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWhatsAppBroadcast200Response, Integer, Hash)>] CreateWhatsAppBroadcast200Response data, response status code and response headers
    def create_whats_app_broadcast_with_http_info(create_whats_app_broadcast_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.create_whats_app_broadcast ...'
      end
      # verify the required parameter 'create_whats_app_broadcast_request' is set
      if @api_client.config.client_side_validation && create_whats_app_broadcast_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_whats_app_broadcast_request' when calling WhatsAppApi.create_whats_app_broadcast"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_whats_app_broadcast_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWhatsAppBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.create_whats_app_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#create_whats_app_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create contact
    # Create a new WhatsApp contact. Phone number must be unique per account and in E.164 format (e.g., +1234567890). 
    # @param create_whats_app_contact_request [CreateWhatsAppContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWhatsAppContact200Response]
    def create_whats_app_contact(create_whats_app_contact_request, opts = {})
      data, _status_code, _headers = create_whats_app_contact_with_http_info(create_whats_app_contact_request, opts)
      data
    end

    # Create contact
    # Create a new WhatsApp contact. Phone number must be unique per account and in E.164 format (e.g., +1234567890). 
    # @param create_whats_app_contact_request [CreateWhatsAppContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWhatsAppContact200Response, Integer, Hash)>] CreateWhatsAppContact200Response data, response status code and response headers
    def create_whats_app_contact_with_http_info(create_whats_app_contact_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.create_whats_app_contact ...'
      end
      # verify the required parameter 'create_whats_app_contact_request' is set
      if @api_client.config.client_side_validation && create_whats_app_contact_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_whats_app_contact_request' when calling WhatsAppApi.create_whats_app_contact"
      end
      # resource path
      local_var_path = '/v1/whatsapp/contacts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_whats_app_contact_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWhatsAppContact200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.create_whats_app_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#create_whats_app_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create template
    # Create a new message template. Supports two modes:  **Custom template:** Provide `components` with your own content. Submitted to Meta for review (can take up to 24h).  **Library template:** Provide `library_template_name` instead of `components` to use a pre-built template from Meta's template library. Library templates are **pre-approved** (no review wait). You can optionally customize parameters and buttons via `library_template_body_inputs` and `library_template_button_inputs`.  Browse available library templates at: https://business.facebook.com/wa/manage/message-templates/ 
    # @param create_whats_app_template_request [CreateWhatsAppTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateWhatsAppTemplate200Response]
    def create_whats_app_template(create_whats_app_template_request, opts = {})
      data, _status_code, _headers = create_whats_app_template_with_http_info(create_whats_app_template_request, opts)
      data
    end

    # Create template
    # Create a new message template. Supports two modes:  **Custom template:** Provide &#x60;components&#x60; with your own content. Submitted to Meta for review (can take up to 24h).  **Library template:** Provide &#x60;library_template_name&#x60; instead of &#x60;components&#x60; to use a pre-built template from Meta&#39;s template library. Library templates are **pre-approved** (no review wait). You can optionally customize parameters and buttons via &#x60;library_template_body_inputs&#x60; and &#x60;library_template_button_inputs&#x60;.  Browse available library templates at: https://business.facebook.com/wa/manage/message-templates/ 
    # @param create_whats_app_template_request [CreateWhatsAppTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateWhatsAppTemplate200Response, Integer, Hash)>] CreateWhatsAppTemplate200Response data, response status code and response headers
    def create_whats_app_template_with_http_info(create_whats_app_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.create_whats_app_template ...'
      end
      # verify the required parameter 'create_whats_app_template_request' is set
      if @api_client.config.client_side_validation && create_whats_app_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_whats_app_template_request' when calling WhatsAppApi.create_whats_app_template"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_whats_app_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateWhatsAppTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.create_whats_app_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#create_whats_app_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete broadcast
    # Delete a broadcast. Only draft or cancelled broadcasts can be deleted.
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def delete_whats_app_broadcast(broadcast_id, opts = {})
      data, _status_code, _headers = delete_whats_app_broadcast_with_http_info(broadcast_id, opts)
      data
    end

    # Delete broadcast
    # Delete a broadcast. Only draft or cancelled broadcasts can be deleted.
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def delete_whats_app_broadcast_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.delete_whats_app_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling WhatsAppApi.delete_whats_app_broadcast"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts/{broadcastId}'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.delete_whats_app_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#delete_whats_app_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete contact
    # Permanently delete a WhatsApp contact.
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def delete_whats_app_contact(contact_id, opts = {})
      data, _status_code, _headers = delete_whats_app_contact_with_http_info(contact_id, opts)
      data
    end

    # Delete contact
    # Permanently delete a WhatsApp contact.
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def delete_whats_app_contact_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.delete_whats_app_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling WhatsAppApi.delete_whats_app_contact"
      end
      # resource path
      local_var_path = '/v1/whatsapp/contacts/{contactId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.delete_whats_app_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#delete_whats_app_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete group
    # Delete a contact group. This removes the group from all contacts but does not delete the contacts themselves.
    # @param delete_whats_app_group_request [DeleteWhatsAppGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RenameWhatsAppGroup200Response]
    def delete_whats_app_group(delete_whats_app_group_request, opts = {})
      data, _status_code, _headers = delete_whats_app_group_with_http_info(delete_whats_app_group_request, opts)
      data
    end

    # Delete group
    # Delete a contact group. This removes the group from all contacts but does not delete the contacts themselves.
    # @param delete_whats_app_group_request [DeleteWhatsAppGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenameWhatsAppGroup200Response, Integer, Hash)>] RenameWhatsAppGroup200Response data, response status code and response headers
    def delete_whats_app_group_with_http_info(delete_whats_app_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.delete_whats_app_group ...'
      end
      # verify the required parameter 'delete_whats_app_group_request' is set
      if @api_client.config.client_side_validation && delete_whats_app_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'delete_whats_app_group_request' when calling WhatsAppApi.delete_whats_app_group"
      end
      # resource path
      local_var_path = '/v1/whatsapp/groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(delete_whats_app_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RenameWhatsAppGroup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.delete_whats_app_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#delete_whats_app_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete template
    # Permanently delete a message template by name.
    # @param template_name [String] Template name
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def delete_whats_app_template(template_name, account_id, opts = {})
      data, _status_code, _headers = delete_whats_app_template_with_http_info(template_name, account_id, opts)
      data
    end

    # Delete template
    # Permanently delete a message template by name.
    # @param template_name [String] Template name
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def delete_whats_app_template_with_http_info(template_name, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.delete_whats_app_template ...'
      end
      # verify the required parameter 'template_name' is set
      if @api_client.config.client_side_validation && template_name.nil?
        fail ArgumentError, "Missing the required parameter 'template_name' when calling WhatsAppApi.delete_whats_app_template"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.delete_whats_app_template"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates/{templateName}'.sub('{' + 'templateName' + '}', CGI.escape(template_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.delete_whats_app_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#delete_whats_app_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get broadcast
    # Retrieve detailed information about a single broadcast including delivery statistics.
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppBroadcast200Response]
    def get_whats_app_broadcast(broadcast_id, opts = {})
      data, _status_code, _headers = get_whats_app_broadcast_with_http_info(broadcast_id, opts)
      data
    end

    # Get broadcast
    # Retrieve detailed information about a single broadcast including delivery statistics.
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppBroadcast200Response, Integer, Hash)>] GetWhatsAppBroadcast200Response data, response status code and response headers
    def get_whats_app_broadcast_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling WhatsAppApi.get_whats_app_broadcast"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts/{broadcastId}'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List recipients
    # List recipients of a broadcast with their delivery status. Supports filtering by delivery status and pagination. 
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by recipient delivery status
    # @option opts [Integer] :limit Maximum results (default 100) (default to 100)
    # @option opts [Integer] :skip Offset for pagination (default to 0)
    # @return [GetWhatsAppBroadcastRecipients200Response]
    def get_whats_app_broadcast_recipients(broadcast_id, opts = {})
      data, _status_code, _headers = get_whats_app_broadcast_recipients_with_http_info(broadcast_id, opts)
      data
    end

    # List recipients
    # List recipients of a broadcast with their delivery status. Supports filtering by delivery status and pagination. 
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by recipient delivery status
    # @option opts [Integer] :limit Maximum results (default 100) (default to 100)
    # @option opts [Integer] :skip Offset for pagination (default to 0)
    # @return [Array<(GetWhatsAppBroadcastRecipients200Response, Integer, Hash)>] GetWhatsAppBroadcastRecipients200Response data, response status code and response headers
    def get_whats_app_broadcast_recipients_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_broadcast_recipients ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling WhatsAppApi.get_whats_app_broadcast_recipients"
      end
      allowable_values = ["pending", "sent", "delivered", "read", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts/{broadcastId}/recipients'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppBroadcastRecipients200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_broadcast_recipients",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_broadcast_recipients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List broadcasts
    # List all WhatsApp broadcasts for an account. Returns broadcasts sorted by creation date (newest first) without the full recipients list for performance. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by broadcast status
    # @option opts [Integer] :limit Maximum results (default 50) (default to 50)
    # @option opts [Integer] :skip Offset for pagination (default to 0)
    # @return [GetWhatsAppBroadcasts200Response]
    def get_whats_app_broadcasts(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_broadcasts_with_http_info(account_id, opts)
      data
    end

    # List broadcasts
    # List all WhatsApp broadcasts for an account. Returns broadcasts sorted by creation date (newest first) without the full recipients list for performance. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by broadcast status
    # @option opts [Integer] :limit Maximum results (default 50) (default to 50)
    # @option opts [Integer] :skip Offset for pagination (default to 0)
    # @return [Array<(GetWhatsAppBroadcasts200Response, Integer, Hash)>] GetWhatsAppBroadcasts200Response data, response status code and response headers
    def get_whats_app_broadcasts_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_broadcasts ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_broadcasts"
      end
      allowable_values = ["draft", "scheduled", "sending", "completed", "failed", "cancelled"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppBroadcasts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_broadcasts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_broadcasts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get business profile
    # Retrieve the WhatsApp Business profile for the account (about, address, description, email, websites, etc.).
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppBusinessProfile200Response]
    def get_whats_app_business_profile(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_business_profile_with_http_info(account_id, opts)
      data
    end

    # Get business profile
    # Retrieve the WhatsApp Business profile for the account (about, address, description, email, websites, etc.).
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppBusinessProfile200Response, Integer, Hash)>] GetWhatsAppBusinessProfile200Response data, response status code and response headers
    def get_whats_app_business_profile_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_business_profile ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_business_profile"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppBusinessProfile200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_business_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_business_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contact
    # Retrieve a single WhatsApp contact by ID with full details.
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppContact200Response]
    def get_whats_app_contact(contact_id, opts = {})
      data, _status_code, _headers = get_whats_app_contact_with_http_info(contact_id, opts)
      data
    end

    # Get contact
    # Retrieve a single WhatsApp contact by ID with full details.
    # @param contact_id [String] Contact ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppContact200Response, Integer, Hash)>] GetWhatsAppContact200Response data, response status code and response headers
    def get_whats_app_contact_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling WhatsAppApi.get_whats_app_contact"
      end
      # resource path
      local_var_path = '/v1/whatsapp/contacts/{contactId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppContact200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List contacts
    # List WhatsApp contacts for an account. Supports filtering by tags, groups, opt-in status, and text search. Returns contacts sorted by name with available filter options. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search contacts by name, phone, email, or company
    # @option opts [String] :tag Filter by tag
    # @option opts [String] :group Filter by group
    # @option opts [String] :opted_in Filter by opt-in status
    # @option opts [Integer] :limit Maximum results (default 50) (default to 50)
    # @option opts [Integer] :skip Offset for pagination (default to 0)
    # @return [GetWhatsAppContacts200Response]
    def get_whats_app_contacts(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_contacts_with_http_info(account_id, opts)
      data
    end

    # List contacts
    # List WhatsApp contacts for an account. Supports filtering by tags, groups, opt-in status, and text search. Returns contacts sorted by name with available filter options. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search Search contacts by name, phone, email, or company
    # @option opts [String] :tag Filter by tag
    # @option opts [String] :group Filter by group
    # @option opts [String] :opted_in Filter by opt-in status
    # @option opts [Integer] :limit Maximum results (default 50) (default to 50)
    # @option opts [Integer] :skip Offset for pagination (default to 0)
    # @return [Array<(GetWhatsAppContacts200Response, Integer, Hash)>] GetWhatsAppContacts200Response data, response status code and response headers
    def get_whats_app_contacts_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_contacts ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_contacts"
      end
      allowable_values = ["true", "false"]
      if @api_client.config.client_side_validation && opts[:'opted_in'] && !allowable_values.include?(opts[:'opted_in'])
        fail ArgumentError, "invalid value for \"opted_in\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/whatsapp/contacts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'group'] = opts[:'group'] if !opts[:'group'].nil?
      query_params[:'optedIn'] = opts[:'opted_in'] if !opts[:'opted_in'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppContacts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get display name and review status
    # Fetch the current display name and its Meta review status for a WhatsApp Business account. Display name changes require Meta approval and can take 1-3 business days. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppDisplayName200Response]
    def get_whats_app_display_name(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_display_name_with_http_info(account_id, opts)
      data
    end

    # Get display name and review status
    # Fetch the current display name and its Meta review status for a WhatsApp Business account. Display name changes require Meta approval and can take 1-3 business days. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppDisplayName200Response, Integer, Hash)>] GetWhatsAppDisplayName200Response data, response status code and response headers
    def get_whats_app_display_name_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_display_name ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_display_name"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile/display-name'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppDisplayName200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_display_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_display_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List contact groups
    # List all contact groups for a WhatsApp account with contact counts. Groups are derived from the groups field on contacts, not stored as separate documents. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppGroups200Response]
    def get_whats_app_groups(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_groups_with_http_info(account_id, opts)
      data
    end

    # List contact groups
    # List all contact groups for a WhatsApp account with contact counts. Groups are derived from the groups field on contacts, not stored as separate documents. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppGroups200Response, Integer, Hash)>] GetWhatsAppGroups200Response data, response status code and response headers
    def get_whats_app_groups_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_groups ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_groups"
      end
      # resource path
      local_var_path = '/v1/whatsapp/groups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppGroups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get template
    # Retrieve a single message template by name.
    # @param template_name [String] Template name
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppTemplate200Response]
    def get_whats_app_template(template_name, account_id, opts = {})
      data, _status_code, _headers = get_whats_app_template_with_http_info(template_name, account_id, opts)
      data
    end

    # Get template
    # Retrieve a single message template by name.
    # @param template_name [String] Template name
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppTemplate200Response, Integer, Hash)>] GetWhatsAppTemplate200Response data, response status code and response headers
    def get_whats_app_template_with_http_info(template_name, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_template ...'
      end
      # verify the required parameter 'template_name' is set
      if @api_client.config.client_side_validation && template_name.nil?
        fail ArgumentError, "Missing the required parameter 'template_name' when calling WhatsAppApi.get_whats_app_template"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_template"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates/{templateName}'.sub('{' + 'templateName' + '}', CGI.escape(template_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List templates
    # List all message templates for the WhatsApp Business Account (WABA) associated with the given account. Templates are fetched directly from the WhatsApp Cloud API. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [GetWhatsAppTemplates200Response]
    def get_whats_app_templates(account_id, opts = {})
      data, _status_code, _headers = get_whats_app_templates_with_http_info(account_id, opts)
      data
    end

    # List templates
    # List all message templates for the WhatsApp Business Account (WABA) associated with the given account. Templates are fetched directly from the WhatsApp Cloud API. 
    # @param account_id [String] WhatsApp social account ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWhatsAppTemplates200Response, Integer, Hash)>] GetWhatsAppTemplates200Response data, response status code and response headers
    def get_whats_app_templates_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.get_whats_app_templates ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WhatsAppApi.get_whats_app_templates"
      end
      # resource path
      local_var_path = '/v1/whatsapp/templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWhatsAppTemplates200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.get_whats_app_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#get_whats_app_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk import contacts
    # Import up to 1000 contacts at once. Each contact requires a phone number and name. Duplicates are skipped by default. Supports default tags and groups applied to all imported contacts. 
    # @param import_whats_app_contacts_request [ImportWhatsAppContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ImportWhatsAppContacts200Response]
    def import_whats_app_contacts(import_whats_app_contacts_request, opts = {})
      data, _status_code, _headers = import_whats_app_contacts_with_http_info(import_whats_app_contacts_request, opts)
      data
    end

    # Bulk import contacts
    # Import up to 1000 contacts at once. Each contact requires a phone number and name. Duplicates are skipped by default. Supports default tags and groups applied to all imported contacts. 
    # @param import_whats_app_contacts_request [ImportWhatsAppContactsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ImportWhatsAppContacts200Response, Integer, Hash)>] ImportWhatsAppContacts200Response data, response status code and response headers
    def import_whats_app_contacts_with_http_info(import_whats_app_contacts_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.import_whats_app_contacts ...'
      end
      # verify the required parameter 'import_whats_app_contacts_request' is set
      if @api_client.config.client_side_validation && import_whats_app_contacts_request.nil?
        fail ArgumentError, "Missing the required parameter 'import_whats_app_contacts_request' when calling WhatsAppApi.import_whats_app_contacts"
      end
      # resource path
      local_var_path = '/v1/whatsapp/contacts/import'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(import_whats_app_contacts_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ImportWhatsAppContacts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.import_whats_app_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#import_whats_app_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove recipients
    # Remove recipients from a draft broadcast by phone number.
    # @param broadcast_id [String] Broadcast ID
    # @param remove_whats_app_broadcast_recipients_request [RemoveWhatsAppBroadcastRecipientsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RemoveWhatsAppBroadcastRecipients200Response]
    def remove_whats_app_broadcast_recipients(broadcast_id, remove_whats_app_broadcast_recipients_request, opts = {})
      data, _status_code, _headers = remove_whats_app_broadcast_recipients_with_http_info(broadcast_id, remove_whats_app_broadcast_recipients_request, opts)
      data
    end

    # Remove recipients
    # Remove recipients from a draft broadcast by phone number.
    # @param broadcast_id [String] Broadcast ID
    # @param remove_whats_app_broadcast_recipients_request [RemoveWhatsAppBroadcastRecipientsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemoveWhatsAppBroadcastRecipients200Response, Integer, Hash)>] RemoveWhatsAppBroadcastRecipients200Response data, response status code and response headers
    def remove_whats_app_broadcast_recipients_with_http_info(broadcast_id, remove_whats_app_broadcast_recipients_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.remove_whats_app_broadcast_recipients ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling WhatsAppApi.remove_whats_app_broadcast_recipients"
      end
      # verify the required parameter 'remove_whats_app_broadcast_recipients_request' is set
      if @api_client.config.client_side_validation && remove_whats_app_broadcast_recipients_request.nil?
        fail ArgumentError, "Missing the required parameter 'remove_whats_app_broadcast_recipients_request' when calling WhatsAppApi.remove_whats_app_broadcast_recipients"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts/{broadcastId}/recipients'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remove_whats_app_broadcast_recipients_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RemoveWhatsAppBroadcastRecipients200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.remove_whats_app_broadcast_recipients",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#remove_whats_app_broadcast_recipients\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rename group
    # Rename a contact group. This updates the group name on all contacts that belong to the group.
    # @param rename_whats_app_group_request [RenameWhatsAppGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RenameWhatsAppGroup200Response]
    def rename_whats_app_group(rename_whats_app_group_request, opts = {})
      data, _status_code, _headers = rename_whats_app_group_with_http_info(rename_whats_app_group_request, opts)
      data
    end

    # Rename group
    # Rename a contact group. This updates the group name on all contacts that belong to the group.
    # @param rename_whats_app_group_request [RenameWhatsAppGroupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RenameWhatsAppGroup200Response, Integer, Hash)>] RenameWhatsAppGroup200Response data, response status code and response headers
    def rename_whats_app_group_with_http_info(rename_whats_app_group_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.rename_whats_app_group ...'
      end
      # verify the required parameter 'rename_whats_app_group_request' is set
      if @api_client.config.client_side_validation && rename_whats_app_group_request.nil?
        fail ArgumentError, "Missing the required parameter 'rename_whats_app_group_request' when calling WhatsAppApi.rename_whats_app_group"
      end
      # resource path
      local_var_path = '/v1/whatsapp/groups'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rename_whats_app_group_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RenameWhatsAppGroup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.rename_whats_app_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#rename_whats_app_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Schedule broadcast
    # Schedule a draft broadcast for future sending. The scheduled time must be in the future and no more than 30 days in advance. The broadcast must be in draft status and have recipients. 
    # @param broadcast_id [String] Broadcast ID
    # @param schedule_whats_app_broadcast_request [ScheduleWhatsAppBroadcastRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ScheduleWhatsAppBroadcast200Response]
    def schedule_whats_app_broadcast(broadcast_id, schedule_whats_app_broadcast_request, opts = {})
      data, _status_code, _headers = schedule_whats_app_broadcast_with_http_info(broadcast_id, schedule_whats_app_broadcast_request, opts)
      data
    end

    # Schedule broadcast
    # Schedule a draft broadcast for future sending. The scheduled time must be in the future and no more than 30 days in advance. The broadcast must be in draft status and have recipients. 
    # @param broadcast_id [String] Broadcast ID
    # @param schedule_whats_app_broadcast_request [ScheduleWhatsAppBroadcastRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ScheduleWhatsAppBroadcast200Response, Integer, Hash)>] ScheduleWhatsAppBroadcast200Response data, response status code and response headers
    def schedule_whats_app_broadcast_with_http_info(broadcast_id, schedule_whats_app_broadcast_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.schedule_whats_app_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling WhatsAppApi.schedule_whats_app_broadcast"
      end
      # verify the required parameter 'schedule_whats_app_broadcast_request' is set
      if @api_client.config.client_side_validation && schedule_whats_app_broadcast_request.nil?
        fail ArgumentError, "Missing the required parameter 'schedule_whats_app_broadcast_request' when calling WhatsAppApi.schedule_whats_app_broadcast"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts/{broadcastId}/schedule'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(schedule_whats_app_broadcast_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ScheduleWhatsAppBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.schedule_whats_app_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#schedule_whats_app_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send broadcast
    # Start sending a broadcast immediately. The broadcast must be in draft or scheduled status and have at least one recipient. Messages are sent sequentially with rate limiting. 
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @return [SendWhatsAppBroadcast200Response]
    def send_whats_app_broadcast(broadcast_id, opts = {})
      data, _status_code, _headers = send_whats_app_broadcast_with_http_info(broadcast_id, opts)
      data
    end

    # Send broadcast
    # Start sending a broadcast immediately. The broadcast must be in draft or scheduled status and have at least one recipient. Messages are sent sequentially with rate limiting. 
    # @param broadcast_id [String] Broadcast ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendWhatsAppBroadcast200Response, Integer, Hash)>] SendWhatsAppBroadcast200Response data, response status code and response headers
    def send_whats_app_broadcast_with_http_info(broadcast_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.send_whats_app_broadcast ...'
      end
      # verify the required parameter 'broadcast_id' is set
      if @api_client.config.client_side_validation && broadcast_id.nil?
        fail ArgumentError, "Missing the required parameter 'broadcast_id' when calling WhatsAppApi.send_whats_app_broadcast"
      end
      # resource path
      local_var_path = '/v1/whatsapp/broadcasts/{broadcastId}/send'.sub('{' + 'broadcastId' + '}', CGI.escape(broadcast_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SendWhatsAppBroadcast200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.send_whats_app_broadcast",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#send_whats_app_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk send template messages
    # Send a template message to multiple recipients in a single request. Maximum 100 recipients per request. Only template messages are supported for bulk sending (not free-form text).  Each recipient can have optional per-recipient template variables for personalization. Returns detailed results for each recipient. 
    # @param send_whats_app_bulk_request [SendWhatsAppBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendWhatsAppBulk200Response]
    def send_whats_app_bulk(send_whats_app_bulk_request, opts = {})
      data, _status_code, _headers = send_whats_app_bulk_with_http_info(send_whats_app_bulk_request, opts)
      data
    end

    # Bulk send template messages
    # Send a template message to multiple recipients in a single request. Maximum 100 recipients per request. Only template messages are supported for bulk sending (not free-form text).  Each recipient can have optional per-recipient template variables for personalization. Returns detailed results for each recipient. 
    # @param send_whats_app_bulk_request [SendWhatsAppBulkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendWhatsAppBulk200Response, Integer, Hash)>] SendWhatsAppBulk200Response data, response status code and response headers
    def send_whats_app_bulk_with_http_info(send_whats_app_bulk_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.send_whats_app_bulk ...'
      end
      # verify the required parameter 'send_whats_app_bulk_request' is set
      if @api_client.config.client_side_validation && send_whats_app_bulk_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_whats_app_bulk_request' when calling WhatsAppApi.send_whats_app_bulk"
      end
      # resource path
      local_var_path = '/v1/whatsapp/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_whats_app_bulk_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendWhatsAppBulk200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.send_whats_app_bulk",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#send_whats_app_bulk\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update business profile
    # Update the WhatsApp Business profile. All fields are optional; only provided fields will be updated. Constraints: about max 139 chars, description max 512 chars, max 2 websites. 
    # @param update_whats_app_business_profile_request [UpdateWhatsAppBusinessProfileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnpublishPost200Response]
    def update_whats_app_business_profile(update_whats_app_business_profile_request, opts = {})
      data, _status_code, _headers = update_whats_app_business_profile_with_http_info(update_whats_app_business_profile_request, opts)
      data
    end

    # Update business profile
    # Update the WhatsApp Business profile. All fields are optional; only provided fields will be updated. Constraints: about max 139 chars, description max 512 chars, max 2 websites. 
    # @param update_whats_app_business_profile_request [UpdateWhatsAppBusinessProfileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnpublishPost200Response, Integer, Hash)>] UnpublishPost200Response data, response status code and response headers
    def update_whats_app_business_profile_with_http_info(update_whats_app_business_profile_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.update_whats_app_business_profile ...'
      end
      # verify the required parameter 'update_whats_app_business_profile_request' is set
      if @api_client.config.client_side_validation && update_whats_app_business_profile_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_business_profile_request' when calling WhatsAppApi.update_whats_app_business_profile"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_business_profile_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnpublishPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.update_whats_app_business_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#update_whats_app_business_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update contact
    # Update an existing WhatsApp contact. All fields are optional; only provided fields will be updated. Custom fields are merged with existing values. Set a custom field to null to remove it. 
    # @param contact_id [String] Contact ID
    # @param update_whats_app_contact_request [UpdateWhatsAppContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateWhatsAppContact200Response]
    def update_whats_app_contact(contact_id, update_whats_app_contact_request, opts = {})
      data, _status_code, _headers = update_whats_app_contact_with_http_info(contact_id, update_whats_app_contact_request, opts)
      data
    end

    # Update contact
    # Update an existing WhatsApp contact. All fields are optional; only provided fields will be updated. Custom fields are merged with existing values. Set a custom field to null to remove it. 
    # @param contact_id [String] Contact ID
    # @param update_whats_app_contact_request [UpdateWhatsAppContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateWhatsAppContact200Response, Integer, Hash)>] UpdateWhatsAppContact200Response data, response status code and response headers
    def update_whats_app_contact_with_http_info(contact_id, update_whats_app_contact_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.update_whats_app_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling WhatsAppApi.update_whats_app_contact"
      end
      # verify the required parameter 'update_whats_app_contact_request' is set
      if @api_client.config.client_side_validation && update_whats_app_contact_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_contact_request' when calling WhatsAppApi.update_whats_app_contact"
      end
      # resource path
      local_var_path = '/v1/whatsapp/contacts/{contactId}'.sub('{' + 'contactId' + '}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_contact_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWhatsAppContact200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.update_whats_app_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#update_whats_app_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request display name change
    # Submit a display name change request for the WhatsApp Business account. The new name must follow WhatsApp naming guidelines (3-512 characters, must represent your business). Changes require Meta review and approval, which typically takes 1-3 business days. 
    # @param update_whats_app_display_name_request [UpdateWhatsAppDisplayNameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateWhatsAppDisplayName200Response]
    def update_whats_app_display_name(update_whats_app_display_name_request, opts = {})
      data, _status_code, _headers = update_whats_app_display_name_with_http_info(update_whats_app_display_name_request, opts)
      data
    end

    # Request display name change
    # Submit a display name change request for the WhatsApp Business account. The new name must follow WhatsApp naming guidelines (3-512 characters, must represent your business). Changes require Meta review and approval, which typically takes 1-3 business days. 
    # @param update_whats_app_display_name_request [UpdateWhatsAppDisplayNameRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateWhatsAppDisplayName200Response, Integer, Hash)>] UpdateWhatsAppDisplayName200Response data, response status code and response headers
    def update_whats_app_display_name_with_http_info(update_whats_app_display_name_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WhatsAppApi.update_whats_app_display_name ...'
      end
      # verify the required parameter 'update_whats_app_display_name_request' is set
      if @api_client.config.client_side_validation && update_whats_app_display_name_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_whats_app_display_name_request' when calling WhatsAppApi.update_whats_app_display_name"
      end
      # resource path
      local_var_path = '/v1/whatsapp/business-profile/display-name'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_whats_app_display_name_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateWhatsAppDisplayName200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"WhatsAppApi.update_whats_app_display_name",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WhatsAppApi#update_whats_app_display_name\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update template
    # Update a message template's components. Only certain fields can be updated depending on the template's current approval state. Approved templates can only have components updated. 
    # @param template_name [String] Template name
    # @param update_whats_app_template_request [UpdateWhatsAppTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateWhatsAppTemplate200Response]
    def update_whats_app_template(template_name, update_whats_app_template_request, opts = {})
      data, _status_code, _headers = update_whats_app_template_with_http_info(template_name, update_whats_app_template_request, opts)
[...]
